<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Проекты</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">

                <div class="box">
                    <div class="box-header">
                        <a href="" style="padding-right: 15px;">Спящие</a>
                        <a href="" style="padding-right: 15px;">Активные</a>
                        <a href="" style="padding-right: 15px;">Сегодня</a>
                        <a href="" style="padding-right: 15px;">Горящие</a>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Название клиники</th>
                                <th>Название проекта</th>
                                <th>Предыдущий контакт</th>
                                <th>Следующий контакт</th>
                                <th>Город</th>
                                <th>Готовность</th>
                                <th>Активность</th>
                                <th>Дата начала</th>
                                <th>Планируемая дата окончания</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-if="Projects != null">
                                <tr v-for="(item, index) in Projects">
                                    <td style="vertical-align: middle;">{{ item.client_name }}</td>
                                    <td style="vertical-align: middle;">{{ item.name }}</td>
                                    <template v-if="item.prev_contact">
                                        <td style="vertical-align: middle;">{{ item.prev_contact }}</td>
                                    </template>
                                    <template v-else>
                                        <td style="vertical-align: middle;">История контактов отсутствует</td>
                                    </template>
                                    <template v-if="item.next_contact">
                                        <td style="vertical-align: middle;">{{ item.next_contact }}</td>
                                    </template>
                                    <template v-else>
                                        <td style="vertical-align: middle;">История контактов отсутствует</td>
                                    </template>
                                    <td style="vertical-align: middle;">{{ item.city }}</td>
                                    <td style="vertical-align: middle;">{{ item.done }} %</td>
                                    <td style="vertical-align: middle;">{{ item.active }} %</td>
                                    <template v-if="item.raw == 1">
                                        <td style="vertical-align: middle;" colspan="2">Проект еще не обработан</td>
                                    </template>
                                    <template v-else>
                                        <td style="vertical-align: middle;">{{ item.start_date }}</td>
                                        <td style="vertical-align: middle;">{{ item.finish_date }}</td>
                                    </template>
                                    <td style="vertical-align: middle;">
                                        <a :href="'project/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td colspan="9" style="text-align: center;">Проекты не найдены</td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null
            }
        },
        created() {
            this.getProjects()
        },
        methods: {
            getProjects() {
                axios
                .get('/dir/getProjects')
                .then(response => {
                    console.log(response.data)
                    this.Projects = response.data
                })
            }
        }
    }
</script>