<template>
    <div>
        <div style="text-align: center; margin-bottom: 10px">
            <h3>{{Project.name}}</h3>
        </div>

        <div class="row">
            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">История внедрения</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="overflow-y: auto;height: 200px;">
                        <div style="padding-bottom: 20px; display: block;" id="add">
                            <a v-on:click="addCommentButton()" v-if="addCommentFlag == false" class="btn btn-primary" id="click_mes_form">Добавить новый коментарий</a>
                        </div>
                        <div style="padding-bottom: 20px;" id="addComment" v-if="addCommentFlag == true">
                            <a class="btn btn-primary" v-on:click="addComment()" style="float: left; margin-right: 10px;">Добавить</a>&nbsp;
                            <a class="btn btn-default" v-on:click="addCommentButton()" style="float: left;">Отмена</a>
                        </div>
                        <div class="clear"></div>
                        <div class="wall_form" id="popup_message_form" v-if="addCommentFlag" style="margin-bottom: 20px;">
                            <label id="editor-error" class="error" for="editor" style="display: none;">Это поле обязательно к заполнению</label>
                            <textarea id="editor" v-model="newComment" cols="170" rows="10"></textarea>
                        </div>

                        <div v-if="Comments_count != 0">
                            <div class="post" v-for="(item, index) in Comments">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">
                                    <span class="username">
                                <a href="#">{{item.user_name}} {{item.user_surname}}</a>
                                <template v-if="item.autor == true">
                                    <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>
                                    <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>
                                </template>
                            </span>
                                    <template v-if="item.for_client == 1">
                                        <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>
                                    </template>
                                    <template v-else>
                                        <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>
                                    </template>
                                </div>
                                <div :id="'comment_'+item.id">
                                    {{item.text}}
                                </div>
                            </div>
                        </div>
                        <div class="post" v-else>
                            <p style="text-align: center">Коментарии отсутствуют</p>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-6">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Контакты</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div style="padding-bottom: 20px; display: block;" id="addCont">
                            <a v-on:click="addFormContact()" class="btn btn-primary">Добавить контакт</a>
                        </div>
                        <div v-if="contactFlag == true">
                            <table>
                                <tr>
                                    <td><input type="text" v-model="newContact.firstName" class="form-control" placeholder="Имя"></td>
                                    <td><input type="text" v-model="newContact.lastName" class="form-control" placeholder="Фамилия"></td>
                                    <td><input type="text" v-model="newContact.patronymic" class="form-control" placeholder="Отчество"></td>
                                    <td>
                                        <select class="form-control" v-model="newContact.post_id">
                                            <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td><input type="number" v-model="newContact.phone" class="form-control" placeholder="Телефон"></td>
                                    <td><input type="email" v-model="newContact.email" class="form-control" placeholder="Email"></td>
                                    <td><a v-on:click="addContact()" class="btn btn-primary" ><i class="fa fa-plus"></i></a></td>
                                </tr>
                            </table>
                        </div>
                        <div v-if="Contacts_count != null">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>№</th>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Должность</th>
                                        <th>Телефон</th>
                                        <th>Email</th>
                                        <th>Действия</th>
                                    </tr>
                                    <tr v-for="(item, index) in Contacts">
                                        <td style="vertical-align: middle;">{{index+1}}</td>
                                        <td style="vertical-align: middle;"><span id="contactSurname">{{ item.last_name }}</span></td>
                                        <td style="vertical-align: middle;"><span id="contactName">{{ item.first_name }}</span></td>
                                        <td style="vertical-align: middle;"><span id="contactPatronymic">{{ item.patronymic }}</span></td>
                                        <td style="vertical-align: middle;"><span id="contactPost">{{ item.post }}</span></td>
                                        <td style="vertical-align: middle;"><span id="contactPhone"><a :href="'tel:'+item.phone">{{ item.phone }}</a></span></td>
                                        <td style="vertical-align: middle;"><span id="contactEmail"><a :href="'mailto:'+item.email">{{ item.email }}</a></span></td>
                                        <td style="vertical-align: middle;">
                                            <a :href="'/implementer/contact/del/'+item.id" class="btn btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a :id="'edit_'+item.id"  class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-else>
                            <p style="text-align: center">Контакты отсутствуют</p>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Список задач</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a onclick="sort('all')" class="btn btn-success">Все</a>
                        <a onclick="sort('main')" class="btn btn-success">Основные работы</a>
                        <a onclick="sort('additional')" class="btn btn-success">Дополнительные работы</a>

                        <div class="pull-right">
                            <a v-on:click="showDopTask()" class="btn btn-primary">Добавить дополнительную задачу</a>
                            <router-link :to="'/implementer/project/close/'+Project.id"  class="btn btn-primary">Закрыть проект</router-link>
                        </div>
                        <div v-if="dopTaskFlag == true" style="margin-top: 20px;">
                            <div class="box">
                                <form>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label class="control-label" for="inputTask">Наименование задачи</label>
                                                    <input type="text" class="form-control" name="name_task" v-model="curTask.value" id="inputTask" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label class="control-label" for="selectModule">Модуль</label>
                                                    <select name="selectModule" id="selectModule" v-model="curModule" class="form-control">
                                                        <option v-for="(item, index) in modules" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" id="TaskCont">
                                                    <label class="control-label" for="inputTaskCont">Количество контактов</label>
                                                    <input type="text" class="form-control" name="cont" v-model="curNumCont" id="inputTaskCont" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" id="NameTask">
                                                    <label class="control-label" for="selectGroupTask">Группа задач</label>
                                                    <select name="selectGroupTask" id="selectGroupTask" v-model="curGroupTask" class="form-control">
                                                        <option v-for="(item, index) in groupTask" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div class="form-group">
                                                    <input type="button" v-on:click="addDopTask()" value="Сохранить" class="btn btn-primary">
                                                    <a v-on:click="showDopTask()" class="btn btn-default">Отмена</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Наименование задачи</th>
                                    <th>Модуль</th>
                                    <th>Группа работ</th>
                                    <th>Дополнительная работа</th>
                                    <th>Выполнено</th>
                                    <th>Действия</th>
                                    <th>История контактов</th>
                                </tr>
                                </thead>
                                <tbody id="tableTasks">
                                <template v-if="Project_task_count != null">
                                    <template v-for="(item, index) in Project_task">
                                        <tr>
                                            <td style="vertical-align: middle; display: none;" id="pt_id">{{item.id}}</td>
                                            <td style="vertical-align: middle;">{{ item.name }}</td>
                                            <td style="vertical-align: middle;">{{ item.m_name }}</td>
                                            <td style="vertical-align: middle;">{{ item.g_task }}</td>
                                            <template v-if="item.additional">
                                                <td style="vertical-align: middle;">Да</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;"></td>
                                            </template>
                                            <template v-if="item.status == 1">
                                                <td style="vertical-align: middle;"><i class="fa fa-square-o"></i></td>
                                            </template>
                                            <template v-if="item.status == 2">
                                                <td style="vertical-align: middle;"><i class="fa fa-check-square-o"></i></td>
                                            </template>
                                            <template v-if="item.status == 3">
                                                <td style="vertical-align: middle;"><i class="fa fa-square"></i></td>
                                            </template>
                                            <template v-if="!item.callbackstatus_ref_id">
                                                <template v-if="item.next_contact">
                                                    <td style="vertical-align: middle;">
                                                        <router-link :to="'/implementer/calendar/'+Project.user_id+'/'+item.next_contact" class="btn btn-primary">
                                                            <i class="fa fa-search"></i>
                                                        </router-link>
                                                    </td>
                                                </template>
                                                <template v-else>
                                                    <template v-if="item.type == 'task'">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-if="item.type == 'print_form'">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-if="item.type == 'screen_form'">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                </template>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">
                                                    <router-link :to="'/implementer/calendar/'+Project.user_id+'/'+item.next_contact" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>
                                                    </router-link>
                                                </td>
                                            </template>
                                            <td>
                                                <a style="cursor: pointer;">Смотреть</a>
                                            </td>
                                        </tr>
                                        <tr v-if="item.type == 'task' && TaskFlag && item.id == Task_id">
                                            <td :id="'task_'+item.id" colspan="7">
                                                <div style="padding-bottom: 20px;">
                                                    <a v-for="(item, index) in Dates_ar" v-on:click="SetCurDate(item.Value)" class="btn btn-primary" style="margin-right: 10px;">{{item.Text}}</a>
                                                </div>
                                                <div style="padding-bottom: 20px;">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="vertical-align: middle;" width="25%">
                                                                Внедренец
                                                            </td>
                                                            <td style="vertical-align: middle;" width="25%">
                                                                <template v-if="Users_ar.length > 0">
                                                                    <select name="user" class="form-control" v-model="Cur_user">
                                                                        <option v-for="(item, index) in Users_ar"
                                                                                v-bind:value="{id: item.id}">
                                                                            {{item.first_name}} {{item.last_name}}
                                                                        </option>
                                                                    </select>
                                                                </template>
                                                                <template v-else>
                                                                    <select name="user" class="form-control">
                                                                        <option value="">Пользователи не найдены</option>
                                                                    </select>
                                                                </template>
                                                            </td>
                                                            <td rowspan="3" width="50%">
                                                                <div></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">Дата</td>
                                                            <td style="vertical-align: middle;"><input type="date" v-model="Cur_date.date" class="form-control" name="date_cont" required></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">Время</td>
                                                            <td style="vertical-align: middle;"><input type="time" v-model="Cur_date.time" class="form-control" name="time_cont" required></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <!--<a onclick="saveToCalendar({{ $pt['id'] }}, {{ $loop->index+1 }});" class="btn btn-success">Запланировать</a>-->
                                                                <a class="btn btn-success" v-on:click="addToCalendar">Запланировать</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="item.type == 'print_form' && TaskFlag && item.id == Task_id">
                                            <td :id="'task_'+item.id" colspan="7">
                                                <div style="padding-bottom: 20px;">
                                                    <table class="table">
                                                        <tr>
                                                            <td>Комментарий</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <UploadForm :project_id="Project.id"></UploadForm>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                                </tbody>
                            </table>
                        </div>

                        <h4>ИТОГО контактов/форм по группам</h4>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="normTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Сделано</th>
                                    <th>По договору</th>
                                    <th>Осталось</th>
                                    <th>Запас</th>
                                    <th>Осталось с учетом запаса</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Контакты</td>
                                    <td id="cont_count_fact">{{ Count_fact }}</td>
                                    <td id="cont_count_norm">{{ Count_norm }}</td>
                                    <td id="cont_remained">{{ Count_norm }}</td>
                                    <td id="cont_count_number">{{ Count_number }}</td>
                                    <td id="cont_stock">{{ Count_number }}</td>
                                </tr>
                                <tr>
                                    <td>Печатные формы/отчеты</td>
                                    <td id="print_count_fact"></td>
                                    <td id="print_count_norm">{{ Count_print_norm }}</td>
                                    <td id="print_remained"></td>
                                    <td id="print_count_number">{{ Count_print_number }}</td>
                                    <td id="print_stock"></td>
                                </tr>
                                <tr>
                                    <td>Экранные формы</td>
                                    <td id="screen_count_fact"></td>
                                    <td id="screen_count_norm">{{ Count_screen_norm }}</td>
                                    <td id="screen_remained"></td>
                                    <td id="screen_count_number">{{ Count_screen_number }}</td>
                                    <td id="screen_stock"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Карточка проекта</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Купленные модули</h3>
                                    </div>
                                    <div class="box-body">
                                        <table>
                                            <tr v-for="(item, index) in Modules">
                                                <td>
                                                    <b>{{item.name}}</b>
                                                </td>
                                                <td>
                                                    {{item.num}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Сроки и даты</h3>
                                    </div>
                                    <div class="box-body">
                                        <table>
                                            <tr>
                                                <td>
                                                    <b>Дата начала</b>
                                                </td>
                                                <td>
                                                    {{Project_start_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <b>Дата окончания</b>
                                                </td>
                                                <td>
                                                    {{Project_finish_date}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Уточняющие вопросы</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button"
                                                    v-if="EditQuestionFlag == false"
                                                    class="btn btn-box-tool"
                                                    v-on:click="editQuestion()"
                                            >
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table>
                                            <template v-if="EditQuestionFlag == false">
                                                <tr v-for="(item, index) in Question">
                                                    <td>
                                                        <b>{{item.question}}</b>
                                                    </td>
                                                    <td>
                                                        {{item.answer}}
                                                    </td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="(item, index) in Question">
                                                    <td>
                                                        <b>{{item.question}}</b>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" v-model="item.answer">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <button class="btn btn-success" v-on:click="saveQuestion()">Сохранить</button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Вопросы из чек - листа</h3>
                                    </div>
                                    <div class="box-body table-responsive no-padding">
                                        <table>
                                            <tr v-for="(item, index) in Check_list">
                                                <td>
                                                    <b>{{item.question}}</b>
                                                </td>
                                                <td>
                                                    {{item.answer}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Общая информация</h3>
                                    </div>
                                    <div class="box-body table-responsive">
                                        <table>
                                            <tr>
                                                <td><b>Разница во времени с Москвой</b></td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table>

                            </table>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Документы</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Формы</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>
                </div>
                <!--/.box -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Title:null,
                Project: null,
                Project_count: null,
                Project_task: null,
                Project_task_count: null,
                Comments: null,
                Comments_count: 0,
                Contacts: null,
                Contacts_count: null,
                Count_fact:null,
                Count_norm:null,
                Count_number:null,
                Count_print_norm:null,
                Count_print_number:null,
                Count_screen_norm:null,
                Count_screen_number:null,
                TaskFlag: false,
                Task_id: null,
                Modules: null,
                Dates: {
                    Text: null,
                    Value: null
                },
                Dates_ar: [],
                Cur_date: {
                    date: null,
                    time: null
                },
                Cur_user: {
                    id: null
                },
                User: {
                    first_name: null,
                    last_name: null,
                    id: null
                },
                Users_ar: [],
                Project_start_date: null,
                Project_finish_date: null,
                Check_list: null,
                Question: null,
                Tomorrow_val: null,
                Tomorrow: null,
                Plus_one_day: null,
                Plus_one_day_val: null,
                Plus_two_day: null,
                Plus_two_day_val: null,
                Plus_three_day: null,
                Plus_three_day_val: null,
                EditQuestionFlag: false,
                dopTaskFlag: false,
                modules: [],
                curModule: {
                    'id': null,
                    'value': null
                },
                groupTask: [],
                curGroupTask: {
                    'id': null,
                    'value': null
                },
                curNumCont: null,
                curTask: {
                    'id': null,
                    'value': null
                },
                addCommentFlag: false,
                newComment: null,
                contactFlag: false,
                Posts: null,
                newContact: {
                    firstName: '',
                    lastName: '',
                    patronymic: '',
                    post_id: null,
                    phone: '',
                    email: ''
                },
                Client: null
            }
        },
        created() {
            this.getProject()
        },
        methods: {
            getProject() {
                axios
                    .get('/dir/projects/get-project/'+this.$route.params.id)
                    .then(response => {
                        console.log(response.data)
                        this.Project = response.data.project
                        this.Project_count = response.data.project.length
                        this.Project_task = response.data.project_task
                        this.Project_task_count = response.data.project_task.length
                        this.Comments = response.data.comments
                        this.Comments_count = response.data.comments.length
                        this.Contacts = response.data.contacts
                        this.Contacts_count = response.data.contacts.length
                        this.Count_fact = response.data.count_fact
                        this.Count_norm = response.data.count_norm
                        this.Count_number = response.data.count_number
                        this.Count_print_norm = response.data.count_print_norm
                        this.Count_print_number = response.data.count_print_number
                        this.Count_screen_norm = response.data.count_screen_norm
                        this.Count_screen_number = response.data.count_screen_number
                        this.Modules = response.data.modules
                        this.Project_start_date = response.data.project_start_date
                        this.Project_finish_date = response.data.project_finish_date
                        this.Check_list = response.data.check_list
                        this.Question = response.data.question
                        this.Tomorrow_val = response.data.tomorrow_val
                        this.Tomorrow = response.data.tomorrow
                        this.Plus_one_day = response.data.plus_one_day
                        this.Plus_one_day_val = response.data.plus_one_day_val
                        this.Plus_two_day = response.data.plus_two_day
                        this.Plus_two_day_val = response.data.plus_two_day_val
                        this.Plus_three_day = response.data.plus_three_day
                        this.Plus_three_day_val = response.data.plus_three_day_val
                        this.Posts = response.data.posts
                        this.Client = response.data.client
                    })
            }
        }
    }
</script>