<template>
    <ul class="sidebar-menu">
        <li class="header">Основное меню</li>

        <li>
            <router-link to="/dir">
                <i class="fa fa-dashboard"></i> <span>Панель управления</span>
            </router-link>
        </li>
        <li>
            <router-link to="/dir/projects">
                <i class="fa fa-folder"></i> <span>Проекты</span>
                <span v-if="Projects != null" class="pull-right-container">
                    <small class="label pull-right bg-red">{{Projects}}</small>
                </span>
            </router-link>
        </li>
    </ul>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null,
                User_id: '',
                curDate: null
            }
        },
        created() {
            this.getProjects();
            this.getUserId();
        },
        methods: {
            getProjects() {

            },
            getUserId() {
                axios
                .get('/implementer/users/getUserId')
                .then(response => {
                    this.User_id = response.data.curUser.id
                    var myDate = new Date()
                    var month = ('0' + (myDate.getMonth() + 1)).slice(-2)
                    var date = ('0' + myDate.getDate()).slice(-2)
                    var year = myDate.getFullYear()
                    var formattedDate = year + '-' + month + '-' + date
                    this.curDate = formattedDate
                })
            }
        }
    }
</script>