<template>
    <ul class="sidebar-menu">
        <li class="header">Основное меню</li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i> <span>Администрирование</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li>
                    <router-link to="/implementer/settings">
                        <i class="fa fa-wrench"></i> <span>Общие настройки</span>
                    </router-link>
                </li>
                <li class="treeview">
                    <router-link to="#"><i class="fa fa-circle-o"></i> Справочники
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </router-link>
                    <ul class="treeview-menu" style="display: none;">
                        <li class="treeview">
                            <router-link to="#"><i class="fa fa-circle-o"></i> Основные
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </router-link>
                            <ul class="treeview-menu" style="display: none;">
                                <li><router-link to="/admin/users-group"><i class="fa fa-circle-o"></i> Группы пользователей</router-link></li>
                                <li><router-link to="/admin/users"><i class="fa fa-circle-o"></i> Пользователи</router-link></li>
                                <li><router-link to="/admin/clients"><i class="fa fa-circle-o"></i> Клиенты</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Должности <br> сотрудников клиники</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Города</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Теги клиентов</router-link></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <router-link to="#"><i class="fa fa-circle-o"></i> Отдел внедрения
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </router-link>
                            <ul class="treeview-menu" style="display: none;">
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Модули</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Группы задач</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Статусы задач</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Лист ожидания</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Нормы контактов</router-link></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <router-link to="#"><i class="fa fa-circle-o"></i> Клиентский отдел
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </router-link>
                            <ul class="treeview-menu" style="display: none;">
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Документы</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Чек-лист</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Обратная связь</router-link></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <router-link to="#"><i class="fa fa-circle-o"></i> Отдел техподдержки
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </router-link>
                            <ul class="treeview-menu" style="display: none;">
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Категории обращений</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Тип</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Приоритет</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Статусы</router-link></li>
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Статусы</router-link></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <router-link to="#"><i class="fa fa-circle-o"></i> Отдел разработки форм
                                <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </router-link>
                            <ul class="treeview-menu" style="display: none;">
                                <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Группы задач</router-link></li>
                                
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null,
                User_id: '',
                curDate: null,
                project: [],
            }
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
                // this.$socket.emit('join', 'private-message123');
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        mounted: function() {
            console.log(this.$socket);
            Notification.requestPermission(function(permission){
                this.perm = permission;
                console.log('Результат запроса прав:', permission);
            }.bind(this));
            this.sockets.subscribe('client:add', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Новый клиент', {
                        body: 'Пользователь '+data.user+' добавил нового клиента '+data.client,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('project:add', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Новый проект', {
                        body: 'Пользователь '+data.user+' добавил новый проект '+data.project,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                }; 
            }.bind(this));
            this.sockets.subscribe('raw:add', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Распределение проекта', {
                        body: 'Проект '+data.project+' назначен на пользователя '+data.user,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('changeImp:add', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Смена внедренца в проекте', {
                        body: 'Проект '+data.project+' назначен на пользователя '+data.user,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
           this.sockets.subscribe('private-addFormToQueue:addFormToQueue', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Добавлены формы в очередь', {
                        body: 'Пользователь '+data.user+' добавил формы в очередь',
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('private-addFormError:addFormError', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Ошибка постановки формы в очередь', {
                        body: 'Ошибка постановки формы в очередь',
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('private-formChangeStatus:formChangeStatus', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Формы', {
                        body: 'Форма '+data.form+'. Статус сменился на '+data.status,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('private-ManagerCloseProject:ManagerCloseProject', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Проекты', {
                        body: 'Пользователь '+data.user+' закрыл проект '+data.project,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
        },
        created() {
            
        },
        methods: {
            getUserId() {
                axios
                .get('/implementer/users/getUserId')
                .then(response => {
                    this.User_id = response.data.curUser.id
                    var myDate = new Date()
                    var month = ('0' + (myDate.getMonth() + 1)).slice(-2)
                    var date = ('0' + myDate.getDate()).slice(-2)
                    var year = myDate.getFullYear()
                    var formattedDate = year + '-' + month + '-' + date
                    this.curDate = formattedDate
                })
            },
            getProjects() {
                axios
                .get('/implementer/getProjectsForm')
                .then(response => {
                    this.project = response.data.project
                })
            },
        } 
    }
</script>