<template>
<div class="col-md-12">
    <div style="padding-bottom: 20px;">
        <router-link to="/implementer/quality-control/add" class="btn btn-primary">Добавить</router-link>
    </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Группы пользователей</h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">№</th>
                    <th>Название</th>
                    <th colspan="2" width="10%">Действия</th>
                </tr>
                </thead>
                <tbody v-if="groups.length > 0">
                    <tr v-for="(item, index) in groups">
                        <td>{{index + 1}}</td>
                        
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="3" style="text-align: center; font-style: italic;">Список пуст</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            groups: []
        }
    },
    created() {
        this.getGroups()
    },
    methods: {
        getGroups() {
            axios
            .get('/admin/getGroups')
            .then(response => {
                console.log(response)
            })
        }
    }
}
</script>