<template>
    <div class="row" @click="hideContextMenu">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Статусы задач</h4>
                </div>
                <div class="box-body">
                    <!-- the events -->
                    <div id="external-events">
                        <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">Новая задача</div>
                        <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена</div>
                        <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена частично</div>
                        <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Задача в клиентском отделе</div>
                        <div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Мои события</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <input type="hidden" id="clickDay" :value="clickDay">
                    <input type="button" id="add" class="btn btn-success" style="width: 100%;" v-on:click="showModal()" value="Добавить событие">
                </div>
                <!-- /.box-body -->
            </div>
            <Modal
                    v-if="isModalVisible"
                    @close="closeModal"
                    :date2="date"
                    :time2="time"
                    :curClient="curClient"
                    :curProject="curProject"
                    :curModule="curModule"
                    :curNumCont="curNumCont"
                    :curGroupTask="curGroupTask"
                    :Res="Res"
                    :time3="time3"
                    :comment="comment"
                    :curTask="curTask"
                    :myEvent="myEvent"
                    :implementer="implementer"
                    :role="role"
                    :editId="editTaskContactId"
                    :editEventId="editEventId"
                    @dateStartChanged="dateStartChanged"
            />
            <ProjectContactsModal ref="showContacts"  />


<!--            <Modal3-->
<!--                v-show="isModalVisible3"-->
<!--                @close="showM"-->
<!--            />-->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Внедренцы</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="radio" v-for="item in implementers">
                            <label v-if="curUser == item.id">
                                <input type="radio" checked="true" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                            <label v-else>
                                <input type="radio" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!--<a href="" class="btn btn-primary">Создать задачу</a>-->
            <!-- /. box -->
        </div>
        <div class="col-md-3">
            <input type="date" v-model="newDate" class="form-control" v-on:change="setNewDate()">
        </div>
        <div class="col-md-9">
            <img v-if="loading" src="/images/gif-loader.gif"
                 style="position: absolute; padding: 30% 40% " alt="loading">
            <full-calendar :config="config" :events="events" @event-render="handler($event)" @day-click="dayClick" @remove-events="removeEvent()"/>
            <!-- /. box -->
        </div>
        <ContextMenu v-show="isContextMenuVisible" :role="role" @edit-event="editEvent" @edit="edit" @show-contacts="showContacts" :config="curevent" :date="date" :implementer="implementer" />
        <!-- /.col -->
        <div id="tooltip"></div>
    </div>

</template>

<script>
    // import moment from 'moment'
    import Modal from './Modal_common.vue';
    import Modal3 from '../Modal3.vue';
    import ContextMenu from './ContextMenuCommon.vue';
    import ProjectContactsModal from '../ProjectContactsModal.vue';
    // import VueSocketio from 'vue-socket.io';
    export default {
        components: {
            ProjectContactsModal,
            Modal,
            Modal3,
            ContextMenu,
            //newevents,
            // VueSocketio
        },
        // props: ['events'],
        data() {
            let role = this.$route.path.split('/')[1];
            return {
                date2: null,
                implementers: [],
                isModalVisible3: false,
                curClient: {
                    'id': null
                },
                curProject: {
                    'id': null
                },
                curModule: {
                    'id': null,
                    'value': null
                },
                curTask: {
                    'id': null,
                    'value': null
                },
                Res: null,
                time3: null,
                comment: null,
                curGroupTask: {
                    'id': null,
                    'value': null
                },
                curNumCont: null,
                myEvent: {
                    name: '',
                    dateStart: null,
                    timeStart: null,
                    dateEnd: '',
                    timeEnd: ''
                },
                events: [],
                curUser: null,
                isModalVisible: false,
                date: null,
                time: null,
                implementer: null,
                clickDay: '',
                newDate: null,
                curevent: null,
                role: role, //this.$route.path.split('/')[1],
                isContextMenuVisible: false,
                editTaskContactId : 0,
                editEventId : 0,
                startDate: null,
                endDate: null,
                loading: false,
                config: {
                    firstDay: 1,
                    height: 650,
                    locale: 'ru',
                    editable: true,
                    slotLabelFormat: "H:mm",
                    eventLimit: true,
                    // nowIndicator: true,
                    navLinks: true,
                    defaultDate: this.$route.params.date,
                    slotDuration: '00:30:00',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month, listWeek'
                    },
                    allDaySlot: false,
                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    views: {
                        agenda: {
                            eventLimit: 2//adjust to 6 only for agendaWeek/agendaDay
                        }
                    },
                    defaultView: 'agendaDay',
                    minTime: "08:00:00",
                    eventRender: function(event, element, view)
                    {
                        for (var i = 0; i < element[0].classList.length; i++) {
                            if (element[0].classList[i] == 'edit') {
                                var elemento = element;
                                var evento = event;
                                var vista = view;

                                this.curevent = event

                                element.on('contextmenu',{
                                    elemento:elemento,
                                    evento:evento,
                                    vista:vista,
                                    imp: this.implementer,
                                    date: this.$route.params.date
                                } , this.showContextMenu);
                            } else {
                                var elemento = element;
                                var evento = event;
                                var vista = view;

                                this.curevent = event

                                element.on('contextmenu',{
                                    elemento:elemento,
                                    evento:evento,
                                    vista:vista,
                                    imp: this.implementer,
                                    date: this.$route.params.date
                                } , this.showContextMenu);
                            }
                        }
                    }.bind(this),
                    eventMouseover: function(event, jsEvent, view) {
                        var data_tooltip = 'Постановщик: '+event.extendedProps+', дата постановки: ';
                        $("#tooltip").text(event.extendedProps)
                                    .css({
                                        "top" : jsEvent.pageY + 5,
                                        "left" : jsEvent.pageX + 5
                                    })
                                    .show();
                    },
                    eventMouseout: function(event, jsEvent, view) {
                        $("#tooltip").hide()
                                    .text("")
                                    .css({
                                        "top" : 0,
                                        "left" : 0
                                    });
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        console.log(event);
                        if (!confirm("Вы уверены что хотите перенести контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                start: event.start.format(),
                                end: event.end.format(),
                                isEvent: event.className[0] == 'edit'
                            }
                            axios
                            .post('/'+role+'/tasks/settask', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                console.log(response.data)
                            })
                        }
                    },
                    // dayClick: function(date, jsEvent, view) {
                    //     element.on('contextmenu',{
                    //         elemento:elemento,
                    //         evento:evento,
                    //         vista:vista,
                    //         imp: this.implementer,
                    //         date: this.$route.params.date
                    //     } , this.showContextMenu2);
                    // },
                    eventResize: function(event, delta, revertFunc) {
                        if (!confirm("Продлить контакт?")) {
                            revertFunc();
                        } else {
                            if (event.className[0] == 'edit') {
                                var postBody = {
                                    id: event.id,
                                    end: event.end.format()
                                }
                                axios
                                .post('/'+role+'/tasks/editevent', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                    console.log(response.data)
                                })
                            } else {
                                var postBody = {
                                    id: event.id,
                                    end: event.end.format()
                                }
                                axios
                                .post('/'+role+'/tasks/edittask', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                    console.log(response.data)
                                })
                            }
                        }

                    },
                    viewRender: function(view){
                        if (!this.startDate){
                            this.startDate = view.start.clone().subtract(1, 'months')
                            this.endDate = view.end.clone().add(1, 'months');
                            this.getCurEvents(this.startDate.format(), this.endDate.format());
                        }
                        if (view.start < this.startDate){
                            let oldDate = this.startDate.format();
                            this.startDate.subtract(1, 'months');
                            this.getCurEvents(this.startDate.format(), oldDate);
                        }
                        if (view.end > this.endDate){
                            let oldDate = this.endDate.format();
                            this.endDate.add(1, 'months');
                            this.getCurEvents(oldDate, this.endDate.format());
                        }
                    }.bind(this)
                }
            }
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        created() {
            this.implementer = this.$route.params.id
            // this.role = this.$route.path.split('/')[1];
            this.getImplementer(this.$route.params.id)
            this.newDate = this.$route.params.date;
            // this.getCurEvents()
            // this.$socket.on('impEvent:add', function (data) {

            //     this.events = JSON.parse(data.events)
            // }.bind(this));
        },
        methods: {
            edit(id) {
                this.editTaskContactId = id;
                this.isModalVisible = true;

            },
            setNewDate() {
                window.location.href = "/"+this.role+"/calendar/"+this.implementer+"/"+this.newDate
            },
            showContextMenu(event) {
                event.preventDefault()
                // console.log(event.data)
                this.isContextMenuVisible = true;
                this.curevent = event.data
                this.date3 = this.$route.params.date
                var menu = document.getElementById("context-menu-imp");
                if(!this.contextMenuWidth || !this.contextMenuHeight) {
                    menu.style.visibility = "hidden";
                    menu.style.display = "block";
                    this.contextMenuWidth = menu.offsetWidth;
                    this.contextMenuHeight = menu.offsetHeight;
                    menu.removeAttribute("style");
                }

                if((this.contextMenuWidth + event.pageX) >= window.innerWidth) {
                    menu.style.left = (event.pageX - this.contextMenuWidth) + "px";
                } else {
                    menu.style.left = event.pageX + "px";
                }

                if((this.contextMenuHeight + event.pageY) >= window.innerHeight) {
                    menu.style.top = (event.pageY - this.contextMenuHeight) + "px";
                } else {
                    menu.style.top = event.pageY + "px";
                }

                menu.classList.add('active');
            },
            showContextMenu2(event) {
                // alert('Ok');
            },
            showModal() {
                this.editEventId = 0;
                this.editTaskContactId = 0;
                this.date = ''
                this.time = ''
                this.isModalVisible = true;
            },
            closeModal() {
                // curClient.id = null
                // this.curUser = imp
                this.curClient = null
                this.curProject = null
                this.curTask.value = null
                this.curGroupTask = null
                this.curModule = null
                this.curNumCont = null
                this.comment = null
                this.Res = 'project'
                this.getImplementer(this.implementer)
                this.getEvents(this.implementer)
                // this.getCurEvents();
                this.isModalVisible = false;
                // this.curTask.value = null
                this.editTaskContactId = 0;
                this.editEventId = 0;
            },
            dayClick(date, jsEvent, view) {
                if (document.getElementById("context-menu-imp").classList == 'active') {
                    document.getElementById("context-menu-imp").classList.remove('active')
                } else {
                    this.editEventId = 0;
                    var date_ar = date.format().split('T')
                    this.date = date_ar[0]
                    this.time = date_ar[1]
                    this.time3 = date.add(1,'hours').format('HH:mm:ss')
                    this.myEvent.dateStart = date_ar[0]
                    this.myEvent.dateEnd = date_ar[0]
                    this.myEvent.timeStart = date_ar[1]
                    this.myEvent.timeEnd = this.time3
                    this.myEvent.name = ''
                    this.isModalVisible = true;
                };
            },
            action() {
                //console.log('Ok');
            },
            handler: function(e) {
                // e.bind();

                // e.addEventListener("v-on:click", action);
                // document.body.appendChild(e);
                console.log(e);
            },
            removeEvent() {
                //console.log('Ok');
            },
            getCurEvents(start, end) {
                this.loading = true;
                // this.implementer = this.$route.params.id
                axios
                .get('/'+this.role+'/tasks/gettasks/'+this.implementer + '?' +
                    $.param({start: start, end: end}))
                .then(response => {
                    this.events.push(...response.data);
                    this.loading = false;
                    // $(".edit").mousedown(function(e){
                    //     if( e.button == 2 ) {
                    //         console.log(e);
                    //         document.oncontextmenu = function() {return false;};
                    //         $(".custom-menu").data('event', $(this)).finish().toggle(100).
                    //         // In the right position (the mouse)
                    //         css({
                    //             top: event.pageY + "px",
                    //             left: event.pageX + "px"
                    //         });
                    //         return false;
                    //     }
                    //     return true;
                    // });
                })
                console.log('Загрузка...')
                console.log('Весь диапазон: ' + this.startDate.format() + ' - ' + this.endDate.format())
                console.log('Запрос: ' + start + ' - ' + end)
            },
            getImplementer(id) {
                this.curUser = id

                this.date2 = this.$route.params.date
                axios
                .get('/'+this.role+'/get-all-implementer')
                .then(response => {
                    this.implementers = response.data
                })
            },
            getEvents(id) {
                this.implementer = id;
                this.events = [];
                this.getCurEvents(this.startDate.format(), this.endDate.format())
                //console.log(this.implementer);
                // axios
                // .get('/'+this.role+'/tasks/gettasks/'+id + '?' +
                //     $.param({start: this.startDate.format(), end: this.endDate.format()}))
                // .then(response => {
                //     this.events = response.data
                // })
            },
            dateStartChanged(){
                if (this.myEvent.dateStart > this.myEvent.dateEnd){
                    this.myEvent.dateEnd = this.myEvent.dateStart
                }
            },
            hideContextMenu(){
                this.isContextMenuVisible = false
                // var menu = document.getElementById("context-menu-imp");
                // menu.style.display = 'none'
            },
            editEvent(myEvent){
                this.editEventId = myEvent.id;
                this.myEvent.name = myEvent.title;
                this.myEvent.dateStart = myEvent.start.toISOString().substring(0,10);
                this.myEvent.dateEnd = myEvent.end.toISOString().substring(0,10);
                this.myEvent.timeStart = myEvent.start.toISOString().substring(11,16);
                this.myEvent.timeEnd = myEvent.end.toISOString().substring(11,16);
                this.isModalVisible = true;
            },
            showContacts(myEvent) {
                this.$refs.showContacts.show(myEvent.project_id, myEvent.contact_id)
            }
        }
    }
    // document.querySelector('.edit').addEventListener('click', function() { alert("HOVER2") })
</script>
<style>
    #tooltip {
        z-index: 9999;
        position: absolute;
        display: none;
        top:0px;
        left:0px;
        background-color: #000;
        padding: 5px 10px 5px 10px;
        color: white;
        opacity: 0.6;
        border-radius: 5px;
    }
</style>