<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header
                        class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                                type="button"
                                class="btn-close pull-right"
                                @click="close"
                                aria-label="Close modal"
                        >
                            x
                        </button>
                        <h4 class="modal-title">
                            {{editId || editEventId ? 'Редактирование события' : 'Добавление нового события'}}
                        </h4>
                    </slot>
                </header>
                <section
                        class="modal-body"
                        id="modalDescription"
                >
                    <slot name="body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li v-if="!editEventId" class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">Задачи из проекта</a></li>
                                <li v-if="!editId" :class="editEventId?'active':''"><a href="#tab_2" data-toggle="tab" aria-expanded="false">Мои задачи</a></li>
                            </ul>
                            <div class="tab-content">
                                <div v-if="!editEventId" class="tab-pane active" id="tab_1" :model="{tab: 1}">
                                    <table class="table">
                                        <tr>
                                            <td><b>Дата</b></td>
                                            <td id="date" ><input type="date" v-model="date2" class="form-control" /></td>
                                            <td style="text-align: center;"><b>Время начала</b></td>
                                            <td id="time_start"><input type="time" v-model="time2" id="input_time_start" class="form-control" /></td>
                                            <td style="text-align: center;"><b>Время окончания</b></td>
                                            <td id="time_end"><input type="time" v-model="time3" id="input_time_end" class="form-control" /></td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><b>Клиент</b></td>
                                            <td colspan="5">
                                                <v-select :disabled="!!editId " v-model="curClient" :options="clients" @input="getProjects()"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><b>Проект</b></td>
                                            <td colspan="5">
                                                <v-select :disabled="!!editId" v-model="curProject" :options="projects" @input="getTaskInfo()"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="text-align: center;">
                                                <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios1" v-bind:value="'project'">
                                                <label for="optionsRadios1">
                                                    <b>Задача из проекта</b>
                                                </label>
                                            </td>
                                            <td></td>
                                            <td style="text-align: center;">
                                                <input type="radio" v-model="Res" v-on:click="getModule()" name="optionsRadios" id="optionsRadios2" v-bind:value="'dop'">
                                                <label for="optionsRadios2">
                                                    <b>Дополнительная задача</b>
                                                </label>
                                            </td>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr v-if="Res == 'project'">
                                            <td></td>
                                            <td colspan="5">
                                                <select name="task"
                                                        class="form-control"
                                                        v-model="curTaskId"
                                                >
                                                    <option v-for="(item, index) in tasks" v-bind:value="item.id">{{item.name}}</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <template v-if="Res == 'dop'">
                                            <tr>
                                                <td><b>Модуль</b></td>
                                                <td colspan="2">
                                                    <select class="form-control" v-model="curModule">
                                                        <option v-for="(item, index) in modules" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </td>
                                                <td style="text-align: center"><b>Группа задач</b></td>
                                                <td colspan="2">
                                                    <select class="form-control" v-model="curGroupTask">
                                                        <option v-for="(item, index) in groupTask" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 5%"><b>Количество контактов</b></td>
                                                <td colspan="2"><input class="form-control" v-model="curNumCont" type="text"></td>
                                                <td style="text-align: center"><b>Задача</b></td>
                                                <td colspan="2">
                                                    <input type="text" v-model="curTaskValue" class="form-control">
                                                </td>
                                            </tr>
                                        </template>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="width: 5%"><b>Комментарий</b></td>
                                            <td colspan="5">
                                                <textarea style="resize: none;" v-model="comment" class="form-control" cols="110" rows="3"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                    <button
                                            type="button"
                                            class="btn btn-success"
                                            v-on:click="save()"
                                    >
                                        {{editId ? 'Сохранить' : 'Добавить'}}
                                    </button>
                                    <button
                                            type="button"
                                            class="btn btn-default"
                                            @click="close"
                                            aria-label="Close modal"
                                    >
                                        Отмена
                                    </button>
                                    <button v-if="nextBtn && curTaskId || curTaskValue"
                                            type="button"
                                            class="btn btn-primary"
                                            @click="save(true)">
                                        Далее
                                    </button>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" :class="editEventId?'active':''" id="tab_2" :model="{tab: 2}">
                                    <table class="table">
                                        <tr>
                                            <td style="text-align: center"><b>Событие</b></td>
                                            <td colspan="5">
                                                <input type="text" v-model="myEvent.name" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center"><b>Дата начала</b></td>
                                            <td>
                                                <input type="date" v-model="myEvent.dateStart" @change="$emit('dateStartChanged')" class="form-control">
                                            </td>
                                            <td style="text-align: center"><b>Дата окончания</b></td>
                                            <td>
                                                <input type="date" v-model="myEvent.dateEnd" class="form-control">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center"><b>Время начала</b></td>
                                            <td>
                                                <input type="time" v-model="myEvent.timeStart" class="form-control">
                                            </td>
                                            <td style="text-align: center"><b>Время окончания</b></td>
                                            <td>
                                                <input type="time" v-model="myEvent.timeEnd" class="form-control">
                                            </td>
                                        </tr>
                                    </table>
                                    <button
                                            type="button"
                                            class="btn btn-success"
                                            v-on:click="saveEvent()"
                                    >
                                        {{editEventId ? 'Сохранить' : 'Добавить'}}
                                    </button>
                                    <button
                                            type="button"
                                            class="btn btn-default"
                                            @click="close"
                                            aria-label="Close modal"
                                    >
                                        Отмена
                                    </button>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                    </slot>
                </section>
                <div class="full-screen" v-if="loading">
                    <img src="/images/gif-loader.gif" alt="">
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import Select2 from 'v-select2-component';
    export default {
        name: 'modal',
        props:['date2', 'time2', 
            'implementer', 'Select2', 
            'myEvent',
            'time3', 'curGroupTask',
            'role','editId','editEventId'],
        data() {
            return {
                clients: [],
                projects: [],
                date: null,
                tasks: [],
                modules: [],
                curNumCont: null,
                curTask: {
                    'id': null,
                    'value': null
                },
                curTaskId: null,
                curTaskValue: '',
                curModule: null,
                comment: '',
                // curProject: {
                //     'id': null,
                //     'value': null
                // },
                // curModule: {
                //     'id': null,
                //     'value': null
                // },
                groupTask: [],
                value: {},
                loading: false,
                options: [{}],
                tab: 1,
                Res: 'project',
                curClient: null,
                curProject: null,
                // myEvent: {
                //     name: null,
                //     dateStart: null,
                //     timeStart: null,
                //     dateEnd: null,
                //     timeEnd: null
                // },
                myOptions: [{label: 'foo', value: 'Foo'}],
                nextBtn: false,
            }
        },
        mounted() {
            this.nextBtn = this.role === 'implementer';

            if (this.editId){
                this.getTaskContact()
            } else {
                this.getClients()
            }
        },
        computed: {
            // clients: function() {
            //     let arr = [];
            //     this.storeLocations.forEach((clients_ar,id) => {
            //         arr.push({id: id, address: clients_ar})
            //     })
            //     return arr;
            // }
        },
        methods: {
            getTaskContact(){
                axios
                    .get('/task-contacts/'+this.editId)
                    .then(response => {
                        let taskContact = response.data

                        this.date2 = taskContact.next_contact.substring(0,10)
                        this.time2 = taskContact.next_contact.substring(11,16)
                        this.time3 = taskContact.end.substring(11,16)

                        this.curClient = {code:taskContact.client_id,label:taskContact.client};
                        this.curProject = {value:taskContact.project_id,label:taskContact.project};

                        this.comment = taskContact.comment
                        // this.curTask = {id:taskContact.task_id, value: taskContact.module_task};
                        if (taskContact.module_rule_id)
                            this.curTaskId = taskContact.task_id;
                        this.curTaskValue = taskContact.module_task;
                        this.curModule = {id:taskContact.module_id, value: taskContact.module};

                        this.curNumCont = taskContact.number_contacts;
                        this.curGroupTask = {id:taskContact.grouptasks_id,value: taskContact.grouptask};

                        this.Res = taskContact.additional == 1 ? 'dop' : 'project';
                        this.getClients();
                        this.getProjects();
                        this.getTaskInfo();
                        console.log(taskContact)
                    });
            },
            close() {
                // this.curClient.id = null
                this.$emit('close');
            },
            nameWithLang ({ name, language }) {
                return `${name}`
            },
            getClients() {
                axios
                .get('/getClients')
                .then(response => {
                    this.clients = response.data
                    // this.myOptions = this.clients
                })
            },
            getProjects() {
                // console.log(this.curClient);
                axios
                .get('/getClientProject/'+this.curClient.code)
                .then(response => {
                    this.projects = response.data
                })
            },
            getTaskInfo(){
                this.getModule()
                this.getGroupTask()
                this.getTasks()
            },
            getTasks() {
                axios
                .get('/getProjectTask/'+this.curProject.value+'?pt_id='+this.curTaskId)
                .then(response => {
                    this.tasks = response.data
                })
            },
            getModule() {
                axios
                    .get('/getProjectModules/'+this.curProject.value)
                    .then(response => {
                        this.modules = response.data
                    })
            },
            getGroupTask() {
                axios
                .get('/getGroupTask')
                .then(response => {
                    // console.log(response.data);
                    this.groupTask = response.data
                })
            },
            saveEvent() {
                if (this.myEvent.name == null || this.myEvent.name == '') {
                    alert('Укажите название события');
                    return
                }
                if (this.myEvent.dateStart == null) {
                    alert('Укажите дату начала события');
                    return
                }
                if (this.myEvent.dateEnd == null) {
                    alert('Укажите дату окончания события');
                    return
                }
                if (this.myEvent.timeStart == null) {
                    alert('Укажите время начала события');
                    return
                }
                if (this.myEvent.timeEnd == null) {
                    alert('Укажите время окончания события');
                    return
                }
                this.loading = true
                var postBody = {
                    name: this.myEvent.name,
                    imp: this.implementer,
                    dateStart: this.myEvent.dateStart,
                    timeStart: this.myEvent.timeStart,
                    dateEnd: this.myEvent.dateEnd,
                    timeEnd: this.myEvent.timeEnd
                }

                axios
                .put('/events/'+this.editEventId, postBody)
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.loading = false
                        this.close()
                        this.$router.push("/"+this.role+"/calendar/"+this.implementer+"/"+this.date2)
                    }
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            save(next = false) {
                console.log(this.curProject);
                if (this.date2 == '') {
                    alert('Укажите дату');
                    return
                }
                if (this.time2 == '') {
                    alert('Укажите время начала');
                    return
                }
                if (this.time3 == null) {
                    alert('Укажите время окончания');
                    return
                }
                if (this.curClient.code == null) {
                    alert('Укажите клиента');
                    return
                }
                if (this.curProject.value == null) {
                    alert('Укажите проект');
                    return
                }
                if (this.Res == null) {
                    alert('Укажите тип задачи');
                    return
                }
                if (this.Res == 'project') {
                    this.curTaskValue = null
                    if (!this.curTaskId) {
                        alert('Выберите задачу');
                        return
                    }
                }
                if (this.Res == 'dop') {
                    this.curTaskId = null
                    if (this.curTaskValue == null) {
                        alert('Укажите задачу');
                        return
                    }
                    if (this.curGroupTask == null || !this.curGroupTask.id) {
                        alert('Укажите группу задач');
                        return
                    }
                    if (this.curModule == null || !this.curModule.id) {
                        alert('Укажите модуль');
                        return
                    }
                    if (this.curNumCont == null) {
                        alert('Укажите количество контактов');
                        return
                    }
                }
                this.curTask = {
                    id: this.curTaskId,
                    value: this.curTaskValue,
                }
                if (this.Res == 'project') {
                    var postBody = {
                        ptc_id: this.editId,
                        project: this.curProject,
                        user_id: this.implementer,
                        task: this.curTask,
                        res: this.Res,
                        date: this.date2,
                        time: this.time2,
                        timeEnd: this.time3,
                        comment: this.comment
                    }
                } else {
                    var postBody = {
                        ptc_id: this.editId,
                        project: this.curProject,
                        user_id: this.implementer,
                        task: this.curTask,
                        res: this.Res,
                        date: this.date2,
                        time: this.time2,
                        timeEnd: this.time3,
                        module: this.curModule,
                        groupTask: this.curGroupTask,
                        numCont: this.curNumCont,
                        comment: this.comment
                    }
                }
                this.loading = true
                axios
                .post('/task-contacts', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.loading = false
                        this.close()
                        // this.$router.push = "/implementer/calendar/"+this.implementer+"/"+this.date2
                        this.$router.push(next ? this.getPtEditUrl(response.data.pt_id) :"/"+this.role+"/calendar/"+this.implementer+"/"+this.date2)
                    }
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            getPtEditUrl(ptId){
                return '/implementer/project-task/edit/'+ptId+'/'+this.date2;
            }
        }
    };
</script>

<style>
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        margin: auto;
        width: 60%;
        height: 97%;
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
    }
    .btn-close {
        margin-top: -2px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
    }
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
    }

    .select2-container {
        width: 100% !important;
    }

    .full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>