<template>
    <ul class="mailbox-attachments clearfix" v-if="files.length">
        <li v-for="(file, index) in files">
            <span class="mailbox-attachment-icon"><i :class="'fa ' + getIconClass(file.ext)"></i></span>
            <div class="mailbox-attachment-info">
                <a :href="getUrl(file)" target="_blank" class="mailbox-attachment-name">
                    <i class="fa fa-paperclip"></i>
                    {{ getName(file) }}
                </a>
                <span class="mailbox-attachment-size">
                    <a :href="getUrl(file)" target="_blank" class="btn btn-default btn-xs pull-right">
                        <i class="fa fa-download"></i>
                    </a>
                </span>
            </div>
            <button v-if="allowDelete" type="submit" class="btn btn-danger" v-on:click="deleteFile(file, index) ">
                <i class="fa fa-trash"></i>
            </button>
            <div class="full-screen" v-if="loading_file">
                <img src="/images/gif-loader.gif" alt="">
            </div>
        </li>
    </ul>
    <ul class="mailbox-attachments clearfix" v-else>
        <li style="border: none; width: 100%; text-align: center;">
            <i>Файлы отсутствуют</i>
        </li>
    </ul>
</template>

<script>
    export default {
        props: {
            files: Array,
            done: 0,
            allowDelete: false,
            modelName: ''
        },
        data () {
            return {
                loading_file: false
            }
        },
        methods: {
            getUrl(file) {
                if (file.public_url) {
                    return file.public_url
                }
                if (!file.img) file.img = file.g_file;
                if (file.img) {
                    if (this.done){
                        return this.getDownloadUrl(file);
                    }
                    if (file.img.includes('http')){
                        return file.img
                    }

                    var xls = ['xls', 'xlsx'], path = 'document';
                    if (file.ext && xls.indexOf(file.ext) !== -1) {
                        path = 'spreadsheets';
                    }
                    return 'https://docs.google.com/' + path + '/d/' + file.img;
                }
                return null;
            },
            getDownloadUrl(file) {
                if (file.download_url) {
                    return file.download_url
                }
                if (!file.img) file.img = file.g_file;
                if (file.img) {
                    if (file.img.includes('http')){
                        return file.img
                    }
                    return 'https://drive.google.com/uc?export=download&id=' + file.img;
                }
                return null;
            },
            getIconClass(ext) {
                var icons = {
                    pdf: 'fa-file-pdf-o',
                    xls: 'fa-file-excel-o',
                    xlsx: 'fa-file-excel-o',
                    doc: 'fa-file-word-o',
                    docx: 'fa-file-word-o',
                }

                if (icons[ext]) {
                    return icons[ext]
                } else {
                    return 'fa-file-text-o';
                }
            },
            getName(file) {
                if (!file.name) file.name = file.file;
                var name = file.name;
                if (name.length < 22) {
                    return name
                } else {
                    return name.slice(0, 20) + '...'
                }
            },
            deleteFile (file, index) {
                 this.$confirm({
                     message: `Вы действительно хотите удалить запись?`,
                     button: {
                         no: 'Нет',
                         yes: 'Да'
                     },
                     callback: confirm => {
                         if (confirm)
                             this.loading_file = true;
                             this.$request({
                                 url: '/files/delete/'+file.id,
                                 method: 'post',
                                 data: {
                                     modelName: this.modelName,
                                 },
                                 onSuccess: response => {
                                     this.files.splice(index, 1)
                                     this.loading_file = false
                                 },
                                 onError: response => {
                                     this.loading_file = false;
                                 },

                                 successMessage: 'Успешно удалено'
                             })
                                 .finally(() => {
                                     this.loading_file = false
                                 });
                     }
                 })
            },
        }
    }
</script>

<style scoped>
    .full-screen {
        background: rgba(0, 0, 0, 0.3);
    }
</style>