<template>
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Контроль качества</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table" id="callback_projects">
                        <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Наименование проекта</th>
                            <th>Последний контакт внедренца</th>
                            <th>С какими задачами работали</th>
                            <th>Последняя обратная связь</th>
                            <th>Город</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, index) in quality_ar">
                                <td>{{item.client_name}}</td>
                                <td>{{item.p_name}}</td>
                                <td>{{item.done_datetime}}</td>
                                <td></td>
                                <td>{{item.created_at}}</td>
                                <td>{{item.city_name}}</td>
                                <td>
                                    <router-link :to="'/manager/callback/quality-edit/'+item.p_id" class="btn btn-primary">
                                        <i class="fa fa-search"></i>
                                    </router-link>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            quality_ar: [],
        }
    },
    created() {
        this.getList()
    },
    methods: {
        getList() {
            axios
            .get('/getQualityAll')
            .then(response => {
                console.log(response.data)
                this.quality_ar = response.data
            })
        },
    },
}
</script>