<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" style="float: left; width: 20%; height: 100%;">
            <li class="active" style="width: 200px; background-color: white;"><a href="#work" data-toggle="tab">Вопросы в процессе внедрения</a></li>
            <li style="width: 200px; background-color: white;"><a href="#close" data-toggle="tab">Вопросы по закрытию проекта</a></li>
            <li style="width: 200px; background-color: white;"><a href="#params" data-toggle="tab">Параметры</a></li>
        </ul>
        <div class="tab-content" style="float: left; width: 80%;">
            <div class="tab-pane active" id="work" style="min-height: 600px;">
                <div class="box box-solid">
                    <div style="padding-bottom: 20px;">
                        <a href="/implementer/callback/add-work-questions" class="btn btn-primary">Добавить</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10%;">№</th>
                            <th>Вопрос</th>
                            <th colspan="2" style="width: 10%;">Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="close" style="min-height: 600px;">
                <div class="box box-solid">
                    <div style="padding-bottom: 20px;">
                        <a href="/implementer/callback/add-close-questions" class="btn btn-primary">Добавить</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 10%;">№</th>
                            <th>Вопрос</th>
                            <th colspan="2" style="width: 10%;">Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="params" style="min-height: 600px;">
                <div class="box" style="border: none; box-shadow: none;">
                    <!-- form start -->
                    <form class="form-horizontal" action="/implementer/callback/save-settings" method="post">

                        <div class="box-body">
                            <table class="table table-striped">
                                <tr>
                                    <td>Периодичность сбора отзывов (в днях)</td>
                                    <td><input type="number" class="form-control" name="frequency_feedback" id="inputFrequencyFeedback" style="width: 300px;" value=""></td>
                                </tr>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer" style="border: none;">
                            <input type="submit" value="Сохранить" class="btn btn-primary">
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        created() {

        },
        methods: {

        }
    }
</script>