<template>
    <form @submit.prevent.keyup="send">
        <div class="input-group">
            <input id="btn-input" type="text" name="message" class="form-control input-sm" placeholder="Type your message here..." v-model="message.message" @keyup.enter="sendMessage">

            <span class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="submit">
                     Send
                </button>
            </span>
        </div>
    </form>
</template>

<script>
export default {
    props: ['user'],

    data() {
        return {
            message: {
                message: '',
                user: this.user
            }
        }
    },

    methods: {
        send() {
            this.$emit('messagesend', this.message)
            this.message = {}
        }
    }
}
</script>