<template>

</template>
<script>
    export default {
        data() {
            return {

            }
        },
        created() {

        },
        methods: {
            
        }
    }
</script>