<template>
    <div class="col-md-12">
        <div style="padding-bottom: 20px;">
            <router-link to="/implementer/clients/add" class="btn btn-primary">Добавить</router-link>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Список клиентов</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Клиент</th>
                        <th>Город</th>
                        <th colspan="2" width="10%">Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        created() {

        },
        methods: {

        }
    }
</script>