<template id="template-context-menu-item">
    <li class="context-menu-item">
        <slot></slot>
    </li>
</template>
<script>
    export default {
        template: '#template-context-menu-item',
        props: {
            icon: ''
        }
    }
</script>
<style>
    .context-menu-item {
        display: flex;
        cursor: pointer;
        padding: 8px 15px;
        align-items: center;
        border-bottom: 1px solid #ebebeb;
    }

    .context-menu-item:hover {
        background-color: #ebebeb;
    }
</style>