<template>
    <div class="row">
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Пользователи</h3>

                    <div class="box-tools pull-right">
                        <!--<span class="label label-danger">8 Онлайн</span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li v-for="(user) in Users" style="height: 130px;">
                            <img :src="'/avatars/'+user.foto" alt="User Image" style="width: 50px;">
                            <a class="users-list-name" href="#">{{user.first_name}} {{user.last_name}}</a>
                            <span class="users-list-date">{{user.name}}</span>
                            <!--@if ($u['online'])
                            <span class="users-list-date"><i class="fa fa-circle text-success"></i> В сети</span>
                            @else
                            <span class="users-list-date">Не в сети</span>
                            @endif-->
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>-->
                <!-- /.box-footer -->
            </div>
            <!--/.box -->
        </div>
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Загрузка внедренцев</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>ФИО</th>
                                <th>Всего</th>
                                <th>Проектов в работе</th>
                                <th>Спят</th>
                                <th>Закрытых проектов</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item, index) in Implementers">
                                <td>{{item.first_name}} {{item.last_name}}</td>
                                <td>{{item.project_all}}</td>
                                <td>{{item.project_work}}</td>
                                <td>{{item.project_sleep}}</td>
                                <td>{{item.project_close}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->

                <!-- /.box-footer -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Лента событий</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="post">
                        <div class="user-block">
                            <img src="/avatars/camera_200.png" alt="user image" class="img-circle img-bordered-sm"> 
                            <span class="username">
                                <a href="#">Халил Ахметсафин</a>
                            </span>
                            <span class="description">Опубликовано - 17:49:26 2020-09-15</span>
                        </div>
                        <div id="comment_2230">
                            <span>Всем привет! Вышла новая версия! Не забудьте сбросить кэш (Ctrl + F5)</span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Products</a>
                </div>-->
                <!-- /.box-footer -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Контроль качества</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>Клиент</th>
                                <th>Проект</th>
                                <th>Дата обзвона</th>
                                <th>Действие</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(q) in Quality">
                                <td>{{q.client_name}}</td>
                                <td>{{q.p_name}}</td>
                                <td>{{q.created_at}}</td>
                                <td>
                                    <router-link to="#">Подробнее</router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <router-link :to="this.$router.history.current.path+'/calls-result'">Показать все</router-link>
                </div>
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Users: [],
                Implementers: [],
                Quality: []
            }
        },
        created() {
            this.getImplementers()
            this.getUsers()
            this.getQuality()
        },
        methods: {
            getImplementers() {
                axios
                .get('/getImplementers')
                .then(response => {
                    // console.log(response.data);
                    this.Implementers = response.data
                })
            },
            getUsers() {
                axios
                .get('/getUsers')
                .then(response => {
                    // console.log(response.data);
                    this.Users = response.data
                })
            },
            getQuality: function () {
                axios
                .get('/getQuality')
                .then(response => {
                    // console.log(response.data);
                    this.Quality = response.data
                })
            }
        }
    }
</script>