<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTask">
            <label class="control-label" for="inputNameTask">Название задачи</label>
            <input type="text" class="form-control" v-model="Name" name="name_task" id="inputNameTask" style="width: 300px;" required>
        </div>
        <div class="form-group" id="NormTask" v-if="TaskNorm == 1">
            <label class="control-label" for="isNormTask">Учитывать группу задач при расчете норм? </label>
            <input type="checkbox" checked v-model="TaskNorm" name="NormTask" id="isNormTask">
        </div>
        <div class="form-group" id="NormTask" v-else>
            <label class="control-label" for="isNormTask">Учитывать группу задач при расчете норм? </label>
            <input type="checkbox" v-model="TaskNorm" name="NormTask" id="isNormTask">
        </div>
        <div class="form-group" id="NameTask" v-if="PrintForm == 1">
            <label class="control-label" for="isPrintForm">Печатная форма? </label>
            <input type="checkbox" v-model="PrintForm" checked name="isPrintForm" id="isPrintForm">
        </div>
        <div class="form-group" id="NameTask" v-else>
            <label class="control-label" for="isPrintForm">Печатная форма? </label>
            <input type="checkbox" v-model="PrintForm" name="isPrintForm" id="isPrintForm">
        </div>
        <div class="form-group" id="NameTask">
            <label class="control-label" for="isScreenForm">Экранная форма? </label>
            <input type="checkbox" v-model="TaskScreenForm" name="isScreenForm" id="isScreenForm">
        </div>
        <div class="form-group">
            <button v-on:click="save()" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/group-tasks" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Name: null,
                PrintForm: null,
                TaskScreenForm: null,
                TaskNorm: null
            }
        },
        created() {
            this.getTask()
        },
        methods: {
            save() {
                if (this.Name == null) {
                    alert('Укажите название задачи');
                    return;
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    TaskName: this.Name,
                    isPrintForm: this.PrintForm,
                    TaskScreenForm: this.TaskScreenForm,
                    TaskNorm: this.TaskNorm
                }
                axios
                .post('/implementer/group-tasks/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/group-tasks')
                    };
                })
            },
            getTask() {
                axios
                .get('/implementer/group-tasks/editGroupTask/'+this.$route.params.id)
                .then(response => {
                    this.Name = response.data.name
                    this.PrintForm = response.data.is_print_form
                    this.TaskNorm = response.data.is_norm
                })
            }
        }
    }
</script>