<template>
    <div class="box">
        <div style="padding-bottom: 20px;">
            <router-link to="/implementer/group-tasks/add" class="btn btn-primary">Добавить</router-link>
        </div>
        <div class="box-header">
            <h3 class="box-title">Список задач</h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="5%">№</th>
                    <th>Название</th>
                    <th colspan="3" width="20%">Действия</th>
                </tr>
                </thead>
                <tbody v-if="Group_tasks != null">
                    <tr v-for="(item, index) in Group_tasks">
                        <td>{{index+1}}</td>
                        <td>{{item.name}}</td>
                        <td style="vertical-align: middle;">
                            <router-link :to="'/implementer/group-tasks/edit/'+item.id" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                            </router-link>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn btn-danger" v-on:click="del(item.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="3" style="text-align: center;">Группы задач не найдены</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Group_tasks: null
            }
        },
        created() {
            this.getGroupTasks();
        },
        methods: {
            getGroupTasks() {
                axios
                .get('/implementer/getGroupTasks')
                .then(response => {
                    this.Group_tasks = response.data
                })
            },
            del(id) {
                axios
                .get('/implementer/group-tasks/del/'+id)
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.go(this.$router.currentRoute)
                    };
                })
            }
        }
    }
</script>