<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTask">
            <label class="control-label" for="inputNameTask">Название задачи</label>
            <input type="text" v-model="TaskName" class="form-control" name="name_task" id="inputNameTask" style="width: 300px;" required>
        </div>
        <div class="form-group" id="NormTask">
            <label class="control-label" for="isNormTask">Учитывать группу задач при расчете норм? </label>
            <input type="checkbox" v-model="TaskNorm" name="NormTask" id="isNormTask">
        </div>
        <div class="form-group" id="TaskPrintForm">
            <label class="control-label" for="isPrintForm">Печатная форма? </label>
            <input type="checkbox" v-model="TaskPrintForm" name="isPrintForm" id="isPrintForm">
        </div>
        <div class="form-group" id="TaskScreenForm">
            <label class="control-label" for="isScreenForm">Экранная форма? </label>
            <input type="checkbox" v-model="TaskScreenForm" name="isScreenForm" id="isScreenForm">
        </div>
        <div class="form-group">
            <button v-on:click="save()" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/group-tasks" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                TaskName: null,
                TaskPrintForm: null,
                TaskScreenForm: null,
                TaskNorm: null
            }
        },
        created() {

        },
        methods: {
            save() {
                if (this.TaskName == null) {
                    alert('Укажите название задачи');
                    return;
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    TaskName: this.TaskName,
                    isPrintForm: this.TaskPrintForm,
                    TaskScreenForm: this.TaskScreenForm,
                    TaskNorm: this.TaskNorm
                }
                axios
                .post('/implementer/group-tasks/add', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/group-tasks')
                    };
                })
            }
        }
    }
</script>