<template>
    <form action="login" method="POST">
        {{ csrf_field() }}
        @if (session('error'))
        <div class="alert alert-danger">
            {{ session('error') }}
        </div>
        @endif

        @if (session('success'))
        <div class="alert alert-success">
            {{ session('success') }}
        </div>
        @endif

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>

                <input type="email" name="email" class="form-control" placeholder="name@site.ru" required>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                </span>

                <input type="password" name="password" class="form-control" placeholder="Пароль" required>
            </div>
        </div>

        <div class="col-md-9">
            <div class="checkbox icheck">
                <label class="">
                    <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                        <input type="checkbox" name="remember_me" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                        <ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                    </div> Запомнить меня
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="form-group">
            <div class="input-group">
                <input type="submit" value="Войти" class="btn btn-success">
            </div>
        </div>
        <!-- /.col -->
        <a href="forgot-password">Забыли пароль?</a>
    </form>
</template>