<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal2"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header
                        class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                                type="button"
                                class="btn-close pull-right"
                                @click="close"
                                aria-label="Close modal"
                        >
                            x
                        </button>
                        <h4 class="modal-title">
                            Смена внедренца
                        </h4>
                    </slot>
                </header>
                <section
                        class="modal-body"
                        id="modalDescription"
                >
                    <slot name="body">
                        <v-select :options="imp" v-model="newImp"></v-select>
                        <div style="margin-top: 10px">
                            <button
                                    type="button"
                                    class="btn btn-success"
                                    v-on:click="save()"
                            >
                                Сохранить
                            </button>
                            <button
                                    type="button"
                                    class="btn btn-default"
                                    @click="close"
                                    aria-label="Close modal"
                            >
                                Отмена
                            </button>
                        </div>
                    </slot>
                </section>

            </div>
        </div>
    </transition>
</template>

<script>
    import Select2 from 'v-select2-component';
    export default {
        name: 'modal2',
        props:['Select2', 'event', 'date2', 'implementer'],
        data() {
            return {
                imp: [],
                newImp: null
            }
        },
        mounted() {
            this.getImplements()
        },
        methods: {
            close() {
                this.$emit('close');
            },
            nameWithLang ({ name, language }) {
                return `${name}`
            },
            getImplements() {
                axios
                .get('/manager/get-all-implementer-for-select')
                .then(response => {
                    this.imp = response.data;
                })
            },
            save() {
                var edit = false;

                if (this.newImp == null) {
                    alert('Выберите внедренца');
                    return
                };

                for (var i = 0; i <= this.event.elemento[0].classList.length; i++) {
                    if (this.event.elemento[0].classList[i] == 'edit') {
                        edit = true
                    }
                }

                var postBody = {
                    newImp: this.newImp,
                    taskId: this.event.evento.id,
                    edit: edit
                }

                axios
                .post('/manager/changeImp', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.close()
                        window.location.href = "/manager/calendar/"+this.newImp.value+"/"+this.date2
                    }
                })
            }
        }
    };
</script>

<style>
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal2 {
        margin: auto;
        width: 60%;
        height: 50%;
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
    }
    .btn-close {
        margin-top: -2px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
    }
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
    }

    .select2-container {
        width: 100% !important;
    }
</style>