<template>
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal4"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header
                        class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                                type="button"
                                class="btn-close pull-right"
                                @click="close"
                                aria-label="Close modal"
                        >
                            x
                        </button>
                        <h4 class="modal-title">
                            Редактирование
                        </h4>
                    </slot>
                </header>
                <section
                        class="modal-body"
                        id="modalDescription"
                >
                    <slot name="body">
                        <input type="hidden" :value="curTask">
                        <table class="table">
                            <tr>
                                <td><b>Дата</b></td>
                                <td id="date" ><input type="date" v-model="start[0]" class="form-control" /></td>
                                <td style="text-align: center;"><b>Время начала</b></td>
                                <td id="time_start"><input type="time" v-model="start[1]" id="input_time_start" class="form-control" /></td>
                                <td style="text-align: center;"><b>Время окончания</b></td>
                                <td id="time_end"><input type="time" v-model="end[1]" id="input_time_end" class="form-control" /></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><b>Клиент</b></td>
                                <td colspan="5">
                                    <v-select v-model="curClient" :options="clients" @input="getProjects()"></v-select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td><b>Проект</b></td>
                                <td colspan="5">
                                    <v-select v-model="curProject" :options="projects"></v-select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="text-align: center;">
                                    <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios1" v-bind:value="'project'">
                                    <label for="optionsRadios1">
                                        <b>Задача из проекта</b>
                                    </label>
                                </td>
                                <td></td>
                                <td style="text-align: center;">
                                    <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios2" v-bind:value="'dop'">
                                    <label for="optionsRadios2">
                                        <b>Дополнительная задача</b>
                                    </label>
                                </td>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr v-if="Res == 'project'">
                                <td></td>
                                <td colspan="5">
                                    <select name="task"
                                            class="form-control"
                                    >
                                        <option></option>
                                    </select>
                                </td>
                            </tr>
                            <template v-if="Res == 'dop'">
                                <tr>
                                    <td><b>Модуль</b></td>
                                    <td colspan="2">
                                        <select class="form-control" v-model="curModule">
                                            <option v-for="(item, index) in modules" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td style="text-align: center"><b>Группа задач</b></td>
                                    <td colspan="2">
                                        <select class="form-control" v-model="curGroupTask">
                                            <option v-for="(item, index) in groupTask" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="width: 5%"><b>Количество контактов</b></td>
                                    <td colspan="2"><input class="form-control" v-model="curNumCont"  type="text"></td>
                                    <td style="text-align: center"><b>Задача</b></td>
                                    <td colspan="2">
                                        <input type="text" v-model="curTask.value" class="form-control">
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="width: 5%"><b>Коментарий</b></td>
                                <td colspan="5">
                                    <textarea style="resize: none;" class="form-control" cols="110" rows="2"></textarea>
                                </td>
                            </tr>
                        </table>
                        <button
                                type="button"
                                class="btn btn-success"
                                v-on:click="save()"
                        >
                            Добавить
                        </button>
                        <button
                                type="button"
                                class="btn btn-default"
                                @click="close"
                                aria-label="Close modal"
                        >
                            Отмена
                        </button>
                    </slot>
                </section>

            </div>
        </div>
    </transition>
</template>

<script>
    import Select2 from 'v-select2-component';
    export default {
        name: 'modal4',
        props:['Select2', 'event', 'date2', 'id'],
        data() {
            return {
                imp: [],
                newName: null,
                Res: null,
                start: [],
                end: [],
                clients: [],
                Res: null,
                projects: [],
                curClient: {
                    'id': null
                },
                curProject: {
                    'id': null
                },
                curModule: {
                    'id': null,
                    'value': null
                },
                groupTask: [],
                curGroupTask: {
                    'id': null,
                    'value': null
                },
                curNumCont: null,
                value: {},
                options: [{}],
                modules: [],
            }
        },
        created() {

        },
        computed: {
            curTask: {
                get() {
                    this.getClients()
                    // var postBody = {
                    //     id: this.id,
                    // }
                    // axios
                    // .post('/manager/tasks/getcurtask', {'data': JSON.stringify(postBody)})
                    // .then(response => {
                    //     if (response.data[0].additional == 1) {
                    //         this.Res = 'dop'
                    //     } else {
                    //         this.Res = 'project'
                    //     }
                    //     this.start = response.data[0].next_contact.split(' ')
                    //     this.end = response.data[0].end.split(' ')
                    //     return response.data;
                    // })
                }
            }
        },
        methods: {
            save() {

            },
            close() {
                this.$emit('close');
            },
            nameWithLang ({ name, language }) {
                return `${name}`
            },
            getClients() {
                // axios
                // .get('/getClients')
                // .then(response => {
                //     this.clients = response.data
                //     // this.myOptions = this.clients
                // })
            },
            getProjects() {
                // axios
                // .get('/getClientProject/'+this.curClient.value)
                // .then(response => {
                //     console.log(response.data);
                //     this.projects = response.data
                // })
                this.getModule()
                this.getGroupTask()
                this.getTasks()
            },
            getTasks() {
                // axios
                // .get('/getProjectTask/'+this.curProject.value)
                // .then(response => {
                //     this.tasks = response.data
                // })
            },
            getModule() {
                // axios
                // .get('/getProjectModules/'+this.curProject.value)
                // .then(response => {
                //     this.modules = response.data
                // })
            },
            getGroupTask() {
                // axios
                // .get('/getGroupTask')
                // .then(response => {
                //     // console.log(response.data);
                //     this.groupTask = response.data
                // })
            },
        }
    };
</script>

<style>
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal4 {
        margin: auto;
        width: 60%;
        height: 97%;
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
    }
    .btn-close {
        margin-top: -2px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
    }
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
    }

    .select2-container {
        width: 100% !important;
    }
</style>