<template id="template-edit">
    <transition name="modal-fade">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription"
            >
                <header
                        class="modal-header"
                        id="modalTitle"
                >
                    <slot name="header">
                        <button
                                type="button"
                                class="btn-close pull-right"
                                @click="close"
                                aria-label="Close modal"
                        >
                            x
                        </button>
                        <h4 class="modal-title">
                            Добавление нового события
                        </h4>
                    </slot>
                </header>
                <section
                        class="modal-body"
                        id="modalDescription"
                >
                    <slot name="body">
                        <div class="nav-tabs-custom">
                            
                        </div>
                    </slot>
                </section>
                <div class="full-screen" v-if="loading">
                    <img src="/images/gif-loader.gif" alt="">
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    import Select2 from 'v-select2-component';
    export default {
        // name: 'modal3',
        template: '#template-edit',
        data() {
            return {
                clients: [],
                projects: [],
                date: null,
                tasks: [],
                modules: [],
                // curProject: {
                //     'id': null,
                //     'value': null
                // },
                // curModule: {
                //     'id': null,
                //     'value': null
                // },
                groupTask: [],
                value: {},
                loading: false,
                options: [{}],
                tab: 1,
                // myEvent: {
                //     name: null,
                //     dateStart: null,
                //     timeStart: null,
                //     dateEnd: null,
                //     timeEnd: null
                // },
                myOptions: [{label: 'foo', value: 'Foo'}]
            }
        },
        mounted() {
            this.getClients()
        },
        computed: {
            // clients: function() {
            //     let arr = [];
            //     this.storeLocations.forEach((clients_ar,id) => {
            //         arr.push({id: id, address: clients_ar})
            //     })
            //     return arr;
            // }
        },
        methods: {
            close() {
                // this.curClient.id = null
                this.$emit('close', 
                    this.myEvent,
                    this.curClient, 
                    this.curProject, 
                    this.curModule, 
                    this.curTask, 
                    this.Res, this.time3, 
                    this.comment, this.curGroupTask,
                    this.curNumCont, this.curTask.value);
            },
            nameWithLang ({ name, language }) {
                return `${name}`
            },
            getClients() {
                
                axios
                .get('/getClients')
                .then(response => {
                    this.clients = response.data
                    // this.myOptions = this.clients
                })
            },
            getProjects() {
                // console.log(this.curClient);
                axios
                .get('/getClientProject/'+this.curClient.code)
                .then(response => {
                    this.projects = response.data
                    if (this.projects.length > 0) {
                        this.getModule()
                        this.getGroupTask()
                        this.getTasks()
                    }
                })
            },
            getTasks() {
                axios
                .get('/getProjectTask/'+this.curProject.value)
                .then(response => {
                    this.tasks = response.data
                })
            },
            getModule() {
                axios
                    .get('/getProjectModules/'+this.curProject.value)
                    .then(response => {
                        this.modules = response.data
                    })
            },
            getGroupTask() {
                axios
                .get('/getGroupTask')
                .then(response => {
                    console.log(response.data);
                    this.groupTask = response.data
                })
            },
            saveEvent() {
                if (this.myEvent.name == null) {
                    alert('Укажите название события');
                    return
                }
                if (this.myEvent.dateStart == null) {
                    alert('Укажите дату начала события');
                    return
                }
                if (this.myEvent.dateEnd == null) {
                    alert('Укажите дату окончания события');
                    return
                }
                if (this.myEvent.timeStart == null) {
                    alert('Укажите время начала события');
                    return
                }
                if (this.myEvent.timeEnd == null) {
                    alert('Укажите время окончания события');
                    return
                }
                this.loading = true
                var postBody = {
                    name: this.myEvent.name,
                    imp: this.implementer,
                    dateStart: this.myEvent.dateStart,
                    timeStart: this.myEvent.timeStart,
                    dateEnd: this.myEvent.dateEnd,
                    timeEnd: this.myEvent.timeEnd
                }

                axios
                .post('/project-task/addEvent2', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.loading = false
                        this.close()
                        this.$router.push("/implementer/calendar/"+this.implementer+"/"+this.date2)
                    }
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            save() {
                console.log(this.curProject);
                if (this.date2 == '') {
                    alert('Укажите дату');
                    return
                }
                if (this.time2 == '') {
                    alert('Укажите время начала');
                    return
                }
                if (this.time3 == null) {
                    alert('Укажите время окончания');
                    return
                }
                if (this.curClient.code == null) {
                    alert('Укажите клиента');
                    return
                }
                if (this.curProject.value == null) {
                    alert('Укажите проект');
                    return
                }
                if (this.Res == null) {
                    alert('Укажите тип задачи');
                    return
                }
                if (this.Res == 'project') {
                    this.curTask.value = null
                    if (this.curTask.id == null) {
                        alert('Выберите задачу');
                        return
                    }
                }
                if (this.Res == 'dop') {
                    this.curTask.id = null
                    if (this.curTask.value == null) {
                        alert('Укажите задачу');
                        return
                    }
                }
                if (this.Res == 'project') {
                    var postBody = {
                        project: this.curProject,
                        user_id: this.implementer,
                        task: this.curTask,
                        res: this.Res,
                        date: this.date2,
                        time: this.time2,
                        timeEnd: this.time3,
                        comment: this.comment
                    }
                } else {
                    var postBody = {
                        project: this.curProject,
                        user_id: this.implementer,
                        task: this.curTask,
                        res: this.Res,
                        date: this.date2,
                        time: this.time2,
                        timeEnd: this.time3,
                        module: this.curModule,
                        groupTask: this.curGroupTask,
                        numCont: this.curNumCont,
                        comment: this.comment
                    }
                }
                this.loading = true
                axios
                .post('/project-task/addTaskFromCalendar', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.loading = false
                        this.close()
                        // this.$router.push = "/implementer/calendar/"+this.implementer+"/"+this.date2
                        this.$router.push("/implementer/calendar/"+this.implementer+"/"+this.date2)
                    }
                })
                .finally(() => (
                    this.loading = false
                ))
            }
        }
    };
</script>

<style>
    .modal-backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        margin: auto;
        width: 60%;
        height: 97%;
        background: #FFFFFF;
        box-shadow: 2px 2px 20px 1px;
        overflow-x: auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    .modal-header {
        padding: 15px;
        border-bottom: 1px solid #eeeeee;
        text-align: center;
    }
    .btn-close {
        margin-top: -2px;
        border: none;
        font-size: 20px;
        cursor: pointer;
        font-weight: bold;
        background: transparent;
    }
    .modal-footer {
        padding: 15px;
        display: flex;
    }

    .modal-footer {
        border-top: 1px solid #eeeeee;
        justify-content: flex-end;
    }

    .modal-body {
        position: relative;
        padding: 20px 10px;
    }

    .select2-container {
        width: 100% !important;
    }

    .full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>