<template>
    <div class="col-md-12">
        <div style="padding-bottom: 20px;">
            <router-link to="/implementer/modules/add" class="btn btn-primary">Добавить</router-link>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Список модулей</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="5%">№</th>
                        <th>Название</th>
                        <th colspan="2" width="10%">Действия</th>
                    </tr>
                    </thead>
                    <tbody v-if="Modules != null">
                    <tr v-for="(item, index) in Modules">
                        <td>{{index+1}}</td>
                        <td>{{item.name}}</td>
                        <td style="vertical-align: middle;">
                            <router-link :to="'/implementer/modules/edit/'+item.id" class="btn btn-primary">
                                <i class="fa fa-pencil"></i>
                            </router-link>
                        </td>
                        <td style="vertical-align: middle;">
                            <button class="btn btn-danger" v-on:click="del(item.id)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="3" style="text-align: center">Модули не найдены</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Modules: null
            }
        },
        created() {
            this.getModules()
        },
        methods: {
            getModules() {
                axios
                .get('/implementer/getModules')
                .then(response => {
                    this.Modules = response.data
                })
            },
            del(id) {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    id: id
                }
                axios
                .post('/implementer/delModule', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.go(this.$router.currentRoute)
                    };
                })
            }
        }
    }
</script>