<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTask">
            <label class="control-label" for="inputNameModule">Название модуля</label>
            <input type="text" v-model="ModuleName" class="form-control" name="name_module" id="inputNameModule" style="width: 300px;" required>
        </div>
        <table class="table table-hover" id="tableTask">
            <thead>
            <tr>
                <th>Список задач</th>
                <th>Норма кол-ва контактов по договору 1 контакт - 1 час</th>
                <th>Кол - во разрешенных контактов</th>
                <th>Группа задач</th>
                <th>Вопросы для уточнения</th>
                <th colspan="2">Действия</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="Module_ar.length > 0" v-for="(item, index) in Module_ar">
                <tr>
                    <td v-if="EditFlag && Edit_id == index"><input type="text" v-model="item.Task" class="form-control" required></td>
                    <td v-else>{{item.Task}}</td>
                    <td v-if="EditFlag && Edit_id == index"><input type="text" v-model="item.Norm" class="form-control" required></td>
                    <td v-else>{{item.Norm}}</td>
                    <td v-if="EditFlag && Edit_id == index"><input type="text" v-model="item.Count" class="form-control" required></td>
                    <td v-else>{{item.Count}}</td>
                    <td v-if="EditFlag && Edit_id == index">
                        <select class="form-control" v-model="item.Group">
                            <option v-for="(item, index) in GroupTask" :value="{name: item.name, id: item.id}">{{item.name}}</option>
                        </select>
                    </td>
                    <td v-else>{{item.Group.name}}</td>
                    <td>
                        <button v-on:click="addQuestions(index)" class="btn btn-default">Указать</button>
                    </td>
                    <td v-if="EditFlag && Edit_id == index">
                        <button v-on:click="edit(index)" class="btn btn-primary"><i class="fa fa-check"></i></button>
                    </td>
                    <td v-else>
                        <button v-on:click="edit(index)" class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td>
                        <button v-on:click="del(index)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <template v-if="Flag && index == Task_index">
                    <tr v-for="(item2, index2) in item.Questions">
                        <td colspan="6">
                            <input type="text" v-model="item2.name" class="form-control">
                        </td>
                        <td>
                            <button v-on:click="addQuestion(index)" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                </template>
            </template>
            <tr id="add_row">
                <td><input type="text" v-model="Task" class="form-control" required></td>
                <td><input type="number" v-model="Norm" class="form-control" required></td>
                <td><input type="number" v-model="Count" class="form-control" required></td>
                <td>
                    <select class="form-control" v-model="Group">
                        <option v-for="(item, index) in GroupTask" :value="{name: item.name, id: item.id}">{{item.name}}</option>
                    </select>
                </td>
                <td></td>
                <td>
                    <button class="btn btn-primary" v-on:click="addTask">
                        <i class="fa fa-check"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button v-on:click="save" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/modules" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                GroupTask: [],
                Task: null,
                Norm: null,
                Count: null,
                Group: {
                    name: null,
                    id: null
                },
                Module_ar: [],
                Task_index: null,
                Flag: false,
                CountQuestion: [],
                ModuleName: null,
                EditFlag: false,
                Edit_id: null
            }
        },
        created() {
            this.getGroupTask()
        },
        methods: {
            getGroupTask() {
                axios
                .get('/implementer/getGroupTasks')
                .then(response => {
                    this.GroupTask = response.data
                })
            },
            addTask() {
                if (this.Task == null) {
                    alert('Укажите название задачи');
                    return
                };
                if (this.Norm == null) {
                    alert('Укажите норму');
                    return
                };
                if (this.Count == null) {
                    alert('Укажите колличество');
                    return
                };
                if (this.Group.id == null) {
                    alert('Укажите группу задач');
                    return
                };
                let Module = {
                    Task: this.Task,
                    Norm: this.Norm,
                    Count: this.Count,
                    Group: {
                        name: this.Group.name,
                        id: this.Group.id
                    },
                    Questions: [
                        {
                            name: null
                        }
                    ]
                }
                this.Module_ar.push(Module)
            },
            addQuestions(id) {
                if (this.CountQuestion.length == 0) {
                    let Q = {
                        name: null
                    }
                    this.CountQuestion.push(Q);
                }
                this.Task_index = id
                this.Flag = !this.Flag
            },
            addQuestion(id) {
                let Q = {
                    name: null
                }
                this.Module_ar[id].Questions.push(Q);
            },
            del(id) {
                this.Module_ar.splice(id, 1)
            },
            edit(id) {
                this.EditFlag = !this.EditFlag
                this.Edit_id = id
            },
            save() {
                if (this.ModuleName == null) {
                    alert('Укажите название модуля')
                    return
                }
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    module_name: this.ModuleName,
                    Module_ar: this.Module_ar
                }
                axios
                .post('/implementer/saveModules', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/modules')
                    };
                })
            }
        }
    }
</script>