<template>
    <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-flag-o"></i>
            <span v-if="count > 0" class="label label-danger">{{count}}</span>
        </a>
        <ul class="dropdown-menu" id="markread">
            <li>
                <!--<notification-item v-for="unread in unread"></notification-item>-->
            </li>
            <template v-if="count > 0">
                <li class="header">У вас {{count}} необработанных уведомлений</li>
                <li>
                    <!-- inner menu: contains the actual data -->
                    <ul class="menu">
                        <li><!-- Task item -->
                            <a href="#">
                                <h3>
                                    Design some buttons
                                    <small class="pull-right">20%</small>
                                </h3>
                                <div class="progress xs">
                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- end task item -->
                    </ul>
                </li>
            </template>
            <template v-else>
                <li class="header">У вас нет необработанных уведомлений</li>
            </template>
        </ul>
    </li>
</template>

<script>
    export default {
        props:['count'],
        mounted() {

        }
    }
</script>