<template>
    <div class="is-fluid">
        <div class="new-file">
            <form id="new-file-form" action="#" method="#" @submit.prevent="submitForm">
                <div class="field is-grouped">
                    <div class="file is-info has-name">
                        <!-- <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor> -->
                        <label class="file-label" style="margin-top: 20px;">
                            <input class="file-input" type="file" ref="file" name="file" @change="addFile($event, index)">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                            </span>
                            <span class="file-name" v-if="attachment.name" v-html="attachment.name"></span>
                        </label>
                    </div>
                    
                    <p class="control" style="margin-top: 10px">
                        <template v-if="attachment == ''">
                            <button type="submit" disabled class="button is-primary btn btn-primary">
                                Загрузить
                            </button>
                        </template>
                        <template v-else>
                            <button type="submit" class="button is-primary btn btn-primary">
                                Загрузить
                            </button>
                        </template> 
                    </p>
                </div>
            </form>
        </div>

        <div class="container is-fluid box">
            <p v-if="loading == true" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">Загрузка ...</p>
<!--            <p v-if="loading == false && load == false" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">Файлы не загружены</p>-->
            <div  style="margin-top: 10px;">
                <div class="box-footer" >
                    <AttachmentFiles :files="uploadFiles" :allow-delete="true" :model-name="'Done_printform_file'"/>
<!--                    <ul class="mailbox-attachments clearfix">-->
<!--                        <li>-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-xml-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://xml.editey.com/file/'+file.g_name" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{file.file.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
        </div>
        <div class="full-screen" v-if="loading_file">
            <img src="/images/gif-loader.gif" alt="">
        </div>
    </div>
</template>
<script> 
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import AttachmentFiles from "./AttachmentFiles";
    export default {
        components: {AttachmentFiles},
        directives: {
            'autofocus': {
                inserted(el) {
                    el.focus();
                }
            }
        },
        props: ['form_id'],
        data() {
            return {
                files: {},
                file: null,

                pagination: {},
                offset: 5,
                loading_file: false,
                activeTab: 'image',
                isVideo: false,
                loading: false,
                load: false,
                formData: {},
                fileName: '',
                attachment: '',

                editingFile: {},
                deletingFile: {},

                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },

                notification: false,
                showConfirm: false,
                modalActive: false,
                message: '',
                errors: {},
                uploadFiles: [],
            }
        },

        methods: {
            isActive(tabItem) {
                return this.activeTab === tabItem;
            },

            setActive(tabItem) {
                this.activeTab = tabItem;
            },

            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },

            // fetchFile(type, page) {
            //     this.loading = true;
            //     axios.get('files/' + type + '?page=' + page).then(result => {
            //         this.loading = false;
            //         this.files = result.data.data.data;
            //         this.pagination = result.data.pagination;
            //     }).catch(error => {
            //         console.log(error);
            //         this.loading = false;
            //     });

            // },

            // getFiles(type) {
            //     this.setActive(type);
            //     this.fetchFile(type);

            //     if (this.activeTab === 'video') {
            //         this.isVideo = true;
            //     } else {
            //         this.isVideo = false;
            //     }
            // },

            submitForm() {
                this.formData = new FormData();
                this.formData.append('form_id', this.form_id);
                this.formData.append('file', this.attachment);
                this.formData.append('name', this.attachment.name);
                // this.formData.append('project_id', this.project_id);
                // // this.formData.append('comment', this.comment);
                // // this.loading = true
                this.loading = true
                this.loading_file = true

                axios.post('/files/print-form/add', this.formData, {headers: {'Content-Type': 'multipart/form-data'}})
                .then(response => {
                    this.uploadFiles.push(response.data)
                    this.loading = false
                    this.load = true
                    this.resetForm();
                })
                .catch(error => {
                    console.log(error)
                    this.errors = error.response.data.errors;
                    this.showNotification(error.response.data.message, false);
                    this.fetchFile(this.activeTab);
                })
                .finally(() => (
                    this.loading_file = false
                ));
            },

            addFile() {
                var ext = this.$refs.file.files[0].name.split('.')
                if (ext[1] == 'apf') {
                    this.attachment = this.$refs.file.files[0];
                    return
                };

                if (ext[1] == 'ascf') {
                    this.attachment = this.$refs.file.files[0];
                    return
                };

                if (ext[1] == 'arf') {
                    this.attachment = this.$refs.file.files[0];
                    return
                };

                if (ext[1] == 'ame') {
                    this.attachment = this.$refs.file.files[0];
                    return
                };

                alert('Тип файла не поддерживается'); 
                return
                // this.file = this.$refs.file.files[0];
            },

            prepareToDelete(file) {
                this.deletingFile = file;
                this.showConfirm = true;
            },

            cancelDeleting() {
                this.deletingFile = {};
                this.showConfirm = false;
            },

            deleteFile() {
                axios.post('/files/delete/' + this.deletingFile.id)
                    .then(response => {
                        this.showNotification('File successfully deleted!', true);
                        this.fetchFile(this.activeTab, this.pagination.current_page);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors();
                        this.showNotification('Something went wrong! Please try again later.', false);
                        this.fetchFile(this.activeTab, this.pagination.current_page);
                    });

                this.cancelDeleting();
            },

            editFile(file) {
                this.editingFile = file;
            },

            endEditing(file) {
                this.editingFile = {};

                if (file.name.trim() === '') {
                    alert('Filename cannot be empty!');
                    this.fetchFile(this.activeTab);
                } else {
                    let formData = new FormData();
                    formData.append('name', file.name);
                    formData.append('type', file.type);
                    formData.append('extension', file.extension);

                    axios.post('files/edit/' + file.id, formData)
                        .then(response => {
                            if (response.data === true) {
                                this.showNotification('Filename successfully changed!', true);

                                var src = document.querySelector('[alt="' + file.name +'"]').getAttribute("src");
                                document.querySelector('[alt="' + file.name +'"]').setAttribute('src', src);
                            }
                        })
                        .catch(error => {
                            this.errors = error.response.data.errors;
                            this.showNotification(error.response.data.message, false);
                        });

                    this.fetchFile(this.activeTab, this.pagination.current_page);
                }
            },

            showNotification(text, success) {
                if (success === true) {
                    this.clearErrors();
                }

                var application = this;
                application.message = text;
                application.notification = true;
                setTimeout(function() {
                    application.notification = false;
                }, 15000);
            },

            showModal(file) {
                this.file = file;
                this.modalActive = true;
            },

            closeModal() {
                this.modalActive = false;
                this.file = {};
            },

            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.fetchFile(this.activeTab, page);
            },

            resetForm() {
                this.formData = {};
                this.fileName = '';
                this.attachment = '';
                // this.comment = '';
                this.isPrintForm.id = '';
                // this.forPaid = '';
                // this.paided = '';
            },

            anyError() {
                return Object.keys(this.errors).length > 0;
            },

            clearErrors() {
                this.errors = {};
            },

            save() {
                if (this.client_id == undefined) {
                    alert('Выберите клиента');
                    return
                };

                if (this.project_id == undefined) {
                    alert('Выберите клиента');
                    return
                };

                if (this.comment == '') {
                    alert('Укажите коментарий');
                    return
                };

                if (this.file == null) {
                    var postBody = {
                        client_id: this.client_id,
                        project_id: this.project_id,
                        file: null,
                        comment: this.comment
                    }
                } else {
                    
                }

                
            }
        },
    }
</script>