<template>
    <transition name="modal-fade" v-if="visible">
        <div class="modal-backdrop">
            <div class="modal"
                 role="dialog"
                 aria-labelledby="modalTitle"
                 aria-describedby="modalDescription">
                <header
                        class="modal-header"
                        id="modalTitle">
                    <slot name="header">
                        <button
                                type="button"
                                class="btn-close pull-right"
                                @click="close"
                                aria-label="Close modal">x</button>
                        <h4 class="modal-title">Контакты</h4>
                    </slot>
                </header>
                <section
                        class="modal-body"
                        id="modalDescription">
                    <slot name="body">
                        <div v-if="contacts.length != 0">
                            <div class="box-body table-responsive no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>№</th>
                                        <th>Фамилия</th>
                                        <th>Имя</th>
                                        <th>Отчество</th>
                                        <th>Должность</th>
                                        <th>Телефон</th>
                                        <th>Email</th>
                                    </tr>
                                    <tr v-for="(item, index) in contacts" :style="contact_id == item.id ? 'background: #fddde6' : ''">
                                        <template>
                                            <td style="vertical-align: middle;">{{index+1}}</td>
                                            <td style="vertical-align: middle;"><span id="contactSurname">{{ item.last_name }}</span></td>
                                            <td style="vertical-align: middle;"><span id="contactName">{{ item.first_name }}</span></td>
                                            <td style="vertical-align: middle;"><span id="contactPatronymic">{{ item.patronymic }}</span></td>
                                            <td style="vertical-align: middle;"><span id="contactPost">{{ item.post_name }}</span></td>
                                            <td style="vertical-align: middle;"><span id="contactPhone"><a :href="'tel:'+item.phone">{{ item.phone }}</a></span></td>
                                            <td style="vertical-align: middle;"><span id="contactEmail"><a :href="'mailto:'+item.email">{{ item.email }}</a></span></td>
                                        </template>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-else>
                            <p style="text-align: center">Контакты отсутствуют</p>
                        </div>
                    </slot>
                </section>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        data() {
            return {
                project_id: 0,
                contacts: {},
                visible: false,
                contact_id: 0
            }
        },
        methods: {
            show(project_id, contact_id) {
                this.project_id = project_id;
                this.contact_id = contact_id;
                this.getContacts();
                this.visible = true;
            },
            getContacts() {
                axios
                    .get('/projects/' + this.project_id + '/contacts')
                    .then(response => {
                        this.contacts = response.data
                    })
            },
            close() {
                this.contacts = {};
                this.visible = false;
            }
        }
    }
</script>

<style scoped>

</style>