<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTask">
            <label class="control-label" for="inputNameModule">Вопрос</label>
            <input type="text" class="form-control" v-model="Name" required>
        </div>
        
        <div class="form-group">
            <button v-on:click="save" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/quality-control" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script> 
export default {
    data() {
        return {
            Name: '',
        }
    },
    methods: {
        save() {
            if (this.Name == '') {
                alert('Укажите вопрос');
                return
            };

            var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                name: this.Name,
            }

            axios
            .post('/implementer/quality-control/add', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/implementer/quality-control')
                };
            })
        }
    },
}
</script>