<template>
    <div>
        <div class="box">

            <!--            Поля Начало          -->
            <template v-if="config && config.columns && config.changeable_columns">
                <div style="padding-top: 10px">
                    <a v-on:click="columnsFlag = !columnsFlag"
                       style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer; margin: 5px">Поля</a>
                </div>
                <div v-if="columnsFlag">
                    <table class="table table-hover">
                        <tr v-for="i in Math.ceil(config.columns.length / 4)">
                            <td v-for="j in [0,1,2,3]">
                                <div v-if="(i-1)*4 + j < config.columns.length">
                                    <input :id="'column'+(i-1)*4 + j" v-model="config.columns[(i-1)*4 + j].visible"
                                           v-on:click="changeVisible(config.columns[(i-1)*4 + j])" type="checkbox">
                                    <label :for="'column'+(i-1)*4 + j">{{config.columns[(i-1)*4 + j].label}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </template>
            <!--            Поля Конец          -->

            <!--            Фильтры Начало          -->
            <template v-if="config.filters">
                <template v-if="config.filters.radio">
                    <div class="form-group" v-for="(radio, name) in config.filters.radio">
                        <template v-for="(radio) in config.filters.radio[name]">
                            <input name="type" :value="radio.value" v-model="filters[name]" :id="radio.value"
                                   v-on:click="filter(name, radio.value)" type="radio">
                            <label :for="radio.value" style="margin-right: 20px;">
                                <h4 style="color: #3c8dbc;">{{radio.label}}</h4>
                            </label>
                        </template>
                    </div>
                </template>
                <template v-if="config.filters.radio_second">
                    <template v-for="(radio, name) in config.filters.radio_second"
                              v-if="filters[radio.parent_field] === radio.parent_value">
                        <div style="margin-top: 15px; width: 80%; float: left;">
                            <a v-for="item in radio.items" :class="filters[name] === item.value ? 'btn btn-info' : ''"
                               href="#" v-on:click="filter(name, item.value)"
                               style="margin-right: 15px">{{item.label}}</a>
                        </div>
                    </template>
                </template>

                <!-- Статусы -->
                <template v-if="config.filters.status_filters">
                    <div class="form-group" v-for="(f, name) in config.filters.status_filters"
                         style="margin-top: 10px; display: inline-block">
                        <template v-for="(item) in config.filters.status_filters[name]">
                            <a v-on:click="filter(name, item.value, true)"
                               :class="filters[name] && filters[name][item.value]?'btn btn-info':''"
                               style="margin-right: 15px; cursor: pointer">{{item.label}}</a>
                        </template>
                    </div>
                </template>
                <!-- ************ -->

                <!-- Даты -->
                <template v-if="config.filters.dates">
                    <div v-for="(f, name) in config.filters.dates" style="display: inline-block; margin: 10px;">
                        <input type="checkbox" v-on:click="dateChanged(name)" v-model="filters[name].checked">
                        <span>{{config.filters.dates[name].label}}</span>
                        <span>{{config.filters.dates[name].label_date1}}</span>
                        <input type="date" v-on:change="dateChanged(name)" v-model="filters[name].date1"
                               style="width: 120px">
                        <span>{{config.filters.dates[name].label_date2}}</span>
                        <input type="date" v-on:change="dateChanged(name)" v-model="filters[name].date2"
                               style="width: 120px">
                    </div>
                </template>
                <!-- ************ -->

                <!-- Лист -->
                <template v-if="config.filters.list">
                    <div class="form-group" v-for="(f, name) in config.filters.list"
                         style="margin: 10px; display: inline-block">
                        <label>{{config.filters.list[name].label}}</label>
                        <!--                        <select class="form-control" style="width: auto; display: inline-block; margin: 10px" v-model="filters[name]">-->
                        <!--                            <option v-for="(item) in config.filters.list[name].data" :value="item.id">{{item.label}}</option>-->
                        <!--                        </select>-->
                        <v-select :options="config.filters.list[name].data" :reduce="(i)=>i.id" v-model="filters[name]"
                                  @input="getData(1)"
                                  style="min-width: 200px; display: inline-block; padding: 5px"/>
                    </div>
                </template>
                <!-- ************ -->

                <!-- Мульти Лист -->
                <template v-if="config.filters.multi_lists">
                    <div class="form-group" v-for="(f, name) in config.filters.multi_lists"
                         style="margin: 10px; display: inline-block">
                        <label>{{config.filters.multi_lists[name].label}}</label>
                        <v-select multiple :options="config.filters.multi_lists[name].data" :reduce="(i)=>i.id"
                                  v-model="filters[name]" @input="getData(1)" autowidth
                                  style="min-width: 210px; display: inline-block; padding: 5px"/>
                    </div>
                </template>
                <!-- ************ -->

            </template>
            <!--            Фильтры Конец          -->

            <!--            Выгрузка Excel          -->
            <a class="btn btn-primary" v-if="config.excel" :href="'/table/excel/'+url+'?'+getParams(true)" download>Выгрузить
                в Excel</a>
            <!--             ************           -->

            <a class="btn btn-danger" v-if="config.clearFilters" href="#" v-on:click="clearFilters">Сбросить фильтры</a>


            <div class="input-group input-group-sm pull-right"
                 style="width: 150px; margin-top: 10px; margin-right: 10px;">
                <input type="text" v-model="searchText" v-on:keydown.enter="getData()" name="table_search"
                       class="form-control pull-right"
                       placeholder="Поиск">

                <div class="input-group-btn">
                    <button type="submit" v-on:click="getData()" class="btn btn-default"><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <template v-if="loading">
                <table class="table" style="word-break: break-word;">
                    <tbody>
                    <tr>
                        <td style="text-align: center" colspan="2"><img src="/images/cat-loader.gif"
                                                                        style="padding: 30%;" alt=""></td>
                    </tr>
                    </tbody>
                </table>
            </template>
            <template v-else>
                <!--         Таблица        -->
                <div class="box" style="overflow: hidden; overflow-x: scroll;">
                <table class="table">
                    <thead>
                    <tr>
                        <th v-for="(column) in config.columns" v-on:click="sort(column)" v-if="column.visible !== false"
                            :style="'width: ' +  column.width">
                            {{column.label}}
                        </th>
                        <th v-if="config.actions !== null">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-if="data.length > 0">
                        <tr v-for="(item, index) in data" v-on:dblclick="dblclick(item.id)" :style="item.style">
                            <td v-for="(column) in config.columns" v-if="column.visible !== false">
                                <template v-if="column.url && item[column.field+'_url']">
                                    <a :href="item[column.field+'_url']"
                                       :target="column.target">{{item[column.field]}}</a>
                                </template>
                                <template v-else>{{item[column.field]}}</template>
                            </td>
                            <td v-for="(action, name) in config.actions" style="vertical-align: middle;">
                                <router-link :to="action.to + item.id" class="btn" :class="action.class || 'btn-primary'">
                                    <i :class="'fa fa-'+name"></i>
                                </router-link>
                            </td>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="100" style="text-align: center;">Ничего не найдено</td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                </div>
                <!--         *******        -->
            </template>
            <div style="width: 100%">
                <ul v-if="perPage > 0 && pagesCount > 1" class="pagination pagination-sm float: left !important;">
                    <template v-if="page == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                    </template>
                    <template v-else>
                        <li><a v-on:click="getData(page-1)" style="cursor: pointer;">«</a></li>
                    </template>
                    <template v-for="i in pages">
                        <li><a v-on:click="getData(i)"
                               :style="'cursor: pointer;'+ (i == page ? 'background: rgba(60, 141, 188, 0.24);' : '')">{{i}}</a>
                        </li>
                    </template>
                    <template v-if="page == pagesCount">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                    </template>
                    <template v-else>
                        <li><a v-on:click="getData(page+1)" style="cursor: pointer;">»</a></li>
                    </template>
                </ul>
                <select v-model="perPage" class="form-control" @change="getData()"
                        style="width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                    <option :value="10">10</option>
                    <option :value="20">20</option>
                    <option :value="50">50</option>
                    <option :value="0">Все</option>
                </select>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        props: {
            url: '',
            setCount: null,
        },
        data() {
            return {
                data: [],
                dataCount: 0,
                config: {},
                searchText: '',
                page: 1,
                pages: [],
                perPage: 10,
                pagesCount: 1,
                sortBy: null,
                sortAsc: true,
                maxPages: 22,
                filters: {},
                columnsFlag: false,
                filtersFlag: false,
                loading: false
            }
        },
        methods: {
            getConfig() {
                axios
                    .get('/table/config/' + this.url)
                    .then(response => {
                        this.config = response.data;
                        this.setFilters();
                        this.setColumns();
                        this.getData();
                    })
            },
            getData(page = 1) {
                if (page >= 1 && page <= this.pagesCount) {
                    this.page = page;
                } else {
                    this.page = 1;
                }
                this.storeSettings();
                this.loading = true;
                axios
                    .get('/table/' + this.url + '?' + this.getParams())
                    .then(response => {
                        this.loading = false;
                        this.data = response.data.data;
                        if (response.data.actions) {
                            this.config.actions = response.data.actions;
                        }
                        this.calculatePages(response.data.count);
                        if (typeof this.setCount == 'function') this.setCount(response.data.count)
                        this.dataCount = response.data.count;
                    })
            },
            getParams(all = false) {
                let params = {
                    filters: this.filters,
                    search: this.searchText,
                    sortBy: this.sortBy,
                    sortType: this.sortAsc ? 1 : 0,
                };
                if (!all) {
                    params.page = this.page;
                    params.count = this.perPage;
                } else {
                    params.columns = this.config.columns.filter(function (i) {
                        return i.visible;
                    });
                }
                return $.param(params);
            },
            sort($column) {
                this.sortBy = $column.field;
                var sortAsc = typeof $column.sortAsc !== 'undefined' ? $column.sortAsc : true;
                this.sortAsc = sortAsc;
                $column.sortAsc = !sortAsc;
                this.getData(this.page)
            },
            filter(field, value, multi) {
                if (multi) {
                    this.filters[field][value] = !(this.filters[field][value]);
                } else {
                    this.filters[field] = value;
                }

                this.getData()
            },
            dateChanged(name) {
                let filters = this.filters
                let getData = this.getData
                setTimeout(function () {
                    let date1 = filters[name].date1;
                    let date2 = filters[name].date2;
                    let checked = filters[name].checked;

                    let dateRegex = /\d{4}-\d{2}-\d{2}/
                    if ((checked && dateRegex.test(date1) && dateRegex.test(date2)) || !checked) {
                        getData();
                    }
                }, 10)
            },
            setFilters() {
                if (this.config.filters) {
                    if (this.config.filters.radio) {
                        for (let name in this.config.filters.radio) if (this.config.filters.radio.hasOwnProperty(name)) {
                            let radio = this.config.filters.radio[name];
                            this.filters[name] = radio[0].value;
                        }
                    }
                    if (this.config.filters.radio_second) {
                        for (let name in this.config.filters.radio_second) if (this.config.filters.radio_second.hasOwnProperty(name)) {
                            let radio = this.config.filters.radio_second[name];
                            this.filters[name] = radio.items[0].value;
                        }
                    }
                    if (this.config.filters.status_filters) {
                        for (let name in this.config.filters.status_filters) if (this.config.filters.status_filters.hasOwnProperty(name)) {
                            let item = this.config.filters.status_filters[name];

                            let def = {};
                            item.forEach(function (i) {
                                if (i.default){
                                    def[i.value] = true
                                }
                            })

                            this.filters[name] = def;
                        }
                    }
                    if (this.config.filters.dates) {
                        for (let name in this.config.filters.dates) if (this.config.filters.dates.hasOwnProperty(name)) {
                            this.filters[name] = {};
                            this.filters[name].date1 = this.config.filters.dates[name].default.date1;
                            this.filters[name].date2 = this.config.filters.dates[name].default.date2;
                            this.filters[name].checked = false;
                        }
                    }
                    if (this.config.filters.list) {
                        for (let name in this.config.filters.list) if (this.config.filters.list.hasOwnProperty(name)) {
                            let item = this.config.filters.list[name];
                            this.filters[name] = item.default ? item.default : 0;
                        }
                    }
                    if (this.config.filters.multi_lists) {
                        for (let name in this.config.filters.multi_lists) if (this.config.filters.multi_lists.hasOwnProperty(name)) {
                            let item = this.config.filters.multi_lists[name];
                            this.filters[name] = item.default ? item.default : [];
                        }
                    }
                }
            },
            calculatePages(count) {
                this.pagesCount = Math.ceil(count / this.perPage);
                if (this.pagesCount === 0) this.pagesCount = 1;
                if (this.pagesCount <= this.maxPages) {
                    this.pages = this.pagesCount;
                } else {
                    let half = this.maxPages / 2;
                    let min = this.page < half ? 1 : this.page - half + 1;
                    let max = this.page > this.pagesCount - half ? this.pagesCount : this.page + half;
                    let pages = [];

                    if (this.page <= half) max += half - this.page;
                    if (this.page >= this.pagesCount - half) min -= this.page + half - this.pagesCount;
                    if (min > 1) {
                        pages.push(1);
                        pages.push('...');
                    }

                    for (let i = min; i <= max; i++) {
                        pages.push(i);
                    }

                    if (max < this.pagesCount) {
                        pages.push('...');
                        pages.push(this.pagesCount);
                    }

                    this.pages = pages;
                }

            },
            storeSettings() {
                localStorage.setItem('settings.perPage.' + this.url, this.perPage);
                // localStorage.setItem('settings.filters.' + this.url, JSON.stringify(this.filters));
            },
            getSettings() {
                if (localStorage.getItem('settings.perPage.' + this.url))
                    this.perPage = localStorage.getItem('settings.perPage.' + this.url);
                // let filters = JSON.parse(localStorage.getItem('settings.filters.' + this.url));
                // if (filters)
                //     this.filters = filters;
            },
            changeVisible(column) {
                column.visible = !column.visible
                localStorage.setItem('settings.columns.' + this.url + '.' + column.field, column.visible);
                this.$forceUpdate()
            },
            setColumns() {
                let url = this.url;
                this.config.columns.forEach(function (column) {
                    var vis = localStorage.getItem('settings.columns.' + url + '.' + column.field);
                    if (vis != null) {
                        column.visible = vis === 'true';
                    } else {
                        column.visible = true;
                    }
                })
            },
            clearFilters() {
                this.searchText = '';
                this.sortBy = null;
                this.setFilters();
                this.getData();
            },
            dblclick(id) {
                let actions = this.config.actions;
                if (Object.keys(actions).length){
                    let to = actions[Object.keys(actions)[0]].to;
                    this.$router.push(to+id);
                }
            },
        },
        created() {
            this.getSettings();
            var data = JSON.parse(sessionStorage.getItem('data.' + this.url));

            if (data) {
                console.log('load from cache')
                for (var prop in data) if (data.hasOwnProperty(prop)) {
                    this[prop] = data[prop];
                }
                this.setCount(this.dataCount)
                sessionStorage.setItem('data.' + this.url, null);
                this.getData(this.page)
            } else {
                this.getConfig();
            }
        },
        beforeDestroy() {
            console.log(this.$router.history.current.name)
            if (this.config.nextPageNames.indexOf(this.$router.history.current.name) !== -1) {
                sessionStorage.setItem('data.' + this.url, JSON.stringify(this.$data));
            } else {
                sessionStorage.setItem('data.' + this.url, null);
            }
        },
    }
</script>

<style scoped>
    >>> .vs__dropdown-option{
        white-space: normal;
    }
</style>