<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs" style="float: left; width: 20%; height: 100%;">
            <li class="active" style="width: 200px; background-color: white;"><a href="#mail" data-toggle="tab">Почта</a></li>
            <li style="width: 200px; background-color: white;"><a href="#main" data-toggle="tab">Основные настройки</a></li>
        </ul>
        <div class="tab-content" style="float: left; width: 80%;">
            <div class="tab-pane active" id="mail" style="min-height: 600px;">
                <div class="box box-solid">

                </div>
            </div>

            <div class="tab-pane" id="main" style="min-height: 600px;">
                <div class="box box-solid">
                    123
                </div>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</template>