<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li v-for="tab in tabs" :class="getClass(tab.slug)">
                <a v-on:click="onTabChanged(tab.slug)" aria-expanded="false" data-toggle="tab" :href="'#'+tab.slug">{{tab.name}}
                    <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="">{{tab.count}}</span>
                </a>
            </li>

        </ul>

        <div class="tab-content">
            <div v-for="tab in tabs" :class="'tab-pane ' + getClass(tab.slug)" :id="tab.slug">
                <SearchTable :url="tab.slug" :set-count="(count) => tab.count = count"/>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    import SearchTable from "./SearchTable";

    export default {
        components: {SearchTable},
        props:{
            tabs: {}
        },
        data(){
            return {
                activeTab: '',
                name: ''
            }
        },
        created(){
            this.name = this.tabs[0].slug;
            let active = sessionStorage.getItem(this.name+'.tab');
            this.activeTab = active ? active : this.tabs[0].slug;
        },
        methods: {
            onTabChanged(value){
                sessionStorage.setItem(this.name+'.tab', value)
            },
            getClass(name){
                return name === this.activeTab ? 'active' : '';
            }
        }
    }
</script>