<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTaskStatus">
            <label class="control-label" for="inputNameTaskStatus">Статус</label>
            <input type="text" v-model="Status" class="form-control" name="name_tstatus" id="inputNameTaskStatus" style="width: 300px;" required>
        </div>
        <div class="form-group">
            <button v-on:click="save" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/tasks-status" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Status: null
            }
        },
        created() {

        },
        methods: {
            save() {
                if (this.Status == null) {
                    alert('Укажите статус');
                    return
                };

                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    name_tstatus: this.Status
                }
                axios
                .post('/implementer/tasks-status/add', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/tasks-status')
                    };
                })
            }
        }
    }
</script>