<template>
    <div class="is-fluid box">
        <div class="new-file">
            <form id="new-file-form" action="#" method="POST" @submit.prevent="submitForm">
                <div class="field is-grouped">
                    <div class="file is-info has-name">
                        <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>
                        <div class="form-group-upload">
                            <label class="file-label">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                <span class="title">Добавить файл</span>
                                <input class="file-input" type="file" multiple ref="file" name="file" @change="addFile()">
                                
                                <span class="file-name" v-if="attachment.name" v-html="attachment.name"></span>
                            </label>
                        </div>
                        <div class="container is-fluid box">
                                <p v-if="loading == false && load == false" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">Файлы не загружены</p>
                                <div class="box-footer">
                                    <div v-if="load == true" style="margin-top: 10px;">
                                        <AttachmentFiles :files="files"/>
<!--                                        <ul class="mailbox-attachments clearfix">-->
<!--                                            <li v-for="(item, index) in files">-->
<!--                                                <template v-if="item.ext == 'pdf'">-->
<!--                                                    <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->
<!--                                                    <div class="mailbox-attachment-info">-->
<!--                                                        <a :href="'https://docs.google.com/document/d/'+item.file.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                                                        <span class="mailbox-attachment-size">-->
<!--                                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                </template>-->
<!--                                                <template v-if="item.ext == 'xls'">-->
<!--                                                    <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                                                    <div class="mailbox-attachment-info">-->
<!--                                                        <a :href="'https://docs.google.com/spreadsheets/d/'+item.file.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                                                        <span class="mailbox-attachment-size">-->
<!--                                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                </template>-->
<!--                                                <template v-if="item.ext == 'xlsx'">-->
<!--                                                    <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                                                    <div class="mailbox-attachment-info">-->
<!--                                                        <a :href="'https://docs.google.com/spreadsheets/d/'+item.file.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                                                        <span class="mailbox-attachment-size">-->
<!--                                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                </template>-->
<!--                                                <template v-if="item.ext == 'doc'">-->
<!--                                                    <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                                                    <div class="mailbox-attachment-info">-->
<!--                                                        <a :href="'https://docs.google.com/document/d/'+item.file.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                                                        <span class="mailbox-attachment-size">-->
<!--                                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                </template>-->
<!--                                                <template v-if="item.ext == 'docx'">-->
<!--                                                    <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                                                    <div class="mailbox-attachment-info">-->
<!--                                                        <a :href="'https://docs.google.com/document/d/'+item.file.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                                                        <span class="mailbox-attachment-size">-->
<!--                                                            <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                </template>-->
<!--                                            </li>-->
<!--                                        </ul>-->
                                    </div>
                                    <ul class="mailbox-attachments clearfix">
                                        <!-- <li v-for="(item, index) in forms">
                                            <template v-if="item.file.split('.')[1] == 'pdf'">
                                                <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                                                <div class="mailbox-attachment-info">
                                                    <a :href="'https://docs.google.com/document/d/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>
                                                    <span class="mailbox-attachment-size">
                                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                    </span>
                                                </div>
                                            </template>
                                            <template v-if="item.file.split('.')[1] == 'xls'">
                                                <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>
                                                <div class="mailbox-attachment-info">
                                                    <a :href="'https://docs.google.com/spreadsheets/d/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>
                                                    <span class="mailbox-attachment-size">
                                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                    </span>
                                                </div>
                                            </template>
                                            <template v-if="item.file.split('.')[1] == 'xlsx'">
                                                <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>
                                                <div class="mailbox-attachment-info">
                                                    <a :href="'https://docs.google.com/spreadsheets/d/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>
                                                    <span class="mailbox-attachment-size">
                                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                    </span>
                                                </div>
                                            </template>
                                            <template v-if="item.file.split('.')[1] == 'doc'">
                                                <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>
                                                <div class="mailbox-attachment-info">
                                                    <a :href="'https://docs.google.com/document/d/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>
                                                    <span class="mailbox-attachment-size">
                                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                    </span>
                                                </div>
                                            </template>
                                            <template v-if="item.file.split('.')[1] == 'docx'">
                                                <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>
                                                <div class="mailbox-attachment-info">
                                                    <a :href="'https://docs.google.com/document/d/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>
                                                    <span class="mailbox-attachment-size">
                                                        <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                                    </span>
                                                </div>
                                            </template>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        <div>
                            <input type="submit" class="btn btn-success" value="Загрузить" />
                            <button class="btn btn-danger" v-on:click="closeForm()">Отмена</button>
                        </div>
                    </div>
                    
                    <!-- <p class="control" style="margin-top: 10px">
                        <button type="submit" class="button is-primary btn btn-default">
                            Загрузить
                        </button> 
                    </p> -->
                </div>
            </form>
        </div>

        
        <div class="full-screen" v-if="loading_file">
            <img src="/images/gif-loader.gif" alt="">
        </div>
    </div>

</template>
<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import AttachmentFiles from "./AttachmentFiles";
    export default {
        components: {AttachmentFiles},
        props: ['project_id', 'isPrintForm', 'forPaid', 'paided', 'additional', 'task_id', 'flag'],
        data() {
            return {
                // files: {},
                files: [],
                forms: [],
                pagination: {},
                offset: 5,
                load: false,
                activeTab: 'image',
                isVideo: false,
                loading: false,
                loading_file: false,
                formData: {},
                fileName: '',
                attachment: [],
                ext: '',
                editingFile: {},
                deletingFile: {},

                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },

                notification: false,
                showConfirm: false,
                modalActive: false,
                message: '',
                comment: ''
            }
        },
        created() {
            this.getFiles()
        },
        methods: {
            closeForm() {
                this.$emit('upload', 'Ok');
            },
            submitForm() {
                if (this.additional == 1 && this.isPrintForm.id == '') {
                    alert('Укажите тип формы');
                    return
                };

                if (this.attachment.length == 0) {
                    alert('Файл не выбран');
                    return
                };
                if (this.comment == '') {
                    alert('Укажите комментарий');
                    return
                };
                this.loading_file = true
                this.formData = new FormData();
                for (var i = 0; i < this.attachment.length; i++) {
                    this.formData.append('file['+i+']', this.attachment[i]);
                }
                this.formData.append('name', this.attachment[0].name); 
                this.formData.append('project_id', this.project_id);
                this.formData.append('task_id', this.task_id);
                this.formData.append('comment', this.comment);
                this.formData.append('isPrintForm', this.isPrintForm.id);
                this.formData.append('forPaid', this.forPaid);
                this.formData.append('paided', this.paided); 

                axios.post('/files/add', this.formData, {headers: {'Content-Type': 'multipart/form-data'}})
                .then(response => {
                    
                    if (response.data.status == 'Ok') {
                        // console.log(response.data.files.length);
                        this.$emit('upload', response.data.status);
                        // console.log(this.files);
                        this.resetForm();
                    }
                    
                })
                .finally(() => (
                    this.loading_file = false
                ))
                // .catch(error => {
                //     console.log(error);
                //     this.errors = error.response.data.errors;
                //     this.showNotification(error.response.data.message, false);
                //     this.fetchFile(this.activeTab);
                // });
            },

            getFiles() {
                axios
                .post('/files/getForms/'+this.task_id)
                .then(response => {
                    this.forms = response.data
                })
            },

            addFile() {
                for (var i = 0; i <= this.$refs.file.files.length; i++) {
                    var ext = this.$refs.file.files[i].name.split('.')

                    if (this.$refs.file.files[i].size > 5847607) {
                        alert('Максимальный размер файла не должен превышать 5 Мб');
                        return
                    };

                    switch (ext[ext.length-1]) {
                        case 'xls':
                            this.attachment.push(this.$refs.file.files[i]);
                            
                            this.files.push({
                                'file': this.$refs.file.files[i].name,
                                'ext': ext[ext.length-1]
                            })
                            this.loading = false
                            this.load = true
                            break;
                        case 'xlsx':
                            this.attachment.push(this.$refs.file.files[i]);
                            
                            this.files.push({
                                'file': this.$refs.file.files[i].name,
                                'ext': ext[ext.length-1]
                            })
                            this.loading = false
                            this.load = true
                            break;
                        case 'doc':
                            this.attachment.push(this.$refs.file.files[i]);
                            
                            this.files.push({
                                'file': this.$refs.file.files[i].name,
                                'ext': ext[ext.length-1]
                            })
                            this.loading = false
                            this.load = true
                            break;
                        case 'docx':
                            this.attachment.push(this.$refs.file.files[i]);
                            
                            this.files.push({
                                'file': this.$refs.file.files[i].name,
                                'ext': ext[ext.length-1]
                            })
                            this.loading = false
                            this.load = true
                            break;
                        case 'pdf':
                            this.attachment.push(this.$refs.file.files[i]);
                            
                            this.files.push({
                                'file': this.$refs.file.files[i].name,
                                'ext': ext[ext.length-1]
                            })
                            this.loading = false
                            this.load = true
                            break;
                        default:
                            alert('Файл '+this.$refs.file.files[i].name+' не поддерживается'); 
                    } 
                };
                
                // this.loading_file = false
                
            },

            prepareToDelete(file) {
                this.deletingFile = file;
                this.showConfirm = true;
            },

            cancelDeleting() {
                this.deletingFile = {};
                this.showConfirm = false;
            },

            deleteFile() {
                axios.post('files/delete/' + this.deletingFile.id)
                    .then(response => {
                        this.showNotification('File successfully deleted!', true);
                        this.fetchFile(this.activeTab, this.pagination.current_page);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors();
                        this.showNotification('Something went wrong! Please try again later.', false);
                        this.fetchFile(this.activeTab, this.pagination.current_page);
                    });

                this.cancelDeleting();
            },

            editFile(file) {
                this.editingFile = file;
            },

            endEditing(file) {
                this.editingFile = {};

                if (file.name.trim() === '') {
                    alert('Filename cannot be empty!');
                    this.fetchFile(this.activeTab);
                } else {
                    let formData = new FormData();
                    formData.append('name', file.name);
                    formData.append('type', file.type);
                    formData.append('extension', file.extension);

                    axios.post('files/edit/' + file.id, formData)
                        .then(response => {
                            if (response.data === true) {
                                this.showNotification('Filename successfully changed!', true);

                                var src = document.querySelector('[alt="' + file.name +'"]').getAttribute("src");
                                document.querySelector('[alt="' + file.name +'"]').setAttribute('src', src);
                            }
                        })
                        .catch(error => {
                            this.errors = error.response.data.errors;
                            this.showNotification(error.response.data.message, false);
                        });

                    this.fetchFile(this.activeTab, this.pagination.current_page);
                }
            },

            showNotification(text, success) {
                if (success === true) {
                    this.clearErrors();
                }

                var application = this;
                application.message = text;
                application.notification = true;
                setTimeout(function() {
                    application.notification = false;
                }, 15000);
            },

            showModal(file) {
                this.file = file;
                this.modalActive = true;
            },

            closeModal() {
                this.modalActive = false;
                this.file = {};
            },

            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.fetchFile(this.activeTab, page);
            },

            resetForm() {
                this.formData = {};
                this.fileName = '';
                this.attachment = '';
                this.comment = '';
                this.isPrintForm.id = '';
                this.$refs.file.files[0] = ''
                // this.forPaid = '';
                // this.paided = '';
            },

            anyError() {
                return Object.keys(this.errors).length > 0;
            },

            clearErrors() {
                this.errors = {};
            }
        },
    }
</script>
<style>
    .form-group-upload {
        padding: 1em;
        margin: 1em;
    }
    .form-group-upload#dropzone {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999999;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: visibility 175ms, opacity 175ms;
        display: table;
        text-shadow: 1px 1px 2px #000;
        color: #fff;
        background: rgba(0, 0, 0, 0.45);
        font: bold 42px Oswald, DejaVu Sans, Tahoma, sans-serif;
    }
    .form-group-upload input[type="file"] {
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }
    .form-group-upload label {
        border: 2px dashed grey;
        border-radius: 5px;
        display: block;
        padding: 1.2em;
        transition: border 300ms ease;
        cursor: pointer;
        text-align: center;
    }
    .full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>