<template>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group" id="NameGroup">
                <label class="control-label" for="inputName" style="display: none;"></label>
                <input type="text" class="form-control" name="inputName" placeholder="Имя" v-model="User.first_name">
            </div>
            <div class="form-group" id="LastNameGroup">
                <label class="control-label" for="inputLastName" style="display: none;"></label>
                <input type="text" class="form-control" name="inputLastName" placeholder="Фамилия" v-model="User.last_name">
            </div>
            <div class="form-group">
                <img id="blah" :src="'/avatars/'+User.foto" alt="your image" />
            </div>
            <div class="form-group">
                <input type="file" name="img" accept="image/*" enctype="multipart/form-data">
            </div>
            <div class="form-group" id="EmailGroup">
                <label class="control-label" for="inputEmail" style="display: none;"></label>
                <input type="text" class="form-control" name="inputEmail" placeholder="Email" v-model="User.email">
            </div>
            <div class="form-group" id="PasswordGroup">
                <label class="control-label" for="inputPassword" style="display: none;"></label>
                <input type="password" class="form-control" v-model="User.pass" name="inputPassword" placeholder="Пароль">
            </div>
            <div class="form-group">
                <label>Группа</label>
                <select class="form-control" @change="changeGroup($event)">
                    <template v-for="(item, index) in Groups">
                        <template v-if="item.id == UserRole.id">
                            <option  :value="item.id" selected>{{item.name}}</option>
                        </template>
                        <template v-else>
                            <option :value="item.id">{{item.name}}</option>
                        </template>
                    </template>
                </select>
            </div>
            <div class="form-group">
                <label>Руководитель отдела</label>
                <input type="checkbox" v-model="User.head" v-if="User.head" checked>
                <input type="checkbox" v-model="User.head" v-else>
            </div>

            <div class="form-group">
                <button type="button" v-on:click="save" class="btn btn-success">Сохранить</button>
                <a href="/implementer/users" class="btn btn-default">Отмена</a>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Groups: [],
                User: [],
                UserRole: [],
                User_group: null
            }
        },
        created() {
            this.getGroups()
            this.getUser()
            this.getUserGroup()
        },
        methods: {
            getGroups() {
                axios
                .get('/implementer/getGroups')
                .then(response => {
                    this.Groups = response.data
                })
            },
            getUser() {
                axios
                .get('/implementer/user/get-user/'+this.$route.params.id)
                .then(response => {
                    this.User = response.data.u
                    this.UserRole = response.data.u_role
                    this.User.group = response.data.u_role.id
                })
            },
            changeGroup(evt) {
                this.User.group = evt.target.value
            },
            save() {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    user: this.User
                }
                axios
                .post('/implementer/user/update', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/users')
                    };
                })
            }
        }
    }
</script>