<template>
    <div class="row">
        <div class="col-md-12">
            <div style="padding-bottom: 20px;">
                <router-link to="/implementer/users/add" class="btn btn-primary">Добавить</router-link>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Список пользователей</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Фото</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Группа</th>
                            <th>Статус</th>
                            <th>Активация</th>
                            <th colspan="3">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="Users != null">
                            <tr v-for="(item, index) in Users">
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td style="vertical-align: middle;">
                                    <img :src="'/avatars/'+item.foto" class="img-circle" alt="User Image" style="width: 100%;max-width: 60px;height: auto;">
                                </td>
                                <td style="vertical-align: middle;">{{ item.first_name }}</td>
                                <td style="vertical-align: middle;">{{ item.last_name }}</td>
                                <td style="vertical-align: middle;">{{ item.email }}</td>
                                <td style="vertical-align: middle;">{{ item.role }}</td>
                                <template v-if="item.status">
                                <td style="vertical-align: middle;">Активен</td>
                                </template>
                                <template v-else>
                                <td style="vertical-align: middle;">Заблокирован</td>
                                </template>
                                <template v-if="item.active">
                                <td style="vertical-align: middle;">Учетная запись активирована</td>
                                </template>
                                <template v-else>
                                <td style="vertical-align: middle;">Учетная запись не активирована</td>
                                </template>
                                <td style="vertical-align: middle;">
                                    <button v-if="item.status" v-on:click="SwitchStatus(item.status, item.id)" type="button" class="btn btn-default">
                                        <i class="fa fa-ban"></i>
                                    </button>
                                    <button v-else type="button" v-on:click="SwitchStatus(item.status, item.id)" class="btn btn-default">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </td>
                                <td style="vertical-align: middle;">
                                    <router-link :to="'users/edit/'+item.id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </router-link>
                                </td>
                                <td style="vertical-align: middle;">
                                    <button type="button" v-on:click="DelUser(item.id)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr>
                                <td colspan="9" style="text-align: center">Пользователи не найдены</td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Users: []
            }
        },
        created() {
            this.getUsers()
        },
        methods: {
            getUsers() {
                axios
                .get('/implementer/getUsers')
                .then(response => {
                    this.Users = response.data
                })
            },
            SwitchStatus(status, id) {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    id: id,
                    status: status
                }
                axios
                .post('/implementer/users/switch-status', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.go(this.$router.currentRoute)
                    };
                })
            },
            DelUser(id) {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    id: id
                }
                axios
                .post('/implementer/users/delete', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.go(this.$router.currentRoute)
                    };
            })
            }
        }
    }
</script>