<template>
    <div class="box" style="padding: 10px;">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" id="NameGroup">
                    <label class="control-label" for="inputName">Имя</label>
                        <div class="user-info-container" :class="classes.userNameClass">
                            <span class="input-group-addon" id="basic-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" v-model="UserName" placeholder="User Name" @input="checkValidData" required>
                        </div>
                        <span class="error-content" v-if="errors.userNameError">{{ errors.userNameError }}</span>
                </div>
                <div class="form-group" id="LastNameGroup">
                    <label class="control-label" for="inputLastName">Фамилия</label>
                    <div class="user-info-container" :class="classes.userSurnameClass">
                        <span class="input-group-addon" id="basic-addon2"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" v-model="UserSurname" placeholder="User Surname" @input="checkValidData" required>
                    </div>
                    <span class="error-content" v-if="errors.userSurnameError">{{ errors.userSurnameError }}</span>
                </div>
                <div class="form-group">
                    <label for="inputPicture">Фото</label><br>
                </div>
                <div class="form-group">
                    <input type="file" name="img" accept="image/*" enctype="multipart/form-data">
                </div>
                <div class="form-group" id="EmailGroup">
                    <label class="control-label" for="inputEmail">Email</label>
                        <div class="user-info-container" id="UserEmailAddress" :class="classes.userEmailClass">
                            <span class="input-group-addon" id="basic-addon3"><i class="fa fa-envelope"></i></span>
                            <input type="text" class="form-control" v-model="UserEmail" id="inputEmail" placeholder="Email Address" @input="checkValidData" required>
                        </div>
                        <span class="error-content" v-if="errors.userEmailError || isBusyEmail">{{ errors.userEmailError }}</span>
                </div>
                <div class="form-group" id="PasswordGroup">
                    <label class="control-label" for="inputPassword">Пароль</label>
                    <div class="user-info-container" id="UserPassword" :class="classes.userPasswordClass">
                        <span class="input-group-addon" id="basic-addon4"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control" v-model="UserPass" id="inputPassword" placeholder="Password" @input="checkValidData" required>
                    </div>
                    <span class="error-content" v-if="errors.userPasswordError">{{ errors.userPasswordError }}</span>
                </div>
                <div class="form-group">
                    <label>Группа</label>
                    <select class="form-control" v-model="UserGroup">
                        <option v-for="(item, index) in Groups" :value="item.id">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <a v-on:click="save" class="btn btn-success" :class="checkedData">Сохранить</a>
                    <router-link to="/implementer/users" class="btn btn-default">Отмена</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Groups: [],
                UserGroup: null,
                UserName: null,
                UserSurname: null,
                UserEmail: null,
                UserPass: null,
                classes: {},
                errors: {},
                isBusyEmail: false,
                checkedData: 'disabled',
                reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
            }
        },
        created() {
            this.getGroups()
        },
        methods: {
            getGroups() {
                axios
                .get('/implementer/getGroups')
                .then(response => {
                    this.Groups = response.data
                })
            },
            checkUserName () {
                if (!this.UserName) {
                    this.classes = {'userNameClass': 'has-error'}
                    this.errors = {'userNameError': 'Поле не может быть пустым'}
                    return 'Error'
                } else {
                    this.classes = {'userNameClass': 'has-success'}
                    this.errors.userNameError = ''
                    return 'OK'
                }
            },

            checkSurName () {
                if (!this.UserSurname) {
                    this.classes.userSurnameClass = 'has-error'
                    this.errors.userSurnameError = 'Поле не может быть пустым'
                    return 'Error'
                } else {
                    this.classes.userSurnameClass = 'has-success'
                    this.errors.userSurnameError = ''
                    return 'OK'
                }
            },

            checkPassword () {
                if (!this.UserPass) {
                    this.classes.userPasswordClass = 'has-error'
                    this.errors.userPasswordError = 'Поле не может быть пустым'
                    return 'Error'
                } else if (this.UserPass.length <= 4) {
                    this.classes.userPasswordClass = 'has-error'
                    this.errors.userPasswordError = 'Пароль должен содержать больше 4 символов'
                    return 'Error'
                } else {
                    this.classes.userPasswordClass = 'has-success'
                    this.errors.userPasswordError = ''
                    return 'OK'
                }
            },

            checkEmail () {
                if (!this.UserEmail) {
                    this.classes.userEmailClass = 'has-error'
                    this.errors.userEmailError = 'Поле не может быть пустым'
                    return 'Error'
                } else if (!this.reg.test(this.UserEmail)) {
                    this.classes.userEmailClass = 'has-error'
                    this.errors.userEmailError = 'Введите корректный email'
                    return 'Error'
                } else {
                    this.classes.userEmailClass = 'has-success'
                    this.errors.userEmailError = ''
                    return 'OK'
                }
            },

            checkValidData () {
                let name = this.checkUserName()
                let surname = this.checkSurName()
                let email = this.checkEmail()
                let password = this.checkPassword()
                if (name === 'OK' && surname === 'OK' && email === 'OK' && password === 'OK') {
                    this.checkedData = ''
                } else {
                    this.checkedData = 'disabled'
                }
            },

            save() {
                var postBody = {// пример данных для отправки(позже они преобразуются в json)
                    user_email: this.UserEmail,
                    user_pass: this.UserPass,
                    user_surname: this.UserSurname,
                    user_name: this.UserName,
                    user_role: this.UserGroup
                };

                axios
                    .post('/implementer/users/add', {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.$router.push('/implementer/users')
                        } else {
                            if (this.UserEmail) {
                                this.isBusyEmail = true
                                this.checkedData = 'disabled'
                                this.classes.userEmailClass = 'has-error'
                                this.errors.userEmailError = response.data.message
                            }
                        }
                    })
            }
        }
    }
</script>

<style scoped>
    .user-info-container {
        position: relative;
        display: table;
        border-collapse: separate;
    }
    .has-error {
        border-color: #a94442;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    .has-success {
        border-color: #3c763d;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    }
    .error-content {
        color: #a94442;
    }
</style>