<template id="pagination-template">
    <div class="pagination">
      <div class="pagination__left">
        <a href="#" @click.prevent="changePage(prevPage)">Предыдущая</a>
      </div>
      
      <div class="pagination__right">
        <a href="#"  @click.prevent="changePage(nextPage)">Следующая</a>
      </div>
    </div>
  </template>
<script>
    export default {
        props: [
            'pagination',
        ],
        computed: {
            nextPage: function () {
                return this.current + 1
            },
            prevPage: function () {
                return this.current - 1
            },
        },
        methods: {
            changePage: function(page) {
                console.log(page)
                this.$emit('page-changed', page)
            }
        },
    }
</script>
