<template>
    <div class="col-md-12">
        <div style="padding-bottom: 20px;">
            <router-link to="/implementer/waiting-list/add" class="btn btn-primary">Добавить</router-link>
        </div>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Лист ожидания</h3>
            </div>
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th width="5%">№</th>
                        <th>Название</th>
                        <th colspan="2" width="10%">Действия</th>
                    </tr>
                    </thead>
                    <tbody v-if="List.length > 0">
                        <tr v-for="(item, index) in List">
                            <td>{{index + 1}}</td>
                            <td>{{item.name}}</td>
                            <td style="vertical-align: middle;">
                                <router-link :to="'/implementer/waiting-list/edit/'+item.id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </router-link>
                            </td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-danger" v-on:click="del(item.id)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody v-else>
                        <tr>
                            <td colspan="3" style="text-align: center; font-style: italic;">Список пуст</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            List: [],
        }
    },
    created() {
        this.getList()
    },
    methods: {
        getList() {
            axios
            .get('/implementer/getWaitingList')
            .then(response => {
                this.List = response.data
            })
        },
        del(id) {
            var postBody = {
                id: id
            }
            axios
            .post('/implementer/delWaitingList', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.List = response.data.list
                }
            })
        }
    },
}
</script>