<template>
    <div class="box" style="padding: 10px;">
        <div class="form-group" id="NameTask">
            <label class="control-label" for="inputNameModule">Название</label>
            <input type="text" class="form-control" v-model="Name" name="name_module" id="inputNameModule" required>
        </div>
        
        <div class="form-group">
            <button v-on:click="save" class="btn btn-success">Сохранить</button>
            <router-link to="/implementer/waiting-list" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            Name: '',
        }
    },
    methods: {
        save() {
            if (this.Name == '') {
                alert('Укажите название');
                return
            };

            var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                name: this.Name,
            }

            axios
                .post('/implementer/waiting-list/add', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/waiting-list')
                    };
                })
        }
    },
}
</script>