<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#attendant" data-toggle="tab" aria-expanded="true">Дежурный
                <span data-toggle="tooltip" v-if="attendant.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{attendant.length}}</span> 
            </a></li>
            <li class=""><a href="#projects" data-toggle="tab" aria-expanded="true">Формы
                <span data-toggle="tooltip" v-if="project.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{project.length}}</span> 
            </a></li>
            <li class=""><a href="#raw" data-toggle="tab" aria-expanded="false">Необработанные
                <span data-toggle="tooltip" v-if="Raw_count > 0" title="" class="badge bg-light-blue" data-original-title="">{{Raw_count}}</span>
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="attendant">
                <div class="box">
                    <div class="box-header">
                        <router-link :to="'/tp/print-form/attendant/add'" class="btn btn-success">Добавить</router-link>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Внедренец</th>
                                    <th style="vertical-align: middle;">Наименование работы</th>
                                    <th style="vertical-align: middle;">Статус</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="attendant.length > 0">
                                <tr v-for="(item, index) in attendant">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.first_name}} {{item.last_name}}</td>
                                    <td>{{item.f_name}}</td>
                                    <td>{{item.status}}</td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/tp/print-form/attendant/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="raw">
                <div class="box">
                    <div class="box-header"></div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Наименование работы</th>
                                    <th style="vertical-align: middle;">Статус</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="Raw.length > 0">
                                <tr v-for="(item, index) in Raw">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.f_name}}</td>
                                    <td>{{item.status}}</td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/tp/print-form/raw/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="projects">
                <div class="box">
                    <div class="box-header">
                        
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Внедренец</th>
                                    <th style="vertical-align: middle;">Наименование работы</th>
                                    <th style="vertical-align: middle;">Статус</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="project.length > 0">
                                <tr v-for="(item, index) in project">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.first_name}} {{item.last_name}}</td>
                                    <td>{{item.f_name}}</td>
                                    <td>{{item.status}}</td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/tp/print-form/project/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            Forms: null,
            Raw: [],
            Raw_count: 0,
            attendant: [],
            project: [],
        }
    },
    created() {
        this.getRawForms()
        this.getAttendant()
        this.getProjects()
    },
    methods: {
        getRawForms() {
            axios
            .get('/tp/getrawforms')
            .then(response => {
                // console.log(response.data);
                this.Raw = response.data.raw
                this.Raw_count = this.Raw.length
            })
        },
        getAttendant() {
            axios
            .get('/tp/getAttendant')
            .then(response => {
                this.attendant = response.data.attendant
            })
        },
        getProjects() {
            axios
            .get('/tp/getProjectsForm')
            .then(response => {
                this.project = response.data.project
            })
        },
    },
}
</script>