<template>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Статусы задач</h4>
                </div>
                <div class="box-body">
                    <!-- the events -->
                    <div id="external-events">
                        <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">Новая задача</div>
                        <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена</div>
                        <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена частично</div>
                        <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Задача в клиентском отделе</div>
                        <div class="external-event bg-light-blue ui-draggable ui-draggable-handle" style="position: relative;">Мои события</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <input type="hidden" id="clickDay" :value="clickDay">
                    <input type="button" id="add" class="btn btn-success" style="width: 100%;" v-on:click="showModal()" value="Добавить событие">
                </div>
                <!-- /.box-body -->
            </div>
            <Modal
                    v-show="isModalVisible"
                    @close="closeModal"
                    :date2="date"
                    :time2="time"
                    :curClient="curClient"
                    :curProject="curProject"
                    :curModule="curModule"
                    :curNumCont="curNumCont"
                    :curGroupTask="curGroupTask"
                    :Res="Res"
                    :time3="time3"
                    :comment="comment"
                    :curTask="curTask"
                    :myEvent="myEvent"
                    :implementer="implementer"
                    @dateStartChanged="dateStartChanged"
            />
            <Modal3
                v-show="isModalVisible3"
                @close="showM"
            />
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Внедренцы</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="radio" v-for="item in implementers">
                            <label v-if="curUser == item.id">
                                <input type="radio" checked="true" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                            <label v-else>
                                <input type="radio" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!--<a href="" class="btn btn-primary">Создать задачу</a>-->
            <!-- /. box -->
        </div>
        <div class="col-md-3">
            <input type="date" v-model="newDate" class="form-control" v-on:keyup.enter="setNewDate()">
        </div>
        <div class="col-md-9">
            <full-calendar :config="config" :events="events" @event-render="handler($event)" @day-click="dayClick" @remove-events="removeEvent()"/>
            <!-- /. box -->
        </div>
        <ContextMenuImp @showM="showM" :config="curevent" :date="date" :implementer="implementer"></ContextMenuImp>
        <!-- /.col -->
        <div id="tooltip"></div>
    </div>
    
</template>

<script>
    import moment from 'moment'
    import Modal from '../Modal_imp.vue';
    import Modal3 from '../Modal3.vue';
    import ContextMenuImp from '../ContextMenuImp.vue';
    import VueSocketio from 'vue-socket.io';
    export default {
        components: {
            Modal,
            Modal3,
            ContextMenuImp,
            //newevents,
            VueSocketio
        },
        // props: ['events'],
        data() {
            return {
                date2: null,
                implementers: [],
                isModalVisible3: false,
                curClient: {
                    'id': null
                },
                curProject: {
                    'id': null
                },
                curModule: {
                    'id': null,
                    'value': null
                },
                curTask: {
                    'id': null,
                    'value': null
                },
                Res: null,
                time3: null,
                comment: null,
                curGroupTask: {
                    'id': null,
                    'value': null
                },
                curNumCont: null,
                myEvent: {
                    name: '',
                    dateStart: null,
                    timeStart: null,
                    dateEnd: '',
                    timeEnd: ''
                },
                events: null,
                curUser: null,
                isModalVisible: false,
                date: null,
                time: null,
                implementer: null,
                clickDay: '',
                newDate: null,
                curevent: null,
                config: {
                    firstDay: 1,
                    height: 650,
                    locale: 'ru',
                    editable: true,
                    slotLabelFormat: "H:mm",
                    slotDuration: '00:30:00',
                    eventLimit: true,
                    navLinks: true,
                    defaultDate: this.$route.params.date,
                    slotDuration: '00:30:00',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month, listWeek'
                    },
                    allDaySlot: false,
                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    views: {
                        agenda: {
                            eventLimit: 2//adjust to 6 only for agendaWeek/agendaDay
                        }
                    },
                    defaultView: 'agendaDay',
                    minTime: "08:00:00",
                    eventRender: function(event, element, view)
                    {
                        
                        for (var i = 0; i < element[0].classList.length; i++) {
                            if (element[0].classList[i] == 'edit') {
                                var elemento = element;
                                var evento = event;
                                var vista = view;

                                this.curevent = event

                                element.on('contextmenu',{
                                    elemento:elemento,
                                    evento:evento,
                                    vista:vista,
                                    imp: this.implementer,
                                    date: this.$route.params.date
                                } , this.showContextMenu);
                            } else {
                                var elemento = element;
                                var evento = event;
                                var vista = view;

                                this.curevent = event

                                element.on('contextmenu',{
                                    elemento:elemento,
                                    evento:evento,
                                    vista:vista,
                                    imp: this.implementer,
                                    date: this.$route.params.date
                                } , this.showContextMenu);
                            }
                        }

                        // function HelloWorld(event){
                        //     console.log(t.flag);
                        //     // Убираем css класс selected-html-element у абсолютно всех элементов на странице с помощью селектора "*":
                        //     $('*').removeClass('selected-html-element');
                        //     // Удаляем предыдущие вызванное контекстное меню:
                        //     $('.context-menu').remove();
                        //
                        //     if(event.which == 3){
                        //         // Получаем элемент на котором был совершен клик:
                        //         var target = $(event.target);
                        //
                        //         // Добавляем класс selected-html-element что бы наглядно показать на чем именно мы кликнули (исключительно для тестирования):
                        //         target.addClass('selected-html-element');
                        //
                        //         // Создаем меню:
                        //         $('<div/>', {
                        //             class: 'context-menu' // Присваиваем блоку наш css класс контекстного меню:
                        //         })
                        //         .css({
                        //             left: event.pageX+'px', // Задаем позицию меню на X
                        //             top: event.pageY+'px' // Задаем позицию меню по Y
                        //         })
                        //         .appendTo('body') // Присоединяем наше меню к body документа:
                        //         .append( // Добавляем пункты меню:
                        //             $('<ul/>')
                        //                 .append('<li><a :onclick="t.changeImp()" href="javascript:void(0)">Сменить внедренца</a></li>')
                        //                 .append('<li><a href="javascript:void(0)">Изменить</a></li>')
                        //                 .append('<li><a href="javascript:void(0)">Удалить</a></li>')
                        //         )
                        //         .show('fast');
                        //     }
                        // }
                    }.bind(this),
                    eventMouseover: function(event, jsEvent, view) {
                        var data_tooltip = 'Постановщик: '+event.extendedProps+', дата постановки: ';
                        $("#tooltip").text(event.extendedProps)
                                    .css({ 
                                        "top" : jsEvent.pageY + 5,
                                        "left" : jsEvent.pageX + 5
                                    })
                                    .show();
                    },
                    eventMouseout: function(event, jsEvent, view) {
                        $("#tooltip").hide()
                                    .text("")
                                    .css({
                                        "top" : 0,
                                        "left" : 0
                                    });
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        console.log(event);
                        if (!confirm("Вы уверены что хотите перенести контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                start: event.start.format(),
                                end: event.end.format()
                            }
                            axios
                            .post('/implementer/tasks/settask', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                console.log(response.data)
                            })
                        }
                    },
                    // dayClick: function(date, jsEvent, view) {
                    //     element.on('contextmenu',{
                    //         elemento:elemento,
                    //         evento:evento,
                    //         vista:vista,
                    //         imp: this.implementer,
                    //         date: this.$route.params.date
                    //     } , this.showContextMenu2);
                    // },
                    eventResize: function(event, delta, revertFunc) {
                        if (!confirm("Продлить контакт?")) {
                            revertFunc();
                        } else {
                            if (event.className[0] == 'edit') {
                                var postBody = {
                                    id: event.id,
                                    end: event.end.format()
                                }
                                axios
                                .post('/implementer/tasks/editevent', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                    console.log(response.data)
                                })
                            } else {
                                var postBody = {
                                    id: event.id,
                                    end: event.end.format()
                                }
                                axios
                                .post('/implementer/tasks/edittask', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                    console.log(response.data)
                                })
                            }
                        }

                    }
                }
            }
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        created() {
            this.getImplementer(this.$route.params.id)
            this.getCurEvents()
            // this.$socket.on('impEvent:add', function (data) {
            //     console.log(data);
            //     this.events = JSON.parse(data.events)
            // }.bind(this));
        },
        methods: {
            showM() {
                alert('Ok');
            },
            setNewDate() {
                window.location.href = "/implementer/calendar/"+this.implementer+"/"+this.newDate
            },
            showContextMenu(event) {
                // console.log(event.data)
                this.curevent = event.data
                this.date3 = this.$route.params.date
                var menu = document.getElementById("context-menu-imp");
                if(!this.contextMenuWidth || !this.contextMenuHeight) {
                    menu.style.visibility = "hidden";
                    menu.style.display = "block";
                    this.contextMenuWidth = menu.offsetWidth;
                    this.contextMenuHeight = menu.offsetHeight;
                    menu.removeAttribute("style");
                }

                if((this.contextMenuWidth + event.pageX) >= window.innerWidth) {
                    menu.style.left = (event.pageX - this.contextMenuWidth) + "px";
                } else {
                    menu.style.left = event.pageX + "px";
                }

                if((this.contextMenuHeight + event.pageY) >= window.innerHeight) {
                    menu.style.top = (event.pageY - this.contextMenuHeight) + "px";
                } else {
                    menu.style.top = event.pageY + "px";
                }

                menu.classList.add('active');
            },
            showContextMenu2(event) {
                // alert('Ok');
            },
            showModal() {
                this.date = ''
                this.time = ''
                this.isModalVisible = true;
            },
            closeModal(myEvent, curClient, curProject, curModule, curTask, Res, time3, comment, curGroupTask, curNumCont, test, imp) {
                // curClient.id = null
                console.log(this.curUser)
                this.curUser = imp
                console.log(this.curUser)
                this.getImplementer(imp)
                this.getEvents(imp)
                // this.getCurEvents();
                this.isModalVisible = false;
                this.curTask.value = null
            },
            dayClick(date, jsEvent, view) {
                if (document.getElementById("context-menu-imp").classList == 'active') {
                    document.getElementById("context-menu-imp").classList.remove('active')
                } else {
                    var date_ar = date.format().split('T')
                    this.date = date_ar[0]
                    this.time = date_ar[1]
                    this.myEvent.dateStart = date_ar[0]
                    this.myEvent.dateEnd = date_ar[0]
                    this.myEvent.timeStart = date_ar[1]
                    this.myEvent.timeEnd = null
                    this.myEvent.name = ''
                    this.isModalVisible = true;
                };
            },
            action() {
                //console.log('Ok');
            },
            handler: function(e) {
                // e.bind();

                // e.addEventListener("v-on:click", action);
                // document.body.appendChild(e);
                console.log(e);
            },
            removeEvent() {
                //console.log('Ok');
            },
            getCurEvents() {
                this.implementer = this.$route.params.id
                axios
                .get('/implementer/tasks/gettasks/'+this.$route.params.id)
                .then(response => {

                    this.events = response.data

                    $(".edit").mousedown(function(e){
                        if( e.button == 2 ) {
                            console.log(e);
                            document.oncontextmenu = function() {return false;};
                            $(".custom-menu").data('event', $(this)).finish().toggle(100).
                            // In the right position (the mouse)
                            css({
                                top: event.pageY + "px",
                                left: event.pageX + "px"
                            });
                            return false;
                        }
                        return true;
                    });
                })
            },
            getImplementer(id) {
                this.curUser = id

                this.date2 = this.$route.params.date
                axios
                .get('/implementer/get-all-implementer')
                .then(response => {
                    this.implementers = response.data
                })
            },
            getEvents(id) {
                this.implementer = id
                //console.log(this.implementer);
                axios
                .get('/implementer/tasks/gettasks/'+id)
                .then(response => {
                    this.events = response.data
                })
            },
            dateStartChanged(){
                if (this.myEvent.dateStart > this.myEvent.dateEnd){
                    this.myEvent.dateEnd = this.myEvent.dateStart
                }
            }
        }
    }
    // document.querySelector('.edit').addEventListener('click', function() { alert("HOVER2") })
</script>
<style>
    #tooltip {
        z-index: 9999;
        position: absolute;
        display: none;
        top:0px;
        left:0px;
        background-color: #000;
        padding: 5px 10px 5px 10px;
        color: white;
        opacity: 0.6;
        border-radius: 5px; 
    }
</style>