<template>
    <div class="row">
        <div class="col-md-6">
            <!-- USERS LIST -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Пользователи</h3>

                    <div class="box-tools pull-right">
                        <!--<span class="label label-danger">8 Онлайн</span>-->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <ul class="users-list clearfix">
                        <li v-for="user in Users">
                            <img src="/public/img/" alt="User Image" style="width: 50px;">
                            <a class="users-list-name" href="#">{{user.first_name}} {{user.last_name}}</a>
                            <!--@if ($u['online'])
                            <span class="users-list-date"><i class="fa fa-circle text-success"></i> В сети</span>
                            @else
                            <span class="users-list-date">Не в сети</span>
                            @endif-->
                        </li>
                    </ul>
                    <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Users</a>
                </div>-->
                <!-- /.box-footer -->
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Загрузка внедренцев</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                    </div>
                    <!-- /.box-body -->
                    <!--<div class="box-footer text-center">
                        <a href="javascript:void(0)" class="uppercase">View All Products</a>
                    </div>-->
                    <!-- /.box-footer -->
                </div>
            </div>
            <!--/.box -->
        </div>
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Лента событий</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer text-center">
                    <a href="javascript:void(0)" class="uppercase">View All Products</a>
                </div>-->
                <!-- /.box-footer -->
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Users: null
            }
        },
        created() {
            this.getUsers()
            // listenForBroadcast(survey_id) {
            //     Echo.join('survey.' + survey_id)
            //         .here((users) => {
            //             console.log('Ok');
            //         this.users_viewing = users;
            //         this.$forceUpdate();
            //     })
            // .joining((user) => {
            //         if (this.checkIfUserAlreadyViewingSurvey(user)) {
            //         this.users_viewing.push(user);
            //         this.$forceUpdate();
            //     }
            // })
            // .leaving((user) => {
            //     this.removeViewingUser(user);
            //     this.$forceUpdate();
            // });
            // }
        },
        methods: {
            getUsers: function () {
                axios
                .get('/implementer/users/getAllUsers')
                .then(response => {
                    this.Users = response.data
                })
            }
        }
    }
</script>