<template>
    <div class="row">
        <div style="text-align: center">
            <h3>{{Task.title}}</h3>
            <h4><span style="overflow-wrap: break-word; margin: 7px">{{task_com}}</span></h4>
        </div>
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="">
                    <table>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Дата/время</td>
                            <td>{{Task.start_date}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Клиент</td>
                            <td>{{Client.name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Проект</td>
<!--                            <td>{{Task.p_name}}</td>-->
                            <td>
                                <router-link :to="'/implementer/project/edit/'+Project_id">
                                    {{Task.p_name}}
                                </router-link>
                            </td>
                        </tr>
                        <tr v-if="ProjectContact.first_name">
                            <td style="padding-right: 10px; font-weight: bold;">Контактное лицо</td>
                            <td>{{ ProjectContact.first_name }} {{ ProjectContact.last_name }}</td>
                        </tr>
                        <tr v-if="ProjectContact.phone">
                            <td style="padding-right: 10px; font-weight: bold;">Телефон</td>
                            <td>{{ ProjectContact.phone }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">История коментариев</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="overflow-y: auto;height: 200px;">
                    <template v-if="Comments.length > 0">
                        <template v-for="(item, index) in Comments">
                            <div class="post" style="padding-bottom: 5px;">
                                <div class="user-block" style="margin-bottom: 0px;">
                                    <span class="username" style="margin-left: 0px; float: left;">
                                        <a href="#">{{ item.first_name }} {{ item.last_name }}</a>
                                    </span>
                                    <span class="description" style="margin-left: 5px; font-size: 16px;">&nbsp;&nbsp;&nbsp;{{ item.date }} в {{ item.time }}</span>
                                </div>
                                <div>
                                    <span style="font-style: italic; color: #999;">{{item.task}}</span>
                                </div>
                                <!-- /.user-block -->
                                <div id="comment_355">
                                    <span v-html="item.text"></span>
                                </div>
                                <!--<ul class="list-inline">
                                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                                </ul>

                                <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <p style="text-align: center; font-style: italic;">Коментарии отсутствуют</p>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box box-primary" v-if="ResFlag == null">
                <div class="box-header with-border">
                    <h3 class="box-title">Результат контакта</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="events-content">
                        <ol style="list-style-type: none; padding-left: 0; margin: 20px;" id="test">
                            <li data-step="step1">
                                <div class="form-group" style="margin-top: 10px;">
                                    <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios1" v-bind:value="'work'">
                                    <label for="optionsRadios1">
                                        <h4 style="color: #3c8dbc;">Работали</h4>
                                    </label>
                                </div>
                                <div class="form-group" style="margin-top: 10px;" >
                                    <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios2" v-bind:value="'next'">
                                    <label for="optionsRadios2">
                                        <h4 style="color: #3c8dbc;">Перенос на другое время</h4>
                                    </label>
                                </div>
                                <div class="form-group" style="margin-top: 10px;" >
                                    <input type="radio" v-model="Res" name="optionsRadios" id="optionsRadios3" v-bind:value="'later'">
                                    <label for="optionsRadios3">
                                        <h4 style="color: #3c8dbc;">Недозвон</h4>
                                    </label>
                                </div>
                                <div class="form-group pull-right" style="margin-top: 10px;">
                                    <a v-on:click="back()" class="btn btn-default">Отмена</a>
                                    <a v-on:click="nextStep" v-model="Res" data-step="step1" class="btn btn-success">Далее</a>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

            <div class="box" v-if="ResFlag == 'work'">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="disabled" v-bind:class="{active: activeLink === 1}"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">Шаг 1</a></li>
                        <li class="disabled" v-bind:class="{active: activeLink === 2}"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">Шаг 2</a></li>
                        <li class="disabled" v-bind:class="{active: activeLink === 3}"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">Шаг 3</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" id="work_1" v-bind:class="{active: activeLink === 1}">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 20px;">
                                    <span class="bold">Длительность контакта</span>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <a id="time1" v-on:click="setTimeCont('00:15')" class="btn btn-primary">15 мин</a>
                                            <a id="time2" v-on:click="setTimeCont('00:30')" class="btn btn-primary">30 мин</a>
                                            <a id="time3" v-on:click="setTimeCont('00:45')" class="btn btn-primary">45 мин</a>
                                            <a id="time4" v-on:click="setTimeCont('01:00')" class="btn btn-primary">1 час</a>
                                            <a id="time5" v-on:click="setTimeCont('01:30')" class="btn btn-primary">1 ч 30 мин</a>
                                            
                                        </div>
                                        <div class="col-md-7">
                                            <label id="durationTime_error" class="error" for="durationTime" style="display: none;">Это поле обязательно к заполнению</label>
                                            <input type="time" v-model="CurTimeCont.time" id="durationTime" name="durationTime" class="form-control" style="width: 100px;">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h4><b>Текущая задача</b></h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table" id="tableTask">
                                                <tr>
                                                    <td>{{Task.title}}</td>
                                                    <td>
                                                        <select class="form-control" v-model="CurTaskStatus">
                                                            <option v-for="(item, index) in Task_status" :value="item.id">{{item.name}}</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="box">
                                        <div class="box-header">
                                            <h4><b>Другие задачи</b></h4>
                                        </div>
                                        <div class="box-body">
                                            <template v-if="OtherTaskFlag != null" v-model="CurOtheTask_ar">
                                                <table style="width: 100%">
                                                    <template v-for="(item, index) in CurOtheTask_ar">
                                                        <tr class="form-group">
                                                            <td>
                                                                <select v-on:change="changeOtherTask(item, index)" v-model="cot[index]" class="form-control" style="width: 300px">
                                                                    <option value=""></option>
                                                                    <option v-for="(item2, index) in Tasks"
                                                                            v-bind:value="{id: item2.id, name: item2.name, status: null}"
                                                                    >{{item2.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select class="form-control" style="width: 300px" v-on:change="changeOtherTaskStatus(item, index)" v-model="cots[index]">
                                                                    <template v-for="(item3, index) in Task_status" v-model="CurOtherTaskStatus[item-1]">
                                                                        <template v-if="item.name == 'Выполнено'">
                                                                            <option v-bind:value="{id: item3.id}" selected>{{item3.name}}</option>
                                                                        </template>
                                                                        <template v-else>
                                                                            <option v-bind:value="{id: item3.id}">{{item3.name}}</option>
                                                                        </template>
                                                                    </template>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </table>
                                            </template>
                                        </div>
                                        <div class="box-footer">
                                            <a v-on:click="addOtherTask()" class="btn btn-primary">Добавить</a>
                                        </div>
                                    </div>

                                    <div class="box">
                                        <div class="box-header">
                                            <h4><b>Вопросы для уточнения</b></h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table" id="tableTask2">
                                                <tbody>
                                                    <tr v-if="ClarificationQuestions.length > 0" v-for="(item, index) in ClarificationQuestions" >
                                                        <td>{{item.question}}</td>
                                                        <td><input type="text" @change="setAnswer(index, $event)" class="form-control" v-bind:value="item.answer"></td>
                                                    </tr>
                                                    <tr v-if="ClarificationQuestionsCurTask.length > 0" v-for="(item, index) in ClarificationQuestionsCurTask">
                                                        <td>{{item.question}}</td>
                                                        <td><input type="text" @change="setAnswerCur(index, $event)" class="form-control" v-bind:value="item.answer"></td>
                                                    </tr>
                                                    <tr v-else>
                                                        <td colspan="2" style="text-align: center">Вопросы отсутствуют</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="box">
                                        <div class="box-header">
                                            <h4><b>Добавьте дополнительные задачи, которые выявились при работе</b></h4>
                                        </div>
                                        <div class="box-body">
                                            <table class="table" id="tableDopTask">
                                                <thead>
                                                <tr>
                                                    <th><b>Наименование задачи</b></th>
                                                    <th><b>Модуль</b></th>
                                                    <th><b>Кол - во контактов</b></th>
                                                    <th><b>Группа задач</b></th>
                                                    <th><b>Статус</b></th>
                                                    <th><b>Действия</b></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <template v-if="DopTask2_ar.length > null">
                                                    <template v-for="(item, index) in DopTask2_ar">
                                                        <tr>
                                                            <td>
                                                                <input v-model="item.name" type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <select class="form-control" v-model="item.module">
                                                                    <option v-for="(item) in Modules" :value="item.id">{{item.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <input v-model="item.count" type="text" class="form-control">
                                                            </td>
                                                            <td>
                                                                <select class="form-control" v-model="item.group_task">
                                                                    <option v-for="(item) in Group_task" :value="item.id">{{item.name}}</option>
                                                                </select>
                                                            </td>
                                                            <td>
                                                                <select v-model="item.status" class="form-control" >
                                                                    <template v-for="(item, index) in Task_status">
                                                                        <template v-if="item.name == 'Выполнено'">
                                                                            <option v-bind:value="item.id" selected>{{item.name}}</option>
                                                                        </template>
                                                                        <template v-else>
                                                                            <option v-bind:value="item.id">{{item.name}}</option>
                                                                        </template>
                                                                    </template>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </template>
                                                </template>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="box-footer">
                                            <a class="btn btn-primary" v-on:click="AddDopTask">Добавить</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;">* Комментарий (для клиента)</h4>
                                        </label>
                                    </div>
                                    <label id="editor5_error" class="error" for="editor5" style="display: none;">Это поле обязательно к заполнению</label>
                                    <!-- <textarea v-model="CommentForClient" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="CommentForClient" :config="editorConfig"></ckeditor>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;"><span v-if="nextContact == 2">*</span> Комментарий (для внутреннего использования)</h4>
                                        </label>
                                    </div>
                                    <!-- <textarea v-model="Comment" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="Comment" :config="editorConfig"></ckeditor>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top: 10px;">
                                        <input type="radio" name="nextContact" id="nextContact" v-model="nextContact" :value="1">
                                        <label for="nextContact">
                                            <h4 style="color: #3c8dbc;">Назначен следующий контакт</h4>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="radio" name="nextContact" id="laterNextContact" v-model="nextContact" :value="2">
                                        <label for="laterNextContact">
                                            <h4 style="color: #3c8dbc;">Договориться о следующем контакте позже</h4>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6" v-if="nextContact == 2">
                                    <div class="form-group">
                                        <input type="date" class="form-control" v-model="Plus_seven_day_val">
                                    </div>
                                </div>
                                <div class="col-md-12"> 
                                    <div class="form-group" style="margin-top: 10px;">
                                        <input type="radio" name="nextContact" id="list" v-model="nextContact" :value="3">
                                        <label for="list">
                                            <h4 style="color: #3c8dbc;">Лист ожидания</h4>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div v-if="nextContact == 1">
                                <a v-on:click="ClearResFlag" class="btn btn-default">В начало</a>
                                <a class="btn btn-success" v-on:click="next">Далее</a>
                            </div>
                            <div v-if="nextContact == 2">
                                <a v-on:click="ClearResFlag" class="btn btn-default">В начало</a>
                                <a v-on:click="prev" class="btn btn-success">Назад</a>
                                <a v-on:click="save" class="btn btn-primary">Сохранить</a>
                                <a v-on:click="saveProject" class="btn btn-primary">Сохранить и вернуться в проект</a>
                            </div>
                            <div v-if="nextContact == 3">

                                <div class="btn-group" role="group" style="margin-bottom: 10px">
                                    <button type="button" @click="isNewWList = !isNewWList" class="btn" v-bind:class="{ 'btn-primary': isNewWList }">Новая причина</button>
                                    <button type="button" @click="isNewWList = !isNewWList" class="btn" v-bind:class="{ 'btn-primary': !isNewWList }">Выбрать из существуюших</button>
                                </div>

                                <table class="table" v-if="isNewWList">
                                    <tr>
                                        <th>Причина</th>
                                        <th>Тип</th>
                                        <th v-if="newWList.waiting_list && newWList.waiting_list.has_info">Примечание</th>
                                        <th v-if="newWList.waiting_list && newWList.waiting_list.has_redmine">Номер задачи в Redmine</th>
                                    </tr>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <select class="form-control" v-model="newWList.waiting_list">
                                                <option v-for="reason in WaitingList" :value="reason">{{reason.name}}</option>
                                            </select>
                                        </td>
                                        <td v-if="newWList.waiting_list">{{newWList.waiting_list.waiting_list_type.name}}</td>
                                        <td v-if="newWList.waiting_list && newWList.waiting_list.has_info">
                                            <input type="text" class="form-control" v-model="newWList.info">
                                        </td>
                                        <td v-if="newWList.waiting_list && newWList.waiting_list.has_redmine">
                                            <input type="text" class="form-control"  v-model="newWList.redmine_task_id">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div v-else style="margin-bottom: 10px">
                                    Причина
                                    <select class="form-control">
                                        <option v-for="reason in ProjectWaitingList" :value="reason">
                                            {{reason.waiting_list.name}} -
                                            {{reason.waiting_list.has_info ? reason.info : ''}}
                                            {{reason.waiting_list.has_redmine ? reason.redmine_task_id : ''}}
                                        </option>
                                    </select>
                                </div>

                                <a v-on:click="ClearResFlag" class="btn btn-default">В начало</a>
                                <a v-on:click="save" class="btn btn-primary">Сохранить</a>
                                <a v-on:click="saveProject" class="btn btn-primary">Сохранить и вернуться в проект</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="work_2" v-bind:class="{active: activeLink === 2}">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="vertical-align: middle;">Дата / Время</td>
                                    <td style="vertical-align: middle; width: 400px;">
                                        <a id="date1" v-on:click="setDateCont(Tomorrow);" :value="Tomorrow" class="btn btn-primary">Завтра</a>
                                        <a id="date2" v-on:click="setDateCont(Plus_one_day_val);" :value="Plus_one_day_val" class="btn btn-primary">Послезавтра</a>
                                        <a id="date3" v-on:click="setDateCont(Plus_two_day_val);" :value="Plus_two_day_val" class="btn btn-primary">{{Plus_two_day}}</a>
                                        <a id="date4" v-on:click="setDateCont(Plus_three_day_val);" :value="Plus_three_day_val" class="btn btn-primary">{{Plus_three_day}}</a>
                                    </td>
                                    <td style="vertical-align: middle; width: 100px"><input type="date" class="form-control" v-model="Date2"></td>
                                    <td style="vertical-align: middle; width: 50px"><input v-on:change="changeNextTime" type="time" class="form-control"  v-model="Next_time"></td>
                                    <td style="vertical-align: middle; width: 50px"><input type="time" class="form-control" v-model="End_time"></td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">Контактное лицо</td>
                                    <td style="vertical-align: middle;">
                                        <select class="form-control" name="contact" v-model="ProjectContact">
                                            <option v-for="(item, index) in ProjectAllContacts" v-bind:value="item">{{item.first_name}} {{item.last_name}}</option>
                                        </select>
                                    </td>
                                    <td style="vertical-align: middle;">Телефон</td>
                                    <td colspan="2" style="vertical-align: middle;">
                                        {{ProjectContact.phone}}
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">Внедренец</td>
                                    <td style="vertical-align: middle;" colspan="3">
                                        <select class="form-control" name="user_id" v-model="NextContUser">
                                            <option v-for="(item, index) in Observers" :value="item.id">{{item.first_name}} {{item.last_name}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">Задача</td>
                                    <td style="vertical-align: middle;" colspan="3">
                                        <select name="dopTask" id="dopTask" class="form-control" v-model="NextContTask">
                                            <option v-for="(item,index) in ar" :value="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div style="margin-bottom: 20px;">
                                <a style="cursor: pointer" v-on:click="changeCalendar()">Показать календарь</a>
                            </div>
                            <div v-if="ShowCalendar">
                                <full-calendar :config="config" :events="events"/>
                            </div>

                            <div>
                                <!--<a v-on:click="ClearResFlag" class="btn btn-default">В начало</a>-->
                                <!--<a v-on:click="prev" class="btn btn-success">Назад</a>-->
                                <!--<a v-on:click="next" class="btn btn-primary">Вперед</a>-->
                                <a v-on:click="ClearResFlag" class="btn btn-default">В начало</a>
                                <a v-on:click="prev" class="btn btn-success">Назад</a>
                                <a v-on:click="save" class="btn btn-primary">Сохранить</a>
                                <a v-on:click="saveProject" class="btn btn-primary">Сохранить и вернуться в проект</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="work_3" v-bind:class="{active: activeLink === 3}">
                            <div class="row">


                                <div class="col-md-12">

                                </div>
                            </div>

                            <div>

                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

            <div class="box" v-if="ResFlag == 'next'">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="disabled" v-bind:class="{active: activeLink2 === 1}"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">Шаг 1</a></li>
                        <li class="disabled" v-bind:class="{active: activeLink2 === 2}"><a href="javascript:void(0)" data-toggle="tab" aria-expanded="false">Шаг 2</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" v-bind:class="{active: activeLink2 === 1}">
                            <table class="table table-bordered">
                                <tr>
                                    <td style="vertical-align: middle;">Дата / Время</td>
                                    <td style="vertical-align: middle; width: 400px;">
                                        <a v-on:click="setDateCont(Tomorrow);" :value="Tomorrow" class="btn btn-primary">Завтра</a>
                                        <a v-on:click="setDateCont(Plus_one_day_val);" :value="Plus_one_day_val" class="btn btn-primary">Послезавтра</a>
                                        <a v-on:click="setDateCont(Plus_two_day_val);" :value="Plus_two_day_val" class="btn btn-primary">{{Plus_two_day}}</a>
                                        <a v-on:click="setDateCont(Plus_three_day_val);" :value="Plus_three_day_val" class="btn btn-primary">{{Plus_three_day}}</a>
                                    </td>
                                    <td style="vertical-align: middle; width: 100px"><input type="date" class="form-control" v-model="Date2"></td>
                                    <td style="vertical-align: middle; width: 50px"><input type="time" v-on:change="changeNextTime()" class="form-control"  v-model="Next_time"></td>
                                    <td style="vertical-align: middle; width: 50px"><input type="time" class="form-control" v-model="End_time"></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle;">Контактное лицо</td>
                                    <td style="vertical-align: middle;">
                                        <select class="form-control" name="contact" v-model="ProjectContact">
                                            <option v-for="(item, index) in ProjectAllContacts" v-bind:value="item">{{item.first_name}} {{item.last_name}}</option>
                                        </select>
                                    </td>
                                    <td style="vertical-align: middle;">Телефон</td>
                                    <td colspan="2" style="vertical-align: middle;">
                                        {{ProjectContact.phone}}
                                    </td>
                                </tr>
                            </table>

                            <div>
                                <a v-on:click="ClearResFlag2" class="btn btn-default">В начало</a>
                                <a v-on:click="next2" class="btn btn-primary">Вперед</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" v-bind:class="{active: activeLink2 === 2}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;">* Комментарий (для клиента)</h4>
                                        </label>
                                    </div>
                                    <label class="error" for="editor5" style="display: none;">Это поле обязательно к заполнению</label>
                                    <!-- <textarea v-model="CommentForClient" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="CommentForClient" :config="editorConfig"></ckeditor>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;">Комментарий (для внутреннего использования)</h4>
                                        </label>
                                    </div>
                                    <!-- <textarea v-model="Comment" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="Comment" :config="editorConfig"></ckeditor>
                                </div>

                                <div class="col-md-12">

                                </div>
                            </div>

                            <div>
                                <a v-on:click="ClearResFlag2" class="btn btn-default">В начало</a>
                                <a v-on:click="prev2" class="btn btn-success">Назад</a>
                                <a v-on:click="save" class="btn btn-primary">Сохранить</a>
                                <a v-on:click="saveProject" class="btn btn-primary">Сохранить и вернуться в проект</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>

            <div class="box" v-if="ResFlag == 'later'">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#later_1" data-toggle="tab" aria-expanded="false">Шаг 1</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="later_1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;">* Комментарий (для клиента)</h4>
                                        </label>
                                    </div>
                                    <label class="error" for="editor5" style="display: none;">Это поле обязательно к заполнению</label>
                                    <!-- <textarea v-model="CommentForClient" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="CommentForClient" :config="editorConfig"></ckeditor>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="optionsRadios2">
                                            <h4 style="color: #3c8dbc;">Комментарий (для внутреннего использования)</h4>
                                        </label>
                                    </div>
                                    <!-- <textarea v-model="Comment" cols="80" rows="20"></textarea> -->
                                    <ckeditor :editor="editor" v-model="Comment" :config="editorConfig"></ckeditor>
                                </div>

                                <div class="col-md-12">

                                </div>
                            </div>

                            <div>
                                <a v-on:click="ClearResFlag2" class="btn btn-default">В начало</a>
                                <a v-on:click="save" class="btn btn-primary">Сохранить</a>
                                <a v-on:click="saveProject" class="btn btn-primary">Сохранить и вернуться в проект</a>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    // import SimpleUploadAdapter from '@ckeditor/ckeditor5-upload/src/adapters/simpleuploadadapter';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    
    export default {
        pops: ['caldate'],
        data() {
            return {
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },
                Client: null,
                Comments: null,
                Cur_date: null,
                Cur_date_val: null,
                Group_task: null,
                Modules: null,
                Observers: null,
                Plus_one_day: null,
                Plus_one_day_val: null,
                Plus_three_day: null,
                Plus_three_day_val: null,
                Plus_seven_day: null,
                Plus_seven_day_val: null,
                Plus_two_day: null,
                Plus_two_day_val: null,
                Task: null,
                Task_list: null,
                Task_status: null,
                Tasks: null,
                task_com: '',
                Tomorrow: null,
                Tomorrow_val: null,
                Res: null,
                ResFlag: null,
                CurTimeCont: {
                    time: null
                },
                OtherTaskFlag: null,
                ClarificationQuestions: [],
                ClarificationQuestionsCurTask: [],
                CurOtheTask: [],
                CurOtheTask_ar: [],
                DopTaskFlag: null,
                activeLink: 1,
                activeLink2: 1,
                nextContact: null,
                Value: '',
                Date2: null,
                Next_time: null,
                End_time: null,
                ContPhone: null,
                CommentForClient: '',
                Project_id: null,
                ProjectAllContacts: null,
                ProjectContact: {
                    id: null,
                    first_name: '',
                    last_name: '',
                    phone: ''
                },
                Comment: '',
                CurTaskStatus: null,
                DopTask2: {
                    name: null
                },
                ar: [],
                DopTask2_ar: [],
                NextContTask: null,
                NextContUser: null,
                CurOtherTaskStatus: null,
                cot: [],
                cots: [],
                events: null,
                cur_user_id: null,
                ShowCalendar: false,
                WaitingList: [],
                ProjectWaitingList: [],
                WList: null,
                newWList: {},
                reasons: [],
                isNewWList: true,
                config: {
                    firstDay: 1,
                    locale: 'ru',
                    editable: true,
                    slotLabelFormat: "H:mm",
                    defaultDate: this.Date2,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month'
                    },
                    allDaySlot: false,
                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    defaultView: 'agendaDay',
                    minTime: "09:00:00",
                    eventDrop: function(event, delta, revertFunc) {
                        if (!confirm("Вы уверены что хотите перенести контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                start: event.start.format()
                            }
                            axios
                                .post('/implementer/tasks/settask', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                console.log(response.data)
                            })
                        }
                    },
                    eventResize: function(event, delta, revertFunc) {
                        if (!confirm("Продлить контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                end: event.end.format()
                            }
                            axios
                                .post('/implementer/tasks/edittask', {'data': JSON.stringify(postBody)})
                                .then(response => {
                                console.log(response.data)
                            })
                        }

                    }
                }
            }
        },
        created() {
            this.getTask()
            this.ClarificationQuestions = []
            this.ClarificationQuestionsCurTask = []
        },
        methods: {
            back() {
                this.$router.push('/implementer/calendar/'+this.cur_user_id+'/'+this.$route.params.date)
            },
            getTask() {
                axios
                .get('/implementer/getTask/'+this.$route.params.id)
                .then(response => {
                    //console.log(response.data);
                    this.Project_id = response.data.project_id
                    this.Client = response.data.client
                    this.Comments = response.data.comments
                    this.Cur_date = response.data.cur_date
                    this.Cur_date_val = response.data.cur_date_val
                    this.Group_task = response.data.group_task
                    this.Modules = response.data.modules
                    this.Observers = response.data.observers
                    this.Plus_one_day = response.data.plus_one_day
                    this.Plus_one_day_val = response.data.plus_one_day_val
                    this.Plus_three_day = response.data.plus_three_day
                    this.Plus_three_day_val = response.data.plus_three_day_val;
                    this.Plus_seven_day = response.data.plus_seven_day
                    this.Plus_seven_day_val = response.data.plus_seven_day_val;
                    this.Plus_two_day = response.data.plus_two_day;
                    this.Plus_two_day_val = response.data.plus_two_day_val;
                    this.Task = response.data.task;
                    this.Task_list = response.data.task_list;
                    this.Task_status = response.data.task_status;
                    this.Tasks = response.data.tasks;
                    this.Tomorrow = response.data.tomorrow;
                    this.Tomorrow_val = response.data.tomorrow_val;
                    this.cur_user_id = response.data.cur_user_id
                    this.task_com = response.data.task_com
                    this.Date2 = this.Cur_date_val;
                    this.ProjectContact =  response.data.contact ? response.data.contact : {};
                    console.log(this.ProjectContact)
                    this.getWaitingList()
                    this.NextContUser = this.cur_user_id;
                })
            },
            getWaitingList() {
                axios
                .get('/waiting_lists')
                .then(response => {
                    this.WaitingList = response.data;
                })
                this.$request({
                    url: '/projects/'+this.Project_id+'/w-list?activeOnly=1',
                    onSuccess: function (response) {
                        this.ProjectWaitingList = response.data
                    }.bind(this)
                })
            },
            changeCalendar() {
                if (this.ShowCalendar == true) {
                    this.events = null
                    this.ShowCalendar = false
                } else {
                    this.getEvents()
                    this.ShowCalendar = true
                }
            },
            getEvents() {
                axios
                .get('/implementer/tasks/gettasks/'+this.cur_user_id)
                .then(response => {
                    this.events = response.data
                })
            },
            changeNextTime() {
                var time = new Date(this.Date2+' '+this.Next_time);
                time.setHours(time.getHours()+1);
                this.End_time = time.toTimeString().substr(0,5);
            },
            setCurTaskStatus() {
                console.log('Ok');
                console.log(this.CurTaskStatus);
            },
            getCurTaskStatus() {
                console.log(this.CurTaskStatus);
                for (var i=0; i<this.Task_status.length; i++) {
                    if (this.Task_status[i].name == 'Выполнено') {
                        this.CurTaskStatus = this.Task_status[i].id
                    }
                }
            },
            nextStep() {
                if (this.Res == 'work') {
                    this.ResFlag = 'work'
                    this.getClarificationQuestions()
                    this.getCurTaskStatus()
                };

                if (this.Res == 'next') {
                    this.ResFlag = 'next'
                };

                if (this.Res == 'later') {
                    this.ResFlag = 'later'
                };
            },
            ChangeCurTaskStatus(id, evt) {
                console.log(evt.target);
            },
            ClearResFlag() {
                this.ResFlag = null
                this.activeLink = 1
            },
            ClearResFlag2() {
                this.ResFlag = null
                this.activeLink2 = 1
            },
            setTimeCont(time) {
                this.CurTimeCont = {
                    time: time
                }
            },
            addOtherTask() {
                var i = this.CurOtheTask_ar.length;
                this.OtherTaskFlag = this.OtherTaskFlag + 1;
                this.ClarificationQuestions = []
                var otask = {
                    name: null,
                    id: i+1,
                    t_id: null,
                    status: null
                }
                this.CurOtheTask_ar.push(otask);
            },
            getClarificationQuestions() {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    tid: this.Task.id
                }
                axios
                .post('/implementer/project-task/getClarificationQuestions', {'data': JSON.stringify(postBody)})
                .then(response => {
                    for (var i = 0; i < response.data.length; i++) {
                        this.ClarificationQuestionsCurTask.push(response.data[i]);
                    }
                });
            },
            changeOtherTask(item, index) {
                item.t_id = this.cot[index].id;
                item.name = this.cot[index].name;

                this.ClarificationQuestions = []
                for (var i=0; i < this.CurOtheTask_ar.length; i++) {
                    console.log(this.CurOtheTask_ar[i]);
                    var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                        tid: this.CurOtheTask_ar[i].t_id
                    }
                    axios
                        .post('/implementer/project-task/getClarificationQuestions', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            for (var j = 0; j < response.data.length; j++) {
                                this.ClarificationQuestions.push(response.data[j]);
                            }
                    });
                }
            },
            changeOtherTaskStatus(item, index) {
                item.status = this.cots[index].id;
            },
            AddDopTask() {
                var dtask = {
                    id: '',
                    name: '',
                    module: '',
                    count: '',
                    task_group: '',
                    status: ''
                }
                this.DopTask2_ar.push(dtask)
            },
            next2() {
                if (this.activeLink2 == 1) {
                    if (this.Date2 == null) {
                        alert('Укажите дату')
                        return
                    };
                    if (this.Next_time == null) {
                        alert('Укажите время начала')
                        return
                    };
                    if (this.End_time == null) {
                        alert('Укажите время окончания')
                        return
                    };
                    this.activeLink2 = null
                    this.activeLink2 = 2
                }
            },
            next() {
                if (this.activeLink == 1) {
                    console.log('Ok');
                    console.log(this.CurTaskStatus);
                    if (this.CurTimeCont.time == null) {
                        alert('Укажите длительность контакта');
                        return
                    }
                    if (this.nextContact == null) {
                        alert('Укажите результат');
                        return
                    }
                    // for (var i = 0; i < this.ClarificationQuestionsCurTask.length; i++){
                    //     if (this.ClarificationQuestionsCurTask[i].answer == '') {
                    //         alert('Заполните все уточняющие вопросы')
                    //         return
                    //     }
                    // }
                    // for (var j = 0; j < this.ClarificationQuestions.length; j++){
                    //     if (this.ClarificationQuestions[j].answer == '') {
                    //         alert('Заполните все уточняющие вопросы')
                    //         return
                    //     }
                    // };
                    // this.Task.push(this.DopTask2_ar)
                    // for(var i = 0; i < this.DopTask2_ar.length; i++) {
                    //     this.Task
                    // };
                    this.ar = this.Tasks.concat(this.DopTask2_ar);
                    // console.log(ar);
                    console.log(this.DopTask2_ar);
                    this.activeLink = null
                    // this.getContPhone()
                    this.getAllProjectContancts()
                    
                    if (this.nextContact == 1) {
                        this.activeLink = 2
                    } else {
                        this.activeLink = 3
                    }
                } else {
                    // console.log(this.NextContTask);
                    if (this.Date2 == null) {
                        alert('Укажите дату')
                        return
                    };
                    if (this.Next_time == null) {
                        alert('Укажите время начала')
                        return
                    };
                    if (this.End_time == null) {
                        alert('Укажите время окончания')
                        return
                    };
                    this.activeLink = null
                    this.activeLink = 3
                };
            },
            prev2() {
                if (this.activeLink2 == 2) {
                    this.activeLink2 = 1
                }
            },
            prev() {
                if (this.activeLink == 2) {
                    this.activeLink = 1
                } else if(this.activeLink == 3) {
                    this.activeLink = 2
                    if (this.nextContact == 1) {
                        this.activeLink = 2
                    } else {
                        this.activeLink = 1
                    }
                };
            },
            setAnswerCur(index, ent) {
                this.ClarificationQuestionsCurTask[index].answer = ent.target.value
            },
            setAnswer(index, ent) {
                this.ClarificationQuestions[index].answer = ent.target.value
            },
            setDateCont(date) {
                this.Date2 = date
            },
            getAllProjectContancts () {
                axios
                    .get('/projects/'+this.Project_id+'/contacts')
                    .then(response => {
                        this.ProjectAllContacts = response.data
                    })
            },
            setDopTask2(id, evt) {
                this.DopTask2.name = null
                this.DopTask2.name = evt.target.value
                this.DopTask2_ar[id] = this.DopTask2
            },
            save3() {
                console.log(this.WList);
            },
            async save() {
                if (this.Res == 'work') {
                    if (this.CurTimeCont.time == null) {
                        alert('Укажите длительность контакта');
                        return
                    }
                    if (this.nextContact == 2) {
                        if (this.Comment == '') {
                            alert('Укажите коментарий для внутреннего пользования')
                            return
                        };
                    };
                    if (this.nextContact == 3) {
                        // if (this.WList == null) {
                        //     alert('Выберите причину для листа ожидания')
                        //     return
                        // };
                        if (!(await this.checkWList())) return;
                    };
                }
                if (this.CommentForClient == '') {
                    alert('Укажите коментарий для клиента')
                    return
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    res: this.Res,
                    nextContact: this.nextContact,
                    // WList: this.WList,
                    nextDate: this.Plus_seven_day_val,
                    comment: this.Comment,
                    commentForClient: this.CommentForClient,
                    otherTask: this.CurOtheTask_ar,
                    dopTask: this.DopTask2_ar,
                    cq: this.ClarificationQuestionsCurTask,
                    cqOtherTask: this.ClarificationQuestions,
                    curTaskStatus: this.CurTaskStatus,
                    durationTime: this.CurTimeCont.time,
                    nextContTask: this.NextContTask,
                    nextContTimeStart: this.Next_time,
                    nextContUser: this.NextContUser,
                    nextContTimeEnd: this.End_time,
                    nextContDateStart: this.Date2,
                    wList: this.newWList,
                    projectContact: this.ProjectContact.id
                }

                axios
                .post('/implementer/project-task/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/implementer/calendar/'+this.cur_user_id+'/'+this.$route.params.date)
                    };
                })
            },
            async saveProject() {
                if (this.Res == 'work') {
                    if (this.CurTimeCont.time == null) {
                        alert('Укажите длительность контакта');
                        return
                    }
                    if (this.nextContact == 2) {
                        if (this.Comment == null) {
                            alert('Укажите коментарий для внутреннего пользования')
                            return
                        };
                    };
                    if (this.nextContact == 3) {
                        // if (this.WList == null) {
                        //     alert('Выберите причину для листа ожидания')
                        //     return
                        // };
                        if (!(await this.checkWList())) return;
                    };
                }
                if (this.CommentForClient == '') {
                    alert('Укажите коментарий для клиента')
                    return
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    res: this.Res,
                    nextContact: this.nextContact,
                    comment: this.Comment,
                    nextDate: this.Plus_seven_day_val,
                    commentForClient: this.CommentForClient,
                    otherTask: this.CurOtheTask_ar,
                    dopTask: this.DopTask2_ar,
                    cq: this.ClarificationQuestionsCurTask,
                    cqOtherTask: this.ClarificationQuestions,
                    curTaskStatus: this.CurTaskStatus,
                    durationTime: this.CurTimeCont.time,
                    nextContTask: this.NextContTask,
                    nextContTimeStart: this.Next_time,
                    nextContUser: this.NextContUser,
                    nextContTimeEnd: this.End_time,
                    nextContDateStart: this.Date2,
                    wList: this.newWList,
                    projectContact: this.ProjectContact.id
                }

                axios
                    .post('/implementer/project-task/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.$router.push('/implementer/project/edit/'+this.Project_id)
                        };
                    })
            },
            async checkWList(){
                if (!this.isNewWList){
                    this.newWList = null;
                    return true;
                }
                if (!this.newWList.waiting_list){
                    alert('Выберите причину для листа ожидания');
                    return false;
                }
                if (this.newWList.waiting_list.has_info){
                    if (!this.newWList.info) {
                        alert('Заполните примечание для листа ожидания');
                        return false;
                    }
                } else {
                    delete this.newWList.info;
                }
                if (this.newWList.waiting_list.has_redmine) {
                    if (!this.newWList.redmine_task_id) {
                        alert('Заполните номер задачи в Redmine');
                        return false;
                    }
                    this.newWList.redmine_task_id = this.newWList.redmine_task_id.replace('#', '');
                    try {
                        let res = await axios({
                            url: '/redmine/issues/' + this.newWList.redmine_task_id
                        })
                        if (res.data.status == 'Error') {
                            alert(res.data.message);
                            return false;
                        }
                    } catch (e) {
                        alert('Задача не найдена');
                        return false;
                    }
                } else {
                    delete this.newWList.redmine_task_id;
                }
                return true;
            }
        }
    }
</script>