<template>
    <div class="box box-primary">
        <div class="box-body no-padding">
            <!-- THE CALENDAR -->
            <div id='calendar'></div>
        </div>
        <!-- /.box-body -->
    </div>
</template>

<script>
    require('fullcalendar');
    export default {
        props: {
            id2: String
        },
        ready: function() {
            console.log("Ok");
        },
        mounted() {
            console.log(this.id2);
            $('#calendar').fullCalendar({
                firstDay: 1,
                locale: 'ru',
                editable: true,
                slotLabelFormat: "H:mm",
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaDay, agendaWeek, month'
                },
                allDaySlot: false,
                monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                buttonText: {
                    today: "Сегодня",
                    month: "Месяц",
                    week: "Неделя",
                    day: "День"
                },
                defaultView: 'agendaDay',
                minTime: "09:00:00",
                /* обработчик события клика по определенному дню */
                dayClick: function(date, allDay, jsEvent, view) {
                    /*calendar.fullCalendar('renderEvent', {
                        title: 'Meet Thomas Antony',
                        start: new Date()
                    }, true);*/
                    //location.href ='/implementer/calendar/add-new-event/'+date.format();
                    dateEvent = date.format();
                    $("#myModal").modal('show');
                },
                /* обработчик кликак по событияю */
                eventClick: function(calEvent, jsEvent, view) {
                    event_id.val(calEvent.id);
                    event_type.val(calEvent.title);
                    event_start.val($.fullCalendar.formatDate(calEvent.start, format));
                    event_end.val($.fullCalendar.formatDate(calEvent.end, format));
                    formOpen('edit');
                },
                /* источник записей */
                eventSources: [{
                    url: '/implementer/tasks/gettasks/',
                    data: {
                        op: 'source'
                    },
                    error: function() {
                        console.log('Ошибка соединения с источником данных!');
                    }
                }],
                editable: true,
                eventDrop: function(event, delta, revertFunc) {
                    if (!confirm("Вы уверены что хотите перенести контакт?")) {
                        revertFunc();
                    } else {
                        //alert(event.title + " was dropped on " + event.start.format());
                        var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                            id: event.id,
                            start: event.start.format()
                        }
                        axios
                            .post('/implementer/tasks/settask', {'data': JSON.stringify(postBody)})
                            .then(response => {
                            console.log(response.data)
                    })
                    }
                }
            })
        }
    }
</script>
