<template>
    <full-calendar :config="config" :events="events"/>
</template>

<script>
    import moment from 'moment'
    export default {
        name: 'hello',
        data () {
            return {
                events: [
                    {
                        title: 'test',
                        allDay: true,
                        start: moment(),
                        end: moment().add(1, 'd'),
                    },
                    {
                        title: 'another test',
                        start: moment().add(2,'d'),
                        end: moment().add(2, 'd').add(2, 'h'),
                    },
                ],
                config: {
                    firstDay: 1,
                    locale: 'ru',
                    editable: true,
                    slotLabelFormat: "H:mm",
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month'
                    },
                    allDaySlot: false,
                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    defaultView: 'agendaDay',
                    minTime: "09:00:00",
                    eventRender: function(event, element) {
                        console.log(event)
                    },
                    dayClick: function(date, allDay, jsEvent, view) {
                        /*calendar.fullCalendar('renderEvent', {
                            title: 'Meet Thomas Antony',
                            start: new Date()
                        }, true);*/
                        //location.href ='/implementer/calendar/add-new-event/'+date.format();
                        dateEvent = date.format();
                        $("#myModal").modal('show');
                    },
                    /* обработчик кликак по событияю */
                    eventClick: function(calEvent, jsEvent, view) {
                        event_id.val(calEvent.id);
                        event_type.val(calEvent.title);
                        event_start.val($.fullCalendar.formatDate(calEvent.start, format));
                        event_end.val($.fullCalendar.formatDate(calEvent.end, format));
                        formOpen('edit');
                    },
                },
            }
        }
    }

</script>