<template>
    <div>
        <div class="nav-tabs-custom">
            <div class="box" style="padding: 15px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Номер задачи</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.form.id}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Статус</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select class="form-control" v-model="status">
                                        <template v-for="(item, index) in Raw.statuses">
                                            <option v-if="item.id == Raw.form.printform_status_ref_id" selected :value="item.id">{{item.name}}</option>
                                            <option v-else :value="item.id">{{item.name}}</option>
                                        </template>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Заказчик</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.client.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Название проекта</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.project.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Наименование задачи</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-for="(item, index) in Raw.file">
                                        {{item.name}}&nbsp;
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Внедренец</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.user.first_name}} {{Raw.user.last_name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Платно ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Оплачено ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Прикрепленные файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="Raw.file" />
<!--                <ul class="mailbox-attachments clearfix" v-if="Raw.file.length > 0">-->
<!--                    <li v-for="(item, index) in Raw.file">-->
<!--                        <span class="mailbox-attachment-icon has-img"><img :src="item.img"></span>-->

<!--                        <div class="mailbox-attachment-info">-->
<!--                            <a :href="item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{ item.name }}</a>-->
<!--                            <span class="mailbox-attachment-size"></span>-->
<!--                        </div>-->

<!--                        <a :href="item.img" class="btn btn-success" download>Скачать</a>-->
<!--                        <a :href="item.img" class="btn btn-primary" target="_blank">Просмотр</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        <Print_form_comments />
<!--        <div class="box">-->
<!--            <div class="box-header with-border">-->
<!--                <h3 class="box-title">Комментарии</h3>-->
<!--            </div>-->
<!--            <div class="box-body">-->
<!--                <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                </div>-->
<!--                <div class="clear"></div>-->
<!--                <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                    <textarea v-model="comment" style="resize: none;" cols="170" rows="10"></textarea>-->
<!--                </div>-->
<!--                <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                    <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                </div>-->
<!--                <div v-if="Raw.comments.length > 0">-->
<!--                    <div class="post" v-for="(item, index) in Raw.comments">-->
<!--                        <div class="user-block">-->
<!--                            <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                            <span class="username">-->
<!--                            <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                            <template v-if="item.autor == true">-->
<!--                                <a v-on:click="deleteComment(item.id, index)" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>-->
<!--                                <a v-on:click="editComment(index)" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>-->
<!--                            </template>-->
<!--                        </span>-->
<!--                            <template v-if="item.for_client == 1">-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                            </template>-->
<!--                        </div>-->
<!--                        <div :id="'comment_'+item.id">-->
<!--                            <span v-html="item.text"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="post" v-else>-->
<!--                    <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group">
            <input type="button" v-on:click="saveRaw()" value="Сохранить" class="btn btn-success">
            <router-link :to="'/implementer/print-form'" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
import AttachmentFiles from "../AttachmentFiles";
import Print_form_comments from "../print_form_common/Print_form_comments";
export default {
    components: {AttachmentFiles, Print_form_comments},
    data() {
        return {
            Raw: [],
            status: null,
            comment: null,
            commentFlag: false,
            editingComment: null
        }
    },
    created() {
        this.getRaw()
    },
    methods: {
        editComment(index) {
            this.comment = this.Raw.comments[index].text
            this.commentFlag = !this.commentFlag
            this.editingComment = this.Raw.comments[index]
        },
        saveEditComment() {
            this.editingComment.text = this.comment
            var postBody = {
                form_id: this.$route.params.id,
                comment: this.editingComment
            }
            axios
                .post('/implementer/edit-comment', {'data': JSON.stringify(postBody)})
                .then(response => {
                    console.log(response)
                    if (response.data.status == 'Ok') {
                        this.comment = null
                        this.editingComment = null
                        this.commentFlag = !this.commentFlag
                        this.getRaw()
                    }
                })
        },
        getRaw() {
            axios
            .get('/implementer/getRaw/'+this.$route.params.id)
            .then(response => {
                this.Raw = response.data
            })
        },
        click_mes_form() {
            this.comment = null
            this.commentFlag = !this.commentFlag
        },
        add_comment() {
            if (this.editingComment){
                this.saveEditComment()
                return;
            }
            if (this.comment == null) {
                alert('Укажите коментарий');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                comment: this.comment
            }

            axios
            .post('/implementer/add-comment', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.comment = null
                    this.commentFlag = !this.commentFlag
                    this.getRaw()
                }
            })
        },
        saveRaw() {
            if (this.status == null) {
                alert('Указите статус');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                status: this.status
            }

            axios
            .post('/implementer/form/saveRaw', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/implementer/print-form')
                }
            })
        },
        deleteComment(id, index){
            if (confirm('Вы действительно хотите удалить комментарий?')){
                axios
                    .get('/implementer/comment/del/'+id)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.Raw.comments.splice(index, 1)
                        }
                    })
            }
        }
    },
}
</script>