<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#attendant" data-toggle="tab" aria-expanded="true">Дежурный
                <span data-toggle="tooltip" v-if="attendant.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{attendant.length}}</span> 
            </a></li>
            <li class=""><a href="#projects" data-toggle="tab" aria-expanded="true">Формы
                <span data-toggle="tooltip" v-if="project.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{project.length}}</span> 
            </a></li>
            <li class=""><a href="#queue" data-toggle="tab" aria-expanded="true">Очередь
                <span data-toggle="tooltip" v-if="countQueue > 0" title="" class="badge bg-light-blue" data-original-title="">{{countQueue}}</span> 
            </a></li>
            <li class=""><a href="#raw" data-toggle="tab" aria-expanded="false">Необработанные
                <span data-toggle="tooltip" v-if="Raw_count > 0" title="" class="badge bg-light-blue" data-original-title="">{{Raw_count}}</span>
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="attendant">
                <div class="box">
                    <div class="box-header">
                        <router-link :to="'/implementer/print-form/attendant/add'" class="btn btn-success">Добавить</router-link>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Внедренец</th>
                                    <th style="vertical-align: middle;">Наименование работы</th>
                                    <th style="vertical-align: middle;">Статус</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="attendant.length > 0">
                                <tr v-for="(item, index) in attendant">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.first_name}} {{item.last_name}}</td>
                                    <td>{{item.f_name}}</td>
                                    <td>{{item.status}}</td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/implementer/print-form/attendant/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="raw">
                <div class="box">
                    <div class="box-header"></div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Наименование работы</th>
                                    <th style="vertical-align: middle;">Статус</th>
                                    <th style="vertical-align: middle;" colspan="2">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="Raw.length > 0">
                                <tr v-for="(item, index) in Raw">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.f_name}}</td>
                                    <td>{{item.status}}</td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/implementer/print-form/raw/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                    <td>
                                        <a href="#" v-on:click="delForm(item.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="projects">
                <div class="box">
                    <div class="box-header">
                        <a v-on:click="filterFlag = !filterFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer;">Фильтр</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a v-on:click="fieldFlag = !fieldFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer;">Поля</a>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" v-model="search" name="project_search" class="form-control pull-right" placeholder="Поиск">

                                <div class="input-group-btn">
                                    <button onclick="projects_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="fieldFlag">
                        <table class="table table-hover">
                            <tr>
                                <td><input v-model="fieldNum" v-on:click="ChangePerm('fieldNum', fieldNum)" type="checkbox"></td>
                                <td>Номер в очереди</td>
                                <td><input v-model="fieldName" v-on:click="ChangePerm('fieldName', fieldName)" type="checkbox"></td>
                                <td>Название клиента</td>
                                <td><input v-model="fieldPName" v-on:click="ChangePerm('fieldPName', fieldPName)" type="checkbox"></td>
                                <td>Название проекта</td>
                            </tr>
                            <tr>
                                <td><input v-model="fieldVned" v-on:click="ChangePerm('fieldVned', fieldVned)" type="checkbox"></td>
                                <td>Внедренец</td>
                                <td><input v-model="fieldWork" v-on:click="ChangePerm('fieldWork', fieldWork)" type="checkbox"></td>
                                <td>Наименование работы</td>
                                <td><input v-model="fieldPost" v-on:click="ChangePerm('fieldPost', fieldPost)" type="checkbox"></td>
                                <td>Дата постановки</td>
                            </tr>
                            <tr>
                                <td><input v-model="fieldRealiz" v-on:click="ChangePerm('fieldRealiz', fieldRealiz)" type="checkbox"></td>
                                <td>Дата реализации</td>
                                <td><input v-model="fieldZakaz" v-on:click="ChangePerm('fieldZakaz', fieldZakaz)" type="checkbox"></td>
                                <td>Дата реализации для заказчика</td>
                                <td><input v-model="fieldReal" v-on:click="ChangePerm('fieldReal', fieldReal)" type="checkbox"></td>
                                <td>Реальная дата</td>
                            </tr>
                            <tr>
                                <td><input v-model="fieldStatus" v-on:click="ChangePerm('fieldStatus', fieldStatus)" type="checkbox"></td>
                                <td>Статус</td>
                            </tr>
                        </table>
                    </div>
                    <div v-if="filterFlag">
                        <table class="table table-hover">
                            <tr>
                                <td>Добавить фильтр</td>
                                <td>
                                    <select class="form-control" v-model="addFilterFlag">
                                        <option value="1">Статус</option>
                                        <!-- <option value="2">Дата закрытия</option> -->
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr v-if="addFilterFlag == 1">
                                <td>Статус</td>
                                <td>
                                    <select class="form-control" @change="setStatusFilter($event)" v-model="statusFilter">
                                        <option value="5">Новая</option>
                                        <option value="6">В работе</option>
                                        <option value="7">Требуется проверка</option>
                                        <option value="8">Корректировки</option>
                                        <option value="9">Закрыта</option>
                                        <option value="10">Ошибка постановки</option>
                                    </select>
                                </td>
                            </tr>
                            
                        </table>
                        <button class="btn btn-primary" v-on:click="getImpPForm()">Применить</button>
                        <button class="btn btn-default" v-on:click="clearImpPForm()">Очистить</button>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;" v-if="fieldNum">Номер в очереди</th>
                                    <th style="vertical-align: middle;" v-if="fieldName">Название клиента</th>
                                    <th style="vertical-align: middle;" v-if="fieldPName">Название проекта</th>
                                    <th style="vertical-align: middle;" v-if="fieldVned">Внедренец</th>
                                    <th style="vertical-align: middle;" v-if="fieldWork">Наименование работы</th>
                                    <th style="vertical-align: middle;" v-if="fieldPost">Дата постановки</th>
                                    <th style="vertical-align: middle;" v-if="fieldRealiz">Дата реализации</th>
                                    <th style="vertical-align: middle;" v-if="fieldZakaz">Дата реализации для заказчика</th>
                                    <th style="vertical-align: middle;" v-if="fieldReal">Реальная дата</th>
                                    <th style="vertical-align: middle;">Разработчик</th>
                                    <th style="vertical-align: middle;" v-if="fieldStatus">Статус</th>
                                    <th style="vertical-align: middle;" colspan='2'>Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="FormsByTitle.length > 0">
                                <tr v-for="(item, index) in FormsByTitle" v-on:dblclick="openForm(item.id)">
                                    <td v-if="fieldNum">{{item.number}}</td>
                                    <td v-if="fieldName">{{item.client}}</td>
                                    <td v-if="fieldPName">{{item.p_name}}</td>
                                    <td v-if="fieldVned">{{item.first_name}} {{item.last_name}}</td>
                                    <td v-if="fieldWork">{{item.f_name}}</td>
                                    <td v-if="fieldPost">{{item.created_at}}</td>
                                    <td v-if="fieldRealiz">{{item.date_implement}}</td>
                                    <td v-if="fieldZakaz">{{item.date_implement_for_client}}</td>
                                    <td v-if="fieldReal">{{item.real_date}}</td>
                                    <td>{{item.raz_first_name}} {{item.raz_last_name}}</td>
                                    <td v-if="fieldStatus">{{item.status}}</td> 
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/implementer/print-form/project/'+item.id" class="btn btn-primary"><i class="fa fa-pencil"></i></router-link>
                                    </td> 
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6">Формы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="queue">
                <div class="box">
                    <div class="box-header">
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" v-model="search" name="project_search" class="form-control pull-right" placeholder="Поиск">

                                <div class="input-group-btn">
                                    <button onclick="projects_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <SortedTable :values="queue">
                            <thead>
                                <tr>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="id">Номер задачи</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="number">Очередь</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="client">Заказчик</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="project">Проект</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="name">Наименование работ</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="max_hours">Максимальное количество часов</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="observer">Внедренец</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="is_free">Дополнительная плата</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="date">Дата постановки</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="date_implement">Дата реализации</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="date_implement_for_client">Дата реализации для заказчика</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="real_date">Реальная дата реализации</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="status">Статус</SortLink>
                                    </th>
                                    <th scope="col" style="text-align: left; width: 10rem;">
                                        <SortLink name="user">Ответственный</SortLink>
                                    </th>
                                </tr>
                            </thead>
                            <tbody slot="body" slot-scope="sort">
                                <template v-if="queue.length > 0">
                                    <tr v-if="queue.length > 0" v-for="item in sort.values" :key="item.id">
                                        <td>{{item.id}}</td>
                                        <td>{{item.number}}</td>
                                        <td>{{item.client}}</td>
                                        <td>{{item.project}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.max_hours}}</td>
                                        <td>{{item.observer}}</td>
                                        <template>
                                            <td v-if="item.is_free">Да</td>
                                            <td v-else>Нет</td>
                                        </template>
                                        <td>{{item.date}}</td>
                                        <td>{{item.date_implement}}</td>
                                        <td>{{item.date_implement_for_client}}</td>
                                        <td>{{item.real_date}}</td>
                                        <td>{{item.status}}</td>
                                        <td>{{item.user}}</td>
                                    </tr>
                                    <tr v-else>
                                        <td colspan="14" style="text-align: center">
                                            <i>Очередь пуста</i>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </SortedTable>
                    </div>
                    <div style="width: 100%">
                        <ul class="pagination pagination-sm float: left !important;">
                            <template v-if="page == 1">
                            <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                            </template>
                            <template v-else>
                            <li><a v-on:click="getQueue(page-1)" style="cursor: pointer;">«</a></li>
                            </template>
                            <template v-for="i in countQueuePages">
                            <li><a v-on:click="getQueue(i)" style="cursor: pointer;">{{i}}</a></li>
                            </template>
                            <template v-if="page == countQueuePages">
                            <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                            </template>
                            <template v-else>
                            <li><a v-on:click="getQueue(page+1)" style="cursor: pointer;">»</a></li>
                            </template>
                        </ul>
                        <select v-model="countQueueP" class="form-control" @change="changeQueuePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                            <option :value="{num: 10}">10</option>
                            <option :value="{num: 20}">20</option>
                            <option :value="{num: 50}">50</option>
                            <option :value="{num: 0}">Все</option>
                        </select>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            Forms: null,
            Raw: [],
            queue: [],
            Raw_count: 0,
            attendant: [],
            project: [],
            filterFlag: false,
            fieldFlag: false,
            fieldNum: true,
            fieldName: true,
            fieldPName: true,
            fieldVned: true,
            fieldWork: true,
            fieldPost: true,
            fieldRealiz: true,
            fieldZakaz: true,
            fieldReal: true,
            fieldStatus: true,
            addFilterFlag: null,
            statusFilter: null,
            search: '',

            countQueue: 0,
            countQueuePages: 0,
            page: 0,
            countQueueP: {
                num: 10
            },
        }
    },
    created() {
        this.getRawForms()
        this.getAttendant()
        this.getProjects() 
        this.getFields()
        this.getQueue()
    },
    computed: {
        FormsByTitle() {
            return this.project.filter(item => item.p_name.toLowerCase().includes(this.search.toLowerCase()))
        },
    },
    methods: {
        changeQueuePageCount() {
            this.page = 1
            axios
            .get('/implementer/print-form/getQueueForm?page='+1+'&count='+this.countQueueP.num)
            .then(response => {
                // console.log(response.data)
                this.countQueue = response.data.count
                this.queue = response.data.forms
                this.countQueuePages = response.data.count_pages
            })
        },
        getQueue(page) {
            axios
            .get('/implementer/print-form/getQueueForm?page='+page+'&count='+this.countQueueP.num)
            .then(response => {
                this.countQueue = response.data.count
                this.queue = response.data.forms
                this.countQueuePages = response.data.count_pages
                // this.filterImp = null
                // this.addFilterFlag = null
                // this.statusFilter = null
            })
        },
        getFields() {
            axios
            .get('/implementer/getFields')
            .then(response => {
                this.fieldNum = response.data['forms.fieldNum'];
                this.fieldName = response.data['forms.fieldName'];
                this.fieldPName = response.data['forms.fieldPName'];
                this.fieldVned = response.data['forms.fieldVned'];
                this.fieldWork = response.data['forms.fieldWork'];
                this.fieldPost = response.data['forms.fieldPost'];
                this.fieldRealiz = response.data['forms.fieldRealiz'];
                this.fieldZakaz = response.data['forms.fieldZakaz'];
                this.fieldReal = response.data['forms.fieldReal'];
                this.fieldStatus = response.data['forms.fieldStatus'];
            })
        },
        ChangePerm(name, perm) {
            console.log(!perm);
            var postBody = {
                name: name,
                perm: !perm
            }
            axios
            .post('/implementer/changePerm', {'data': JSON.stringify(postBody)})
            .then(response => {
                
            })
        },
        getRawForms() {
            axios
            .get('/implementer/getrawforms')
            .then(response => {
                // console.log(response.data);
                this.Raw = response.data.raw
                this.Raw_count = this.Raw.length
            })
        },
        openForm(id) {
            this.$router.push('/implementer/print-form/project/'+id);
        },
        clearImpPForm() {
            axios
            .get('/implementer/getProjectsForm')
            .then(response => {
                this.project = response.data.project
                this.filterImp = null
                this.addFilterFlag = null
                this.statusFilter = null
            })
        },
        delForm(id) {
            var postBody = {
                id: id
            }
            axios
            .post('/implementer/delForm', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.Raw = response.data.raw
                    this.Raw_count = this.Raw.length
                };
            })
        },
        getImpPForm() {
            if (this.addFilterFlag == 1) {
                if (this.statusFilter == null) {
                    alert('Укажите статус')
                    return
                }
                
                var postBody = {
                    statusFilter: this.statusFilter
                }
                axios
                .post('/implementer/getstatuspform', {'data': JSON.stringify(postBody)})
                .then(response => {
                    this.project = response.data.project
                })
                return  
            }
        },
        setStatusFilter(event) {
            console.log(event.target.value)
        },
        getAttendant() {
            axios
            .get('/implementer/getAttendant')
            .then(response => {
                this.attendant = response.data.attendant
            })
        },
        getProjects() {
            axios
            .get('/implementer/getProjectsForm')
            .then(response => {
                this.project = response.data.project
            })
        },
    },
}
</script>