<template>
    <ul class="sidebar-menu">
        <li class="header">Основное меню</li>

        <li>
            <router-link to="/implementer">
                <i class="fa fa-dashboard"></i> <span>Панель управления</span>
            </router-link>
        </li>
        <li>
            <router-link to="/implementer/projects">
                <i class="fa fa-folder"></i> <span>Мои проекты</span>
            </router-link>
        </li>
        <li>
            <router-link to="/implementer/tasks">
                <i class="fa fa-tasks"></i> <span>Мои задачи</span>
            </router-link>
        </li>
        <li>
            <router-link to="/implementer/print-form">
                <i class="fa fa-print"></i> <span>Отдел разработки форм</span>
                <span class="pull-right-container">
              <small class="label pull-right bg-red">{{project.length}}</small>
            </span>
            </router-link>
        </li>
        <li>
            <router-link :to="'/implementer/calendar/'+User_id+'/'+curDate">
                <i class="fa fa-calendar"></i> <span>Календарь</span>
            </router-link>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cogs"></i> <span>Настройки</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: none;">
                <li>
                    <router-link to="/implementer/settings">
                        <i class="fa fa-wrench"></i> <span>Общие настройки</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/implementer/users">
                        <i class="fa fa-user"></i> <span>Пользователи</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/implementer/callback">
                        <i class="fa fa-exchange"></i> <span>Обратная связь</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/implementer/groups">
                        <i class="fa fa-users"></i> <span>Группы пользователей</span>
                    </router-link>
                </li>
                <li>
                    <router-link to="/implementer/rights">
                        <i class="fa fa-circle-o"></i> <span>Права доступа</span>
                    </router-link>
                </li>
                <li class="treeview">
                    <router-link to="#"><i class="fa fa-circle-o"></i> Справочники
                        <span class="pull-right-container">
                          <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </router-link>
                    <ul class="treeview-menu" style="display: none;">
                        <li><router-link to="/implementer/group-tasks"><i class="fa fa-circle-o"></i> Группы задач</router-link></li>
                        <li><router-link to="/implementer/tasks-status"><i class="fa fa-circle-o"></i> Статусы задач</router-link></li>
                        <li><router-link to="/implementer/waiting-list"><i class="fa fa-circle-o"></i> Лист ожидания</router-link></li>
                        <li><router-link to="/implementer/modules"><i class="fa fa-circle-o"></i> Модули</router-link></li>
                        <li><router-link to="/implementer/clients"><i class="fa fa-circle-o"></i> Клиенты</router-link></li>
                        <li v-if="isHead == 1"><router-link to="/implementer/project-categories"><i class="fa fa-circle-o"></i> Категории проектов</router-link></li>
                        <li><router-link to="/implementer/citys"><i class="fa fa-circle-o"></i> Города</router-link></li>
                        <li><router-link to="/implementer/documents"><i class="fa fa-circle-o"></i> Документы</router-link></li>
                        <li><router-link to="/implementer/check-list"><i class="fa fa-circle-o"></i> Чек - лист</router-link></li>
                        <li><router-link to="/implementer/quality-control"><i class="fa fa-circle-o"></i> Вопросы для обзвона</router-link></li>
                        <li><router-link to="/implementer/contact-posts"><i class="fa fa-circle-o"></i> Должности</router-link></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null,
                User_id: '',
                curDate: null,
                project: [],
                isHead: null,
            }
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
                // this.$socket.emit('join', 'private-message123');
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        mounted: function() {
           //  console.log(this.$socket);
           //  Notification.requestPermission(function(permission){
           //      this.perm = permission;
           //      console.log('Результат запроса прав:', permission);
           //  }.bind(this));
           //  this.sockets.subscribe('client:add', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Новый клиент', {
           //              body: 'Пользователь '+data.user+' добавил нового клиента '+data.client,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('project:add', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Новый проект', {
           //              body: 'Пользователь '+data.user+' добавил новый проект '+data.project,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('raw:add', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Распределение проекта', {
           //              body: 'Проект '+data.project+' назначен на пользователя '+data.user,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('changeImp:add', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Смена внедренца в проекте', {
           //              body: 'Проект '+data.project+' назначен на пользователя '+data.user,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           // this.sockets.subscribe('private-addFormToQueue:addFormToQueue', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Добавлены формы в очередь', {
           //              body: 'Пользователь '+data.user+' добавил формы в очередь',
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('private-addFormError:addFormError', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Ошибка постановки формы в очередь', {
           //              body: 'Ошибка постановки формы в очередь',
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('private-formChangeStatus:formChangeStatus', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Формы', {
           //              body: 'Форма '+data.form+'. Статус сменился на '+data.status,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
           //  this.sockets.subscribe('private-ManagerCloseProject:ManagerCloseProject', function (data) {
           //      this.$notify('text')
           //      this.count = this.count+1
           //      if (this.perm == 'granted') {
           //          sendNotification('Проекты', {
           //              body: 'Пользователь '+data.user+' закрыл проект '+data.project,
           //              icon: 'https://stage.88003010373.ru/logo.png',
           //              dir: 'auto'
           //          });
           //      };
           //  }.bind(this));
        },
        created() {
            this.getProjects();
            this.getUserId();
        },
        methods: {
            getUserId() {
                axios
                .get('/implementer/users/getUserId')
                .then(response => {
                    this.User_id = response.data.curUser.id
                    var myDate = new Date()
                    var month = ('0' + (myDate.getMonth() + 1)).slice(-2)
                    var date = ('0' + myDate.getDate()).slice(-2)
                    var year = myDate.getFullYear()
                    var formattedDate = year + '-' + month + '-' + date
                    this.curDate = formattedDate
                    this.isHead = response.data.curUser.head;
                })
            },
            getProjects() {
                axios
                .get('/implementer/getProjectsForm')
                .then(response => {
                    this.project = response.data.project
                })
            },
        } 
    }
</script>