<template>
    <div>
        <div class="nav-tabs-custom">
            <div class="box" style="padding: 15px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>
                </div>
                <div class="row">
                    <div class="col-md-6"> 
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Номер задачи</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.form.id}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Заказчик</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.client.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Название проекта</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.project.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Наименование задачи</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-for="(item, index) in Raw.file">
                                        {{item.name}}&nbsp;
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Статус</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select class="form-control" v-model="curStatus">
                                        <template v-for="(item, index) in Raw.statuses">
                                            <option :value="item.id">{{item.name}}</option>
                                        </template>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Внедренец</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.user.first_name}} {{Raw.user.last_name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr v-if="Raw.dev != null">
                                <td width="40%" style="vertical-align: middle;">Разработчик</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.dev.first_name}} {{Raw.dev.last_name}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Прикрепленные файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="Raw.file" />
<!--                <ul class="mailbox-attachments clearfix" v-if="Raw.file.length > 0 && Raw.file[0].name != null">-->
<!--                    <li v-for="(item, index) in Raw.file">-->
<!--                        <template v-if="item.ext == 'pdf'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="item.ext == 'xls'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="item.ext == 'xlsx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="item.ext == 'doc'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.name.slice(0, 20)}}...</a>-->
<!--                                <a :href="'https://drive.google.com/uc?export=download&id='+item.img" download target="_blank" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                <span class="mailbox-attachment-size"> -->
<!--                                    -->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="item.ext == 'docx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.name.slice(0, 20)}}...</a>-->
<!--                                <a :href="'https://drive.google.com/uc?export=download&id='+item.img" download target="_blank" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    -->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Готовые файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="DoneForm" :done="true"/>
<!--                <ul class="mailbox-attachments clearfix" v-if="DoneForm.length > 0">-->
<!--                    <li v-for="(item, indexx) in DoneForm">-->
<!--                        <span class="mailbox-attachment-icon"><i class="fa fa-file-text-o"></i></span>-->
<!--                        <div class="mailbox-attachment-info">-->
<!--                            <a :href="'https://xml.editey.com/file/'+item.g_file" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{item.file.slice(0, 20)}}...</a>-->
<!--                            <span class="mailbox-attachment-size"> -->
<!--                                <a :href="'https://drive.google.com/uc?export=download&id='+item.g_file" download target="_blank" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        <Print_form_comments />
<!--        <div class="box">-->
<!--            <div class="box-header with-border">-->
<!--                <h3 class="box-title">Комментарии</h3>-->
<!--            </div>-->
<!--            <div class="box-body">-->
<!--                <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                </div>-->
<!--                <div class="clear"></div>-->
<!--                <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                    <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>-->
<!--                </div>-->
<!--                <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                    <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                </div>-->
<!--                <div v-if="Raw.comments.length > 0">-->
<!--                    <div class="post" v-for="(item, index) in Raw.comments">-->
<!--                        <div class="user-block">-->
<!--                            <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                            <span class="username">-->
<!--                            <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                            <template v-if="item.autor == true">-->
<!--                                <a v-on:click="editComment(item.id)" class="pull-right btn-box-tool" style="cursor: pointer;"><i class="fa fa-pencil"></i></a>-->
<!--                                <a v-on:click="delComment(item.id)" class="pull-right btn-box-tool" style="cursor: pointer;"><i class="fa fa-trash"></i></a>-->
<!--                            </template>-->
<!--                        </span>-->
<!--                            <template v-if="item.for_client == 1">-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                            </template>-->
<!--                        </div>-->
<!--                        <div v-if="editCommentFlag == false">-->
<!--                            <span v-html="item.text"></span>-->
<!--                        </div>-->
<!--                        <div v-if="editCommentFlag == true && editableComment.id == item.id">-->
<!--                            <ckeditor :editor="editor" v-model="editableComment.text" :config="editorConfig" :value="item.text"></ckeditor>-->
<!--                            <div>-->
<!--                                <button v-on:click="saveEditComment()" class="btn btn-success">Сохранить</button>-->
<!--                                <button v-on:click="cancelEditComment()" class="btn btn-default">Отмена</button>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="post" v-else>-->
<!--                    <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group">
            <input type="button" v-on:click="saveRaw()" value="Сохранить" class="btn btn-success">
            <router-link :to="'/implementer/print-form'" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import AttachmentFiles from "../AttachmentFiles";
import Print_form_comments from "../print_form_common/Print_form_comments";
export default {
    components: {AttachmentFiles, Print_form_comments},
    data() {
        return {
            Raw: [],
            DoneForm: [],
            status: null,
            comment: '',
            commentFlag: false,
            editableComment: null,
            editor: ClassicEditor,
            editorData: '',
            curStatus: null,
            editCommentFlag: false,
            editorConfig: {
                // The configuration of the editor.
            },
        }
    },
    created() {
        this.getRaw()
        this.getDoneForm()
    },
    methods: {
        getRaw() {
            axios
            .get('/implementer/getRaw/'+this.$route.params.id)
            .then(response => {
                console.log(response.data)
                this.Raw = response.data
                this.curStatus = this.Raw.form.printform_status_ref_id
            })
        },
        delComment(id) {
            axios
            .get('/implementer/comment/del/'+id)
            .then(response => {
                this.getRaw()
            })
        },
        editComment(id) {
            this.editCommentFlag = true
            for (var i = 0; i < this.Raw.comments.length; i++) {
                if (this.Raw.comments[i].id == id) {
                    this.editableComment = this.Raw.comments[i]
                }
            }
        },
        cancelEditComment() {
            this.editCommentFlag = false
        },
        saveEditComment() {
            console.log(this.editableComment);
            if (this.editableComment.text != '') {
                var postBody = {
                    comment: this.editableComment
                }
                axios
                .post('/implementer/print-form/saveEditComment', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.editCommentFlag = false
                        this.getRaw()
                    }
                })
            } else {
                alert("Комментарий не может быть пустым");
                return false;
            }
        },
        getDoneForm() {
            axios
            .get('/implementer/getDoneForm/'+this.$route.params.id)
            .then(response => {
                console.log(response.data)
                this.DoneForm = response.data
            })
        },
        click_mes_form() {
            this.comment = ''
            this.commentFlag = !this.commentFlag
        },
        add_comment() {
            if (this.comment == '') {
                alert('Укажите коментарий');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                comment: this.comment
            }

            axios
            .post('/implementer/add-comment', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.comment = null
                    this.commentFlag = !this.commentFlag
                    this.getRaw()
                }
            })
        },
        saveRaw() {
            var postBody = {
                id: this.$route.params.id,
                curStatus: this.curStatus
            }

            axios
            .post('/implementer/print-form/attendant/edit', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/implementer/print-form');
                }
            })
        }
    },
}
</script>