<template>
    <div class="box" style="padding: 15px;">
        <form>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td style="width: 30%">Клиент</td>
                            <td>
                                <v-select v-model="curClient" :options="clients" @input="getProjects()"></v-select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Проект</td>
                            <td>
                                <v-select v-model="curProject" :options="projects" @input="getContact()"></v-select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Контактное лицо</td>
                            <td v-if="contacts.length > 0">
                                <table class="table">
                                    <tr v-for="(item, index) in contacts">
                                        <td>{{item.first_name}} {{item.last_name}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.email}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td v-else>
                                Контакты отсутствуют
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Комментарии</h3>
                </div>
                <div class="box-body">
                    <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Прикрепленные файлы</h3>
                </div>
                <div class="box-footer">
                    <Imp_uploadForm_attendant
                        :project_id = "curProject.value"
                        :client_id = "curClient.value"
                        :comment = "comment"
                    >
                    </Imp_uploadForm_attendant>
                </div>
            </div>
        </form>
    </div> 
</template>
<script>
    import Select2 from 'v-select2-component';
    import Imp_uploadForm_attendant from '../Imp_uploadForm_attendant.vue'; 
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        props: ['Select2'],
        data() {
            return {
                clients: [],
                projects: [],
                contacts: [],
                options: [{}],
                commentFlag: false,
                curClient: {
                    'id': null
                },
                curProject: {
                    'id': null
                },
                comment: '',
                commentFlag: false,
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },
            }
        },
        components: {
            Imp_uploadForm_attendant
        },
        created() {
            this.getClients()
        },
        methods: {
            getClients() {
                console.log(this.time3);
                axios
                .get('/getClients')
                .then(response => {
                    this.clients = response.data
                    // this.myOptions = this.clients
                })
            },
            getProjects() {
                if (this.curClient.value) {
                    axios
                    .get('/getClientProject/'+this.curClient.value)
                    .then(response => {
                        this.projects = response.data
                    })
                }
            },
            getContact() {
                if (this.curProject.value) {
                    axios
                    .get('/getContact/'+this.curProject.value)
                    .then(response => {
                        console.log(response.data);
                        this.contacts = response.data
                    })
                }
            },
            add_comment() {
                if (this.comment == '') {
                    alert('Укажите коментарий');
                    return
                }

                var postBody = {
                    form_id: this.$route.params.id,
                    comment: this.comment
                }

                axios
                .post('/implementer/add-comment', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.comment = null
                        this.commentFlag = !this.commentFlag
                        //this.getRaw()
                    }
                })
            },
        },
    }
</script>
<style>
    .select2-container {
        width: 100% !important;
    }
</style>