<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#projects" data-toggle="tab" aria-expanded="true">Проекты
                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="">{{countProj}}</span>    
            </a></li>
            <li class=""><a href="#project_tasks" data-toggle="tab" aria-expanded="false">Задачи по проектам</a></li>
            <li class=""><a href="#raw" data-toggle="tab" aria-expanded="false">Необработанные
                <span data-toggle="tooltip" v-if="raw_count > 0" title="" class="badge bg-light-blue" data-original-title="">{{raw_count}}</span>
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="raw">
                <div class="box">
                    <div class="box-header"></div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Название клиента</th>
                                    <th style="vertical-align: middle;">Название проекта</th>
                                    <th style="vertical-align: middle;">Город</th>
                                    <th style="vertical-align: middle;">Дата создания</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="Raw != ''">
                                <tr v-on:dblclick="openRaw(item.id)" v-for="(item, index) in Raw">
                                    <td>{{item.client}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.created_date}}</td>
                                    <td>
                                        <router-link :to="'project/raw/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="5">Проекты не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane active" id="projects">
                <SearchTable :url="'projects'"/>
<!--                <div class="box">-->
<!--                    <div class="box-header">-->
<!--                        &lt;!&ndash; <a v-on:click="Slip()" style="padding-right: 15px; cursor: pointer;">Спящие</a>-->
<!--                        <a href="" style="padding-right: 15px;">Активные</a>-->
<!--                        <a v-on:click="today()" style="padding-right: 15px; cursor: pointer;">Сегодня</a>-->
<!--                        <a v-on:click="fire()" style="padding-right: 15px; cursor: pointer;">Горящие</a>-->
<!--                        <a v-on:click="close()" style="padding-right: 15px; cursor: pointer;">Закрытые</a> &ndash;&gt;-->
<!--                        <a v-on:click="filterFlag = !filterFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer;">Фильтр</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                        <a v-on:click="fieldFlag = !fieldFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer;">Поля</a>-->
<!--                        <div class="box-tools">-->
<!--                            <div class="input-group input-group-sm" style="width: 150px;">-->
<!--                                <input type="text" v-model="search" v-on:keyup.enter="searchProject()" name="project_search" class="form-control pull-right" placeholder="Поиск">-->

<!--                                <div class="input-group-btn">-->
<!--                                    <button v-on:click="searchProject()" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div v-if="fieldFlag">-->
<!--                        <table class="table table-hover">-->
<!--                            <tr>-->
<!--                                <td><input v-model="fieldProjName" v-on:click="ChangePerm('fieldProjName', fieldProjName)" type="checkbox"></td>-->
<!--                                <td>Название клиента</td>-->
<!--                                <td><input v-model="fieldProjPName" v-on:click="ChangePerm('fieldProjPName', fieldProjPName)" type="checkbox"></td>-->
<!--                                <td>Название проекта</td>-->
<!--                                <td><input v-model="fieldProjVned" v-on:click="ChangePerm('fieldProjVned', fieldProjVned)" type="checkbox"></td>-->
<!--                                <td>Внедренец</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                -->
<!--                                <td><input v-model="fieldProjPredCont" v-on:click="ChangePerm('fieldProjPredCont', fieldProjPredCont)" type="checkbox"></td>-->
<!--                                <td>Предыдущий контакт</td>-->
<!--                                <td><input v-model="fieldProjSledCont" v-on:click="ChangePerm('fieldProjSledCont', fieldProjSledCont)" type="checkbox"></td>-->
<!--                                <td>Следующий контакт</td>-->
<!--                                <td><input v-model="fieldProjCity" v-on:click="ChangePerm('fieldProjCity', fieldProjCity)" type="checkbox"></td>-->
<!--                                <td>Город</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td><input v-model="fieldProjDone" v-on:click="ChangePerm('fieldProjDone', fieldProjDone)" type="checkbox"></td>-->
<!--                                <td>Готовность</td>-->
<!--                                <td><input v-model="fieldProjActive" v-on:click="ChangePerm('fieldProjActive', fieldProjActive)" type="checkbox"></td>-->
<!--                                <td>Активность</td>-->
<!--                                <td><input v-model="fieldProjStartDate" v-on:click="ChangePerm('fieldProjStartDate', fieldProjStartDate)" type="checkbox"></td>-->
<!--                                <td>Дата начала</td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td><input v-model="fieldProjDoneDate" v-on:click="ChangePerm('fieldProjDoneDate', fieldProjDoneDate)" type="checkbox"></td>-->
<!--                                <td>Планируемая дата окончания</td>-->
<!--                                <td><input v-model="fieldProjListOzid" v-on:click="ChangePerm('fieldProjListOzid', fieldProjListOzid)" type="checkbox"></td>-->
<!--                                <td>Лист ожидания</td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                    <div class="col-md-12" v-if="filterFlag">-->
<!--                        <table class="table table-hover">-->
<!--                            <tr>-->
<!--                                <td style="width: 10%">Внедренец</td>-->
<!--                                <td style="width: 30%">-->
<!--                                    <select class="form-control" v-model="filterImp">-->
<!--                                        <option v-for="(item, index) in Imp" :value="item.id">{{item.first_name}} {{item.last_name}}</option>-->
<!--                                    </select>-->
<!--                                </td>-->
<!--                                <td style="text-align: right; padding-right: 20px;">Добавить фильтр</td>-->
<!--                                <td>-->
<!--                                    <select class="form-control" v-model="addFilterFlag">-->
<!--                                        <option value="1">Статус</option>-->
<!--                                        <option value="2">Дата закрытия</option>-->
<!--                                    </select>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>&nbsp;</td>-->
<!--                            </tr>-->
<!--                            <tr v-if="addFilterFlag == 1">-->
<!--                                <td>Статус</td>-->
<!--                                <td>-->
<!--                                    <select class="form-control" @change="setStatusFilter($event)" v-model="statusFilter">-->
<!--                                        <option value="1">Спящие</option>-->
<!--                                        <option value="2">Горящие</option>-->
<!--                                        <option value="3">Закрытые</option>-->
<!--                                        <option value="4">Сегодня</option>-->
<!--                                    </select>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr v-if="addFilterFlag == 2">-->
<!--                                    <td>с</td>-->
<!--                                    <td>-->
<!--                                        <input type="date" class="form-control" v-model="startClose">-->
<!--                                    </td>-->
<!--                                    <td style="text-align: right; padding-right: 20px;">по</td>-->
<!--                                    <td>-->
<!--                                        <input type="date" class="form-control" v-model="endClose">-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                        </table>-->
<!--                        <button class="btn btn-primary" v-on:click="searchProject()">Применить</button>-->
<!--                        <button class="btn btn-default" v-on:click="clearImpProject()">Очистить</button>-->
<!--                    </div>-->
<!--                    <div style="clear: both;"></div>-->
<!--                    &lt;!&ndash; /.box-header &ndash;&gt;-->
<!--                    <div class="box-body table-responsive no-padding">-->
<!--                        <table class="table table-hover" style="word-break: break-word;">-->
<!--                            <thead>-->
<!--                                <tr><th style="vertical-align: middle; max-width: 20%" v-if="fieldProjName">Название клиента</th>-->
<!--                                    <th style="vertical-align: middle; max-width: 20%" v-if="fieldProjPName">Название проекта</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjVned">Внедренец</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjPredCont">Предыдущий контакт</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjSledCont">Следующий контакт</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjCity">Город</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjDone">Готовность</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjActive">Активность</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjStartDate">Дата начала</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjDoneDate">Планируемая дата окончания</th>-->
<!--                                    <th style="vertical-align: middle;" v-if="fieldProjListOzid">Лист ожидания</th>-->
<!--                                    <th style="vertical-align: middle;">Действия</th>-->
<!--                                </tr>-->
<!--                            </thead>-->
<!--                            <template v-if="loading">-->
<!--                                <tbody>-->
<!--                                    <tr>-->
<!--                                        <td style="text-align: center" colspan="11"><img src="/images/loader.gif" style="width: 70%;" alt=""></td>-->
<!--                                    </tr>-->
<!--                                </tbody>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <tbody v-if="Projects != ''">-->
<!--                                <tr v-for="(item, index) in Projects" v-if="item.close != 1 && item.wlist != null" v-on:dblclick="dclick(item.id)" style="background-color: #f5debf;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in Projects" v-if="item.close == 1 && item.wlist != null" v-on:dblclick="dclick(item.id)" style="text-decoration: line-through; background-color: #f5debf;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in Projects" v-if="item.close != 1 && item.wlist == null" v-on:dblclick="dclick(item.id)">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in Projects" v-if="item.close == 1 && item.wlist == null" v-on:dblclick="dclick(item.id)" style="text-decoration: line-through;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                &lt;!&ndash; <tr v-for="(item, index) in ProjectsByTitle" v-if="item.wlist != null"  v-on:dblclick="dclick(item.id)" style="background-color: #f5debf;">-->
<!--                                    <td>{{item.client}}</td>-->
<!--                                    <td>{{item.name}}</td>-->
<!--                                    <td>{{item.user}}</td>-->
<!--                                    <td>{{item.prev_contact}}</td>-->
<!--                                    <td>{{item.next_contact}}</td>-->
<!--                                    <td>{{item.city}}</td>-->
<!--                                    <td>{{item.done}}</td>-->
<!--                                    <td>{{item.active}}</td>-->
<!--                                    <td>{{item.created_at}}</td>-->
<!--                                    <td>{{item.finish_date}}</td>-->
<!--                                    <td>{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr> &ndash;&gt;-->
<!--                                </tbody>-->
<!--                                <tbody v-else>-->
<!--                                <tr>-->
<!--                                    <td colspan="5">Проекты не найдены</td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                                <tbody v-if="t != ''">-->
<!--                                <tr v-for="(item, index) in t" v-if="item.close != 1 && item.wlist != null" v-on:dblclick="dclick(item.id)" style="background-color: #f5debf;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in t" v-if="item.close == 1 && item.wlist != null" v-on:dblclick="dclick(item.id)" style="text-decoration: line-through; background-color: #f5debf;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in t" v-if="item.close != 1 && item.wlist == null" v-on:dblclick="dclick(item.id)">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr v-for="(item, index) in t" v-if="item.close == 1 && item.wlist == null" v-on:dblclick="dclick(item.id)" style="text-decoration: line-through;">-->
<!--                                    <td v-if="fieldProjName">{{item.client}}</td>-->
<!--                                    <td v-if="fieldProjPName">{{item.name}}</td>-->
<!--                                    <td v-if="fieldProjVned">{{item.user}}</td>-->
<!--                                    <td v-if="fieldProjPredCont">{{item.prev_contact}}</td>-->
<!--                                    <td v-if="fieldProjSledCont">{{item.next_contact}}</td>-->
<!--                                    <td v-if="fieldProjCity">{{item.city}}</td>-->
<!--                                    <td v-if="fieldProjDone">{{item.done}}</td>-->
<!--                                    <td v-if="fieldProjActive">{{item.active}}</td>-->
<!--                                    <td v-if="fieldProjStartDate">{{item.created_at}}</td>-->
<!--                                    <td v-if="fieldProjDoneDate">{{item.finish_date}}</td>-->
<!--                                    <td v-if="fieldProjListOzid">{{item.wlist}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                &lt;!&ndash; <tr v-for="(item, index) in ProjectsByTitle" v-if="item.wlist != null"  v-on:dblclick="dclick(item.id)" style="background-color: #f5debf;">-->
<!--                                    <td>{{item.client}}</td>-->
<!--                                    <td>{{item.name}}</td>-->
<!--                                    <td>{{item.user}}</td>-->
<!--                                    <td>{{item.prev_contact}}</td>-->
<!--                                    <td>{{item.next_contact}}</td>-->
<!--                                    <td>{{item.city}}</td>-->
<!--                                    <td>{{item.done}}</td>-->
<!--                                    <td>{{item.active}}</td>-->
<!--                                    <td>{{item.created_at}}</td>-->
<!--                                    <td>{{item.finish_date}}</td>-->
<!--                                    <td>{{item.wlist.name}}</td>-->
<!--                                    <td>-->
<!--                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">-->
<!--                                            <i class="fa fa-pencil"></i>-->
<!--                                        </router-link>-->
<!--                                    </td>-->
<!--                                </tr> &ndash;&gt;-->
<!--                                </tbody>-->
<!--                            </template>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.tab-pane &ndash;&gt;-->
<!--                <div style="width: 100%">-->
<!--                    <ul class="pagination pagination-sm float: left !important;">-->
<!--                        <template v-if="page == 1">-->
<!--                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>-->
<!--                        </template>-->
<!--                        <template v-else>-->
<!--                        <li><a v-on:click="searchProject(page-1)" style="cursor: pointer;">«</a></li>-->
<!--                        </template>-->
<!--                        <template v-for="i in countPages">-->
<!--                            <template v-if="page == i">-->
<!--                                <li><a v-on:click="searchProject(i)" style="background: rgba(188, 222, 251, 0.49);cursor: pointer;">{{i}}</a></li>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <li><a v-on:click="searchProject(i)" style="cursor: pointer;">{{i}}</a></li>-->
<!--                            </template>-->
<!--                        </template>-->
<!--                        <template v-if="page == countPages">-->
<!--                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>-->
<!--                        </template>-->
<!--                        <template v-else>-->
<!--                        <li><a v-on:click="searchProject(page+1)" style="cursor: pointer;">»</a></li>-->
<!--                        </template>-->
<!--                    </ul>-->
<!--                    <select v-model="countP" class="form-control" @change="changePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">-->
<!--                        <option :value="{num: 10}">10</option>-->
<!--                        <option :value="{num: 20}">20</option>-->
<!--                        <option :value="{num: 50}">50</option>-->
<!--                        <option :value="{num: 0}">Все</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
            <div class="tab-pane" id="project_tasks">
                <div class="box">
                    <div class="box-header">
                        <a id="notExecute" onclick="sort_task('notExecute');" class="btn btn-default active">Невыполненные</a>
                        <a id="all" onclick="sort_task('all');" class="btn btn-default">Все</a>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="task_search" class="form-control pull-right" placeholder="Поиск">

                                <div class="input-group-btn">
                                    <button type="submit" onclick="task_search();" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="vertical-align: middle;">Клиент</th>
                                    <th style="vertical-align: middle;">Проект</th>
                                    <th style="vertical-align: middle;">Город</th>
                                    <th style="vertical-align: middle;">Название задачи</th>
                                    <th style="vertical-align: middle;">Предыдущий контакт</th>
                                    <th style="vertical-align: middle;">Запланированный контакт</th>
                                    <th style="vertical-align: middle;">Действия</th>
                                </tr>
                            </thead>
                            <tbody v-if="Project_task == ''">
                                <tr>
                                    <td colspan="6" style="text-align: center;">Задачи не найдены</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr v-for="(item, index) in Project_task">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.prev_contact}}</td>
                                    <td>{{item.next_contact}}</td>
                                    <td>
                                        <router-link :to="'project/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import SearchTable from "../SearchTable";
    export default {
        components: {SearchTable},
        data() {
            return {
                t: [],
                Projects: [],
                Raw: [],
                Project_task: [],
                raw_count: 0,
                projects_count: 0,
                search: '',
                loading: true,
                filterFlag: false,
                Imp: null,
                filterImp: null,
                statusFlag: false,
                addFilterFlag: null,
                statusFilter: null,
                startClose: null,
                endClose: null,
                fieldFlag: false,
                fieldProjName: true,
                fieldProjPName: true,
                fieldProjVned: true,
                fieldProjSledCont: true,
                fieldProjCity: true,
                fieldProjDone: true,
                fieldProjActive: true,
                fieldProjStartDate: true,
                fieldProjDoneDate: true,
                fieldProjListOzid: true,
                fieldProjPredCont: true,

                countPages: 0,
                page: 1,
                countP: {
                    num: 10
                },
                currentPage: 1,
                countProj: 0,

                Projects_all: []
            }
        },
        created() {
            var data = JSON.parse(sessionStorage.getItem('data.projects'));

            if (data) {
                for (var prop in data) {
                    this[prop] = data[prop];
                }
                sessionStorage.setItem('data.projects', null);
            } else {
                this.getUrlParam(this.currentPage)
                this.getFields()
            }
        },
        beforeDestroy(){
            if (this.$router.history.current.name === 'Projects_edit'){
                sessionStorage.setItem('data.projects', JSON.stringify(this.$data));
            } else {
                sessionStorage.setItem('data.projects', null);
            }
        },
        mounted: function() {
            this.$socket.on('project:add', function (data) {
                this.raw_count = this.raw_count+1
            }.bind(this));
        },
        computed: {
            ProjectsByTitle() {
                if (this.search != '') {
                    this.loading = true
                    axios
                    .get('/implementer/getprojects?page='+1+'&count='+0)
                    .then(response => {
                        // console.log('Ok')
                        var proj = response.data.projects;
                        this.t = proj.filter(item => item.name.toLowerCase().includes(this.search.toLowerCase()))
                        // console.log(this.t);
                        return this.t
                    }).finally(() => (
                        this.loading = false
                    ))
                } else {
                    this.t = []
                    return this.Projects.filter(item => item.name.toLowerCase().includes(this.search.toLowerCase()))
                }
                
            },
        },
        methods: {
            projects_search() {
                console.log(this.search);
                this.loading = true

                var postBody = {
                    search: this.search
                }

                axios
                .post('/implementer/searchProjects', {'data': JSON.stringify(postBody)})
                .then(response => {
                    
                    this.Projects = response.data.projects
                    console.log(this.Projects) 
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    //this.raw_count = response.data.raw.length;
                }).finally(() => (
                    this.loading = false
                ))
            },
            getFields() {
                axios
                .get('/implementer/getFields')
                .then(response => {
                    this.fieldProjName = response.data['project.fieldProjName'];
                    this.fieldProjPName = response.data['project.fieldProjPName'];
                    this.fieldProjVned = response.data['project.fieldProjVned'];
                    this.fieldProjPredCont = response.data['project.fieldProjPredCont'];
                    this.fieldProjSledCont = response.data['project.fieldProjSledCont'];
                    this.fieldProjCity = response.data['project.fieldProjCity'];
                    this.fieldProjDone = response.data['project.fieldProjDone'];
                    this.fieldProjActive = response.data['project.fieldProjActive'];
                    this.fieldProjStartDate = response.data['project.fieldProjStartDate'];
                    this.fieldProjDoneDate = response.data['project.fieldProjDoneDate'];
                    this.fieldProjListOzid = response.data['project.fieldProjListOzid'];
                })
            },
            ChangePerm(name, perm) {
                console.log(!perm);
                var postBody = {
                    name: name,
                    perm: !perm
                }
                axios
                .post('/implementer/changePermProj', {'data': JSON.stringify(postBody)})
                .then(response => {
                    
                })
            },
            getUrlParam(page) {
                if (this.$router.history.current.hash == '#filter') {
                    this.filterFlag = !this.filterFlag
                    this.filterImp = sessionStorage.getItem('filterImp');
                    this.addFilterFlag = sessionStorage.getItem('addFilterFlag');
                    this.statusFilter = sessionStorage.getItem('statusFilter');
                    this.startClose = sessionStorage.getItem('startClose');
                    this.endClose = sessionStorage.getItem('endClose');

                    delete sessionStorage.filterImp;
                    delete sessionStorage.addFilterFlag;
                    delete sessionStorage.statusFilter;
                    delete sessionStorage.startClose;
                    delete sessionStorage.endClose;
                    console.log(this.addFilterFlag);

                    this.getImp()

                    if (this.addFilterFlag == 1) {
                        if (this.statusFilter == null) {
                            alert('Укажите статус')
                            return
                        }
                        
                        this.loading = true
                        if (this.filterImp == 'null') {
                            
                            var postBody = {
                                statusFilter: this.statusFilter
                            }
                            axios
                            .post('/implementer/getstatusprojects', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                this.Projects = response.data.projects;
                                this.projects_count = response.data.projects.length;
                                sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                                sessionStorage.setItem('statusFilter', this.statusFilter);
                                sessionStorage.setItem('filterImp', this.filterImp);
                            })
                            .finally(() => (
                                this.loading = false
                            ))
                        } else {
                            var postBody = {
                                statusFilter: this.statusFilter, 
                                imp: this.filterImp
                            }
                            axios
                            .post('/implementer/getstatusprojects', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                this.Projects = response.data.projects;
                                this.projects_count = response.data.projects.length;
                                sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                                sessionStorage.setItem('statusFilter', this.statusFilter);
                                sessionStorage.setItem('filterImp', this.filterImp);
                            })
                            .finally(() => (
                                this.loading = false
                            ))
                        }
                        return  
                    }

                    if (this.addFilterFlag == 2) {
                        
                        if (this.startClose == 'null') {
                            alert('Укажите начальную дату')
                            return
                        }
                        if (this.endClose == 'null') {
                            alert('Укажите конечную дату')
                            return
                        }

                        this.loading = true
                        if (this.filterImp == 'null') {
                            var postBody = {
                                startClose: this.startClose,
                                endClose: this.endClose
                            }
                            axios
                            .post('/implementer/getclosedateprojects', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                this.Projects = response.data.projects;
                                this.projects_count = response.data.projects.length;
                                sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                                sessionStorage.setItem('startClose', this.startClose);
                                sessionStorage.setItem('endClose', this.endClose);
                                sessionStorage.setItem('filterImp', this.filterImp);
                            })
                            .finally(() => (
                                this.loading = false
                            ))
                        } else {
                            var postBody = {
                                startClose: this.startClose,
                                endClose: this.endClose,
                                imp: this.filterImp
                            }
                            axios
                            .post('/implementer/getclosedateprojects', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                this.Projects = response.data.projects;
                                this.projects_count = response.data.projects.length;
                                sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                                sessionStorage.setItem('startClose', this.startClose);
                                sessionStorage.setItem('endClose', this.endClose);
                                sessionStorage.setItem('filterImp', this.filterImp);
                            })
                            .finally(() => (
                                this.loading = false
                            ))
                        }
                        return
                    }

                    this.loading = true
                    if (this.filterImp == 'null') {
                        this.page = page
                        axios
                        .get('/implementer/getprojects?page='+page+'&count='+this.countP.num)
                        .then(response => {
                            console.log(response.data.count)
                            this.Projects = response.data.projects;
                            this.countProj = response.data.count
                            this.countPages = response.data.count_pages
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    } else {
                        axios
                        .get('/implementer/getprojectsbyimpid/'+this.filterImp)
                        .then(response => {
                            this.Projects = response.data.projects;
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    }
                } else {
                    this.getProjects(page)
                };
            },
            getImp() {
                axios
                .get('/getImplementers')
                .then(response => {
                    this.Imp = response.data
                })
            },
            changePageCount() {
                if (this.filterFlag){
                    this.searchProject(1)
                    return
                }
                this.page = 1
                axios
                .get('/implementer/getprojects?page='+1+'&count='+this.countP.num)
                .then(response => {
                    console.log(response.data.count)
                    this.Imp = response.data.imp
                    this.Projects = response.data.projects;
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    this.Raw = response.data.raw;
                    this.raw_count = response.data.raw.length;
                    // this.projects_count = response.data.projects.length;
                    // this.Project_task = response.data.project_task;
                    // hideSpinnerAnimation();

                    axios
                    .get('/implementer/getprojects?page='+1+'&count='+0)
                    .then(response => {
                        this.Projects_all = response.data.projects;
                    })
                    .finally(() => (
                        this.loading = false
                    ))
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            getProjects(page) {
                // showSpinnerAnimation();
                this.page = page
                axios
                .get('/implementer/getprojects?page='+page+'&count='+this.countP.num)
                .then(response => {
                    console.log(response.data)
                    this.Imp = response.data.imp
                    this.Projects = response.data.projects;
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    this.Raw = response.data.raw;
                    this.raw_count = response.data.raw.length;
                    // this.projects_count = response.data.projects.length;
                    // this.Project_task = response.data.project_task;
                    // hideSpinnerAnimation();
                })
                .finally(() => (
                    this.loading = false
                ))
            },

            searchProject(page){
                if (page){
                    this.page = page
                }
                this.loading = true
                var postBody = {};
                if (this.filterFlag){
                    postBody = {
                        statusFilter: this.statusFilter,
                        imp: this.filterImp,
                        startClose: this.startClose,
                        endClose: this.endClose,
                        filterIndex: this.addFilterFlag
                    }
                }
                postBody['search'] = this.search;
                postBody['page'] = page;
                postBody['count'] = this.countP.num;


                axios
                    .post('/implementer/search-project', {'data': JSON.stringify(postBody)})
                    .then(response => {
                        this.Projects = response.data.projects;
                        this.projects_count = response.data.count;
                        this.countPages = this.countP.num ? Math.ceil(this.projects_count/this.countP.num) : 1

                        sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                        sessionStorage.setItem('statusFilter', this.statusFilter);
                        sessionStorage.setItem('filterImp', this.filterImp);
                        sessionStorage.setItem('startClose', this.startClose);
                        sessionStorage.setItem('endClose', this.endClose);
                    })
                    .finally(() => (
                        this.loading = false
                    ))

            },

            getImpProject() {
                if (this.addFilterFlag == 1) {
                    if (this.statusFilter == null) {
                        alert('Укажите статус')
                        return
                    }
                    
                    
                    this.loading = true
                    if (this.filterImp == null) {
                        
                        var postBody = {
                            statusFilter: this.statusFilter
                        }
                        axios
                        .post('/implementer/getstatusprojects', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            this.Projects = response.data.projects;
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                            sessionStorage.setItem('statusFilter', this.statusFilter);
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    } else {
                        var postBody = {
                            statusFilter: this.statusFilter, 
                            imp: this.filterImp
                        }
                        axios
                        .post('/implementer/getstatusprojects', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            this.Projects = response.data.projects;
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                            sessionStorage.setItem('statusFilter', this.statusFilter);
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    }
                    return  
                }

                if (this.addFilterFlag == 2) {
                    
                    if (this.startClose == null) {
                        alert('Укажите начальную дату')
                        return
                    }
                    if (this.endClose == null) {
                        alert('Укажите конечную дату')
                        return
                    }

                    this.loading = true
                    if (this.filterImp == null) {
                        var postBody = {
                            startClose: this.startClose,
                            endClose: this.endClose
                        }
                        axios
                        .post('/implementer/getclosedateprojects', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            this.Projects = response.data.projects;
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                            sessionStorage.setItem('startClose', this.startClose);
                            sessionStorage.setItem('endClose', this.endClose);
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    } else {
                        var postBody = {
                            startClose: this.startClose,
                            endClose: this.endClose,
                            imp: this.filterImp
                        }
                        axios
                        .post('/implementer/getclosedateprojects', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            this.Projects = response.data.projects;
                            this.projects_count = response.data.projects.length;
                            sessionStorage.setItem('addFilterFlag', this.addFilterFlag);
                            sessionStorage.setItem('startClose', this.startClose);
                            sessionStorage.setItem('endClose', this.endClose);
                            sessionStorage.setItem('filterImp', this.filterImp);
                        })
                        .finally(() => (
                            this.loading = false
                        ))
                    }
                    return
                }

                this.loading = true
                if (this.filterImp == null) {
                    axios
                    .get('/implementer/getprojects')
                    .then(response => {
                        this.Projects = response.data.projects;
                        this.projects_count = response.data.projects.length;
                        sessionStorage.setItem('filterImp', this.filterImp);
                    })
                    .finally(() => (
                        this.loading = false
                    ))
                } else {
                    axios
                    .get('/implementer/getprojectsbyimpid/'+this.filterImp)
                    .then(response => {
                        this.Projects = response.data.projects;
                        this.projects_count = response.data.projects.length;
                        sessionStorage.setItem('filterImp', this.filterImp);
                    })
                    .finally(() => (
                        this.loading = false
                    ))
                }
            },
            clearImpProject() {
                this.loading = true
                axios
                .get('/implementer/getprojects')
                .then(response => {
                    this.Projects = response.data.projects;
                    this.filterImp = null
                    this.addFilterFlag = null
                    this.statusFilter = null
                    this.projects_count = response.data.projects.length;

                    delete sessionStorage.filterImp;
                    delete sessionStorage.addFilterFlag;
                    delete sessionStorage.statusFilter;
                    delete sessionStorage.startClose;
                    delete sessionStorage.endClose;
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            setStatusFilter(event) {
                console.log(event.target.value)
            },
            openRaw(id) {
                this.$router.push('project/raw/'+id);
            },
            dclick(id) {
                this.$router.push('project/edit/'+id);
            },
            Slip() {
                axios
                .get('/implementer/getslipproject')
                .then(response => {
                    this.Projects = response.data;
                })
            },
            close() {
                axios
                .get('/implementer/getcloseproject')
                .then(response => {
                    this.Projects = response.data;
                })
            },
            today() {
                axios
                .get('/implementer/gettodayproject')
                .then(response => {
                    this.Projects = response.data;
                })
            },
            fire() {
                axios
                .get('/implementer/getfireproject')
                .then(response => {
                    this.Projects = response.data;
                })
            }
        }
    }
</script>