<template>
    <div>
        <div style="text-align: center; margin-bottom: 10px">
            <h3 v-if="!editProjectNameFlag">{{ Project ? Project.name : ''}} <span v-if="Project && Project.done == 1">(Закрыт)</span>
            <a v-on:click="editProjectName" v-if="Head" class="btn-box-tool">
                <i class="fa fa-pencil" />
            </a>
            </h3>
            <template v-else>
                <input class="form-control" style="display: inline-block" :style="'width:'+(editingProjectName.length*6.9+45)+'px'"
                       type="text" v-model="editingProjectName">
                <a v-on:click="saveProject" v-if="Head" class="btn-box-tool">
                    <i class="fa fa-save" />
                </a>
                <a v-on:click="editProjectNameFlag = !editProjectNameFlag" v-if="Head" class="btn-box-tool">
                    <i class="fa fa-close" />
                </a>
            </template>

        </div>
        <div v-if="Head == 1">
            <div class="row">
                <div class="col-md-12">
                    <div style="padding-bottom: 20px;">
                        <button v-on:click="changeFinishFlag()" class="btn btn-primary">Перенос сроков</button>
                        <button v-on:click="changeImpFlag()" class="btn btn-primary">Сменить внедренца</button>
                        <a :href="getUrl(closeFile)" target="_blank" download v-if="getUrl(closeFile)" class="btn btn-primary">Чек лист</a>
                        <a href="#filter" v-on:click="back()" class="btn btn-primary">Назад</a>
                    </div>
                </div>
                <div class="col-md-12" v-if="finishFlag == true" style="margin-bottom: 20px;">
                    <div class="box box-danger">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="inputTask">Дата</label>
                                <input type="date" v-model="finishDate" class="form-control" style="width: 200px" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputTask">Коментарий</label>
                                <ckeditor :editor="editor" v-model="finishComment" :config="editorConfig"></ckeditor>
                            </div>
                            <div class="form-group">
                                <button v-on:click="saveFinish()" class="btn btn-primary">Перенести</button>
                                <button v-on:click="closeFinish()" class="btn btn-default">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" v-if="impFlag == true" style="margin-bottom: 20px;">
                    <div class="box box-danger">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="control-label" for="inputTask">Внедренец</label>
                                <template v-if="Users_ar.length > 0">
                                    <select name="user" class="form-control" v-model="newImp">
                                        <option v-for="(item, index) in Users_ar"
                                                v-bind:value="{id: item.id}">
                                            {{item.first_name}} {{item.last_name}}
                                        </option>
                                    </select>
                                </template>
                                <template v-else>
                                    <select name="user" class="form-control">
                                        <option value="">Пользователи не найдены</option>
                                    </select>
                                </template>
                            </div>

                            <div class="form-group">
                                <button v-on:click="saveImp()" class="btn btn-primary">Сохранить</button>
                                <button v-on:click="closeChangeImp()" class="btn btn-default">Отмена</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else style="margin-bottom: 10px;">
            <a :href="'https://drive.google.com/uc?export=download&id='+link" download v-if="Project.done_date != 'null'" class="btn btn-primary">Чек лист</a>
            <a href="#filter" v-on:click="back()" class="btn btn-primary">Назад</a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#history" v-on:click="formsTab = false" data-toggle="tab" aria-expanded="true">История внедрения</a></li>
                        <li class=""><a href="#control" v-on:click="formsTab = false" data-toggle="tab" aria-expanded="false">Контроль качества</a></li>
                        <li class=""><a href="#forms" v-on:click="formsTab = true" data-toggle="tab" aria-expanded="false">Формы</a></li>
                        <li class=""><a href="#other" v-on:click="formsTab = false" data-toggle="tab" aria-expanded="false">Прочее</a></li>
                        <li class=""><a href="#w_list" v-on:click="formsTab = false" data-toggle="tab" aria-expanded="false">Лист ожидания</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="history">
                            <Comments :Project="Project"/>
                        </div>
                        <div class="tab-pane" id="control">
                            <Project_edit_callback_answers :Project="Project"/>
                        </div>
                        <div class="tab-pane" id="forms">
                            <Project_edit_forms :Project="Project"/>
                        </div>
                        <div class="tab-pane" id="other">
                            <div class="box box-danger">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Прочее</h3>

                                    <div class="box-tools pull-right">
                                        <!--<span class="label label-danger">8 Онлайн</span>-->
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                                class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body" style="overflow-y: auto;height: 500px;">
                                    <div v-if="OtherComments_count != 0">
                                        <div class="post">
                                            <table class="table">
                                                <template v-for="(item, index) in OtherComments">
                                                    <tr>
                                                        <td style="widht: 20%">Дата</td>
                                                        <td style="widht: 80%">{{item.date}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="widht: 20%"><b><span
                                                                v-html="item.question"></span></b></td>
                                                        <td style="widht: 80%"><span v-html="item.answer"></span></td>
                                                    </tr>
                                                </template>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="post" v-else>
                                        <p style="text-align: center">Коментарии отсутствуют</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="w_list">
                            <Project_edit_waiting_lists :project="Project"/>
                        </div>
                    </div>
                </div>
                <!-- USERS LIST -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <Contacts :project="Project"/>
<!--                <div class="box box-danger">-->
<!--                    <div class="box-header with-border">-->
<!--                        <h3 class="box-title">Контакты</h3>-->

<!--                        <div class="box-tools pull-right">-->
<!--                            &lt;!&ndash;<span class="label label-danger">8 Онлайн</span>&ndash;&gt;-->
<!--                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
<!--                            </button>-->
<!--                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.box-header &ndash;&gt;-->
<!--                    <div class="box-body">-->
<!--                        <div style="padding-bottom: 20px; display: block;" id="addCont">-->
<!--                            <a v-on:click="addFormContact()" class="btn btn-primary">Добавить контакт</a>-->
<!--                        </div>-->
<!--                        <div v-if="contactFlag == true">-->
<!--                            <table class="table">-->
<!--                                <tr>-->
<!--                                    <td><input type="text" v-model="newContact.lastName" class="form-control" placeholder="Фамилия"></td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td><input type="text" v-model="newContact.firstName" class="form-control" placeholder="Имя"></td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td><input type="text" v-model="newContact.patronymic" class="form-control" placeholder="Отчество"></td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td>-->
<!--                                        <select class="form-control" v-model="newContact.post_id">-->
<!--                                            <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>-->
<!--                                        </select>-->
<!--                                    </td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                </tr>-->
<!--                                <tr>-->
<!--                                    <td><input type="number" v-model="newContact.phone" class="form-control" placeholder="Телефон"></td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td><input type="email" v-model="newContact.email" class="form-control" placeholder="Email"></td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td>-->
<!--                                        <label><input type="checkbox" v-model="newContact.main" /> Ответственный</label>-->
<!--                                    </td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                    <td>-->
<!--                                        <label><input type="checkbox" v-model="newContact.mail_rep" /> Уведомления</label>-->
<!--                                    </td>-->
<!--                                    <td>&nbsp;</td>-->
<!--                                </tr>-->
<!--                            </table>-->
<!--                            <a v-on:click="addContact()" class="btn btn-primary" >Добавить</a>-->
<!--                        </div>-->
<!--                        <div v-if="Contacts.length != 0">-->
<!--                            <div class="box-body table-responsive no-padding">-->
<!--                                <table class="table table-hover">-->
<!--                                    <tbody>-->
<!--                                    <tr>-->
<!--                                        <th>№</th>-->
<!--                                        <th>Фамилия</th>-->
<!--                                        <th>Имя</th>-->
<!--                                        <th>Отчество</th>-->
<!--                                        <th>Должность</th>-->
<!--                                        <th>Телефон</th>-->
<!--                                        <th>Email</th>-->
<!--                                        <th>Ответственный</th>-->
<!--                                        <th>Уведомления</th>-->
<!--                                        <th>Действия</th>-->
<!--                                    </tr>-->
<!--                                        <tr v-for="(item, index) in Contacts">-->
<!--                                            <template v-if="editContactFlag == true && editableContact.id == item.id">-->
<!--                                                <td style="vertical-align: middle;">{{index+1}}</td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <input type="text" class="form-control" v-model="editableContact.last_name">-->
<!--                                                </td>-->
<!--                                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.first_name"></td>-->
<!--                                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.patronymic"></td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <select class="form-control" v-model="editableContact.post">-->
<!--                                                        <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>-->
<!--                                                    </select>-->
<!--                                                </td>-->
<!--                                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.phone"></td>-->
<!--                                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.email"></td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <input type="checkbox" v-model="item.main" />-->
<!--                                                </td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <input type="checkbox" v-model="item.mail_rep" />-->
<!--                                                </td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <button class="btn btn-success" v-on:click="saveNewContact()"><i class="fa fa-save"></i></button>-->
<!--                                                    <button v-on:click="cancelEditContact()" class="btn btn-default"><i class="fa fa-undo"></i></button>-->
<!--                                                </td>-->
<!--                                            </template>-->
<!--                                            <template v-else>-->
<!--                                                <td style="vertical-align: middle;">{{index+1}}</td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactSurname">{{ item.last_name }}</span></td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactName">{{ item.first_name }}</span></td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactPatronymic">{{ item.patronymic }}</span></td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactPost">{{ item.post_name }}</span></td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactPhone"><a :href="'tel:'+item.phone">{{ item.phone }}</a></span></td>-->
<!--                                                <td style="vertical-align: middle;"><span id="contactEmail"><a :href="'mailto:'+item.email">{{ item.email }}</a></span></td>-->
<!--                                                <td style="vertical-align: middle;" v-if="item.main == 1">Да</td>-->
<!--                                                <td style="vertical-align: middle;" v-else>Нет</td>-->
<!--                                                <td style="vertical-align: middle;" v-if="item.mail_rep == 1">Да</td>-->
<!--                                                <td style="vertical-align: middle;" v-else>Нет</td>-->
<!--                                                <td style="vertical-align: middle;">-->
<!--                                                    <a v-on:click="delContact(item.id)" class="btn btn-danger">-->
<!--                                                        <i class="fa fa-trash"></i>-->
<!--                                                    </a>-->
<!--                                                    <a :id="'edit_'+item.id" v-on:click="editContact(item.id)" class="btn btn-primary">-->
<!--                                                        <i class="fa fa-pencil"></i>-->
<!--                                                    </a>-->
<!--                                                </td>-->
<!--                                            </template>-->
<!--                                        </tr>-->
<!--                                    </tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div v-else>-->
<!--                            <p style="text-align: center">Контакты отсутствуют</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Список задач. Невыполненные {{openTasksCount()}} из {{Project_task.length}}</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <a @click="sort('all')" class="btn btn-success">Все</a>
                        <a @click="sort('main')" class="btn btn-success">Основные работы</a>
                        <a @click="sort('additional')" class="btn btn-success">Дополнительные работы</a>

                        <div class="pull-right">
                            <a v-on:click="showDopTask()" class="btn btn-primary">Добавить дополнительную задачу</a>
                            <router-link :to="'/implementer/project/close/'+Project.id"  class="btn btn-primary">Закрыть проект</router-link>
                        </div>
                        <div v-if="dopTaskFlag == true" style="margin-top: 20px;">
                            <div class="box">
                                <form>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <div class="form-group">
                                                    <label class="control-label" for="inputTask">Наименование задачи</label>
                                                    <input type="text" class="form-control" name="name_task" v-model="curTask.value" id="inputTask" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <label class="control-label" for="selectModule">Модуль</label>
                                                    <select name="selectModule" id="selectModule" v-model="curModule" class="form-control">
                                                        <option v-for="(item, index) in modules" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" id="TaskCont">
                                                    <label class="control-label" for="inputTaskCont">Количество контактов</label>
                                                    <input type="text" class="form-control" name="cont" v-model="curNumCont" id="inputTaskCont" required>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group" id="NameTask">
                                                    <label class="control-label" for="selectGroupTask">Группа задач</label>
                                                    <select name="selectGroupTask" id="selectGroupTask" v-model="curGroupTask" class="form-control">
                                                        <option v-for="(item, index) in groupTask" v-bind:value="{id: item.id, value: item.name}">{{item.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <div class="form-group">
                                                    <input type="button" v-on:click="addDopTask()" value="Сохранить" class="btn btn-primary">
                                                    <a v-on:click="showDopTask()" class="btn btn-default">Отмена</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="box-body no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Наименование задачи</th>
                                    <th>Модуль</th>
                                    <th>Группа работ</th>
                                    <th>Дополнительная работа</th>
                                    <th>Выполнено</th>
                                    <th>Действия</th>
<!--                                    <th>История контактов</th>-->
                                </tr>
                                </thead>
                                <tbody id="tableTasks">
                                <template v-if="Project_task.length != 0">
                                    <template v-for="(item, index) in Project_task">
                                        <tr>
                                            <td style="vertical-align: middle; display: none;" id="pt_id">{{item.id}}</td>
                                            <td style="vertical-align: middle;">{{ item.name ? item.name : 'Задача не назначена' }}</td>
                                            <td style="vertical-align: middle;">{{ item.m_name }}</td>
                                            <td style="vertical-align: middle;">{{ item.g_task }}</td>
                                            <template v-if="item.additional">
                                                <td style="vertical-align: middle;">Да</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;"></td>
                                            </template>
                                            <template v-if="item.status == 1">
                                                <td style="vertical-align: middle;"><i class="fa fa-square-o"></i></td>
                                            </template>
                                            <template v-if="item.status == 2">
                                                <td style="vertical-align: middle;"><i class="fa fa-check-square-o"></i></td>
                                            </template>
                                            <template v-if="item.status == 3">
                                                <td style="vertical-align: middle;"><i class="fa fa-square"></i></td>
                                            </template>
                                            <template v-if="!item.callbackstatus_ref_id">
                                                <template v-if="item.next_contact && item.is_print_form == 0">
                                                    <td style="vertical-align: middle;">
                                                        <router-link :to="'/implementer/calendar/'+item.user_id+'/'+item.next_contact" class="btn btn-primary">
                                                            <i class="fa fa-search"></i>
                                                        </router-link>
                                                    </td>
                                                </template>
                                                <template v-else>
                                                    <template v-if="item.is_print_form == 0 && item.is_screen_form == 0">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-if="item.is_print_form == 1 && item.is_screen_form == 0">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-if="item.is_screen_form == 1 && item.is_print_form == 0">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                    <template v-if="item.is_screen_form == 1 && item.is_print_form == 1">
                                                        <td style="vertical-align: middle;">
                                                            <a v-on:click="setTask(item.id)" class="btn btn-success"><i class="fa fa-calendar-plus-o"></i></a>
                                                        </td>
                                                    </template>
                                                </template>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">
                                                    <router-link :to="'/implementer/calendar/'+item.user_id+'/'+item.next_contact" class="btn btn-primary">
                                                        <i class="fa fa-search"></i>
                                                    </router-link>
                                                </td>
                                            </template>
<!--                                            <td>-->
<!--                                                <a style="cursor: pointer;">Смотреть</a>-->
<!--                                            </td>-->
                                        </tr>
                                        <tr v-if="item.is_print_form == 0 && item.is_screen_form == 0 && TaskFlag && item.id == Task_id">
                                            <td :id="'task_'+item.id" colspan="7">
                                                <div style="padding-bottom: 20px;">
                                                    <a v-for="(item, index) in Dates_ar" v-on:click="SetCurDate(item.Value)" class="btn btn-primary" style="margin-right: 10px;">{{item.Text}}</a>
                                                </div>
                                                <div style="padding-bottom: 20px;">
                                                    <table class="table">
                                                        <tr>
                                                            <td style="vertical-align: middle;" width="25%">
                                                                Внедренец
                                                            </td>
                                                            <td style="vertical-align: middle;" width="25%">
                                                                <template v-if="Users_ar.length > 0">
                                                                    <select name="user" class="form-control" v-model="Cur_user">
                                                                        <option v-for="(item, index) in Users_ar"
                                                                                v-bind:value="{id: item.id}">
                                                                            {{item.first_name}} {{item.last_name}}
                                                                        </option>
                                                                    </select>
                                                                </template>
                                                                <template v-else>
                                                                    <select name="user" class="form-control">
                                                                        <option value="">Пользователи не найдены</option>
                                                                    </select>
                                                                </template>
                                                            </td>
                                                            <td rowspan="3" width="50%">
                                                                <div></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">Дата</td>
                                                            <td style="vertical-align: middle;"><input type="date" v-model="Cur_date.date" class="form-control" name="date_cont" required></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">Время</td>
                                                            <td style="vertical-align: middle;"><input type="time" v-model="Cur_date.time" class="form-control" name="time_cont" required></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="vertical-align: middle;">
                                                                <!--<a onclick="saveToCalendar({{ $pt['id'] }}, {{ $loop->index+1 }});" class="btn btn-success">Запланировать</a>-->
                                                                <a class="btn btn-success" v-on:click="addToCalendar">Запланировать</a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="item.is_print_form == 1 && item.is_screen_form == 0 && TaskFlag && item.id == Task_id">
                                            <td :id="'task_'+item.id" colspan="7">
                                                <div style="padding-bottom: 20px;">
                                                    <table class="table" v-if="item.additional == 1" style="border-top: 3px solid #d2d6de;">
                                                        <tr>
                                                            <td>Платно?</td>
                                                            <td><input type="checkbox" v-model="forPaid"></td>
                                                            <td>Оплачено?</td>
                                                            <td><input type="checkbox" v-model="paided"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Печатная форма</td>
                                                            <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 1}"></td>
                                                            <td>Экранная форма</td>
                                                            <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 2}"></td>
                                                        </tr>
                                                    </table>
                                                    <table class="table">
                                                        <tr>
                                                            <td colspan="7">Комментарий</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="7">
                                                                <UploadForm
                                                                    :project_id="Project.id"
                                                                    :isPrintForm="isPrintForm"
                                                                    :forPaid="forPaid"
                                                                    :paided="paided"
                                                                    :additional="item.additional"
                                                                    :task_id="item.id"
                                                                >
                                                                </UploadForm>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="item.is_print_form == 1 && item.is_screen_form == 1 && TaskFlag && item.id == Task_id">
                                            <td :id="'task_'+item.id" colspan="7">
                                                <div style="padding-bottom: 20px;">
                                                    <table class="table" v-if="item.additional == 1" style="border-top: 3px solid #d2d6de;">
                                                        <tr>
                                                            <td>Платно?</td>
                                                            <td><input type="checkbox" v-model="forPaid"></td>
                                                            <td>Оплачено?</td>
                                                            <td><input type="checkbox" v-model="paided"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Печатная форма</td>
                                                            <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 1}"></td>
                                                            <td>Экранная форма</td>
                                                            <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 2}"></td>
                                                        </tr>
                                                    </table>
                                                    <table class="table">
                                                        <tr>
                                                            <td colspan="7">Комментарий</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="7">
                                                                <UploadForm
                                                                    :project_id="Project.id"
                                                                    :isPrintForm="isPrintForm"
                                                                    :forPaid="forPaid"
                                                                    :paided="paided"
                                                                    :additional="item.additional"
                                                                    :task_id="item.id"
                                                                >
                                                                </UploadForm>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                                </tbody>
                            </table>
                        </div>

                        <h4>ИТОГО контактов/форм по группам</h4>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover" id="normTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Сделано</th>
                                    <th>По договору</th>
                                    <th>Осталось</th>
                                    <th>Запас</th>
                                    <th>Осталось с учетом запаса</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Контакты</td>
                                    <td id="cont_count_fact">{{ Count_fact }}</td>
                                    <td id="cont_count_norm">{{ Count_norm }}</td>
                                    <td id="cont_remained">{{ Count_norm }}</td>
                                    <td id="cont_count_number">{{ Count_number }}</td>
                                    <td id="cont_stock">{{ Count_number }}</td>
                                </tr>
                                <tr>
                                    <td>Печатные формы/отчеты</td>
                                    <td id="print_count_fact"></td>
                                    <td id="print_count_norm">{{ Count_print_norm }}</td>
                                    <td id="print_remained"></td>
                                    <td id="print_count_number">{{ Count_print_number }}</td>
                                    <td id="print_stock"></td>
                                </tr>
                                <tr>
                                    <td>Экранные формы</td>
                                    <td id="screen_count_fact"></td>
                                    <td id="screen_count_norm">{{ Count_screen_norm }}</td>
                                    <td id="screen_remained"></td>
                                    <td id="screen_count_number">{{ Count_screen_number }}</td>
                                    <td id="screen_stock"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>

            <div class="col-md-12">
                <!-- USERS LIST -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Карточка проекта</h3>

                        <div class="box-tools pull-right">
                            <!--<span class="label label-danger">8 Онлайн</span>-->
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Купленные модули</h3>
                                        <div class="box-tools pull-right" v-if="Head == 1">
                                            <button type="button"
                                                    v-if="EditModulesFlag == false"
                                                    class="btn btn-box-tool"
                                                    v-on:click="editModules()"
                                            >
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table">
                                            <template v-if="EditModulesFlag == false">
                                                <tr v-for="(item, index) in Modules">
                                                    <td style="widht: 80%">
                                                        <b>{{item.name}}</b>
                                                    </td>
                                                    <td>
                                                        {{item.num}}
                                                    </td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="(item, index) in Modules">
                                                    <td style="widht: 80%">
                                                        <b>{{item.name}}</b>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" v-model="item.num"/>
                                                    </td>
                                                    <td v-if="Head">
                                                        <a v-on:click="deleteModule(item.id)" class="btn-box-tool">
                                                            <i class="fa fa-trash" />
                                                        </a>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td style="width: 50%;">
                                                        <template v-if="newModules.length > 0">
                                                            <select name="user" class="form-control" v-model="new_Module.id">
                                                                <option v-for="(item, index) in newModules"
                                                                        v-bind:value="item.id">
                                                                    {{item.name}}
                                                                </option>
                                                            </select>
                                                        </template>
                                                        <template v-else>
                                                            <select name="user" class="form-control">
                                                                <option value="">Модули не найдены</option>
                                                            </select>
                                                        </template>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" v-model="new_Module.num"></input>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <button class="btn btn-success" v-on:click="saveModules()">Сохранить</button>
                                                        <button class="btn btn-danger" v-on:click="cancelEditModules()">Отмена</button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Сроки, даты и категории</h3>
                                        <div class="box-tools pull-right" v-if="Head == 1">
                                            <button type="button"
                                                    v-if="!editDatesFlag"
                                                    class="btn btn-box-tool"
                                                    v-on:click="editDates()">
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table">
                                            <tr>
                                                <td style="width: 50%;">
                                                    <b>Дата начала</b>
                                                </td>
                                                <td v-if="!editDatesFlag">
                                                    {{Project_start_date}}
                                                </td>
                                                <td v-else>
                                                    <input class="form-control" type="date" v-model="editingDates.start">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;">
                                                    <b>Дата окончания</b>
                                                </td>
                                                <td v-if="!editDatesFlag">
                                                    {{Project_finish_date}}
                                                </td>
                                                <td v-else>
                                                    <input class="form-control" type="date" v-model="editingDates.finish">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;">
                                                    <b>Категория проекта</b>
                                                </td>
                                                <td v-if="!editDatesFlag">
                                                    {{ProjectCategoryName || 'Категория не выбрана'}}
                                                </td>
                                                <td v-else>
                                                    <select name="project-categories" v-model="ProjectCategory" class="form-control">
                                                        <template v-if="ProjectAllCategories && ProjectAllCategories.length > 0">
                                                            <option v-for="(item, index) in ProjectAllCategories" v-bind:value="{id: item.id, name: item.name}">{{item.name}}</option>
                                                        </template>
                                                        <template v-else>
                                                            <option value="">Категории не найдены</option>
                                                        </template>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr v-if="editDatesFlag">
                                                <td colspan="2">
                                                    <button class="btn btn-success" v-on:click="saveDates()">Сохранить</button>
                                                    <button class="btn btn-danger" v-on:click="editDatesFlag = false">Отмена</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Уточняющие вопросы</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button"
                                                    v-if="EditQuestionFlag == false"
                                                    class="btn btn-box-tool"
                                                    v-on:click="editQuestion()"
                                            >
                                                <i class="fa fa-pencil"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <table class="table">
                                            <template v-if="EditQuestionFlag == false">
                                                <tr v-for="(item, index) in Question">
                                                    <td style="width: 50%;">
                                                        <b>{{item.question}}</b>
                                                    </td>
                                                    <td>
                                                        {{item.answer}}
                                                    </td>
                                                </tr>
                                            </template>
                                            <template v-else>
                                                <tr v-for="(item, index) in Question">
                                                    <td>
                                                        <b>{{item.question}}</b>
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <input type="text" class="form-control" v-model="item.answer">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td colspan="2">
                                                        <button class="btn btn-success" v-on:click="saveQuestion()">Сохранить</button>
                                                        <button class="btn btn-danger" v-on:click="cancelEditQuestion()">Отмена</button>
                                                    </td>
                                                </tr>
                                            </template>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3 class="box-title">Вопросы из чек - листа</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table">
                                            <tr v-for="(item, index) in Check_list">
                                                <td style="width: 50%;">
                                                    <b><span v-html="item.question"></span></b>
                                                </td>
                                                <td>
                                                    <span v-html="item.answer"></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box-body table-responsive no-padding">
                            <table>

                            </table>
                        </div>
                    </div>
                </div>
                <!--/.box -->
            </div>
                <!--/.box -->
            </div>
        </div>



</template>
<script>
    import UploadForm from '../UploadForm.vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Comments from '../profects_common/Project_edit_comments'
    import Contacts from '../profects_common/Project_edit_contacts'
    import Project_edit_forms from "../profects_common/Project_edit_forms";
    import Project_edit_callback_answers from "../profects_common/Project_edit_callback_answers";
    import Project_edit_waiting_lists from "../profects_common/Project_edit_waiting_lists";
    export default {
        data() {
            return {
                Title:null,
                Project: null,
                Project_count: null,
                Project_task: Array,
                Project_task_count: null,
                Comments: null,
                Comments_count: 0,
                ControlComments: null,
                ControlComments_count: 0,
                OtherComments: null,
                OtherComments_count: 0,
                Contacts: null,
                Contacts_count: null,
                Count_fact:null,
                Count_norm:null,
                Count_number:null,
                Count_print_norm:null,
                Count_print_number:null,
                Count_screen_norm:null,
                Count_screen_number:null,
                TaskFlag: false,
                Task_id: null,
                Modules: null,
                Dates: {
                    Text: null,
                    Value: null
                },
                Dates_ar: [],
                Cur_date: {
                    date: null,
                    time: null
                },
                Cur_user: {
                    id: null
                },
                User: {
                    first_name: null,
                    last_name: null,
                    id: null
                },
                Users_ar: [],
                Project_start_date: null,
                Project_finish_date: null,
                Check_list: null,
                Question: null,
                Tomorrow_val: null,
                Tomorrow: null,
                Plus_one_day: null,
                Plus_one_day_val: null,
                Plus_two_day: null,
                Plus_two_day_val: null,
                Plus_three_day: null,
                Plus_three_day_val: null,
                EditQuestionFlag: false,
                dopTaskFlag: false,
                modules: [],
                curModule: {
                    'id': null,
                    'value': null
                },
                groupTask: [],
                curGroupTask: {
                    'id': null,
                    'value': null
                },
                curNumCont: null,
                curTask: {
                    'id': null,
                    'value': null
                },
                addCommentFlag: false,
                newComment: '',
                contactFlag: false,
                Posts: null,
                newContact: {
                    firstName: '',
                    lastName: '',
                    patronymic: '',
                    post_id: null,
                    phone: '',
                    email: ''
                },
                Client: null,
                editCommentFlag: false,
                EditModulesFlag: false,
                editableComment: null,
                canceledComment: null,
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },
                editContactFlag: false,
                editableContact: null,
                Head: null,
                finishFlag: false,
                finishDate: null,
                finishComment: '',
                impFlag: false,
                newImp: null,
                isPrintForm: {
                    id: ''
                },
                paided: false,
                forPaid: false,
                forms: [],
                link: '',
                formsTab: false,
                addForms: false,
                main: 0,
                loading: false,
                newModules: [],
                new_Module: {},
                tempQuestions: [],
                tempModules: [],
                closeFile: {},

                editProjectNameFlag: false,
                editingProjectName: false,

                editDatesFlag: false,
                editingDates: {},
                ProjectAllCategories: null,
                ProjectCategoryName: null,
                ProjectCategory: {
                    id: null,
                    name: ''
                },
            }
        },
        components: {
            Project_edit_waiting_lists,
            Project_edit_callback_answers,
            Project_edit_forms,
            UploadForm,Comments,Contacts
        },
        created() {
            this.getProject()
            // this.getFiles()
            // this.getControlComments()
            this.getOtherComments()
            this.getChekList()
            this.getComments()
            this.getProjectTask()
            this.getProjectCard()
            this.getAllProjectCategories()
        },
        methods: {
            close(status) {
                if (status == 'Ok') {
                    this.addForms = false;
                    this.forPaid = false;
                    this.paided = false;
                    this.isPrintForm.id = ''
                    this.getFiles()
                };
            },
            getFiles() {
                axios
                .get('/implementer/getProjectForms/'+this.$route.params.id)
                .then(response => {
                    this.forms = response.data
                })
            },
            back() {
                this.$router.go(-1);
                // this.$router.push('/implementer/projects#filter');
            },
            sort(val) {
                if (val == 'all') {
                    axios
                    .get('/implementer/projects/get-task/'+this.$route.params.id)
                    .then(response => {
                        return this.Project_task = response.data.project_tasks
                    })
                }
                if (val == 'main') {
                    let list = [];
                    axios
                    .get('/implementer/projects/get-task/'+this.$route.params.id)
                    .then(response => {
                        $.each(response.data.project_tasks, function(key, value) {
                            if (value.additional == null) {
                                list.push(value);
                            }
                        });
                        return this.Project_task = list
                    })

                    this.Project_task = list
                }
                if (val == 'additional') {
                    let list = [];
                    axios
                    .get('/implementer/projects/get-task/'+this.$route.params.id)
                    .then(response => {
                        $.each(response.data.project_tasks, function(key, value) {
                            if (value.additional == '1') {
                                list.push(value);
                            }
                        });
                        return this.Project_task = list
                    })
                }
            },
            getProjectCard() {
                axios
                .get('/implementer/projects/get-card/'+this.$route.params.id)
                .then(response => {
                    this.Project_start_date = response.data.project_start_date
                    this.Project_finish_date = response.data.project_finish_date
                    this.Modules = response.data.modules_buy
                    this.Check_list = response.data.check
                    this.Question = response.data.questions
                })
            },
            getAllProjectCategories () {
                axios
                    .get('/project-categories/')
                    .then(response => {
                        this.ProjectAllCategories = response.data
                    })
            },
            editModules() {
                axios
                .get('/implementer/projects/get-modules')
                .then(response => {
                    this.newModules = response.data
                    this.EditModulesFlag = true
                    this.tempModules = JSON.parse(JSON.stringify(this.Modules));
                })
            },
            saveModules() {
                // console.log(this.new_Module);
                // return
                if (!this.new_Module.num && this.new_Module.id) {
                    alert('Укажите количество модулей');
                    return
                };

                var postBody = {
                    id: this.$route.params.id,
                    new_Module: this.new_Module,
                    modules: this.Modules
                }

                axios
                .post('/implementer/projects/set-modules', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.getProjectTask()
                        this.getProjectCard()
                        this.new_Module = {}
                        this.EditModulesFlag = false
                    }
                })
            },
            getChekList() {
                var postBody = {
                    id: this.$route.params.id
                }

                axios
                .post('/implementer/project/getChekList', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        // this.link = response.data.g_name
                        this.closeFile = response.data.file
                    }
                })
            },
            getControlComments() {
                axios
                .get('/projects/'+this.$route.params.id+'/callback-answers')
                .then(response => {
                    this.ControlComments_count = response.data.length
                    this.ControlComments = response.data
                })
            },
            getOtherComments() {
                var postBody = {
                    id: this.$route.params.id
                }

                axios
                .post('/implementer/getCloseComments', {'data': JSON.stringify(postBody)})
                .then(response => {
                    this.OtherComments_count = response.data.length
                    this.OtherComments = response.data
                })
            },
            getAllComments() {
                this.loading = true
                axios
                .get('/implementer/projects/get-all-comments/'+this.$route.params.id)
                .then(response => {
                    this.Comments = response.data
                    this.Comments_count = response.data.length
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            getComments() {
                axios
                .get('/implementer/projects/get-comments/'+this.$route.params.id)
                .then(response => {
                    this.Comments = response.data
                    this.Comments_count = response.data.length
                })
            },
            getPost() {
                axios
                .get('/implementer/posts')
                .then(response => {
                    // console.log(response.data)
                    this.Posts = response.data
                })
            },
            getProjectTask() {
                axios
                .get('/implementer/projects/get-task/'+this.$route.params.id)
                .then(response => {
                    this.Tomorrow_val = response.data.tomorrow_val
                    this.Tomorrow = response.data.tomorrow
                    this.Plus_one_day = response.data.plus_one_day
                    this.Plus_one_day_val = response.data.plus_one_day_val
                    this.Plus_two_day = response.data.plus_two_day
                    this.Plus_two_day_val = response.data.plus_two_day_val
                    this.Plus_three_day = response.data.plus_three_day
                    this.Plus_three_day_val = response.data.plus_three_day_val
                    this.Project_task = response.data.project_tasks
                    this.Count_fact = response.data.count_fact
                    this.Count_norm = response.data.count_norm
                    this.Count_number = response.data.count_number
                    this.Count_print_norm = response.data.count_print_norm
                    this.Count_print_number = response.data.count_print_number
                    this.Count_screen_norm = response.data.count_screen_norm
                    this.Count_screen_number = response.data.count_screen_number
                })
            },
            getProject() {
                axios
                .get('/implementer/projects/get-project/'+this.$route.params.id)
                .then(response => {
                    console.log(response.data)
                    this.Head = response.data.head
                    this.Project = response.data.project
                    this.Contacts = response.data.contacts
                    this.ProjectCategoryName = response.data.project.project_category ? response.data.project.project_category.name : null;

                    // this.Posts = response.data.posts

                    // this.Project_count = response.data.project.length
                    // this.Project_task = response.data.project_task
                    // this.Project_task_count = response.data.project_task.length
                    // // this.Comments = response.data.comments
                    // // this.Comments_count = response.data.comments.length


                    // this.Count_fact = response.data.count_fact
                    // this.Count_norm = response.data.count_norm
                    // this.Count_number = response.data.count_number
                    // this.Count_print_norm = response.data.count_print_norm
                    // this.Count_print_number = response.data.count_print_number
                    // this.Count_screen_norm = response.data.count_screen_norm
                    // this.Count_screen_number = response.data.count_screen_number
                    // this.Modules = response.data.modules
                    // this.Project_start_date = response.data.project_start_date
                    // this.Project_finish_date = response.data.project_finish_date
                    // this.Check_list = response.data.check_list
                    // this.Question = response.data.question
                    // this.Tomorrow_val = response.data.tomorrow_val
                    // this.Tomorrow = response.data.tomorrow
                    // this.Plus_one_day = response.data.plus_one_day
                    // this.Plus_one_day_val = response.data.plus_one_day_val
                    // this.Plus_two_day = response.data.plus_two_day
                    // this.Plus_two_day_val = response.data.plus_two_day_val
                    // this.Plus_three_day = response.data.plus_three_day
                    // this.Plus_three_day_val = response.data.plus_three_day_val
                    // this.Posts = response.data.posts
                    // this.Client = response.data.client
                })
            },
            addFormContact() {
                this.getPost()
                this.contactFlag = !this.contactFlag
            },
            changeFinishFlag() {
                this.finishFlag = !this.finishFlag;
            },
            closeFinish() {
                this.finishFlag = false
            },
            saveFinish() {
                if (this.finishDate == null) {
                    alert('Укажите дату');
                    return
                }
                if (this.finishComment == '') {
                    alert('Укажите коментарий');
                    return
                }

                var postBody = {
                    date: this.finishDate,
                    comment: this.finishComment,
                    pid: this.$route.params.id
                }

                axios
                .post('/implementer/projects/changeFinishDate', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        alert('Срок окончания успешно изменен');
                        this.Project_finish_date = this.convertDate(this.finishDate, true);
                        this.finishFlag = false;
                        this.finishDate = null;
                        this.finishComment = '';
                    }
                })

            },
            changeImpFlag() {
                axios
                .get('/implementer/get-all-implementer')
                .then(response => {
                    this.Users_ar = response.data
                    this.impFlag = !this.impFlag
                })
            },
            closeChangeImp() {
                this.impFlag = false
            },
            saveImp() {
                if (this.newImp == null) {
                    alert('Выберите внедренца');
                    return
                }

                var postBody = {
                    imp: this.newImp.id,
                    pid: this.$route.params.id
                }

                axios
                .post('/implementer/projects/changeImp', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        alert('Внедренец успешно изменен');
                        this.impFlag = false
                    }
                })
            },
            addContact() {
                var postBody = {
                    newContact: this.newContact,
                    client_id: this.Project.client_id,
                    project_id: this.Project.id
                }

                axios
                .post('/implementer/projects/add-contact', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.contactFlag = false
                        this.getProject();
                    }
                })
            },
            addCommentButton() {
                // this.newComment = ''
                this.addCommentFlag = !this.addCommentFlag
            },
            addCommentExit() {
                // this.newComment = ''
                this.addCommentFlag = false
            },
            addComment() {
                console.log(this.newComment);

                if (this.newComment == '') {
                    alert('Укажите коментарий');
                    return
                }

                var postBody = {
                    project: this.Project.id,
                    comment: this.newComment
                }

                axios
                .post('/implementer/projects/add-comment', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.getComments()
                        this.addCommentFlag = false
                        this.newComment = ''
                    }
                })
            },
            setTask(id) {
                this.Dates_ar = []
                this.TaskFlag = !this.TaskFlag
                this.Task_id = id

                for (var i=1; i<=4; i++) {
                    if (i == 1) {
                        this.Dates = {
                            Text: 'Завтра',
                            Value: this.Tomorrow_val
                        }
                    } else if (i == 2) {
                        this.Dates = {
                            Text: 'Послезавтра',
                            Value: this.Plus_one_day_val
                        }
                    } else if (i == 3) {
                        this.Dates = {
                            Text: this.Plus_two_day,
                            Value: this.Plus_two_day_val
                        }
                    } else {
                        this.Dates = {
                            Text: this.Plus_three_day,
                            Value: this.Plus_three_day_val
                        }
                    }
                    this.Dates_ar.push(this.Dates)
                    this.getUsers();
                }
            },
            SetCurDate(date) {
                this.Cur_date.date = date
            },
            getUsers() {
                axios
                .get('/implementer/get-all-implementer')
                .then(response => {
                    this.Users_ar = response.data
                })
            },
            showDopTask() {
                this.getModule()
                this.getGroupTask()
                this.dopTaskFlag = !this.dopTaskFlag
            },
            clearDopTask () {
                this.curTask.value = ''
                this.curModule = ''
                this.curNumCont = ''
                this.curGroupTask = ''
            },
            getModule() {
                axios
                .get('/getProjectModules/'+this.Project.id)
                .then(response => {
                    this.modules = response.data
                })
            },
            getGroupTask() {
                axios
                .get('/getGroupTask')
                .then(response => {
                    this.groupTask = response.data
                })
            },
            addDopTask() {
                if (this.curTask.value == null) {
                    alert('Укажите задачу');
                    return
                }
                if (this.curModule.id == null) {
                    alert('Выберите модуль');
                    return
                }
                if (this.curNumCont == null) {
                    alert('Укажите количество контактов');
                    return
                }
                if (this.curGroupTask.id == null) {
                    alert('Выберите группу задач');
                    return
                }
                var postBody = {
                    project: this.Project.id,
                    task: this.curTask,
                    module: this.curModule,
                    groupTask: this.curGroupTask,
                    numCont: this.curNumCont
                }

                axios
                .post('/implementer/projects/add-additional-task', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.getProjectTask()
                        this.dopTaskFlag = false
                        this.clearDopTask()
                    }
                })
            },
            addToCalendar() {
                if (this.Cur_user.id == null) {
                    alert('Укажите внедренца');
                    return
                };
                if (this.Cur_date.date == null) {
                    alert('Укажите дату');
                    return
                };
                if (this.Cur_date.time == null) {
                    alert('Укажите время');
                    return
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    user_id: this.Cur_user.id,
                    date: this.Cur_date.date,
                    time: this.Cur_date.time,
                    task_id: this.Task_id,
                    type: 'task'
                }
                axios
                .post('/implementer/calendar/add-project-task', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.go(this.$router.currentRoute)
                    };
                })
            },
            editQuestion() {
                this.EditQuestionFlag = !this.EditQuestionFlag
                this.tempQuestions = JSON.parse(JSON.stringify(this.Question));
            },
            editComment(id) {
                this.editCommentFlag = true
                for (var i = 0; i < this.Comments.length; i++) {
                    if (this.Comments[i].id == id) {
                        this.editableComment = this.Comments[i]
                    }
                }
            },
            delComment(id,index) {
                if (confirm('Вы действительно хотите удалить комментарий?')){
                    axios
                        .get('/implementer/comment/del/'+id)
                        .then(response => {
                            if (response.data.status == 'Ok') {
                                delete this.Comments[index]
                                // this.Comments = response.data.comments
                                // this.Comments_count = response.data.count
                            };
                        })
                }
            },
            cancelEditComment() {
                this.getProject()
                this.editCommentFlag = false
            },
            saveEditComment() {
                console.log(this.editableComment);
                if (this.editableComment.text != '') {
                    var postBody = {
                        comment: this.editableComment,
                        project_id: this.Project.id
                    }
                    axios
                    .post('/implementer/projects/saveEditComment', {'data': JSON.stringify(postBody)})
                    .then(response => {
                        this.Comments = response.data
                        this.editCommentFlag = false
                    })
                } else {
                    alert("Комментарий не может быть пустым");
                    return false;
                }
            },
            editContact(id) {
                this.editContactFlag = true
                this.getPost()
                for (var i = 0; i < this.Contacts.length; i++) {
                    if (this.Contacts[i].id == id) {
                        this.editableContact = this.Contacts[i]
                        this.editableContact.post = this.Contacts[i].post_id
                    }
                }
            },
            isNumber(val) {
                if (/[\d\.]+/i.test(val)) {
                    return true
                } else {
                    let newValue = val.replace(/[a-zA-Z]+/ig, '');
                    val = newValue;
                    // console.log('should fix', newValue);
                    return false;
                }
            },
            delContact(id) {
                var postBody = {
                    client_id: id,
                    p_id: this.$route.params.id
                }
                axios
                .post('/implementer/projects/delCont', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.getProject()
                    };
                })
            },
            saveNewContact() {
                if (!this.isNumber(this.editableContact.post)) {
                    alert('Укажите должность');
                    return
                };

                var postBody = {
                    cont: this.editableContact,
                    p_id: this.$route.params.id
                }
                axios
                .post('/implementer/projects/editCont', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.editContactFlag = false
                        this.getProject()
                    };
                })
            },
            cancelEditContact() {
                this.getProject()
                this.editContactFlag = false
            },
            saveQuestion() {
                console.log(this.Project.id);
                var postBody = {
                    project_id: this.Project.id,
                    question: this.Question
                }
                axios
                .post('/implementer/projects/editQuestions', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.EditQuestionFlag = !this.EditQuestionFlag
                    };
                })
            },
            cancelEditModules() {
                this.EditModulesFlag = false
                this.Modules = this.tempModules
            },
            cancelEditQuestion() {
                this.EditQuestionFlag = false
                this.Question = this.tempQuestions
            },
            getUrl(file) {
                if (!file) {
                    return null;
                }
                if (file.public_url) {
                    return file.public_url
                }
                if (file.g_name) {
                    if (file.g_name.includes('http')){
                        return file.g_name
                    }
                    return 'https://drive.google.com/uc?export=download&id=' + file.g_name;
                }
                return null;
            },
            editProjectName(){
                this.editProjectNameFlag = true;
                this.editingProjectName = this.Project.name
            },
            saveProject(){
                var body = {
                    name: this.editingProjectName
                };
                this.request({
                    url: '/projects/'+this.Project.id,
                    method: 'put',
                    data: body,
                    successMessage: "Успешно сохранено",
                    onSuccess: response => {
                        this.editProjectNameFlag = false;
                        this.Project.name = this.editingProjectName
                    }
                })
                // axios
                //     .put('/projects/'+this.Project.id+'', body)
                //     .then(response => {
                //         if (response.data.status == 'Ok') {
                //             $.toast({text: "Успешно сохранено", showHideTransition : 'fade',hideAfter : 1000,  })
                //             this.editProjectNameFlag = false;
                //             this.Project.name = this.editingProjectName
                //         } else {
                //             $.toast({text: response.data.message, showHideTransition : 'fade',hideAfter : 1000,  })
                //             console.log(response.data.message)
                //
                //         }
                //     })
            },
            deleteModule(id){
                this.$confirm({
                    message: `Вы действительно хотите удалить модуль?`,
                    button: {
                        no: 'Нет',
                        yes: 'Да'
                    },
                    callback: confirm => {
                        if (confirm)
                            this.$confirm({
                                message: `Удалить задачи, привязанные к выбранному модулю?`,
                                button: {
                                    no: 'Нет',
                                    yes: 'Да'
                                },
                                callback: confirm => {
                                    var body = {
                                        withTasks: confirm
                                    };
                                    this.request({
                                        url: '/projects/'+this.Project.id+'/modules/'+id+'?withTasks='+(confirm?1:0),
                                        method: 'delete',
                                        successMessage: "Успешно удалено",
                                        onSuccess: response => {
                                            this.getProjectCard();
                                            this.getProjectTask();
                                        }
                                    })
                                }
                            })
                    }
                })
            },
            editDates(){
                this.editingDates.start = this.convertDate(this.Project_start_date)
                this.editingDates.finish = this.convertDate(this.Project_finish_date)
                this.editDatesFlag = true;
            },
            convertDate(string, back = false){
                var parts = string.split(back ? '-' : '.');
                // var date = new Date(parts[2], parts[1] - 1, parts[0]);
                return parts[2] + (back ? '.' : '-') + parts[1] + (back ? '.' : '-') + parts[0];

            },
            saveDates(){
                var body = {
                    start_date: this.editingDates.start,
                    finish_date: this.editingDates.finish,
                    category_id: this.ProjectCategory.id
                };
                this.request({
                    url: '/projects/'+this.Project.id,
                    method: 'put',
                    data: body,
                    successMessage: "Успешно сохранено",
                    onSuccess: response => {
                        this.editDatesFlag = false;
                        this.Project_start_date = this.convertDate(this.editingDates.start, true);
                        this.Project_finish_date = this.convertDate(this.editingDates.finish, true);
                        console.log('name')
                        console.log(this.ProjectCategory)
                        this.ProjectCategoryName = this.ProjectCategory.name
                    }
                })
            },
            request(r){
                var req = {
                    url: '',
                    method: 'get',
                    data: {},
                    onError: ()=>{},
                    onSuccess: ()=>{},
                    successMessage: null,
                }
                $.extend( req, r );

                axios
                    [req.method](req.url, req.data)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            if (req.successMessage)
                                $.toast({
                                    text: req.successMessage,
                                    showHideTransition : 'fade',
                                    hideAfter : 1000,
                                    position : 'bottom-right'

                                });
                            req.onSuccess(response.data)
                        } else {
                            $.toast({
                                text: response.data.message,
                                showHideTransition : 'fade',
                                hideAfter : 1000,
                                position : 'bottom-right'

                            });
                            console.log(response.data.message)
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        $.toast({
                            text: 'Ошибка сервера',
                            showHideTransition : 'fade',
                            hideAfter : 1000,
                            position : 'bottom-right'

                        });
                    })
            },
            openTasksCount(){
                return this.Project_task.filter(function (i) {
                    return i.status != 2;
                }).length
            }
        }
    }
</script>