<template>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Общая информация</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td><b>Клиент</b></td>
                                <td>{{Client.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Проект</b></td>
                                <td>{{Project.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Город</b></td>
                                <td>{{City}}</td>
                            </tr>
                            <tr>
                                <td><b>Дата создания</b></td>
                                <td>{{Created_date}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Модули</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <tbody v-if="Modules.length > 0">
                                <tr v-for="(item, index) in Modules">
                                    <td><b>{{item.name}}</b></td>
                                    <td>{{item.count}}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="2" style="text-align: center">Модули отсутствуют</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Контактная информация</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Должность</th>
                                <th>Телефон</th>
                                <th>E-mail</th>
                            </tr>
                            </thead>
                            <tbody v-if="Contacts.length > 0">
                                <tr v-for="(item, index) in Contacts">
                                    <td>{{item.last_name}}</td>
                                    <td>{{item.first_name}}</td>
                                    <td>{{item.patronymic}}</td>
                                    <td>{{item.post}}</td>
                                    <td>{{item.phone}}</td>
                                    <td>{{item.email}}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="6" style="text-align: center">Контакты не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Чек - лист</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Вопрос</th>
                                <th>Ответ менеджера</th>
                            </tr>
                            </thead>
                            <tbody v-if="Check_list.length > 0">
                                <tr v-for="(item, index) in Check_list">
                                    <td>{{item.questuon}}</td>
                                    <td>{{item.answer}}</td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="2" style="text-align: center">Вопросы не найдены</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <table class="table">
                <tbody>
                <tr>
                    <td style="vertical-align: middle;"><label>Дата начала</label></td>
                    <td style="vertical-align: middle;"><input v-model="StartDate" type="date" name="startDate" class="form-control" required></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><label>Дата окончания</label></td>
                    <td style="vertical-align: middle;"><input v-model="EndDate" type="date" name="finishDate" class="form-control" required></td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><label>Категория проекта</label></td>
                    <td style="vertical-align: middle;">
                        <select name="project-categories" v-model="ProjectCategory" class="form-control">
                            <template v-if="ProjectCategories.length > 0">
                                <option v-for="(item, index) in ProjectCategories" v-bind:value="{id: item.id}">{{item.name}}</option>
                            </template>
                            <template v-else>
                                <option value="">Категории не найдены</option>
                            </template>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><label>Ответственный внедренец</label></td>
                    <td style="vertical-align: middle;">
                        <select name="user" v-model="User" class="form-control">
                            <template v-if="Users.length > 0">
                                <option v-for="(item, index) in Users" v-bind:value="{id: item.id}">{{item.first_name}} {{item.last_name}}</option>
                            </template>
                            <template v-else>
                                <option value="">Пользователи не найдены</option>
                            </template>
                        </select>
                    </td>
                    <td style="vertical-align: middle;">
                        <a v-on:click="getLoadUser" style="cursor: pointer;">Посмотреть загрузку внедренцев</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <template v-if="ShowLoad">
                            <table>
                                <tr>
                                    <td>Активных проектов:</td>
                                    <td>{{LoadProject.projects}}</td>
                                </tr>
                                <tr>
                                    <td>Общее время задач:</td>
                                    <td>{{LoadProject.tasks}}</td>
                                </tr>
                            </table>
                            <a v-on:click="ChangeShowLoad" class="btn btn-success">Свернуть</a>
                        </template>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a v-on:click="Save" class="btn btn-success">Сохранить</a>
            <a v-on:click="Cancel" class="btn btn-default">Отмена</a>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Project: null,
                Client: null,
                Created_date: null,
                City: null,
                Users: null,
                ProjectCategories: null,
                Modules: null,
                Contacts: null,
                Check_list: null,
                User: {
                    id: null
                },
                ProjectCategory: {
                    id: null
                },
                LoadProject: null,
                ShowLoad: false,
                StartDate: null,
                EndDate: null,
            }
        },
        created() {
            this.getProject()
        },
        methods: {
            getProject() {
                axios
                .get('/implementer/project/getRaw/'+this.$route.params.id)
                .then(response => {
                    console.log(response.data);
                    this.Project = response.data.project
                    this.Client = response.data.client
                    this.Created_date = response.data.created_date
                    this.City = response.data.city
                    this.Users = response.data.users
                    this.Modules = response.data.modules
                    this.Contacts = response.data.contacts
                    this.Check_list = response.data.check_list
                    this.ProjectCategories = response.data.project_categories
                })
            },
            getLoadUser() {
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    user_id: this.User.id,
                }
                axios
                .post('/implementer/users/getLoad', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (this.ShowLoad == false) {
                        this.ShowLoad = true
                    }
                    console.log(response.data);
                    this.LoadProject = response.data
                })
            },
            ChangeShowLoad() {
                this.ShowLoad = false
            },
            Cancel() {
                this.$router.push('/implementer/projects')
            },
            Save() {
                if (this.StartDate == null) {
                    alert('Укажите дату начала');
                    return;
                };
                if (this.EndDate == null) {
                    alert('Укажите дату окончания');
                    return;
                };
                if (this.ProjectCategory.id == null) {
                    alert('Выберите категорию');
                    return;
                };
                if (this.User.id == null) {
                    alert('Выберите внедренца');
                    return;
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    user_id: this.User.id,
                    start_date: this.StartDate,
                    end_date: this.EndDate,
                    project_id: this.$route.params.id,
                    project_category: this.ProjectCategory.id
                }
                axios
                .post('/implementer/project/saveRaw', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                    this.$router.push('/implementer/projects')
                    };
                })
            }
        }
    }
</script>