<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Категории проекта</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div style="padding-bottom: 20px; display: block;" id="addCont">
                <a v-on:click="addForm()" class="btn btn-primary">{{addItemFlag ? 'Отмена' : 'Добавить'}}</a>
            </div>
            <div v-if="addItemFlag == true">
                <input type="text" v-model="newItem.name" class="form-control" placeholder="Название">
                <a v-on:click="addItem()" class="btn btn-primary" >Сохранить</a>
            </div>
            <div v-if="List.length != 0">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Действия</th>
                        </tr>
                        <tr v-for="(item, index) in List">
                            <template v-if="editItemFlag == true && editableItem.id == item.id">
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td style="vertical-align: middle;">
                                    <input type="text" class="form-control" v-model="editableItem.name">
                                </td>

                                <td style="vertical-align: middle;">
                                    <button class="btn btn-success" v-on:click="saveEditItem(index)"><i class="fa fa-save"></i></button>
                                    <button v-on:click="cancelEditItem()" class="btn btn-default"><i class="fa fa-undo"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td style="vertical-align: middle;"><span id="contactSurname">{{ item.name }}</span></td>
                                <td style="vertical-align: middle;">
                                    <a :id="'edit_'+item.id" v-on:click="editItem(item.id, index)" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a v-on:click="delItem(item.id)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-else>
                <p style="text-align: center">Категории отсутствуют</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                List: [],
                newItem: {},
                editableItem: {},
                addItemFlag: false,
                editItemFlag : false
            }
        },
        created(){
            this.getItems();
        },
        methods: {
            getItems(){
                axios
                    .get('/project-categories')
                    .then(response => {
                        this.List = response.data
                    })
            },
            addItem() {
                if (this.newItem.name == '') {
                    alert('Укажите название');
                    return;
                }
                var postBody = {
                    item: this.newItem,
                };

                axios
                    .post('/project-categories', this.newItem)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.newItem = {};
                            this.addItemFlag = false;
                            this.getItems();
                        }
                    })
            },
            editItem(id, index) {
                this.editItemFlag = true
                this.editableItem = {...this.List[index]}
            },
            delItem(id) {
                if (confirm('Вы действительно хотите удалить контакт?')){
                    axios
                        .delete('/project-categories/'+id)
                        .then(response => {
                            if (response.data.status == 'Ok') {
                                this.getItems();
                            }
                        })
                }
            },
            saveEditItem(index) {
                if (this.newItem.name == '') {
                    alert('Укажите название');
                    return;
                }

                axios
                    .put('/project-categories/'+this.editableItem.id, this.editableItem)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.getItems();
                            this.editItemFlag = false
                        };
                    })
            },
            cancelEditItem() {
                this.editItemFlag = false
            },
            addForm() {
                this.addItemFlag = !this.addItemFlag
            },
        }
    }
</script>
