<template>
    <div class="box" style="padding: 10px;">
        <div class="box-header">
            <h3 class="box-title">Закрытие проекта</h3>
        </div>
        <form>
            <table class="table table-striped">
                <tr>
                    <td style="vertical-align: middle;">* Дата и время созвона с директором</td>
                    <td style="vertical-align: middle; width: 20%;"><input type="date" name="next_date3" class="form-control" v-model="date_close" style="width: 260px;" required></td>
                    <td style="vertical-align: middle;"><input type="time" name="next_time3" class="form-control" v-model="time_close" style="width: 100px;" required></td>
                </tr>
                <tr>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">* Комментарий от директора</td>
                    <td style="vertical-align: middle;" colspan="2">
                        <label id="editor-error" class="error" for="editor" style="display: none;">Это поле обязательно для заполнения</label>
                        <ckeditor :editor="editor" v-model="comment" :config="editorConfig" required></ckeditor>
                    </td>
                </tr>
            </table>

            <div class="box-footer">
                <div class="form-group">
                    <input type="button" value="Проект завершен" v-on:click="close()" class="btn btn-success">
                    <router-link :to="'/implementer/project/edit/'+Project_id" class="btn btn-default">Отмена</router-link>
                </div>
            </div>
        </form>
        <div class="full-screen" v-if="loading_file">
            <img src="/images/gif-loader.gif" alt="">
        </div>
    </div>
</template>
<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        data() {
            return {
                Project_id: this.$route.params.id,
                date_close: null,
                time_close: null,
                comment: '',
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },
                loading: false,
                loading_file: false,
                load: false,
            }
        },
        methods: {
            close: function () {
                if (this.date_close == null) {
                    alert('Укажите дату созвона с директором');
                    return false;
                };
                if (this.time_close == null) {
                    alert('Укажите время созвона с директором');
                    return false;
                };
                if (this.comment == null) {
                    alert('Укажите комментарий');
                    return false;
                };
                this.loading_file = true
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    date_close: this.date_close,
                    time_close: this.time_close,
                    comment: this.comment,
                }
                axios
                .post('/implementer/project/close/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.loading = false
                        this.load = true
                        this.$router.push('/implementer/project/edit/'+this.$route.params.id)
                    };
                })
                .finally(() => (
                    this.loading_file = false
                ))
            }
        }
    }
</script>