<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li :class="getClass('projects')"><a v-on:click="onTabChanged('projects')" aria-expanded="false" data-toggle="tab" href="#projects">Проекты
                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="">{{projectsCount}}</span></a></li>
            <li :class="getClass('raw')"><a v-on:click="onTabChanged('raw')" href="#raw" data-toggle="tab" aria-expanded="false">Необработанные
                <span data-toggle="tooltip" title="" class="badge bg-light-blue" data-original-title="">{{rawCount}}</span>
            </a></li>
        </ul>

        <div class="tab-content">
            <div :class="'tab-pane ' + getClass('projects')" id="projects">
                <SearchTable :url="'projects_implementer'" :set-count="(count) => this.projectsCount = count"/>
            </div>
            <div :class="'tab-pane ' + getClass('raw')" id="raw">
                <SearchTable :url="'projects_raw'" :set-count="(count) => this.rawCount = count"/>
            </div>
<!--            <div :class="'tab-pane ' + getClass('callback')" id="callback">-->
<!--                <SearchTable :url="'calls_callback'"/>-->
<!--            </div>-->
<!--            <div class="tab-pane active" id="other">-->
<!--                <SearchTable :url="'calls_other'"/>-->
<!--            </div>-->
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    import SearchTable from "../SearchTable";

    export default {
        components: {SearchTable},
        data(){
            return {
                activeTab: 'projects',
                projectsCount: 0,
                rawCount: 0,
            }
        },
        created(){
            let active = sessionStorage.getItem('projects.tab');
            this.activeTab = active ? active : 'projects';
        },
        methods: {
            onTabChanged(value){
                sessionStorage.setItem('projects.tab', value)
            },
            getClass(name){
                return name === this.activeTab ? 'active' : '';
            }
        }
    }
</script>