<template>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Список задач</h3>

            <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Клиент</th>
                    <th>Проект</th>
                    <th>Город</th>
                    <th>Название задачи</th>
                    <th>Предыдущий контакт</th>
                    <th>Запланированный контакт</th>
                    <th colspan="2">Действия</th>
                </tr>
                <tr v-for="(item, index) in tasks">
                    <td>{{ index+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.observer }}</td>
                    <td></td>
                    <td></td>
                    <td>{{ item.created.date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                tasks: null
            }
        },
        created() {
            this.getTasks()
        },
        methods: {
            getTasks() {
                axios
                .get('/implementer/gettaskslist')
                .then(response => {
                    this.tasks = response.data
                    console.log(response.data)
                })
            }
        }
    }
</script>