<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Контроль качества</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="overflow-y: auto;height: 500px;">
            <div v-if="controlComments.length">
                <div class="post" >

                    <template v-for="(item, index) in controlComments">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">{{item.date}}</h3>
                            </div>
                            <div class="box-body">
                                <table class="table">
                                    <tr v-for="(item, index) in item.answers">
                                        <td style="width: 50%;">
                                            <b><span v-html="item.question"></span></b>
                                        </td>
                                        <td>
                                            <span v-html="item.answer"></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </template>

                </div>
            </div>
            <div class="post" v-else>
                <p style="text-align: center">Коментарии отсутствуют</p>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        props: {
            project: {}
        },
        data() {
            return {
                controlComments : []
            }
        },
        created() {
            this.getControlComments()
        },
        methods: {
            getControlComments() {
                axios
                    .get('/projects/'+this.$route.params.id+'/callback-answers')
                    .then(response => {
                        this.controlComments = response.data
                    })
            },
        }

    }
</script>

<style scoped>
    .message {
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    .message.mine{
        margin-left: 20%;
        background: rgba(60, 141, 188, 0.5);
        text-align: end;
    }
    .message.their{
        margin-right: 20%;
        background: rgba(45, 227, 33, 0.49);
    }
</style>