<template>
        <div class="box box-danger">
            <div class="box-header with-border">
                <h3 class="box-title">История внедрения</h3>

                <div class="box-tools pull-right">
                    <!--<span class="label label-danger">8 Онлайн</span>-->
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="overflow-y: auto;height: auto;max-height: 400px">
                <div style="padding-bottom: 20px; display: block;" id="add">
                    <a v-on:click="addCommentButton()" v-if="addCommentFlag == false" class="btn btn-primary"
                       id="click_mes_form">Добавить новый коментарий</a>
                </div>
                <div style="padding-bottom: 20px;" id="addComment" v-if="addCommentFlag == true">
                    <a class="btn btn-primary" v-on:click="addComment()" style="float: left; margin-right: 10px;">Добавить</a>&nbsp;
                    <a class="btn btn-default" v-on:click="addCommentExit()" style="float: left;">Отмена</a>
                </div>
                <div class="clear"></div>
                <div class="wall_form" id="popup_message_form" v-if="addCommentFlag" style="margin-bottom: 20px;">
                    <label id="editor-error" class="error" for="editor" style="display: none;">Это поле обязательно к
                        заполнению</label>
                    <ckeditor :editor="editor" v-model="newComment" :config="editorConfig"></ckeditor>
                </div>

                <div v-if="Comments_count != 0">
                    <template v-if="loading">
                        <tbody>
                        <tr>
                            <td style="text-align: center" colspan="11"><img src="/images/loader.gif"
                                                                             style="width: 70%;" alt=""></td>
                        </tr>
                        </tbody>
                    </template>
                    <div class="post" v-for="(item, index) in Comments">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">
                            <span class="username">
                                <a href="#">{{item.user_name}} {{item.user_surname}}</a>
                                    <span v-if="item.pf == 1" style="font-style: italic; color: #999;">(разработка форм)</span>
                                    <span v-if="item.is_control" style="font-style: italic; color: #999;">(контроль качества)</span>
                                <template v-if="item.autor == true">
                                    <a v-on:click="delComment(item.id, index)" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>
                                    <a v-on:click="editComment(item.id, index)" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>
                                </template>
                            </span>
                            <template v-if="item.for_client == 1">
                                <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>
                            </template>
                            <template v-else>
                                <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>
                            </template>
                        </div>
                        <div>
                            <span style="font-style: italic; color: #999;">{{item.task}}</span>
                        </div>
                        <template v-if="editCommentFlag == true && editableComment.id == item.id">
                            <div>
                                <ckeditor :editor="editor" v-model="editableComment.text"
                                          :config="editorConfig"></ckeditor>
                            </div>
                            <div>
                                <button v-on:click="saveEditComment()" class="btn btn-success">Сохранить</button>
                                <button v-on:click="cancelEditComment()" class="btn btn-default">Отмена</button>
                            </div>
                        </template>
                        <template v-else>
                            <div :id="'comment_'+item.id">
                                <span v-html="item.text"></span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="post" v-else>
                    <p style="text-align: center">Коментарии отсутствуют</p>
                </div>
            </div>
            <div class="box-footer" style="width: 100%; text-align: center;" v-if="Comments.length > 2">
                <a v-on:click="getAllComments()" style="cursor: pointer;">Показать все</a>
            </div>
        </div>
        <!--/.box -->
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        props: {
            Project: {}
        },
        data() {
            return {
                Comments: Array,
                Comments_count: 0,
                ControlComments: null,
                ControlComments_count: 0,
                OtherComments: null,
                OtherComments_count: 0,
                addCommentFlag: false,
                newComment: '',
                loading: false,
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    mediaEmbed: {
                        removeProviders: [ 'youtube' ]
                    }
                },
                editCommentFlag: false,
                editableComment: null,
                canceledComment: null,
                showAllFlag: false,
                editableCommentIndex: null
            }
        },
        created() {
            this.getComments()
        },
        methods: {

            getAllComments() {
                this.showAllFlag = true
                this.loading = true
                axios
                    .get('/get-all-comments/' + this.$route.params.id)
                    .then(response => {
                        this.Comments = response.data
                        this.Comments_count = response.data.length
                    })
                    .finally(() => (
                        this.loading = false
                    ))
            },
            getComments() {
                this.showAllFlag = false
                axios
                    .get('/get-comments/' + this.$route.params.id)
                    .then(response => {
                        this.Comments = response.data
                        this.Comments_count = response.data.length
                    })
            },

            addCommentButton() {
                // this.newComment = ''
                this.addCommentFlag = !this.addCommentFlag
            },
            addCommentExit() {
                // this.newComment = ''
                this.addCommentFlag = false
            },
            addComment() {
                console.log(this.newComment);

                if (this.newComment == '') {
                    alert('Укажите коментарий');
                    return
                }

                var postBody = {
                    project_id: this.Project.id,
                    comment: this.newComment
                }

                axios
                    .post('/comment/add', {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.getComments()
                            this.addCommentFlag = false
                            this.newComment = ''
                        }
                    })
            },

            editQuestion() {
                this.EditQuestionFlag = !this.EditQuestionFlag
            },
            editComment(id, index) {
                this.editCommentFlag = true
                // for (var i = 0; i < this.Comments.length; i++) {
                //     if (this.Comments[i].id == id) {
                this.editableComment = {...this.Comments[index]}
                this.editableCommentIndex = index
                //     }
                // }
            },
            delComment(id, index) {
                if (confirm('Вы действительно хотите удалить комментарий?')) {
                    var postBody = {
                        comment: this.Comments[index]
                    }
                    axios
                        .post('/comment/del',{'data': JSON.stringify(postBody)})
                        .then(response => {
                            if (response.data.status == 'Ok') {
                                if (this.showAllFlag) {
                                    this.Comments.splice(index, 1);
                                } else {
                                    this.getComments()
                                }
                            }
                        })
                }
            },
            cancelEditComment() {
                this.editCommentFlag = false
            },
            saveEditComment() {
                console.log(this.editableComment);
                if (this.editableComment.text != '') {
                    var postBody = {
                        comment: this.editableComment,
                        project_id: this.Project.id
                    }
                    axios
                        .post('/comment/save', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            if (response.data.status == 'Ok'){
                                this.Comments[this.editableCommentIndex] = {...this.editableComment}
                                this.editCommentFlag = false
                            }
                        })
                } else {
                    alert("Комментарий не может быть пустым");
                    return false;
                }
            },

        }
    }
</script>