<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Контакты</h3>

            <div class="box-tools pull-right">
                <!--<span class="label label-danger">8 Онлайн</span>-->
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div style="padding-bottom: 20px; display: block;" id="addCont">
                <a v-on:click="addFormContact()" class="btn btn-primary">Добавить контакт</a>
            </div>
            <div v-if="contactFlag == true">
                <table class="table">
                    <tr>
                        <td><input type="text" v-model="newContact.lastName" class="form-control" placeholder="Фамилия"></td>
                        <td>&nbsp;</td>
                        <td><input type="text" v-model="newContact.firstName" class="form-control" placeholder="Имя"></td>
                        <td>&nbsp;</td>
                        <td><input type="text" v-model="newContact.patronymic" class="form-control" placeholder="Отчество"></td>
                        <td>&nbsp;</td>
                        <td>
                            <select class="form-control" v-model="newContact.post_id">
                                <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><input type="number" v-model="newContact.phone" class="form-control" placeholder="Телефон"></td>
                        <td>&nbsp;</td>
                        <td><input type="email" v-model="newContact.email" class="form-control" placeholder="Email"></td>
                        <td>&nbsp;</td>
                        <td>
                            <label><input type="checkbox" v-model="newContact.main" /> Ответственный</label>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <label><input type="checkbox" v-model="newContact.mail_rep" /> Уведомления</label>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
                <a v-on:click="addContact()" class="btn btn-primary" >Добавить</a>
            </div>
            <div v-if="Contacts.length != 0">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>№</th>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Должность</th>
                            <th>Телефон</th>
                            <th>Email</th>
                            <th>Ответственный</th>
                            <th>Уведомления</th>
                            <th>Действия</th>
                        </tr>
                        <tr v-for="(item, index) in Contacts">
                            <template v-if="editContactFlag == true && editableContact.id == item.id">
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td style="vertical-align: middle;">
                                    <input type="text" class="form-control" v-model="editableContact.last_name">
                                </td>
                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.first_name"></td>
                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.patronymic"></td>
                                <td style="vertical-align: middle;">
                                    <select class="form-control" v-model="editableContact.post_id">
                                        <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>
                                    </select>
                                </td>
                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.phone"></td>
                                <td style="vertical-align: middle;"><input type="text" class="form-control" v-model="editableContact.email"></td>
                                <td style="vertical-align: middle;">
                                    <input type="checkbox" v-model="editableContact.main" />
                                </td>
                                <td style="vertical-align: middle;">
                                    <input type="checkbox" v-model="editableContact.mail_rep" />
                                </td>
                                <td style="vertical-align: middle;">
                                    <button class="btn btn-success" v-on:click="saveEditContact(index)"><i class="fa fa-save"></i></button>
                                    <button v-on:click="cancelEditContact()" class="btn btn-default"><i class="fa fa-undo"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td style="vertical-align: middle;"><span id="contactSurname">{{ item.last_name }}</span></td>
                                <td style="vertical-align: middle;"><span id="contactName">{{ item.first_name }}</span></td>
                                <td style="vertical-align: middle;"><span id="contactPatronymic">{{ item.patronymic }}</span></td>
                                <td style="vertical-align: middle;"><span id="contactPost">{{ item.post_name }}</span></td>
                                <td style="vertical-align: middle;"><span id="contactPhone"><a :href="'tel:'+item.phone">{{ item.phone }}</a></span></td>
                                <td style="vertical-align: middle;"><span id="contactEmail"><a :href="'mailto:'+item.email">{{ item.email }}</a></span></td>
                                <td style="vertical-align: middle;" v-if="item.main == 1">Да</td>
                                <td style="vertical-align: middle;" v-else>Нет</td>
                                <td style="vertical-align: middle;" v-if="item.mail_rep == 1">Да</td>
                                <td style="vertical-align: middle;" v-else>Нет</td>
                                <td style="vertical-align: middle;">
                                    <a :id="'edit_'+item.id" v-on:click="editContact(item.id, index)" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a v-on:click="delContact(item.id)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-else>
                <p style="text-align: center">Контакты отсутствуют</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            Project: {}
        },
        data() {
            return {
                Contacts: Array,
                Posts: Array,
                newContact: {},
                editableContact: {},
                contactFlag: false,
                editContactFlag : false
            }
        },
        created(){
            this.getContacts();
            this.getPost();
        },
        methods: {
            getContacts(){
                axios
                    .get('/projects/'+this.Project.id+'/contacts')
                    .then(response => {
                        this.Contacts = response.data
                    })
            },
            getPost() {
                axios
                    .get('/posts')
                    .then(response => {
                        this.Posts = response.data
                    })
            },
            addContact() {
                if (!this.isNumber(this.newContact.post_id)) {
                    alert('Укажите должность');
                    return
                };
                var postBody = {
                    newContact: this.newContact,
                    client_id: this.Project.client_id,
                    // project_id: this.Project.id
                }

                axios
                    .post('/projects/'+this.Project.id+'/contacts', {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.newContact = {};
                            this.contactFlag = false
                            this.getContacts();
                        }
                    })
            },
            editContact(id, index) {
                this.editContactFlag = true

                // for (var i = 0; i < this.Contacts.length; i++) {
                //     if (this.Contacts[i].id == id) {
                        this.editableContact = {...this.Contacts[index]}
                //     }
                // }
            },
            delContact(id) {
                if (confirm('Вы действительно хотите удалить контакт?')){
                    axios
                        .delete('/projects/'+this.Project.id+'/contacts/'+id)
                        .then(response => {
                            if (response.data.status == 'Ok') {
                                this.getContacts();
                            }
                        })
                }
            },
            saveEditContact(index) {
                console.log()
                if (!this.isNumber(this.editableContact.post_id)) {
                    alert('Укажите должность');
                    return
                };

                var postBody = {
                    contact: this.editableContact,
                    project_id: this.$route.params.id
                }
                axios
                    .put('/projects/'+this.Project.id+'/contacts/'+this.editableContact.id, {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.getContacts();
                            this.editContactFlag = false
                        };
                    })
            },
            cancelEditContact() {
                this.editContactFlag = false
            },
            addFormContact() {
                this.contactFlag = !this.contactFlag
            },
            isNumber(val) {
                if (/[\d\.]+/i.test(val)) {
                    return true
                } else {
                    return false;
                }
            },
        }
    }
</script>