<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Формы</h3>

            <div class="box-tools pull-right">
                <!--<span class="label label-danger">8 Онлайн</span>-->
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div>
                <div v-for="(status, index) in statuses" style="cursor: pointer; display: inline-block; margin:0 15px 15px 0;">
                    <a v-on:click="choseStatus(index)" :class="status.chosen?'btn btn-info':''">{{status.name}}</a>
                </div>
            </div>
            <div style="padding-bottom: 20px;">
                <a v-on:click="addForms = !addForms" class="btn btn-primary">Добавить форму</a>
                <a v-on:click="fieldFlag = !fieldFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer; margin: 5px">Поля</a>
<!--                <a v-on:click="filterFlag = !filterFlag" style="text-decoration: dashed; text-decoration-line: underline; cursor: pointer; margin: 5px">Фильтр</a>-->

            </div>
            <div v-if="addForms == true">
                <table class="table"  style="border-top: 3px solid #d2d6de;">
                    <tr>
                        <td>Платно?</td>
                        <td><input type="checkbox" v-model="forPaid"></td>
                        <td>Оплачено?</td>
                        <td><input type="checkbox" v-model="paided"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Печатная форма</td>
                        <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 1}"></td>
                        <td>Экранная форма</td>
                        <td><input name="form" type="radio" v-model="isPrintForm" :value="{id: 2}"></td>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                        <td colspan="7">Комментарий</td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <UploadForm
                                    :project_id="Project.id"
                                    :isPrintForm="isPrintForm"
                                    :forPaid="forPaid"
                                    :paided="paided"
                                    :flag="addForms"
                                    :task_id="0"
                                    @upload="close"
                            >
                            </UploadForm>
                        </td>
                    </tr>
                </table>
            </div>
            <div v-if="fieldFlag">
                <table class="table table-hover">

                    <tr v-for="i in 4">
                        <td v-for="j in 4">
                            <div v-if="(i-1)*4 + j < fields.length">
                                <input :id="'field'+(i-1)*4 + j" v-model="fields[(i-1)*4 + j].visible" v-on:click="changeVisible(fields[(i-1)*4 + j])" type="checkbox">
                                <label :for="'field'+(i-1)*4 + j">{{fields[(i-1)*4 + j].name}}</label>
                            </div>
                        </td>
                    </tr>

<!--                    <tr v-for="(field, index) in fields">-->
<!--                        <td>-->
<!--                            <input :id="'field'+index" v-model="field.visible" v-on:click="changeVisible(field)" type="checkbox">-->
<!--                            <label :for="'field'+index">{{field.name}}</label>-->
<!--                        </td>-->
<!--                    </tr>-->
                </table>
            </div>
            <table class="table">
                <thead>
                    <th style="padding: 4px; text-align: center" v-for="field in fields" v-if="field.visible">{{field.name}}</th>
                </thead>
                <tbody v-if="forms.length > 0">
                <tr v-for="(item, index) in forms">
                    <td v-if="fields[0].visible"><a :href="getPublicUrl(item, 'pf')" target="_blank">{{item.pf_file}}</a></td>
                    <td v-if="fields[1].visible">{{item.status}}</td>
                    <td v-if="fields[2].visible">{{item.first_name}} {{item.last_name}}</td>
                    <td v-if="fields[3].visible"><a :href="getPublicUrl(item, 'df')" target="_blank">{{item.df_file}}</a></td>
                    <td v-if="fields[4].visible">{{item.obs_name}}</td>
                    <td v-if="fields[5].visible">{{item.free ? 'Нет' : 'Да'}}</td>
                    <td v-if="fields[6].visible">{{item.created_at}}</td>
                    <td v-if="fields[7].visible">{{item.date_implement}}</td>
                    <td v-if="fields[8].visible">{{item.date_implement_for_client}}</td>
                    <td v-if="fields[9].visible">{{item.real_date}}</td>
                    <td v-if="fields[10].visible">
                        <a v-on:click="closeForm(item)" v-if="showCloseButton(item.status)" class="btn btn-default">Закрыть</a>
                    </td>
<!--                    <td>--
                        <a :href="'https://drive.google.com/uc?export=download&id='+item.df_g_file" download target="_blank" v-if="item.df_file" class="btn btn-default">Скачать</a>-->
<!--                    </td>-->
                </tr>
                </tbody>
                <tbody v-else>
                <tr>
                    <td colspan="4" style="text-align: center;"><i>Файлы отсутствуют</i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import UploadForm from '../UploadForm.vue';

    export default {
        components:{
            UploadForm
        },
        props: {
            Project: {}
        },
        data() {
            return {

                Count_norm:null,
                Count_number:null,
                Count_print_norm:null,
                Count_print_number:null,
                Count_screen_norm:null,
                Count_screen_number:null,

                isPrintForm: {
                    id: ''
                },
                paided: false,
                forPaid: false,
                formsAll: [],
                forms: [],
                link: '',
                formsTab: false,
                addForms: false,
                main: 0,
                loading: false,

                fields: [],
                fieldFlag: false,
                filterFlag: false,
                statuses: [],
            }
        },
        created(){
            this.getFiles();
            this.getFields();
            this.getStatuses();
        },
        methods: {
            close(status) {
                if (status == 'Ok') {
                    this.addForms = false;
                    this.forPaid = false;
                    this.paided = false;
                    this.isPrintForm.id = ''
                    this.getFiles()
                }
                ;
            },
            getFiles() {
                axios
                    .get('/projects/' + this.$route.params.id + '/forms/')
                    .then(response => {
                        this.formsAll = response.data
                        this.filterPrintForms()
                    })
            },
            getStatuses() {
                axios
                    .get('/projects/forms/statuses')
                    .then(response => {
                        this.statuses = [{id:0, name:'Все'}, ...response.data]
                        this.statuses.forEach(function (s) {
                            s.chosen = s.name == 'Требуется проверка';
                        })
                        this.filterPrintForms();
                    })
            },
            filterPrintForms(){
                var chosenStatuses = this.getChosenStatuses();
                if (chosenStatuses.length && chosenStatuses.indexOf(0) === -1){
                    this.forms = this.formsAll.filter(function (f) {
                        return chosenStatuses.indexOf(f.status_id) !== -1;
                    })
                } else {
                    this.forms = this.formsAll;
                }
            },
            getChosenStatuses(){
                return this.statuses.filter(function (s) {
                    return s.chosen
                }).map(function (s) {
                    return s.id;
                })
            },
            getPublicUrl(file, prefix) {
                if (file[prefix + '_public_url']) {
                    return file[prefix + '_public_url']
                }
                if (file[prefix + '_g_file']) {
                    return 'https://docs.google.com/document/d/' + file[prefix + '_g_file'];
                }
                return null;
            },
            getDownloadUrl(file, prefix) {
                if (file[prefix + '_download_url']) {
                    return file[prefix + '_download_url']
                }
                if (file[prefix + '_g_file']) {
                    return 'https://drive.google.com/uc?export=download&id=' + file[prefix + '_g_file'];
                }
                return null;
            },
            changeVisible(field) {
                field.visible = !field.visible
                localStorage.setItem('project.forms.fields.' + field.name, field.visible);
            },
            getFields() {
                this.fields = [
                    {'name': 'ТЗ/Образец', 'visible': true},
                    {'name': 'Статус', 'visible': true},
                    {'name': 'Исполнитель', 'visible': true},
                    {'name': 'Готовый файл', 'visible': true},
                    {'name': 'Внедренец', 'visible': true},
                    {'name': 'Платно', 'visible': true},
                    {'name': 'Дата постановки', 'visible': true},
                    {'name': 'Дата реализации', 'visible': true},
                    {'name': 'Дата реализации для заказчика', 'visible': true},
                    {'name': 'Реальная дата реализации', 'visible': true},
                    {'name': 'Действия', 'visible': true},
                ];

                this.fields.forEach(function (field) {
                    var vis = localStorage.getItem('project.forms.fields.' + field.name);
                    if (vis != null) {
                        field.visible = vis === 'true';
                    }
                })
            },
            choseStatus(index) {
                var statuses = this.statuses

                if (index == 0){
                    statuses.forEach(function (s) {
                        s.chosen = false
                    })
                    statuses[0].chosen = true
                } else {
                    statuses[index].chosen = !statuses[index].chosen
                    statuses[0].chosen = !this.getChosenStatuses().length;
                }

                this.filterPrintForms();
            },
            showCloseButton(status){
                var closeArray = ['Новая', 'Требуется проверка', 'Корректировки', 'Ошибка постановки'];
                return closeArray.indexOf(status) !== -1
            },
            closeForm (form){
                console.log(form)
                if (confirm('Вы уверены, что хотите закрыть форму?')){
                    axios
                        .put('/projects/' + this.$route.params.id + '/forms/' + form.id + '/close')
                        .then(response => {
                            if (response.data.status == 'Ok'){
                                this.getFiles();
                            }
                        })
                }
            }

        }
    }
</script>