<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <div style="padding-bottom: 20px; display: block;" class="form-inline">
                <a v-on:click="add()" class="btn btn-primary">Добавить причину</a>
                <label style="padding-left: 30px">
                    <input v-model="showSolved" type="checkbox" class=" checkbox">
                    Показать все
                </label>
            </div>



        </div>
        <!-- /.box-header -->
        <div class="box-body" style="overflow-y: auto;height: auto;max-height: 400px">

            <table class="table">
                <thead>
                    <th>Дата создания</th>
                    <th>Причина</th>
                    <th>Тип</th>
                    <th>Примечание</th>
                    <th>Номер задачи в Redmine</th>
                    <th>Решено</th>
                    <th>Дата решения</th>
                    <th>Действия</th>
                </thead>
                <tbody v-if="data.length > 0">
                    <template v-for="(item, index) in data" v-if="showSolved || !item.is_solved">
                        <tr v-if="editingItem.id != item.id">
                            <td>{{item.created_at}}</td>
                            <td>{{item.waiting_list.name}}</td>
                            <td>{{item.waiting_list.waiting_list_type.name}}</td>
                            <td>{{item.info}}</td>
                            <td>
                                <a v-if="item.redmine_task_id" target="_blank" :href="'http://192.168.1.253/issues/'+item.redmine_task_id">
                                    #{{item.redmine_task_id }}
                                </a>
                                <template v-if="item.redmine_info">
                                    <br>
                                    <span v-html="item.redmine_info"/>
                                </template>
                            </td>
                            <td v-if="item.is_solved">
                                Да
                            </td>
                            <td v-else>
                                <input v-on:change="solved(item)" v-model="item.is_solved" type="checkbox" class="checkbox">
                            </td>
                            <td>{{item.solved_at}}</td>
                            <td v-if="!item.is_solved">
                                <a v-on:click="edit(item)" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
<!--                                <a v-on:click="del(item)" class="btn btn-danger">-->
<!--                                    <i class="fa fa-trash"></i>-->
<!--                                </a>-->
                            </td>
                        </tr>
                        <tr v-else>
                            <td>{{item.created_at}}</td>
                            <td>
                                <select v-if="!editingItem.id" class="form-control" v-model="editingItem.waiting_list">
                                    <option v-for="reason in reasons" :value="reason">{{reason.name}}</option>
                                </select>
                                <template v-else>
                                    {{editingItem.waiting_list ? editingItem.waiting_list.name : ''}}
                                </template>
                            </td>
                            <td>{{editingItem.waiting_list ? editingItem.waiting_list.waiting_list_type.name : ''}}</td>
                            <td>
                                <input v-if="editingItem.waiting_list && editingItem.waiting_list.has_info"
                                       type="text" class="form-control" v-model="editingItem.info">
                            </td>
                            <td>
                                <input v-if="editingItem.waiting_list && editingItem.waiting_list.has_redmine"
                                       type="text" class="form-control"  v-model="editingItem.redmine_task_id">
                            </td>
                            <td></td>
                            <td></td>
                            <td style="vertical-align: middle;">
                                <button class="btn btn-success" v-on:click="save(index)"><i class="fa fa-save"></i></button>
                                <button v-on:click="cancel()" class="btn btn-default"><i class="fa fa-undo"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="6" style="text-align: center;"><i>Записи отсутствуют</i></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <!--/.box -->
</template>

<script>

    export default {
        props: {
            project: {}
        },
        data() {
            return {
                data: Array,
                editFlag: false,
                editingItem: {},
                reasons: Array,
                showSolved: false
            }
        },
        created() {
            this.getWaitingList()
            this.getReasons()
        },
        methods: {
            getWaitingList() {
                this.$request({
                    url: '/projects/'+this.project.id+'/w-list',
                    onSuccess: function (response) {
                        this.data = response.data
                    }.bind(this)
                })
            },
            getReasons(){
                this.$request({
                    url: '/waiting_lists',
                    onResponse: function (response) {
                        this.reasons = response
                    }.bind(this)
                })
            },
            edit(item){
                this.editingItem = {...item}
                this.editFlag = true
            },
            add(){
                if (this.editingItem.id !== 0) {
                    this.editingItem = {id: 0}
                    this.data.splice(0, 0, this.editingItem)
                    this.editFlag = true
                } else {
                    this.cancel(0)
                }
            },
            del(item, index){

                this.$confirm({
                    message: `Вы действительно хотите удалить запись?`,
                    button: {
                        no: 'Нет',
                        yes: 'Да'
                    },
                    callback: confirm => {
                        if (confirm)
                            this.$request({
                                url: '/projects/'+this.project.id+'/w-list/'+item.id,
                                method: 'delete',
                                onSuccess: response => {
                                    this.data.splice(index, 1)
                                },
                                successMessage: 'Успешно удалено'
                            })
                    }
                })

            },
            solved(item){
                this.$confirm({
                    message: `Вы уверены что причина устранена, может подумаете еще раз?`,
                    button: {
                        no: 'Хорошо, я подумаю',
                        yes: 'Да, устранена'
                    },
                    callback: confirm => {
                        if (confirm)
                            this.$request({
                                url: '/projects/'+this.project.id+'/w-list/'+item.id+'/solved',
                                method: 'put',
                                onSuccess: response => {
                                    this.getWaitingList()
                                    this.editingItem = {}
                                },
                                onError: () => {
                                    item.is_solved = false;
                                },
                                successMessage: 'Все прошло успешно! Вы молодец!'
                            })
                        else
                            item.is_solved = false;
                    }
                })

            },
            async save(index){
                if (!this.editingItem.waiting_list){
                    alert('Выберите причину');
                    return;
                }
                if (this.editingItem.waiting_list.has_info && !this.editingItem.info){
                    alert('Заполните примечание');
                    return;
                }
                if (this.editingItem.waiting_list.has_redmine) {
                    if (!this.editingItem.redmine_task_id) {
                        alert('Заполните номер задачи в Redmine');
                        return;
                    }
                    this.editingItem.redmine_task_id = this.editingItem.redmine_task_id.replace('#', '');
                    try {
                        let res = await axios({
                            url: '/redmine/issues/' + this.editingItem.redmine_task_id
                        })
                        if (res.data.status == 'Error') {
                            alert(res.data.message);
                            return;
                        }
                    } catch (e) {
                        alert('Задача не найдена');
                        return;
                    }

                }

                this.$request({
                    url: '/projects/'+this.project.id+'/w-list'+(this.editingItem.id ? '/' + this.editingItem.id : ''),
                    method: (this.editingItem.id ? 'put' : 'post'),
                    data: this.editingItem,
                    onSuccess: response => {
                        this.getWaitingList()
                        this.editingItem = {}
                    },
                    successMessage: 'Успешно сохранено'
                })
            },
            cancel(index){
                if(!this.editingItem.id){
                    this.data.splice(index, 1)
                }
                this.editingItem = {}
            }
        }
    }
</script>

<style scoped>
    .table th {
        padding: 4px;
        text-align: center;
    }
</style>