<template>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a href="/implementer/mail/new" class="btn btn-primary btn-block margin-bottom">Написать</a>

                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title"><b>Папки</b></h3>

                        <div class="box-tools">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <ul class="nav nav-pills nav-stacked">
                            <template  v-for="(item, index) in folders" v-if="item.active">
                                <li class="active mail-folder" style="cursor: pointer;">
                                    <a v-on:click="changeBox(item)" :value="item.name">{{item.name}}</a>
                                </li>
                            </template>
                            <template v-else>
                                <li class="mail-folder" style="cursor: pointer;">
                                    <a v-on:click="changeBox(item)" :value="item.name">{{item.name}}</a>
                                </li>
                            </template>
                        </ul>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="box box-primary" v-if="readFlag == false">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{box}}</h3>

                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" placeholder="Search Mail">
                                <span class="fa fa-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" v-if="leters.length == 0">
                                <tbody>
                                    <tr>
                                        <td colspan="6" style="text-align: center;"><i>В папке нет писем</i></td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-hover table-striped" v-else>
                                <tbody>
                                    <template v-for="(item, index) in leters">
                                    <tr v-if="item.seen == 0" style="font-weight: bold;">
                                        <td><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></td>
                                        <td class="mailbox-star" v-if="item.flagged"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-star" v-else><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="#" v-on:click="read(item.message_id)">{{item.from}}</a></td>
                                        <td class="mailbox-subject">{{item.subject}}</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">{{item.udate}}</td>
                                    </tr>
                                    <tr v-else>
                                        <td><button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button></td>
                                        <td class="mailbox-star" v-if="item.flagged"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                        <td class="mailbox-star" v-else><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                        <td class="mailbox-name"><a href="#" v-on:click="read(item.message_id)">{{item.from}}</a></td>
                                        <td class="mailbox-subject">{{item.subject}}</td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">{{item.udate}}</td>
                                    </tr>
                                    </template>
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" onclick="location.reload();" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                    </div>
                </div>
                <div class="box box-primary" v-else>
                    <div class="box-header with-border">
                        <h3 class="box-title">Read Mail</h3>

                        <div class="box-tools pull-right">
                            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Previous"><i class="fa fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Next"><i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>

                    <div class="box-body no-padding">
                        <div class="mailbox-read-info">
                            <h3>Message Subject Is Placed Here</h3>
                            <h5>From: help@example.com
                            <span class="mailbox-read-time pull-right">15 Feb. 2016 11:03 PM</span></h5>
                        </div>
                        <!-- /.mailbox-read-info -->
                        <div class="mailbox-controls with-border text-center">
                            <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="" data-original-title="Delete">
                                <i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="" data-original-title="Reply">
                                <i class="fa fa-reply"></i></button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="" data-original-title="Forward">
                                <i class="fa fa-share"></i></button>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="" data-original-title="Print">
                            <i class="fa fa-print"></i></button>
                        </div>
                        <!-- /.mailbox-controls -->
                        <div class="mailbox-read-message">
                            <span v-html="content"></span>
                        </div>
                        <!-- /.mailbox-read-message -->
                    </div>

                    <div class="box-footer">
                        <!-- <ul class="mailbox-attachments clearfix">
                            <li>
                                <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                                    <span class="mailbox-attachment-size">
                                    1,245 KB
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> App Description.docx</a>
                                    <span class="mailbox-attachment-size">
                                    1,245 KB
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <span class="mailbox-attachment-icon has-img"></span>

                                <div class="mailbox-attachment-info">
                                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-camera"></i> photo1.png</a>
                                    <span class="mailbox-attachment-size">
                                    2.67 MB
                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                                    </span>
                                </div>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</template>
<script>
export default {
    data() {
        return {
            folders: [],
            leters: [],
            box: '',
            readFlag: false,
            content: ''
        }
    },
    // computed: {
    //     sortedArray: function() {
    //         function compare(a, b) {
    //             if (a.name < b.name)
    //                 return -1;
    //             if (a.name > b.name)
    //                 return 1;
    //             return 0;
    //         }

    //         return this.folders.sort(compare);
    //     }
    // },
    created() {
        this.getFolders()
        this.getLeters()
    },
    methods: {
        getFolders() {
            axios
            .get('/print_form/mail/getFolders')
            .then(response => {
                this.folders = response.data
                for(var i = 0; i < this.folders.length; i++) {
                    console.log(this.folders[i]);
                    if (this.folders[i].active) {
                        this.box = this.folders[i].name
                    }
                }
            })
        },
        getLeters() {
            axios
            .get('/print_form/mail/getLeters')
            .then(response => {
                this.leters = response.data
                console.log(this.leters);
            })
        },
        changeBox(item) {
            console.log(item);
            this.box = item.name
        },
        read(message_id) {
            console.log(message_id);
            axios
            .get('/print_form/mail/getLeter/'+message_id)
            .then(response => {
                this.content = response.data
                this.readFlag = !this.readFlag
            })
        }
    },
}
</script>