<template>
    <ul class="sidebar-menu">
        <li class="header">Основное меню</li>

        <li>
            <router-link to="/print_form">
                <i class="fa fa-dashboard"></i> <span>Панель управления</span>
            </router-link>
        </li>
        <li>
            <router-link to="/print_form/forms">
                <i class="fa fa-print"></i> <span>Формы</span>
            </router-link>
        </li>
        <li>
            <router-link to="/print_form/mail">
                <i class="fa fa-envelope"></i> <span>Почта</span>
            </router-link>
        </li> 
        <li>
            <router-link to="/print_form/tasks">
                <i class="fa fa-files-o"></i> <span>Задачи</span>
            </router-link>
        </li>
    </ul>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null
            }
        },
        components: {
            // Notification
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
                // this.$socket.emit('join', 'private-message123');
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        mounted: function() {
            Notification.requestPermission(function(permission){
                this.perm = permission;
                console.log('Результат запроса прав:', permission);
            }.bind(this));
            this.sockets.subscribe('private-message123:message123', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Добавлены формы в очередь', {
                        body: 'Пользователь '+data.user+' добавил формы в очередь',
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('private-impFormChangeStatus:impFormChangeStatus', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Формы', {
                        body: 'Форма '+data.form+'. Статус сменился на '+data.status,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
        },
        created() {
            this.getProjects();
        },
        methods: {
            getProjects() {
                // axios
                //     .get('/manager/project/projects-count/')
                //     .then(response => {
                //         this.Projects = response.data
                //     })
            }
        }
    }
</script>