<template>
    <div>
        <div class="nav-tabs-custom">
            <div class="box" style="padding: 15px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>
                </div>
                <div class="row">
                    <div class="col-md-6"> 
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Номер задачи</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.form.id}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Заказчик</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.client.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Название проекта</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.project.name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Наименование задачи</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-for="(item, index) in Raw.file">
                                        {{item.name}}&nbsp;
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Статус</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select class="form-control" v-model="curStatus">
                                        <template v-for="(item, index) in Raw.statuses">
                                            <option :value="item.id">{{item.name}}</option>
                                        </template>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Внедренец</td>
                                <td colspan="2" style="vertical-align: middle;">{{Raw.form.first_name}} {{Raw.form.last_name}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Кто будет делать</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select class="form-control" v-model="user">
                                        <option v-for="(item, index) in Raw.users.original" :value="item.id">{{item.first_name}} {{item.last_name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Прикрепленные файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="Raw.file" />
<!--                <ul class="mailbox-attachments clearfix" v-if="Raw.file.length > 0 && Raw.file[0].name != null">-->
<!--                    <li>-->
<!--                        <template v-if="Raw.file[0].ext == 'pdf'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+Raw.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{Raw.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="Raw.file[0].ext == 'xls'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+Raw.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{Raw.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="Raw.file[0].ext == 'xlsx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+Raw.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{Raw.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="Raw.file[0].ext == 'doc'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+Raw.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{Raw.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="Raw.file[0].ext == 'docx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+Raw.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{Raw.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        <Print_form_comments />
<!--        <div class="box">-->
<!--            <div class="box-header with-border">-->
<!--                <h3 class="box-title">Комментарии</h3>-->
<!--            </div>-->
<!--            <div class="box-body">-->
<!--                <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                </div>-->
<!--                <div class="clear"></div>-->
<!--                <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                    <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>-->
<!--                </div>-->
<!--                <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                    <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                </div>-->
<!--                <div v-if="Raw.comments.length > 0">-->
<!--                    <div class="post" v-for="(item, index) in Raw.comments">-->
<!--                        <div class="user-block">-->
<!--                            <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                            <span class="username">-->
<!--                            <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                            <template v-if="item.autor == true">-->
<!--                                <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>-->
<!--                                <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>-->
<!--                            </template>-->
<!--                        </span>-->
<!--                            <template v-if="item.for_client == 1">-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                            </template>-->
<!--                        </div>-->
<!--                        <div :id="'comment_'+item.id">-->
<!--                            <span v-html="item.text"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="post" v-else>-->
<!--                    <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-group">
            <input type="button" v-on:click="saveRaw()" value="Сохранить" class="btn btn-success">
            <router-link :to="'/print_form/forms'" class="btn btn-default">Отмена</router-link>
        </div>
    </div>
</template>
<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import AttachmentFiles from "../AttachmentFiles";
import Print_form_comments from "../print_form_common/Print_form_comments";
export default {
    components: {Print_form_comments, AttachmentFiles},
    data() {
        return {
            Raw: [],
            status: null,
            comment: '',
            commentFlag: false,
            editor: ClassicEditor,
            editorData: '',
            curStatus: null,
            editorConfig: {
                // The configuration of the editor.
            },
            user: null
        }
    },
    created() {
        this.getRaw()
    },
    methods: {
        getRaw() {
            axios
            .get('/print_form/getAttendantById/'+this.$route.params.id)
            .then(response => {
                this.Raw = response.data
                console.log(this.Raw)
                this.curStatus = this.Raw.form.printform_status_ref_id
            })
        },
        click_mes_form() {
            this.comment = ''
            this.commentFlag = !this.commentFlag
        },
        add_comment() {
            if (this.comment == '') {
                alert('Укажите коментарий');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                comment: this.comment
            }

            axios
            .post('/print_form/add-comment', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.comment = null
                    this.commentFlag = !this.commentFlag
                    this.getRaw()
                }
            })
        },
        saveRaw() {
            if (this.user == null) {
                alert('Выберите кто будет делать')
                return
            }

            var postBody = {
                id: this.$route.params.id,
                curStatus: this.curStatus,
                user: this.user
            }

            axios
            .post('/print_form/attendant/edit', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/print_form/forms');
                }
            })
        }
    },
}
</script>