<template>
    <div>
        <div class="box" style="padding: 15px;" id="maininfo">
            <div class="box-header with-border">
                <h3 class="box-title">Общая информация</h3>
                <div class="pull-right">
                    <template v-if="pform.user != ''">
                        <a v-on:click="returnInQueue()" style="cursor: pointer; margin-right: 10px;" class="btn btn-primary">Вернуть в очередь</a>
                    </template>
                    <a v-on:click="edit()" v-if="editFlag == false" style="cursor: pointer;">Редактировать</a>
                    <a v-on:click="save()" v-if="editFlag == true" class="btn btn-success">Сохранить</a>
                    <a v-on:click="edit()" v-if="editFlag == true" class="btn btn-default">Отмена</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Номер задачи</td>
                            <td width="70%" style="vertical-align: middle;">{{pform.form.id}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Очередность</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.count_task}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <input type="text" class="form-control" v-model="number">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Статус</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.status.name}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <select v-model="status_introduction" class="form-control">
                                    <template v-for="(item, index) in pform.statuses" >
                                        <option :value="item.id">{{item.name}}</option>
                                    </template>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Заказчик</td>
                            <td width="70%" style="vertical-align: middle;">{{pform.client.name}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Название проекта</td>
                            <td width="70%" style="vertical-align: middle;">{{pform.project.name}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Наименование задачи</td>
                            <td width="70%" v-if="editFlag == false" style="vertical-align: middle;">{{pform.form.name}}</td>
                            <td width="70%" v-if="editFlag == true" style="vertical-align: middle;">
                                <input type="text" class="form-control" v-model="pform.form.name">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Тип формы</td>
                            <template v-if="pform.form.is_printform == 1 && editFlag == false">
                                <td width="70%" style="vertical-align: middle;">Печатная</td>
                            </template>
                            <template v-if="pform.form.is_screenform == 1 && editFlag == false">
                                <td width="70%" style="vertical-align: middle;">Экранная</td>
                            </template>
                            <td style="vertical-align: middle;" v-if="editFlag == true">
                                <template v-if="pform.form.is_printform == 1">
                                    <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1" checked>
                                </template>
                                <template v-else>
                                    <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1">
                                </template>
                                <label for="On">
                                    <h4 style="color: #3c8dbc;">Печатная</h4>
                                </label>
                                <template v-if="pform.form.is_screenform == 1">
                                    <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2" checked> 
                                </template>
                                <template v-else>
                                    <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2">
                                </template>
                                <label for="off">
                                    <h4 style="color: #3c8dbc;">Экранная</h4>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Категория</td>
                            <td width="70%" style="vertical-align: middle;" id="category" v-if="editFlag == false">{{pform.form.category}}</td>
                            <td width="70%" style="vertical-align: middle;" id="category" v-if="editFlag == true">
                                <select name="projectName_introduction" class="form-control" v-model="new_cur_category" v-on:change="setNewNorm()">
                                    <template v-for="(item, index) in pform.category">
                                        <option :value="item.id">{{item.category}}</option>
                                    </template>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-condensed">
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Максимальное количество часов</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.form.max_hours}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <input type="text" class="form-control" v-model="norm">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Внедренец</td>
                            <td width="70%" style="vertical-align: middle;">{{pform.form.first_name}} {{pform.form.last_name}}</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Дата реализации</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.form.date_implement_f}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <input type="date" v-model="date2" name="dateFinish_introduction" class="form-control" style="float: left; width: 80%; margin-right: 10px" required>
                                <a v-on:click="calculate()" v-model="date2" class="btn btn-primary">
                                    <i class="fa fa-calculator" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Дата реализации для заказчика</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.form.date_implement_for_client_f}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <input type="date" v-model="date" name="dateFinishForCustomers_introduction" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Реальная дата реализации</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.form.real_date_f}}</td>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <input type="date" v-model="date3" name="dateFinishForCustomers_introduction" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Кто будет делать</td>
                            <template v-if="pform.user != ''">
                                <td width="70%" style="vertical-align: middle;" v-if="editFlag == false">{{pform.user.first_name}} {{pform.user.last_name}}</td>
                            </template>
                            <template v-else>
                                <td width="70%" style="vertical-align: middle;" v-if="editFlag == false"></td>
                            </template>
                            <td width="70%" style="vertical-align: middle;" v-if="editFlag == true">
                                <select name="projectName_introduction" class="form-control" v-model="new_user">
                                    <template v-for="(item, index) in PFUsers">
                                        <option :value="item.id">{{item.first_name}} {{item.last_name}}</option>
                                    </template>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Платно ?</td>
                            <td width="70%" style="vertical-align: middle;" v-if="pform.form.free == 1">Нет</td>
                            <td width="70%" style="vertical-align: middle;" v-else>Да</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td width="40%" style="vertical-align: middle;">Оплачено ?</td>
                            <td width="70%" style="vertical-align: middle;" v-if="pform.form.paid == 1">Да</td>
                            <td width="70%" style="vertical-align: middle;" v-else>Нет</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="box"> 
            <div class="box-header with-border">
                <h3 class="box-title">Прикрепленные файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="pform.file" />
<!--                <ul class="mailbox-attachments clearfix" v-if="pform.file.length > 0 && pform.file[0].name != null">-->
<!--                    <li>-->
<!--                        <template v-if="pform.file[0].ext == 'pdf'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'xls'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'xlsx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'doc'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size"> -->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'docx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Готовые формы</h3> 
            </div>
            <div class="box-footer">
                <AttachmentFiles :files="pform.doneFiles" :done="true"/>

                <PFUploadForm
                    :form_id="this.$route.params.id"
                ></PFUploadForm>
            </div>
        </div>

        <Print_form_comments />

<!--        <div class="box">-->
<!--            <div class="box-header with-border">-->
<!--                <h3 class="box-title">Комментарии</h3>-->
<!--            </div>-->
<!--            <div class="box-body">-->
<!--                <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                </div>-->
<!--                <div class="clear"></div>-->
<!--                <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                    <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>-->
<!--                </div>-->
<!--                <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                    <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                    <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                </div>-->
<!--                <div v-if="pform.comments.length > 0">-->
<!--                    <div class="post" v-for="(item, index) in pform.comments">-->
<!--                        <div class="user-block">-->
<!--                            <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                            <span class="username">-->
<!--                            <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                            <template v-if="item.autor == true">-->
<!--                                <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>-->
<!--                                <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>-->
<!--                            </template>-->
<!--                        </span>-->
<!--                            <template v-if="item.for_client == 1">-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                            </template>-->
<!--                            <template v-else>-->
<!--                                <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                            </template>-->
<!--                        </div>-->
<!--                        <div :id="'comment_'+item.id">-->
<!--                            <span v-html="item.text"></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="post" v-else>-->
<!--                    <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</template>
<script>
    import PFUploadForm from '../PF_UploadForm.vue'; 
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import AttachmentFiles from "../AttachmentFiles";
    import Print_form_comments from "../print_form_common/Print_form_comments";
    export default {
        data() {
            return {
                pform: [{
                    comments: []
                }],
                comment: '',
                commentFlag: false,
                editor: ClassicEditor,
                editorConfig: {
                    // The configuration of the editor.
                }, 
                editFlag: false,
                new_cur_category: null,
                norm: null,
                date2: null,
                date3: null,
                date: null,
                PFUsers: [],
                status_introduction: null,
                typeForm: null,
                new_user: null
            }
        },
        components: {
            Print_form_comments,
            AttachmentFiles,
            PFUploadForm
        },
        created() {
            this.getPForm()
        },
        methods: {
            getPForm() {
                axios
                .get('/print_form/getEditForm/'+this.$route.params.id)
                .then(response => {
                    this.pform = response.data
                    this.status_introduction = this.pform.status.id
                    this.new_cur_category = this.pform.form.category_printform_ref_id
                    this.norm = this.pform.form.max_hours
                    this.queue_introduction = this.pform.count_task+1
                })
            },
            edit() {
                axios
                .get('/print_form/getPFormUser')
                .then(response => {
                    this.PFUsers = response.data;
                    this.date2 = this.pform.form.date_implement
                    this.date3 = this.pform.form.real_date
                    this.date = this.pform.form.date_implement_for_client
                    this.number = this.pform.count_task
                    this.editFlag = !this.editFlag
                })
            },
            calculate() {
                axios
                .get('/print_form/calculate-print-form')
                .then(response => {
                    this.date2 = response.data
                })
            },
            setType(id) {
                this.typeForm = id;
            },
            setNewNorm() {
                for (var i = 0; i <= this.pform.category.length; i++) {
                    if (this.new_cur_category == this.pform.category[i].id) {
                        this.norm = this.pform.category[i].norm
                    }
                }
            },
            returnInQueue() {
                if(confirm("Вернуть форму в очередь?")){
                    axios
                    .get('/print_form/forms/returnInQueue/'+this.$route.params.id)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.$router.push('/print_form/forms');
                        }
                    })
                }
            },
            click_mes_form() {
                this.comment = ''
                this.commentFlag = !this.commentFlag
            },
            add_comment() {
                if (this.comment == '') {
                    alert('Укажите коментарий');
                    return
                }

                var postBody = {
                    form_id: this.$route.params.id,
                    comment: this.comment
                }

                axios
                .post('/print_form/add-comment', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.comment = null
                        this.commentFlag = !this.commentFlag
                        this.getPForm()
                    }
                })
            },
            save() {
                var type;

                if (this.number == '') {
                    alert('Укажите очередность');
                    return
                };
                if (this.number <= 0) {
                    alert('Не верно указана очередность');
                    return 
                };

                if (this.norm == '') {
                    alert('Укажите максимальное количество часов');
                    return
                };
                if (this.norm <= 0) {
                    alert('Не верно указано максимальное количество часов');
                    return
                };
                
                if (this.typeForm != null) {
                    type = this.typeForm
                } else {
                    if (this.pform.form.is_printform == 1) {
                        type = 1
                    }
                    if (this.pform.form.is_screenform == 1) {
                        type = 2
                    }
                };

                if (this.status_introduction != 10) {
                    if (this.new_user == null) {
                        alert('Укажите кто будет делать')
                        return
                    }
                } 

                var postBody = {
                    id: this.$route.params.id,
                    status: this.status_introduction,
                    new_name: this.pform.form.name,
                    type: type,
                    category: this.new_cur_category,
                    norm: this.norm,
                    date2: this.date2,
                    date3: this.date3,
                    date: this.date,
                    number: this.number,
                    new_user: this.new_user
                }

                axios
                .post('/print_form/forms/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/print_form/forms');
                    }
                })
            }
        }
    }
</script>