<template>
    <div class="box" style="padding: 15px;">
        <form>
            <div class="nav-tabs-custom">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Номер задачи</td>
                                <td colspan="2" style="vertical-align: middle;">{{pform.form.id}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Очередь</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="number" class="form-control" v-model="queue_introduction">
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Статус</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select v-model="status_introduction" class="form-control">
                                        <template v-for="(item, index) in pform.statuses" >
                                            <option :value="item.id">{{item.name}}</option>
                                        </template>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Заказчик</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-model="customer_introduction">
                                        <template v-for="(item, index) in pform.clients" >
                                            <input type="text" class="form-control" v-if="item.id == pform.client.id" disabled :value="item.name">
                                        </template>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Название проекта</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-model="projectName_introduction">
                                        <template v-for="(item, index) in pform.projects" >
                                            <input type="text" class="form-control" v-if="item.id == pform.project.id" disabled :value="item.name">
                                        </template>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Наименование задачи</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="text" name="taskName_introduction" class="form-control" :value="pform.form.name" required>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Тип формы</td>
                                <td style="vertical-align: middle;">
                                    <template v-if="pform.form.is_printform == 1">
                                        <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1" checked>
                                    </template>
                                    <template v-else>
                                        <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1">
                                    </template>
                                    <label for="On">
                                        <h4 style="color: #3c8dbc;">Печатная</h4>
                                    </label>
                                </td>
                                <td style="vertical-align: middle;">
                                    <template v-if="pform.form.is_screenform == 1">
                                        <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2" checked> 
                                    </template>
                                    <template v-else>
                                        <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2">
                                    </template>
                                    <label for="off">
                                        <h4 style="color: #3c8dbc;">Экранная</h4>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Категория</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <select name="projectName_introduction" class="form-control" v-model="cur_category" v-on:change="setNorm()">
                                        <option v-for="(item, index) in pform.category" :value="item.id">{{item.category}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Максимальное количество часов</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="number" name="maxCountHours_introduction" class="form-control" v-model="norm">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Внедренец</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <template v-model="implementer_introduction">
                                        <template v-for="(item, index) in pform.users" >
                                            <input type="text" class="form-control" v-if="item.id == pform.implement.id" disabled :value="item.first_name+' '+item.last_name">
                                        </template>
                                    </template>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Дата реализации</td>
                                <td style="vertical-align: middle;">
                                    <input type="date" v-model="date2" name="dateFinish_introduction" class="form-control" width="100px" required>
                                </td>
                                <td><a v-on:click="calculate()" v-model="date2" class="btn btn-primary">Расчитать на текущий момент</a></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Дата реализации для заказчика</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="date" v-model="date" name="dateFinishForCustomers_introduction" class="form-control" width="100px" required>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Реальная дата реализации</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="date" v-model="date3" name="realDateFinish_introduction" class="form-control" width="100px" required>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Платно ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <span v-if="pform.form.free == 0">Да</span>
                                    <span v-else>Нет</span>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Оплачено ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <span v-if="pform.form.paid == 0">Нет</span>
                                    <span v-else>Да</span>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group pull-right">
                            <input type="button" v-on:click="formAddTask_submit()" value="Сохранить" class="btn btn-success">
                            <router-link to="/print_form/forms" class="btn btn-default">Отмена</router-link>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Прикрепленные файлы</h3>
            </div>
            <div class="box-footer">
                <AttachmentsFile :files="pform.file" />
<!--                <ul class="mailbox-attachments clearfix" v-if="pform.file.length > 0 && pform.file[0].name != null">-->
<!--                    <li>-->
<!--                        <template v-if="pform.file[0].ext == 'pdf'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'xls'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'xlsx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-excel-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/spreadsheets/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'doc'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                        <template v-if="pform.file[0].ext == 'docx'">-->
<!--                            <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>-->
<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="'https://docs.google.com/document/d/'+pform.file[0].img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{pform.file[0].name.slice(0, 20)}}...</a>-->
<!--                                <span class="mailbox-attachment-size">-->
<!--                                    <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </template>-->
<!--                    </li>-->
<!--                </ul>-->
<!--                <ul class="mailbox-attachments clearfix" v-else>-->
<!--                    <li style="border: none; width: 100%; text-align: center;">-->
<!--                        <i>Файлы отсутствуют</i>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
        </div>
        </form>
        <Print_form_comments />
<!--            <div class="box">-->
<!--                <div class="box-header with-border">-->
<!--                    <h3 class="box-title">Комментарии</h3>-->
<!--                </div>-->
<!--                <div class="box-body">-->
<!--                    <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                        <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                    </div>-->
<!--                    <div class="clear"></div>-->
<!--                    <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                        <textarea v-model="comment" style="resize: none;" cols="170" rows="10"></textarea>-->
<!--                    </div>-->
<!--                    <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                        <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                        <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                    </div>-->
<!--                    <div v-if="pform.comments.length > 0">-->
<!--                        <div class="post" v-for="(item, index) in pform.comments">-->
<!--                            <div class="user-block">-->
<!--                                <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                                <span class="username">-->
<!--                                <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                                <template v-if="item.autor == true">-->
<!--                                    <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>-->
<!--                                    <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>-->
<!--                                </template>-->
<!--                            </span>-->
<!--                                <template v-if="item.for_client == 1">-->
<!--                                    <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                                </template>-->
<!--                                <template v-else>-->
<!--                                    <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                                </template>-->
<!--                            </div>-->
<!--                            <div :id="'comment_'+item.id">-->
<!--                                <span v-html="item.text"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post" v-else>-->
<!--                        <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

    </div>
</template>
<script>
import AttachmentsFile from "../AttachmentFiles";
import Print_form_comments from "../print_form_common/Print_form_comments";
export default {
    components: {Print_form_comments, AttachmentsFile},
    data() {
        return {
            pform: null,
            cur_category: {
                norm: null,
                id: null
            },
            commentFlag: false,
            comment: null,
            date: null,
            date2: null,
            date3: null,
            // date3: null,
            queue_introduction: null,
            status_introduction: null,
            customer_introduction: null,
            projectName_introduction: null,
            taskName_introduction: null,
            isPrintForm_introduction: {
                id: ''
            },
            dateFinish_introduction: null,
            dateFinishForCustomers_introduction: null,
            user_introduction: null,
            paided_introduction: null,
            forPaid_introduction: null,
            norm: null,
            typeForm: null,
        }
    },
    created() {
        this.getPForm()
    },
    methods: {
        getPForm() {
            axios
            .get('/print_form/getPForm/'+this.$route.params.id)
            .then(response => {
                console.log(response.data)
                this.pform = response.data
                this.status_introduction = this.pform.status.id
                this.cur_category = this.pform.form.category_printform_ref_id
                this.norm = this.pform.form.max_hours
                this.queue_introduction = this.pform.count_task+1
            })
        },
        setNorm() { 
            for (var i = 0; i <= this.pform.category.length; i++) {
                if (this.cur_category == this.pform.category[i].id) {
                    this.norm = this.pform.category[i].norm
                }
            }
        },
        setType(id) {
            this.typeForm = id;
        },
        click_mes_form() {
            this.comment = null
            this.commentFlag = !this.commentFlag
        },
        add_comment() {
            if (this.comment == null) {
                alert('Укажите коментарий');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                comment: this.comment
            }

            axios
            .post('/print_form/add-comment', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.comment = null
                    this.commentFlag = !this.commentFlag
                    this.getPForm()
                }
            })
        },
        calculate() {
            axios
            .get('/print_form/calculate-print-form/'+this.$route.params.id)
            .then(response => {
                this.date2 = response.data.d1
                this.date = response.data.d2
                this.date3 = response.data.d3
            })
        },
        formAddTask_submit() {
            var type;
            if (this.typeForm != null) {
                type = this.typeForm
            } else {
                if (this.pform.form.is_printform == 1) {
                    type = 1
                }
                if (this.pform.form.is_screenform == 1) {
                    type = 2
                }
            };
            if (this.status_introduction != 9) {
                if (this.queue_introduction == '') {
                    alert('Заполните очередь');
                    return
                };
                
                if (this.status_introduction == null) {
                    alert('Выберите статус');
                    return
                };

                if (this.status_introduction != 10) {
                    if (this.date2 == null) {
                        alert('Укажите дату реализации');
                        return
                    };
                };
            };

            var postBody = {
                id: this.$route.params.id,
                cur_category: this.cur_category,
                status: this.status_introduction,
                norm: this.norm,
                type: type,
                date2: this.date2,
                date3: this.date3,
                date: this.date,
                number: this.queue_introduction
            }

            axios
            .post('/print_form/forms/raw/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/print_form/forms');
                }
            })
        }
    }
}
</script>