<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#raw" data-toggle="tab" aria-expanded="true">Необработанные
                <span data-toggle="tooltip" v-if="countRaw > 0" title="" class="badge bg-light-blue" data-original-title="">{{countRaw}}</span>
            </a></li>
            <li><a href="#attendant" data-toggle="tab" aria-expanded="false">Дежурный
                <span data-toggle="tooltip" v-if="attendant.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{attendant.length}}</span>
            </a></li>
            <li><a href="#contact" data-toggle="tab" aria-expanded="false">Горящие задачи
                <span data-toggle="tooltip" v-if="countHot > 0" title="" class="badge bg-light-blue" data-original-title="">{{countHot}}</span>
            </a></li>
            <li><a href="#callback" data-toggle="tab" aria-expanded="false">По очереди
                <span data-toggle="tooltip" v-if="countQueue > 0" title="" class="badge bg-light-blue" data-original-title="">{{countQueue}}</span>    
            </a></li>
            <li><a href="#pay" data-toggle="tab" aria-expanded="false">Ждут оплаты
                <span data-toggle="tooltip" v-if="pay.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{pay.length}}</span>    
            </a></li>
            <li><a href="#close" data-toggle="tab" aria-expanded="false">Закрытые
                <span data-toggle="tooltip" v-if="countClose > 0" title="" class="badge bg-light-blue" data-original-title="">{{countClose}}</span>    
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="raw">
                <div style="float:left; margin-bottom: 15px;">
                    <a href="#" v-on:click="changeViewRaw()">Вид</a>
                </div>
                <div class="pull-right" style="margin-bottom: 15px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" v-model="search" name="raw_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="raw_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div v-if="viewRaw" style="margin-bottom: 15px;">
                    <table class="table" style="border-top: 3px solid #d2d6de;">
                        <tr>
                            <td>Дата постановки</td>
                            <td><input type="checkbox" v-model="viewDateRaw" v-on:click="changePerm('raw', 'viewDateRaw', viewDateRaw)"></td>
                            <td>Заказчик</td>
                            <td><input type="checkbox" v-model="viewClientRaw" v-on:click="changePerm('raw', 'viewClientRaw', viewClientRaw)"></td>
                            <td>Проект</td>
                            <td><input type="checkbox" v-model="viewProjectRaw" v-on:click="changePerm('raw', 'viewProjectRaw', viewProjectRaw)"></td>
                        </tr>
                        <tr>
                            <td>Наименование работы</td>
                            <td><input type="checkbox" v-model="viewWorkRaw" v-on:click="changePerm('raw', 'viewWorkRaw', viewWorkRaw)"></td>
                            <td>Статус</td>
                            <td><input type="checkbox" v-model="viewStatusRaw" v-on:click="changePerm('raw', 'viewStatusRaw', viewStatusRaw)"></td>
                            <td>Внедренец</td>
                            <td><input type="checkbox" v-model="viewImpRaw" v-on:click="changePerm('raw', 'viewImpRaw', viewImpRaw)"></td>
                        </tr>
                        <tr>
                            <td>Действия</td>
                            <td><input type="checkbox" v-model="viewDeistvRaw" v-on:click="changePerm('raw', 'viewDeistvRaw', viewDeistvRaw)"></td>
                        </tr>
                    </table>
                </div>
                <div class="box" style="overflow: hidden;">
                    <SortedTable :values="rawByTitle">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDateRaw">
                                    <SortLink name="created">Дата постановки</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewClientRaw">
                                    <SortLink name="client">Заказчик</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewProjectRaw">
                                    <SortLink name="project">Проект</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewWorkRaw">
                                    <SortLink name="name">Наименование работы</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewStatusRaw">
                                    <SortLink name="status">Статус</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewImpRaw">
                                    <SortLink name="observer">Внедренец</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" colspan="1" v-if="viewDeistvRaw">
                                    <SortLink name="">Действия</SortLink>
                                </th>
                            </tr>
                        </thead>
                        <tbody slot="body" slot-scope="sort">
                            <tr v-if="rawByTitle.length != 0" v-for="item in sort.values" :key="item.id" v-on:dblclick="openRaw(item.id)">
                                <td v-if="viewDateRaw">{{item.created}}</td>
                                <td v-if="viewClientRaw">{{item.client}}</td>
                                <td v-if="viewProjectRaw">{{item.project}}</td>
                                <td v-if="viewWorkRaw">{{item.name}}</td>
                                <td v-if="viewStatusRaw">{{item.status}}</td>
                                <td v-if="viewImpRaw">{{item.observer}}</td>
                                <td v-if="viewDeistvRaw">
                                    <router-link :to="'/print_form/forms/raw/'+item.id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </router-link>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="6" style="text-align: center">
                                    <i>Очередь пуста</i>
                                </td>
                            </tr>
                        </tbody>
                    </SortedTable>
                </div>
                <!-- /.tab-pane -->
                <div style="width: 100%">
                    <ul class="pagination pagination-sm float: left !important;">
                        <template v-if="pageRaw == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getRaw(pageRaw-1)" style="cursor: pointer;">«</a></li>
                        </template>
                        <template v-for="i in countRawPages">
                        <li><a v-on:click="getRaw(i)" style="cursor: pointer;">{{i}}</a></li>
                        </template>
                        <template v-if="pageRaw == countRawPages">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getRaw(pageRaw+1)" style="cursor: pointer;">»</a></li>
                        </template>
                    </ul>
                    <select v-model="countRawP" class="form-control" @change="changeRawPageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                        <option :value="{num: 10}">10</option>
                        <option :value="{num: 20}">20</option>
                        <option :value="{num: 50}">50</option>
                        <option :value="{num: 0}">Все</option>
                    </select>
                </div>
            </div>
            <div class="tab-pane" id="attendant">
                <div style="margin-bottom: 10px; float: left;">
                    <!-- <a onclick="slideFilter('contact');" class="btn btn-success" style="cursor: pointer;">
                        <span>Фильтр</span>
                        <i class="fa fa-angle-down pull-right" style="width: 20px; margin-top: 3px;"></i>
                    </a> -->
                    <a onclick="filterContact('all');" style="cursor: pointer; margin-left: 15px;">Все</a>
                    <a onclick="filterContact('myForms');" style="cursor: pointer; margin-left: 15px;">Мои формы</a>
                    <a onclick="filterContact('myCloseForms');" style="cursor: pointer; margin-left: 15px;">Мои закрытые формы</a>
                </div>
                <div class="pull-right" style="margin-bottom: 10px;">
                    
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="hot_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="hot_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="filter_contact" style="display: none; margin-bottom: 10px; border: 1px solid silver; padding: 10px;">
                    <table class="table table-striped" id="tableFilterHotForms">
                        <tr>
                            <td>Статус</td>
                            <td>
                                <select name="filter_status" class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Исполнитель</td>
                            <td>
                                <select name="filter_user"  class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                    </table>
                    <a onclick="applyFilter('contact');" style="cursor: pointer; margin-right: 15px;" class="btn btn-success">Применить</a>
                    <a onclick="clearFilter('contact');" style="cursor: pointer; color: #3c8dbc;">Сбросить</a>
                </div>
                <div class="box" style="overflow: hidden; overflow-x: scroll;">
                    <table class="table table-hover" id="tableHotForms">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle;">Номер задачи</th>
                            <th style="vertical-align: middle;">Очередь</th>
                            <th style="vertical-align: middle;">Заказчик</th>
                            <th style="vertical-align: middle;">Проект</th>
                            <th style="vertical-align: middle;">Наименование работ</th>
                            <th style="vertical-align: middle;">Максимальное количество часов</th>
                            <th style="vertical-align: middle;">Внедренец</th>
                            <th style="vertical-align: middle;">Дополнительная плата</th>
                            <th style="vertical-align: middle;">Дата постановки</th>
                            <th style="vertical-align: middle;">Статус</th>
                            <th style="vertical-align: middle;">Ответственный</th>
                            <th style="vertical-align: middle;" colspan="2">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-if="attendant.length > 0" v-for="(item, index) in attendant">
                                <td>{{item.id}}</td>
                                <td>{{item.number}}</td>
                                <td>{{item.client}}</td>
                                <td>{{item.p_name}}</td>
                                <td>{{item.f_name}}</td>
                                <td>{{item.max_hours}}</td>
                                <td>{{item.first_name}} {{item.last_name}}</td>
                                <td v-if="item.is_free">Да</td>
                                <td v-else>Нет</td>
                                <td>{{item.date}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.user_first_name}} {{item.user_last_name}}</td>
                                <td style="vertical-align: middle;">
                                    <router-link :to="'/print_form/forms/attendant/edit/'+item.id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </router-link>
                                </td>
                                <!-- <td style="vertical-align: middle;">
                                    <router-link :to="'/print_form/attendant/del/'+item.id" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </router-link>
                                </td> -->
                            </tr>
                            <tr v-else>
                                <td colspan="14" style="text-align: center">
                                    <i>Очередь пуста</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="contact">
                <div style="margin-bottom: 10px; float: left;">
                    <!-- <a onclick="slideFilter('contact');" class="btn btn-success" style="cursor: pointer;">
                        <span>Фильтр</span>
                        <i class="fa fa-angle-down pull-right" style="width: 20px; margin-top: 3px;"></i>
                    </a> -->
                    <a v-on:click="filterForms('hot', 'all');" style="cursor: pointer; margin-left: 15px;">Все</a>
                    <a v-on:click="filterForms('hot', 'myForms');" style="cursor: pointer; margin-left: 15px;">Мои формы</a>
                    <a v-on:click="filterForms('hot', 'myCloseForms');" style="cursor: pointer; margin-left: 15px;">Мои закрытые формы</a>
                    <a style="cursor: pointer; margin-left: 15px;" v-on:click="changeViewHot()">Вид</a>
                </div>
                <div class="pull-right" style="margin-bottom: 10px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="hot_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="hot_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="filter_contact" style="display: none; margin-bottom: 10px; border: 1px solid silver; padding: 10px;">
                    <table class="table table-striped" id="tableFilterHotForms">
                        <tr>
                            <td>Статус</td>
                            <td>
                                <select name="filter_status" class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Исполнитель</td>
                            <td>
                                <select name="filter_user"  class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                    </table>
                    <a onclick="applyFilter('contact');" style="cursor: pointer; margin-right: 15px;" class="btn btn-success">Применить</a>
                    <a onclick="clearFilter('contact');" style="cursor: pointer; color: #3c8dbc;">Сбросить</a>
                </div>
                <div class="clearfix"></div>
                <div v-if="viewHot" style="margin-bottom: 15px;">
                    <table class="table" style="border-top: 3px solid #d2d6de;">
                        <tr>
                            <td>Номер задачи</td>
                            <td><input type="checkbox" v-model="viewNumHot" v-on:click="changePerm('hot', 'viewNumHot', viewNumHot)"></td>
                            <td>Очередь</td>
                            <td><input type="checkbox" v-model="viewQueieHot" v-on:click="changePerm('hot', 'viewQueieHot', viewQueieHot)"></td>
                            <td>Заказчик</td>
                            <td><input type="checkbox" v-model="viewClientHot" v-on:click="changePerm('hot', 'viewClientHot', viewClientHot)"></td>
                        </tr>
                        <tr>
                            <td>Проект</td>
                            <td><input type="checkbox" v-model="viewProjectHot" v-on:click="changePerm('hot', 'viewProjectHot', viewProjectHot)"></td>
                            <td>Наименование работ</td>
                            <td><input type="checkbox" v-model="viewWorkHot" v-on:click="changePerm('hot', 'viewWorkHot', viewWorkHot)"></td>
                            <td>Максимальное количество часов</td>
                            <td><input type="checkbox" v-model="viewMaxHourHot" v-on:click="changePerm('hot', 'viewMaxHourHot', viewMaxHourHot)"></td>
                        </tr>
                        <tr>
                            <td>Внедренец</td>
                            <td><input type="checkbox" v-model="viewImpHot" v-on:click="changePerm('hot', 'viewImpHot', viewImpHot)"></td>
                            <td>Дополнительная плата</td>
                            <td><input type="checkbox" v-model="viewDopHot" v-on:click="changePerm('hot', 'viewDopHot', viewDopHot)"></td>
                            <td>Дата постановки</td>
                            <td><input type="checkbox" v-model="viewDatePostHot" v-on:click="changePerm('hot', 'viewDatePostHot', viewDatePostHot)"></td>
                        </tr>
                        <tr>
                            <td>Дата реализации</td>
                            <td><input type="checkbox" v-model="viewdateRealixHot" v-on:click="changePerm('hot', 'viewdateRealixHot', viewdateRealixHot)"></td>
                            <td>Дата реализации для заказчика</td>
                            <td><input type="checkbox" v-model="viewDateForClientHot" v-on:click="changePerm('hot', 'viewDateForClientHot', viewDateForClientHot)"></td>
                            <td>Реальная дата реализации</td>
                            <td><input type="checkbox" v-model="viewRealDateHot" v-on:click="changePerm('hot', 'viewRealDateHot', viewRealDateHot)"></td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td><input type="checkbox" v-model="viewStatusHot" v-on:click="changePerm('hot', 'viewStatusHot', viewStatusHot)"></td>
                            <td>Ответственный</td>
                            <td><input type="checkbox" v-model="viewIspHot" v-on:click="changePerm('hot', 'viewIspHot', viewIspHot)"></td>
                            <td>Действия</td>
                            <td><input type="checkbox" v-model="viewDeistvHot" v-on:click="changePerm('hot', 'viewDeistvHot', viewDeistvHot)"></td>
                        </tr>
                    </table>
                </div>
                <div class="box" style="overflow: hidden; overflow-x: scroll;">
                    <SortedTable :values="hot">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewNumHot">
                                    <SortLink name="id">Номер задачи</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewQueieHot">
                                    <SortLink name="number">Очередь</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewClientHot">
                                    <SortLink name="client">Заказчик</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewProjectHot">
                                    <SortLink name="project">Проект</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewWorkHot">
                                    <SortLink name="name">Наименование работ</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewMaxHourHot">
                                    <SortLink name="max_hours">Максимальное количество часов</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewImpHot">
                                    <SortLink name="observer">Внедренец</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDopHot">
                                    <SortLink name="is_free">Дополнительная плата</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDatePostHot">
                                    <SortLink name="date">Дата постановки</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewdateRealixHot">
                                    <SortLink name="date_implement">Дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDateForClientHot">
                                    <SortLink name="date_implement_for_client">Дата реализации для заказчика</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewRealDateHot">
                                    <SortLink name="real_date">Реальная дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewStatusHot">
                                    <SortLink name="status">Статус</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewIspHot">
                                    <SortLink name="user">Ответственный</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDeistvHot" colspan="2">
                                    <SortLink name="">Действия</SortLink>
                                </th>
                            </tr>
                        </thead>
                        <tbody slot="body" slot-scope="sort">
                            <template v-if="hot.length > 0">
                                <tr  v-for="item in sort.values" :key="item.id" v-on:dblclick="dclick(item.id)" v-if="item.warning == 'no' && item.danger == 'yes'" style="background: #f9040436;">
                                    <td v-if="viewNumHot">{{item.id}}</td>
                                    <td v-if="viewQueieHot">{{item.number}}</td>
                                    <td v-if="viewClientHot">{{item.client}}</td>
                                    <td v-if="viewProjectHot">{{item.project}}</td>
                                    <td v-if="viewWorkHot">{{item.name}}</td>
                                    <td v-if="viewMaxHourHot">{{item.max_hours}}</td>
                                    <td v-if="viewImpHot">{{item.observer}}</td>
                                    <template v-if="viewDopHot">
                                        <td v-if="item.is_free">Да</td>
                                        <td v-else>Нет</td>
                                    </template>
                                    <td v-if="viewDatePostHot">{{item.date}}</td>
                                    <td v-if="viewdateRealixHot">{{item.date_implement}}</td>
                                    <td v-if="viewDateForClientHot">{{item.date_implement_for_client}}</td>
                                    <td v-if="viewRealDateHot">{{item.real_date}}</td>
                                    <td v-if="viewStatusHot">{{item.status}}</td>
                                    <td v-if="viewIspHot">{{item.user}}</td>
                                    <td v-if="viewDeistvHot" style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/del/'+item.id" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </router-link>
                                    </td>
                                </tr>
                                <tr  v-for="item in sort.values" :key="item.id" v-on:dblclick="dclick(item.id)" v-if="item.warning == 'yes' && item.danger == 'no'" style="background-color: #f5debf;">
                                    <td v-if="viewNumHot">{{item.id}}</td>
                                    <td v-if="viewQueieHot">{{item.number}}</td>
                                    <td v-if="viewClientHot">{{item.client}}</td>
                                    <td v-if="viewProjectHot">{{item.project}}</td>
                                    <td v-if="viewWorkHot">{{item.name}}</td>
                                    <td v-if="viewMaxHourHot">{{item.max_hours}}</td>
                                    <td v-if="viewImpHot">{{item.observer}}</td>
                                    <template v-if="viewDopHot">
                                        <td v-if="item.is_free">Да</td>
                                        <td v-else>Нет</td>
                                    </template>
                                    <td v-if="viewDatePostHot">{{item.date}}</td>
                                    <td v-if="viewdateRealixHot">{{item.date_implement}}</td>
                                    <td v-if="viewDateForClientHot">{{item.date_implement_for_client}}</td>
                                    <td v-if="viewRealDateHot">{{item.real_date}}</td>
                                    <td v-if="viewStatusHot">{{item.status}}</td>
                                    <td v-if="viewIspHot">{{item.user}}</td>
                                    <td v-if="viewDeistvHot" style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/del/'+item.id" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </router-link>
                                    </td>
                                </tr>
                                <tr  v-for="item in sort.values" :key="item.id" v-on:dblclick="dclick(item.id)" v-if="item.warning == 'no' && item.danger == 'no'">
                                    <td v-if="viewNumHot">{{item.id}}</td>
                                    <td v-if="viewQueieHot">{{item.number}}</td>
                                    <td v-if="viewClientHot">{{item.client}}</td>
                                    <td v-if="viewProjectHot">{{item.project}}</td>
                                    <td v-if="viewWorkHot">{{item.name}}</td>
                                    <td v-if="viewMaxHourHot">{{item.max_hours}}</td>
                                    <td v-if="viewImpHot">{{item.observer}}</td>
                                    <template v-if="viewDopHot">
                                        <td v-if="item.is_free">Да</td>
                                        <td v-else>Нет</td>
                                    </template>
                                    <td v-if="viewDatePostHot">{{item.date}}</td>
                                    <td v-if="viewdateRealixHot">{{item.date_implement}}</td>
                                    <td v-if="viewDateForClientHot">{{item.date_implement_for_client}}</td>
                                    <td v-if="viewRealDateHot">{{item.real_date}}</td>
                                    <td v-if="viewStatusHot">{{item.status}}</td>
                                    <td v-if="viewIspHot">{{item.user}}</td>
                                    <td v-if="viewDeistvHot" style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/del/'+item.id" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td colspan="14" style="text-align: center">
                                        <i>Очередь пуста</i>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </SortedTable>
                </div>
                <!-- /.tab-pane -->
                <div style="width: 100%">
                    <ul class="pagination pagination-sm float: left !important;">
                        <template v-if="page == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getHotForms(page-1)" style="cursor: pointer;">«</a></li>
                        </template>
                        <template v-for="i in countPages">
                        <li><a v-on:click="getHotForms(i)" style="cursor: pointer;">{{i}}</a></li>
                        </template>
                        <template v-if="page == countPages">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getHotForms(page+1)" style="cursor: pointer;">»</a></li>
                        </template>
                    </ul>
                    <select v-model="countP" class="form-control" @change="changePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                        <option :value="{num: 10}">10</option>
                        <option :value="{num: 20}">20</option>
                        <option :value="{num: 50}">50</option>
                        <option :value="{num: 0}">Все</option>
                    </select>
                </div>
            </div>
            <div class="tab-pane" id="callback">
                <div style="margin-bottom: 10px; float: left;">
                    <!-- <a onclick="slideFilter('callback');" class="btn btn-success" style="cursor: pointer;">
                        <span>Фильтр</span>
                        <i class="fa fa-angle-down pull-right" style="width: 20px; margin-top: 3px;"></i>
                    </a> -->
                    <a v-on:click="filterForms('queue', 'all');" style="cursor: pointer; margin-left: 15px;">Все</a>
                    <a v-on:click="filterForms('queue', 'myForms');" style="cursor: pointer; margin-left: 15px;">Мои формы</a>
                    <a v-on:click="filterForms('queue', 'myCloseForms');" style="cursor: pointer; margin-left: 15px;">Мои закрытые формы</a>
                    <a style="cursor: pointer; margin-left: 15px;" v-on:click="changeViewQueue()">Вид</a>
                </div>
                <div class="pull-right" style="margin-bottom: 10px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="queue_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="queue_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="filter_callback" style="display: none; margin-bottom: 10px; border: 1px solid silver; padding: 10px;">
                    <table class="table table-striped" id="tableFilterQueueForms">
                        <tr>
                            <td>Статус</td>
                            <td>
                                <select name="filter_status" id="filter_status" class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Исполнитель</td>
                            <td>
                                <select name="filter_user" id="filter_user" class="form-control">
                                    <option value="0">Все</option>

                                </select>
                            </td>
                        </tr>
                    </table>
                    <a onclick="applyFilter('callback');" style="cursor: pointer; margin-right: 15px;" class="btn btn-success">Применить</a>
                    <a onclick="clearFilter('callback');" style="cursor: pointer; color: #3c8dbc;">Сбросить</a>
                </div>
                <div class="clearfix"></div>
                <div v-if="viewQueue" style="margin-bottom: 15px;">
                    <table class="table" style="border-top: 3px solid #d2d6de;">
                        <tr>
                            <td>Номер задачи</td>
                            <td><input type="checkbox" v-model="viewNumQueue" v-on:click="changePerm('queue', 'viewNumQueue', viewNumQueue)"></td>
                            <td>Очередь</td>
                            <td><input type="checkbox" v-model="viewQueieQueue" v-on:click="changePerm('queue', 'viewQueieQueue', viewQueieQueue)"></td>
                            <td>Заказчик</td>
                            <td><input type="checkbox" v-model="viewClientQueue" v-on:click="changePerm('queue', 'viewClientQueue', viewClientQueue)"></td>
                        </tr>
                        <tr>
                            <td>Проект</td>
                            <td><input type="checkbox" v-model="viewProjectQueue" v-on:click="changePerm('queue', 'viewProjectQueue', viewProjectQueue)"></td>
                            <td>Наименование работ</td>
                            <td><input type="checkbox" v-model="viewWorkQueue" v-on:click="changePerm('queue', 'viewWorkQueue', viewWorkQueue)"></td>
                            <td>Максимальное количество часов</td>
                            <td><input type="checkbox" v-model="viewMaxHourQueue" v-on:click="changePerm('queue', 'viewMaxHourQueue', viewMaxHourQueue)"></td>
                        </tr>
                        <tr>
                            <td>Внедренец</td>
                            <td><input type="checkbox" v-model="viewImpQueue" v-on:click="changePerm('queue', 'viewImpQueue', viewImpQueue)"></td>
                            <td>Дополнительная плата</td>
                            <td><input type="checkbox" v-model="viewDopQueue" v-on:click="changePerm('queue', 'viewDopQueue', viewDopQueue)"></td>
                            <td>Дата постановки</td>
                            <td><input type="checkbox" v-model="viewDatePostQueue" v-on:click="changePerm('queue', 'viewDatePostQueue', viewDatePostQueue)"></td>
                        </tr>
                        <tr>
                            <td>Дата реализации</td>
                            <td><input type="checkbox" v-model="viewdateRealixQueue" v-on:click="changePerm('queue', 'viewdateRealixQueue', viewdateRealixQueue)"></td>
                            <td>Дата реализации для заказчика</td>
                            <td><input type="checkbox" v-model="viewDateForClientQueue" v-on:click="changePerm('queue', 'viewDateForClientQueue', viewDateForClientQueue)"></td>
                            <td>Реальная дата реализации</td>
                            <td><input type="checkbox" v-model="viewRealDateQueue" v-on:click="changePerm('queue', 'viewRealDateQueue', viewRealDateQueue)"></td>
                        </tr>
                        <tr>
                            <td>Статус</td>
                            <td><input type="checkbox" v-model="viewStatusQueue" v-on:click="changePerm('queue', 'viewStatusQueue', viewStatusQueue)"></td>
                            <td>Ответственный</td>
                            <td><input type="checkbox" v-model="viewIspQueue" v-on:click="changePerm('queue', 'viewIspQueue', viewIspQueue)"></td>
                            <td>Действия</td>
                            <td><input type="checkbox" v-model="viewDeistvQueue" v-on:click="changePerm('queue', 'viewDeistvQueue', viewDeistvQueue)"></td>
                        </tr>
                    </table>
                </div>
                <div class="box" style="overflow: hidden; overflow-x: scroll;">
                    <SortedTable :values="queue">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewNumQueue">
                                    <SortLink name="id">Номер задачи</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewQueieQueue">
                                    <SortLink name="number">Очередь</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewClientQueue">
                                    <SortLink name="client">Заказчик</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewProjectQueue">
                                    <SortLink name="project">Проект</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewWorkQueue">
                                    <SortLink name="name">Наименование работ</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewMaxHourQueue">
                                    <SortLink name="max_hours">Максимальное количество часов</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewImpQueue">
                                    <SortLink name="observer">Внедренец</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDopQueue">
                                    <SortLink name="is_free">Дополнительная плата</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDatePostQueue">
                                    <SortLink name="date">Дата постановки</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewdateRealixQueue">
                                    <SortLink name="date_implement">Дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDateForClientQueue">
                                    <SortLink name="date_implement_for_client">Дата реализации для заказчика</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewRealDateQueue">
                                    <SortLink name="real_date">Реальная дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewStatusQueue">
                                    <SortLink name="status">Статус</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewIspQueue">
                                    <SortLink name="user">Ответственный</SortLink>
                                </th>
                                <th scope="col" style="text-align: left; width: 10rem;" v-if="viewDeistvQueue" colspan="2">
                                    <SortLink name="">Действия</SortLink>
                                </th>
                            </tr>
                        </thead>
                        <tbody slot="body" slot-scope="sort">
                            <template v-if="hot.length > 0">
                                <tr v-if="queue.length > 0" v-for="item in sort.values" :key="item.id" v-on:dblclick="dclick(item.id)">
                                    <td v-if="viewNumQueue">{{item.id}}</td>
                                    <td v-if="viewQueieQueue">{{item.number}}</td>
                                    <td v-if="viewClientQueue">{{item.client}}</td>
                                    <td v-if="viewProjectQueue">{{item.project}}</td>
                                    <td v-if="viewWorkQueue">{{item.name}}</td>
                                    <td v-if="viewMaxHourQueue">{{item.max_hours}}</td>
                                    <td v-if="viewImpQueue">{{item.observer}}</td>
                                    <template v-if="viewDopQueue">
                                        <td v-if="item.is_free">Да</td>
                                        <td v-else>Нет</td>
                                    </template>
                                    <td v-if="viewDatePostQueue">{{item.date}}</td>
                                    <td v-if="viewdateRealixQueue">{{item.date_implement}}</td>
                                    <td v-if="viewDateForClientQueue">{{item.date_implement_for_client}}</td>
                                    <td v-if="viewRealDateQueue">{{item.real_date}}</td>
                                    <td v-if="viewStatusQueue">{{item.status}}</td>
                                    <td v-if="viewIspQueue">{{item.user}}</td>
                                    <td v-if="viewDeistvQueue" style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-pencil"></i>
                                        </router-link>
                                    </td>
                                    <td v-if="viewDeistvQueue" style="vertical-align: middle;">
                                        <router-link :to="'/print_form/forms/del/'+item.id" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </router-link>
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td colspan="14" style="text-align: center">
                                        <i>Очередь пуста</i>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </SortedTable>
                </div>
                <div style="width: 100%">
                    <ul class="pagination pagination-sm float: left !important;">
                        <template v-if="pageQueue == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getQForms(pageQueue-1)" style="cursor: pointer;">«</a></li>
                        </template>
                        <template v-for="i in countQueuePages">
                        <li><a v-on:click="getQForms(i)" style="cursor: pointer;">{{i}}</a></li>
                        </template>
                        <template v-if="pageQueue == countQueuePages">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getQForms(pageQueue+1)" style="cursor: pointer;">»</a></li>
                        </template>
                    </ul>
                    <select v-model="countQueueP" class="form-control" @change="changeQueuePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                        <option :value="{num: 10}">10</option>
                        <option :value="{num: 20}">20</option>
                        <option :value="{num: 50}">50</option>
                        <option :value="{num: 0}">Все</option>
                    </select>
                </div>
            </div>
            <div class="tab-pane" id="pay">
                <div class="pull-right" style="margin-bottom: 15px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="raw_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="raw_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="overflow: hidden;">
                    <SortedTable :values="pay">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="client">Заказчик</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="project">Проект</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="name">Наименование работы</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="observer">Внедренец</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;" colspan="2">
                                    <SortLink name="">Действия</SortLink>
                                </th>
                            </tr>
                        </thead>
                        <tbody slot="body" slot-scope="sort">
                            <tr v-if="pay.length != 0" v-for="item in sort.values" :key="item.id" v-on:dblclick="openPay(item.id)">
                                <td>{{item.client}}</td>
                                <td>{{item.project}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.observer}}</td>
                                <td>
                                    <router-link :to="'/print_form/forms/pay/'+item.id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </router-link>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="6" style="text-align: center">
                                    <i>Очередь пуста</i>
                                </td>
                            </tr>
                        </tbody>
                    </SortedTable>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="close">
                <div class="pull-right" style="margin-bottom: 15px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="raw_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="raw_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="overflow: hidden; overflow-x: scroll;">
                    <SortedTable :values="close">
                        <thead>
                            <tr>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="id">Номер задачи</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="number">Очередь</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="client">Заказчик</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="project">Проект</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="name">Наименование работ</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="max_hours">Максимальное количество часов</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="observer">Внедренец</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="is_free">Дополнительная плата</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="date">Дата постановки</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="date_implement">Дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="date_implement_for_client">Дата реализации для заказчика</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="real_date">Реальная дата реализации</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="status">Статус</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;">
                                    <SortLink name="user">Ответственный</SortLink>
                                </th>
                                <th scope="col" style="text-align: left;" colspan="2">
                                    <SortLink name="">Действия</SortLink>
                                </th>
                            </tr>
                        </thead>
                        <tbody slot="body" slot-scope="sort">
                            <tr v-if="close.length > 0" v-for="item in sort.values" :key="item.id" v-on:dblclick="dclick(item.id)">
                                <td>{{item.id}}</td>
                                <td>{{item.number}}</td>
                                <td>{{item.client}}</td>
                                <td>{{item.project}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.max_hours}}</td>
                                <td>{{item.observer}}</td>
                                <td v-if="item.is_free">Да</td>
                                <td v-else>Нет</td>
                                <td>{{item.date}}</td>
                                <td>{{item.date_implement}}</td>
                                <td>{{item.date_implement_for_client}}</td>
                                <td>{{item.real_date}}</td>
                                <td>{{item.status}}</td>
                                <td>{{item.user}}</td>
                                <td style="vertical-align: middle;">
                                    <router-link :to="'/print_form/forms/edit/'+item.id" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </router-link>
                                </td>
                                <td style="vertical-align: middle;">
                                    <router-link :to="'/print_form/forms/del/'+item.id" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </router-link>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="14" style="text-align: center">
                                    <i>Очередь пуста</i>
                                </td>
                            </tr>
                        </tbody>
                    </SortedTable>
                </div>
                <!-- /.tab-pane -->
                <div style="width: 100%">
                    <ul class="pagination pagination-sm float: left !important;">
                        <template v-if="pageClose == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getClose(pageClose-1)" style="cursor: pointer;">«</a></li>
                        </template>
                        <template v-for="i in countClosePages">
                        <li><a v-on:click="getClose(i)" style="cursor: pointer;">{{i}}</a></li>
                        </template>
                        <template v-if="pageClose == countClosePages">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getClose(pageClose+1)" style="cursor: pointer;">»</a></li>
                        </template>
                    </ul>
                    <select v-model="countCloseP" class="form-control" @change="changeClosePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                        <option :value="{num: 10}">10</option>
                        <option :value="{num: 20}">20</option>
                        <option :value="{num: 50}">50</option>
                        <option :value="{num: 0}">Все</option>
                    </select>
                </div>
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</template>

<script>
import VuePagination from '../vue-pagination.vue'; 
// Vue.component('pagination', require('laravel-vue-pagination'));
export default {
    data() {
        return {
            t: [],
            raw: [],
            pay: [],
            // hot: [],
            viewRaw: false,
            viewHot: false,
            viewQueue: false,
            search: '',
            queue: [],
            close: [],
            attendant: [],
            viewDateRaw: null,
            viewClientRaw: null,
            viewProjectRaw: null,
            viewWorkRaw: null,
            viewStatusRaw: null,
            viewImpRaw: null,
            viewDeistvRaw: null,

            viewNumHot: null,
            viewQueieHot: null,
            viewClientHot: null,
            viewProjectHot: null,
            viewWorkHot: null,
            viewMaxHourHot: null,
            viewImpHot: null,
            viewDopHot: null,
            viewDatePostHot: null,
            viewdateRealixHot: null,
            viewDateForClientHot: null,
            viewRealDateHot: null,
            viewStatusHot: null,
            viewIspHot: null,
            viewDeistvHot: null,

            viewNumQueue: null,
            viewQueieQueue: null,
            viewClientQueue: null,
            viewProjectQueue: null,
            viewWorkQueue: null,
            viewMaxHourQueue: null,
            viewImpQueue: null,
            viewDopQueue: null,
            viewDatePostQueue: null,
            viewdateRealixQueue: null,
            viewDateForClientQueue: null,
            viewRealDateQueue: null,
            viewStatusQueue: null,
            viewIspQueue: null,
            viewDeistvQueue: null,
            countHot: 0,
            countPages: 0,
            page: 1,
            countP: {
                num: 10
            },
            currentHotPage: 1,
            countRawPages: 0,
            pageRaw: 1,
            countRawP: {
                num: 10
            },
            currentRawPage: 1,
            
            countQueuePages: 0,
            pageQueue: 1,
            countQueueP: {
                num: 10
            },
            currentQueuePage: 1,
            
            countClosePages: 0,
            pageClose: 1,
            countCloseP: {
                num: 10
            },
            currentClosePage: 1,

            hot: {
                total: 0,
                per_page: 2,
                from: 1,
                to: 0,
                current_page: 1
            },
            offset: 4,
            pag: null,
            

            // hot2: [
            //     { name: "Plugin Foo", id: 2, hits: 33 },
            //     { name: "Plugin Bar", id: 1, hits: 42 },
            //     { name: "Plugin Foo Bar", id: 3, hits: 79 }
            // ]
            
        }
    },
    components: {
        VuePagination,
        //pagination
    },
    created() {
        this.getPerm()
        this.getRaw(this.currentRawPage)
        this.getPay()
        this.getHotForms(this.currentHotPage)
        this.getQForms(this.currentQueuePage)
        this.getAttendant()
        this.getClose(this.currentClosePage)
    },
    computed: {
        rawByTitle() {
            if (this.search != '') {
                this.loading = true
                axios
                .get('/print_form/getRaw?page='+1+'&count='+0)
                .then(response => {
                    // console.log(response)
                    var proj = response.data.forms;
                    this.t = proj.filter(item => item.client.toLowerCase().includes(this.search.toLowerCase()))
                    // console.log(this.t);
                    return this.t
                }).finally(() => (
                    this.loading = false
                ))
            } else {
                this.t = []
                return this.raw.filter(item => item.client.toLowerCase().includes(this.search.toLowerCase()))
            }
            
        },
    },
    methods: {
        getPerm() {
            axios
            .get('/print_form/getPermForms')
            .then(response => {
                // var data = JSON.parse(response.data);
                console.log(response.data.forms);
                this.viewDateRaw = response.data.forms.raw.viewDateRaw
                this.viewClientRaw = response.data.forms.raw.viewClientRaw
                this.viewProjectRaw = response.data.forms.raw.viewProjectRaw
                this.viewWorkRaw = response.data.forms.raw.viewWorkRaw
                this.viewStatusRaw = response.data.forms.raw.viewStatusRaw
                this.viewImpRaw = response.data.forms.raw.viewImpRaw
                this.viewDeistvRaw = response.data.forms.raw.viewDeistvRaw

                this.viewNumHot = response.data.forms.hot.viewNumHot
                this.viewQueieHot = response.data.forms.hot.viewQueieHot
                this.viewClientHot = response.data.forms.hot.viewClientHot
                this.viewProjectHot = response.data.forms.hot.viewProjectHot
                this.viewWorkHot = response.data.forms.hot.viewWorkHot
                this.viewMaxHourHot = response.data.forms.hot.viewMaxHourHot
                this.viewImpHot = response.data.forms.hot.viewImpHot
                this.viewDopHot = response.data.forms.hot.viewDopHot
                this.viewDatePostHot = response.data.forms.hot.viewDatePostHot
                this.viewdateRealixHot = response.data.forms.hot.viewdateRealixHot
                this.viewDateForClientHot = response.data.forms.hot.viewDateForClientHot
                this.viewRealDateHot = response.data.forms.hot.viewRealDateHot
                this.viewStatusHot = response.data.forms.hot.viewStatusHot
                this.viewIspHot = response.data.forms.hot.viewIspHot
                this.viewDeistvHot = response.data.forms.hot.viewDeistvHot
                
                this.viewNumQueue = response.data.forms.queue.viewNumQueue
                this.viewQueieQueue = response.data.forms.queue.viewQueieQueue
                this.viewClientQueue = response.data.forms.queue.viewClientQueue
                this.viewProjectQueue = response.data.forms.queue.viewProjectQueue
                this.viewWorkQueue = response.data.forms.queue.viewWorkQueue
                this.viewMaxHourQueue = response.data.forms.queue.viewMaxHourQueue
                this.viewImpQueue = response.data.forms.queue.viewImpQueue
                this.viewDopQueue = response.data.forms.queue.viewDopQueue
                this.viewDatePostQueue = response.data.forms.queue.viewDatePostQueue
                this.viewdateRealixQueue = response.data.forms.queue.viewdateRealixQueue
                this.viewDateForClientQueue = response.data.forms.queue.viewDateForClientQueue
                this.viewRealDateQueue = response.data.forms.queue.viewRealDateQueue
                this.viewStatusQueue = response.data.forms.queue.viewStatusQueue
                this.viewIspQueue = response.data.forms.queue.viewIspQueue
                this.viewDeistvQueue = response.data.forms.queue.viewDeistvQueue
            })
        },
        changePerm(type, name, value) {
            var postBody = {
                name: name,
                value: !value,
                type: type
            }
            axios
            .post('/print_form/changeFormPerm', {'data': JSON.stringify(postBody)})
            .then(response => {
                
            })
        },
        filterForms(type, param) {
            var postBody = {
                param: param,
                type: type
            }
            axios
            .post('/print_form/filterForms', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (type == 'hot') {
                    this.hot = response.data
                    return
                }
                if (type == 'queue') {
                    this.queue = response.data
                    return
                }
            })
        },
        changeRawPageCount() {
            this.page = 1
            axios
            .get('/print_form/getRaw?page='+1+'&count='+this.countRawP.num)
            .then(response => {
                // console.log(response.data);
                this.raw = response.data.forms
                this.countRaw = response.data.count
                this.countRawPages = response.data.count_pages
            })
        },
        getRaw(page) {
            console.log(this.countRawP.num);
            
            this.page = page
            axios
            .get('/print_form/getRaw?page='+page+'&count='+this.countRawP.num)
            .then(response => {
                // console.log(response.data);
                this.raw = response.data.forms
                this.countRaw = response.data.count
                this.countRawPages = response.data.count_pages
            })
        },
        dclick(id) {
            this.$router.push('forms/edit/'+id);
        },
        openRaw(id) {
            this.$router.push('forms/raw/'+id);
        },
        openPay(id) {
            this.$router.push('forms/pay/'+id);
        },
        changeViewRaw() {
            this.viewRaw = !this.viewRaw
        },
        changeViewHot() {
            this.viewHot = !this.viewHot
        },
        changeViewQueue() {
            this.viewQueue = !this.viewQueue
        },
        changeClosePageCount() {
            this.page = 1
            axios
            .get('/print_form/getClose?page='+1+'&count='+this.countCloseP.num)
            .then(response => {
                // console.log(response.data);
                this.close = response.data.forms
                this.countClose = response.data.count
                this.countClosePages = response.data.count_pages
            })
        },
        getClose(page) {
            this.page = page
            axios
            .get('/print_form/getClose?page='+page+'&count='+this.countCloseP.num)
            .then(response => {
                // console.log(response.data);
                this.close = response.data.forms
                this.countClose = response.data.count
                this.countClosePages = response.data.count_pages
            })
        },
        getAttendant() {
            axios
            .get('/print_form/getAttendant')
            .then(response => {
                // console.log(response.data);
                this.attendant = response.data
            })
        },
        getPay() {
            axios
            .get('/print_form/getPay')
            .then(response => {
                // console.log(response.data);
                this.pay = response.data
            })
        },
        changePageCount() {
            this.page = 1
            axios
            .get('/print_form/getHotForms?page='+1+'&count='+this.countP.num)
            .then(response => {
                // this.pag = response.data
                this.hot = response.data.forms
                this.countHot = response.data.count
                this.countPages = response.data.count_pages
                // this.currentPage = response.data.current_page
                // console.log(this.currentPage)
            })
        },
        getHotForms(page) {
            console.log(this.countP.num);
            
            this.page = page
            axios
            .get('/print_form/getHotForms?page='+page+'&count='+this.countP.num)
            .then(response => {
                // this.pag = response.data
                this.hot = response.data.forms
                this.countHot = response.data.count
                this.countPages = response.data.count_pages
                // this.currentPage = response.data.current_page
                // console.log(this.currentPage)
            })
        },
        getQForms(page) {
            this.page = page
            axios
            .get('/print_form/getQForms?page='+page+'&count='+this.countQueueP.num)
            .then(response => {
                // console.log(response.data)
                this.queue = response.data.forms
                this.countQueue = response.data.count
                this.countQueuePages = response.data.count_pages
            })
        },
        changeQueuePageCount() {
            this.page = 1
            axios
            .get('/print_form/getQForms?page='+1+'&count='+this.countQueueP.num)
            .then(response => {
                // console.log(response.data)
                this.queue = response.data.forms
                this.countQueue = response.data.count
                this.countQueuePages = response.data.count_pages
            })
        },
    }
}
</script>