<template>
    <div class="box" style="padding: 15px;">
        <form>
            <div class="nav-tabs-custom">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="50%" style="vertical-align: middle;">Номер задачи</td>
                                <td colspan="2" style="vertical-align: middle;">{{pform.form.id}}</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Очередь</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{queue_introduction}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Статус</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{pform.status.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Заказчик</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{pform.client.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Название проекта</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{pform.project.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Наименование задачи</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{pform.form.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Тип формы</td>
                                <td style="vertical-align: middle;">
                                    <template v-if="pform.form.is_printform == 1">
                                        <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1" checked>
                                    </template>
                                    <template v-else>
                                        <input type="radio" id="On" name="typeForm" v-on:change="setType(1)" :value="1">
                                    </template>
                                    <label for="On">
                                        <h4 style="color: #3c8dbc;">Печатная</h4>
                                    </label>
                                </td>
                                <td style="vertical-align: middle;">
                                    <template v-if="pform.form.is_screenform == 1">
                                        <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2" checked> 
                                    </template>
                                    <template v-else>
                                        <input type="radio" id="off" name="typeForm" v-on:change="setType(2)" :value="2">
                                    </template>
                                    <label for="off">
                                        <h4 style="color: #3c8dbc;">Экранная</h4>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr v-if="pform.form.category_printform_ref_id != null">
                                <td style="vertical-align: middle;">Категория</td>
                                <td style="vertical-align: middle;" v-if="editFlag == false">
                                    {{pform.form.category}}
                                </td>
                                <td v-if="editFlag == false">
                                    <a v-on:click="changeEditFlag()" class="btn btn-success">Изменить</a>
                                </td>
                                <td style="vertical-align: middle; padding-right: 20px;" v-if="editFlag == true">
                                    <select name="projectName_introduction" class="form-control" v-model="new_cur_category" v-on:change="setNewNorm()">
                                        <template v-for="(item, index) in pform.category">
                                            <option v-if="item.id == cat" selected :value="{id: item.id, norm: item.norm, category: item.category}">{{item.category}}</option>
                                            <option v-else :value="{id: item.id, norm: item.norm, category: item.category}">{{item.category}}</option>
                                        </template>
                                    </select>
                                </td>
                                <td v-if="editFlag == true">
                                    <a v-on:click="changeEditFlag()" class="btn btn-default" style="margin-right: 10px">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </a>
                                    <a v-on:click="saveNewCat()" class="btn btn-success">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr v-else>
                                <td style="vertical-align: middle;">Категория</td>
                                <td style="vertical-align: middle;" colspan="2">
                                    <select name="projectName_introduction" class="form-control" v-model="cur_category" v-on:change="setNorm()">
                                        <template v-for="(item, index) in pform.category">
                                            <option v-if="item.id == cat" selected :value="{id: item.id, norm: item.norm}">{{item.category}}</option>
                                            <option v-else :value="{id: item.id, norm: item.norm}">{{item.category}}</option>
                                        </template>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr v-if="pform.form.max_hours != null">
                                <td style="vertical-align: middle;">Максимальное количество часов</td>
                                <td colspan="2" style="vertical-align: middle;" v-if="editFlag == false">
                                    {{pform.form.max_hours}}
                                    <!-- <input type="number" name="maxCountHours_introduction" class="form-control" v-model="norm"> -->
                                </td>
                                <td colspan="2" style="vertical-align: middle;" v-if="editFlag == true">
                                    <input type="number" name="maxCountHours_introduction" class="form-control" v-model="new_norm">
                                </td>
                            </tr>
                            <tr v-else>
                                <td style="vertical-align: middle;">Максимальное количество часов</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <input type="number" name="maxCountHours_introduction" class="form-control" v-model="norm">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-condensed">
                            <tr>
                                <td width="40%" style="vertical-align: middle;">Внедренец</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    {{pform.implement.first_name}} {{pform.implement.last_name}}
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <!--<tr>-->
                                <!--<td width="40%" style="vertical-align: middle;">Кто будет делать</td>-->
                                <!--<td colspan="2" style="vertical-align: middle;">-->
                                    <!--<select v-model="user_introduction" class="form-control">-->
                                        <!--<template v-for="(item, index) in pform.users" >-->
                                            <!--<option :value="{id: item.id}">{{item.first_name}} {{item.last_name}}</option>-->
                                        <!--</template>-->
                                    <!--</select>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>&nbsp;</td>-->
                            <!--</tr>-->
                            <tr>
                                <td style="vertical-align: middle;">Платно ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <span v-if="pform.form.free == 0">Да</span>
                                    <span v-else>Нет</span>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">Оплачено ?</td>
                                <td colspan="2" style="vertical-align: middle;">
                                    <span v-if="pform.form.paid == 0">Нет</span>
                                    <span v-else>Да</span>
                                </td>
                            </tr>
                        </table>
                        <div class="form-group pull-right">
                            <input type="button" v-on:click="formAddTask_submit()" value="Сохранить" class="btn btn-success">
                            <router-link to="/print_form/forms" class="btn btn-default">Отмена</router-link>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Прикрепленные файлы</h3>
                </div>
                <div class="box-footer">
                    <AttachmentFiles :files="pform.file" />
<!--                    <ul class="mailbox-attachments clearfix" v-if="pform.file.length > 0">-->
<!--                        <li v-for="(item, index) in pform.file">-->
<!--                            <span class="mailbox-attachment-icon has-img"><img :src="item.img"></span>-->

<!--                            <div class="mailbox-attachment-info">-->
<!--                                <a :href="item.img" target="_blank" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> {{ item.name }}</a>-->
<!--                                <span class="mailbox-attachment-size"></span>-->
<!--                            </div>-->

<!--                            <a :href="item.img" class="btn btn-success" download>Скачать</a>-->
<!--                            <a :href="item.img" class="btn btn-primary" target="_blank">Просмотр</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <ul class="mailbox-attachments clearfix" v-else>-->
<!--                        <li style="border: none; width: 100%; text-align: center;">-->
<!--                            <i>Файлы отсутствуют</i>-->
<!--                        </li>-->
<!--                    </ul>-->
                </div>
            </div>
        </form>
        <Print_form_comments />
<!--            <div class="box">-->
<!--                <div class="box-header with-border">-->
<!--                    <h3 class="box-title">Комментарии</h3>-->
<!--                </div>-->
<!--                <div class="box-body">-->
<!--                    <div style="padding-bottom: 20px; display: block;" id="add">-->
<!--                        <input type="button" v-on:click="click_mes_form()" value="Добавить новый коментарий" class="btn btn-primary">-->
<!--                    </div>-->
<!--                    <div class="clear"></div>-->
<!--                    <div class="wall_form" id="popup_message_form" v-if="commentFlag" style="margin-bottom: 20px;">-->
<!--                        <textarea v-model="comment" style="resize: none;" cols="170" rows="10"></textarea>-->
<!--                    </div>-->
<!--                    <div style="padding-bottom: 20px;" v-if="commentFlag" id="addComment">-->
<!--                        <a v-on:click="add_comment()" class="btn btn-success" id="addCommentButton" style="float: left; margin-right: 10px;">Сохранить</a>&nbsp;-->
<!--                        <input type="button" v-on:click="click_mes_form()" value="Отмена" class="btn btn-default">-->
<!--                    </div>-->
<!--                    <div v-if="pform.comments.length > 0">-->
<!--                        <div class="post" v-for="(item, index) in pform.comments">-->
<!--                            <div class="user-block">-->
<!--                                <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">-->
<!--                                <span class="username">-->
<!--                                <a href="#">{{item.user_name}} {{item.user_surname}}</a>-->
<!--                                <template v-if="item.autor == true">-->
<!--                                    <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>-->
<!--                                    <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>-->
<!--                                </template>-->
<!--                            </span>-->
<!--                                <template v-if="item.for_client == 1">-->
<!--                                    <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>-->
<!--                                </template>-->
<!--                                <template v-else>-->
<!--                                    <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>-->
<!--                                </template>-->
<!--                            </div>-->
<!--                            <div :id="'comment_'+item.id">-->
<!--                                <span v-html="item.text"></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post" v-else>-->
<!--                        <p style="text-align: center">Коментарии отсутствуют</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
    </div>
</template>
<script>
import AttachmentFiles from "../AttachmentFiles";
import Print_form_comments from "../print_form_common/Print_form_comments";
export default {
    components: {AttachmentFiles, Print_form_comments},
    data() {
        return {
            pform: null,
            cur_category: {
                norm: null,
                id: null
            },
            commentFlag: false,
            comment: null,
            date: null,
            date2: null,
            queue_introduction: null,
            status_introduction: null,
            customer_introduction: null,
            projectName_introduction: null,
            taskName_introduction: null,
            isPrintForm_introduction: {
                id: ''
            },
            dateFinish_introduction: null,
            dateFinishForCustomers_introduction: null,
            user_introduction: null,
            paided_introduction: null,
            forPaid_introduction: null,
            norm: null,
            typeForm: null,
            cat: null,
            editFlag: false,
            new_cur_category: {
                norm: null,
                id: null
            },
            new_norm: null,
        }
    },
    created() {
        this.getPForm()
    },
    methods: {
        getPForm() {
            axios
            .get('/print_form/getPayForm/'+this.$route.params.id)
            .then(response => {
                this.pform = response.data
                console.log(this.pform)
                this.queue_introduction = this.pform.count_task+1
                if (this.pform.form.max_hours != null) {
                    this.norm = this.pform.form.max_hours
                }
                if (this.pform.form.category_printform_ref_id != null) {
                    this.cat = this.pform.form.category_printform_ref_id
                }
                console.log(this.cat);
            })
        },
        click_mes_form() {
            this.comment = null
            this.commentFlag = !this.commentFlag
        },
        changeEditFlag() {
            this.editFlag = !this.editFlag;
        },
        add_comment() {
            if (this.comment == null) {
                alert('Укажите коментарий');
                return
            }

            var postBody = {
                form_id: this.$route.params.id,
                comment: this.comment
            }

            axios
            .post('/print_form/add-comment', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.comment = null
                    this.commentFlag = !this.commentFlag
                    this.getPForm()
                }
            })
        },
        calculate() {
            axios
            .get('/print_form/calculate-print-form')
            .then(response => {
                this.date2 = response.data
            })
        },
        setNorm() {
            this.norm = this.cur_category.norm;
        },
        setNewNorm() {
            this.new_norm = this.new_cur_category.norm;
        },
        setType(id) {
            this.typeForm = id;
        },
        saveNewCat() {
            if (this.new_norm == '') {
                alert('Укажите максимальное количество часов');
                return
            };
            if (this.new_norm <= 0) {
                alert('Не верно указано максимальное количество часов');
                return
            };
            this.pform.form.category = this.new_cur_category.category
            this.cur_category.id = this.new_cur_category.id
            this.pform.form.max_hours = this.new_norm
            this.norm = this.new_norm
            this.editFlag = false
        },
        formAddTask_submit() {
            console.log(this.cur_category);
            var type;
            if (this.typeForm != null) {
                type = this.typeForm
            } else {
                if (this.pform.form.is_printform == 1) {
                    type = 1
                }
                if (this.pform.form.is_screenform == 1) {
                    type = 2
                }
            };
            
            if (this.cur_category.id == null) {
                alert('Укажите категорию');
                return
            };
            if (this.norm == '') {
                alert('Укажите максимальное количество часов');
                return
            };
            if (this.norm <= 0) {
                alert('Не верно указано максимальное количество часов');
                return
            };

            var postBody = {
                id: this.$route.params.id,
                cur_category: this.cur_category.id,
                norm: this.norm,
                type: type
            }

            axios
            .post('/print_form/forms/pay', {'data': JSON.stringify(postBody)})
            .then(response => {
                if (response.data.status == 'Ok') {
                    this.$router.push('/print_form/forms');
                }
            })
        }
    }
}
</script>