<template>
    <TabSearchTables :tabs="tabs" name="forms"/>
</template>
<script>

    import TabSearchTables from "../TabSearchTables";

    export default {
        components: {TabSearchTables},
        data() {
            return {
                tabs: [
                    {
                        name: 'Необработанные',
                        slug: 'forms_raw',
                        count: 0
                    },
                    {
                        name: 'Дежурный',
                        slug: 'forms_attendant',
                        count: 0
                    },
                    {
                        name: 'Горящие задачи',
                        slug: 'forms_hot',
                        count: 0
                    },
                    {
                        name: 'По очереди',
                        slug: 'forms_queue',
                        count: 0
                    },
                    {
                        name: 'Ждут оплаты',
                        slug: 'forms_pay',
                        count: 0
                    },
                    {
                        name: 'Закрытые',
                        slug: 'forms_close',
                        count: 0
                    },
                ]
            }
        },
    }
</script>