<template>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="">
                    <table>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Клиент</td>
                            <td>{{client_name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Проект</td>
                            <td>{{project_name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Контактное лицо</td>
                            <template v-for="(item, index) in contacts">
                                <td>{{item.first_name}} {{item.last_name}} / Тел: {{item.phone}}</td>
                            </template>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Ответственный внедренец</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">История коментариев</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="overflow-y: auto;height: 200px;">
                    <template v-if="Comments.length > 0">
                        <div class="post" v-for="(item, index) in Comments">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">
                                <span class="username">
                                    <a href="#">{{item.user_name}} {{item.user_surname}}</a>
                                    <template v-if="item.autor == true">
                                        <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>
                                        <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>
                                    </template>
                                </span>
                                <template v-if="item.for_client == 1">
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>
                                </template>
                                <template v-else>
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>
                                </template>
                            </div>
                            <!-- /.user-block -->
                            <div :id="'comment_'+item.id">
                                {{item.text}}
                            </div>
                            <!--<ul class="list-inline">
                                <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            </ul>

                            <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
                        </div>
                    </template>
                    <template v-else>
                        <div class="post">
                            <p style="text-align: center">Коментарии отсутствуют</p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12">
            <div style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">
                <router-link :to="'/manager/project/edit/'+Project.id">Информация о проекте</router-link>
            </div>
            <div class="wall_form" id="popup_message_form" style="margin-bottom: 20px;">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Результат</h3>
                    </div>
                    <div class="content">
                        <form>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" :value="{id: 1}" v-model="result">
                                <label for="optionsRadios1">
                                    <h4 style="color: #3c8dbc;">Недозвон</h4>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" :value="{id: 2}" v-model="result">
                                <label for="optionsRadios2">
                                    <h4 style="color: #3c8dbc;">Назначен следующий контакт</h4>
                                </label>
                            </div>
                            <div id="collapseTwo" v-if="result.id == 2">
                                <div class="box-body">
                                    <div style="padding-bottom: 20px;">
                                        <a id="date1" v-on:click="setDate(tomorrow_val)" class="btn btn-primary">Завтра</a>
                                        <a id="date2" v-on:click="setDate(plus_one_day_val)" class="btn btn-primary">Послезавтра</a>
                                        <a id="date3" v-on:click="setDate(plus_two_day_val)" class="btn btn-primary">{{plus_two_day}}</a>
                                        <a id="date4" v-on:click="setDate(plus_three_day_val)" class="btn btn-primary">{{plus_three_day}}</a>
                                    </div>
                                    <div style="padding-bottom: 20px;">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td style="vertical-align: middle;">Дата</td>
                                                <td style="vertical-align: middle;"><input type="date" name="next_date2" v-model="date" id="date_cont" class="form-control"></td>
                                                <td style="vertical-align: middle;">Время</td>
                                                <td style="vertical-align: middle;"><input type="time" name="next_time2" v-model="time" class="form-control" style="width: 100px;"></td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle;">Продолжительность</td>
                                                <td style="vertical-align: middle;"><input type="time" id="next_time" v-model="duration" class="form-control" style="width: 100px;"></td>
                                                <td colspan="2" style="vertical-align: middle;">
                                                    <div style="padding-bottom: 20px;">
                                                        <a id="time1" v-on:click="setDuration('00:30')" class="btn btn-primary">30 мин.</a>
                                                        <a id="time2" v-on:click="setDuration('01:00')" class="btn btn-primary">1 час</a>
                                                        <a id="time3" v-on:click="setDuration('01:30')" class="btn btn-primary">1 час 30 мин.</a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle;">Контактное лицо</td>
                                                <td style="vertical-align: middle;">
                                                    <select class="form-control" name="contact"  v-model="cur_contact">
                                                        <option v-for="(item, index) in contacts" v-bind:value="{id: item.id, phone: item.phone}">{{item.first_name}} {{item.last_name}}</option>
                                                    </select>
                                                </td>
                                                <td style="vertical-align: middle;">Телефон</td>
                                                <td colspan="2" style="vertical-align: middle;">
                                                    {{cur_contact.phone}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align: middle;">Внедренец</td>
                                                <td style="vertical-align: middle;" colspan="3">
                                                    <template v-if="Users.length > 0">
                                                        <select v-on:change="getCurEvents" name="user" class="form-control" v-model="Cur_user">
                                                            <option v-for="(item, index) in Users"
                                                                    v-bind:value="{id: item.id}">
                                                                {{item.first_name}} {{item.last_name}}
                                                            </option>
                                                        </select>
                                                    </template>
                                                    <template v-else>
                                                        <select name="user" class="form-control">
                                                            <option value="">Пользователи не найдены</option>
                                                        </select>
                                                    </template>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">
                                        <a v-on:click="showCalendar = !showCalendar" style="cursor: pointer;">Открыть календарь</a><br>
                                    </div>
                                    <div v-if="showCalendar">
                                        <full-calendar ref="fullCalendar" :config="config" :events="events"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios3" :value="{id: 3}" v-model="result">
                                <label for="optionsRadios3">
                                    <h4 style="color: #3c8dbc;">Попросили перезвонить</h4>
                                </label>
                            </div>
                            <div id="collapseOne" v-if="result.id == 3">
                                <div class="box-body">
                                    <div style="padding-bottom: 20px;">
                                        <a v-on:click="setDate(tomorrow_val)" class="btn btn-primary">Завтра</a>
                                        <a v-on:click="setDate(plus_one_day_val)" class="btn btn-primary">Послезавтра</a>
                                        <a v-on:click="setDate(plus_two_day_val)" class="btn btn-primary">{{plus_two_day}}</a>
                                        <a v-on:click="setDate(plus_three_day_val)" class="btn btn-primary">{{plus_three_day}}</a>
                                    </div>
                                    <div style="padding-bottom: 20px;">
                                        <table class="table table-bordered">
                                            <tr>
                                                <td style="vertical-align: middle;">Дата</td>
                                                <td style="vertical-align: middle;"><input type="date" v-model="date" id="date_cont_2" name="next_date" class="form-control"></td>
                                                <td style="vertical-align: middle;">Время</td>
                                                <td style="vertical-align: middle;"><input type="time" id="time_cont_2" v-model="time" name="next_time" class="form-control" style="width: 100px;"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 style="color: #3c8dbc;">Комментарий</h4>
                            </div>
                            <div id="editor"></div>
                            <textarea name="comment" v-model="comment" cols="160" rows="10"></textarea>
                            <div class="form-group" style="margin-top: 10px;">
                                <input type="button" value="Сохранить" v-on:click="save()" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                client_name: null,
                project_name: null,
                user: [],
                contacts: [],
                Comments: [],
                Project: [],
                result: {
                    'id': null
                },
                plus_one_day: null,
                plus_one_day_val: null,
                plus_two_day: null,
                plus_two_day_val: null,
                plus_three_day: null,
                plus_three_day_val: null,
                tomorrow: null,
                tomorrow_val: null,
                date: null,
                duration: null,
                Users: [],
                Cur_user: null,
                cur_contact: {},
                comment: null,
                time: null,
                showCalendar: false,
                config: {
                    firstDay: 1,
                    height: 650,
                    locale: 'ru',
                    editable: false,
                    slotLabelFormat: "H:mm",
                    eventLimit: true,
                    navLinks: false,
                    defaultDate: null,
                    slotDuration: '00:30:00',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month, listWeek'
                    },
                    allDaySlot: false,
                    monthNames: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthNamesShort: ['Янв.', 'Фев.', 'Март', 'Апр.', 'Май', 'Июнь', 'Июль', 'Авг.', 'Сент.', 'Окт.', 'Ноя.', 'Дек.'],
                    dayNames: ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
                    dayNamesShort: ["ВС", "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    views: {
                        agenda: {
                            eventLimit: 2//adjust to 6 only for agendaWeek/agendaDay
                        }
                    },
                    defaultView: 'agendaDay',
                    minTime: "08:00:00",
                    select: this.select
                },
                events: []
            }
        },
        mounted() {
            this.getCall();
        },
        methods: {
            getCall() {
                axios
                .get('/manager/getCall/'+this.$route.params.id)
                .then(response => {
                    console.log(response.data)
                    this.client_name = response.data.client.name
                    this.project_name = response.data.project.name
                    this.user = response.data.user
                    this.contacts = response.data.contacts
                    this.Comments = response.data.comments
                    this.Project = response.data.project
                    this.plus_one_day = response.data.plus_one_day
                    this.plus_one_day_val = response.data.plus_one_day_val
                    this.plus_two_day = response.data.plus_two_day
                    this.plus_two_day_val = response.data.plus_two_day_val
                    this.plus_three_day = response.data.plus_three_day
                    this.plus_three_day_val = response.data.plus_three_day_val
                    this.tomorrow = response.data.tomorrow
                    this.tomorrow_val = response.data.tomorrow_val
                    this.Users = response.data.users
                })
            },
            setDate(val) {
                this.date = val;
                this.config.defaultDate = val;
            },
            setDuration(val) {
                this.duration = val;
            },
            save() {
                if (this.result.id == null) {
                    alert('Укажите результат');
                    return
                }
                if (this.comment == null) {
                    alert('Укажите комментарий');
                    return
                }
                if (this.result.id == 1) {
                    var postBody = {
                        id: this.$route.params.id,
                        optionsRadios: this.result.id,
                        comment: this.comment
                    }
                }
                if (this.result.id == 2) {
                    var postBody = {
                        id: this.$route.params.id,
                        optionsRadios: this.result.id,
                        comment: this.comment,
                        user_id: this.Cur_user.id,
                        next_date2: this.date,
                        next_time2: this.time,
                        duration: this.duration,
                        contact_id: this.cur_contact.id
                    }
                }
                if (this.result.id == 3) {
                    var postBody = {
                        id: this.$route.params.id,
                        optionsRadios: this.result.id,
                        comment: this.comment,
                        next_date: this.date,
                        next_time: this.time
                    }
                }
                // console.log(this.time);
                axios
                .post('/manager/calls/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        sessionStorage.setItem('data.calls_contact', null);
                        this.$router.push('/manager/calls')
                    };
                })
            },
            getCurEvents() {
                axios
                    .get('/manager/tasks/gettasks/'+this.Cur_user.id)
                    .then(response => {
                        this.events = response.data
                    })

            },
            select(start, end){
                // console.log(start, end)
                this.time = start.format("HH:mm:ss");
                this.date = start.format("YYYY-MM-DD");
                this.config.defaultDate = this.date;
                let diff = /(\d{2}:\d{2}):\d{2}/.exec((new Date(end-start)).toUTCString());
                this.duration = diff[1];
                // console.log(diff)
            },
        }
    }
</script>