<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#contact" data-toggle="tab" aria-expanded="true">Договориться на контакт</a></li>
            <li class=""><a href="#callback" data-toggle="tab" aria-expanded="false">Взять обратную связь</a></li>
            <li class=""><a href="#other" data-toggle="tab" aria-expanded="false">Другая причина</a></li>
            
        </ul>
         
        <div class="tab-content">
            <div class="tab-pane active" id="contact">
                <div class="box">
                    <div class="input-group input-group-sm pull-right" style="width: 150px; margin-top: 10px; margin-right: 10px;">
                        <input type="text" v-model="search_contact" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" onclick="projects_search();" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <table class="table" style="word-break: break-word;">
                        <thead>
                        <tr>
                            <th style="width: 20%">Клиент</th>
                            <th>Проект</th>
                            <th>Город</th>
                            <th>Ответственный внедренец</th>
                            <th>Последний контакт</th>
                            <th>С какими задачами работали</th>
                            <th>Просили перезвонить</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <template v-if="task_ar.length > 0">
                                <tr v-for="(item, index) in Task_arByTitle">
                                    <td>{{item.client.name}}</td>
                                    <td>{{item.project.name}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.user.first_name}} {{item.user.last_name}}</td>
                                    <td v-if="item.prev_contact">{{item.prev_contact}}</td>
                                    <td v-else></td>
                                    <td>{{item.name}}</td>
                                    <td v-if="item.next_contact">{{item.next_contact}}</td>
                                    <td v-else></td>
                                    <td style="vertical-align: middle;">
                                        <router-link :to="'/manager/calls/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td colspan="8" style="text-align: center;">Ничего не найдено</td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="callback">
                <div class="form-group">
                    <input name="type" id="work" :value="{id: 1}" v-model="status" type="radio">
                    <label for="work" style="margin-right: 20px;">
                        <h4 style="color: #3c8dbc;">На внедрении</h4>
                    </label>
                    <input name="type" id="close" :value="{id: 2}" v-model="status" type="radio">
                    <label for="close" style="margin-right: 20px;">
                        <h4 style="color: #3c8dbc;">Ожидают закрытия</h4>
                    </label>
                    <input name="type" id="request" :value="{id: 3}" v-model="status" type="radio">
                    <label for="request">
                        <h4 style="color: #3c8dbc;">Сбор отзывов</h4>
                    </label>
                </div>
                <div class="box">
                    <template v-if="status.id == 3">
                        <div style="margin-top: 15px; width: 80%; float: left;">
                            <a href="#" v-on:click="filterRequest('all')" style="margin-right: 15px">Все</a>
                            <a href="#" v-on:click="filterRequest('done')" style="margin-right: 15px">Обработанные</a>
                            <a href="#" v-on:click="filterRequest('other')">Не обработанные</a>
                        </div>
                    </template>
                    <div class="input-group input-group-sm pull-right" style="width: 150px; margin-top: 10px; margin-right: 10px;">
                        <input type="text" v-model="search" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" onclick="projects_search();" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <table class="table table-response" id="callback_projects" style="word-break: break-word;">
                        <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Наименование проекта</th>
                            <th>Последний контакт внедренца</th>
                            <th>С какими задачами работали</th>
                            <th>Последняя обратная связь</th>
                            <th>Город</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                            <template v-if="status.id == 1">
                                <tr v-for="(item, index) in Quality_arByTitle">
                                    <td>{{item.client_name}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.done_datetime}}</td>
                                    <td></td>
                                    <td>{{item.created_at}}</td>
                                    <td>{{item.city_name}}</td>
                                    <td>
                                        <router-link :to="'/manager/callback/quality-edit/'+item.p_id" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </template>
                            <template v-if="status.id == 2">
                                <tr v-for="(item, index) in close_ar">
                                    <td>{{item.client}}</td>
                                    <td>{{item.p_name}}</td>
                                    <td>{{item.done_datetime}}</td>
                                    <td></td>
                                    <td></td>
                                    <td>{{item.city}}</td>
                                    <td>
                                        <router-link :to="'/manager/callback/edit/'+item.id" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </router-link>
                                    </td>
                                </tr>
                            </template>
                            <template v-if="status.id == 3">
                                <template v-if="request_ar.length > 0">
                                    <tr v-for="(item, index) in request_ar">
                                        <td>{{item.client_name}}</td>
                                        <td>{{item.p_name}}</td>
                                        <td>{{item.done_datetime}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>{{item.city_name}}</td>
                                        <td v-if="item.request == null">
                                            <router-link :to="'/manager/request/edit/'+item.p_id" class="btn btn-primary">
                                                <i class="fa fa-search"></i>
                                            </router-link>
                                        </td>
                                        <td v-else>
                                            <router-link :to="'/manager/request/view/'+item.p_id" class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </router-link>
                                        </td>
                                    </tr>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="7" style="text-align: center;">Проекты не найдены</td>
                                    </tr>
                                </template>
                            </template>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane" id="other">
                <div class="box">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Проект</th>
                            <th>Город</th>
                            <th>Ответственный внедренец</th>
                            <th>Тип обращения</th>
                            <th>Комментарий</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                task_ar: [],
                frequency_ar: [],
                close_ar: [],
                request_ar: [],
                search_contact: '',
                search: '',
                quality_ar: [],
                status: {
                    id: 1
                }
            }
        },
        mounted() {
            this.getTask()
            this.getFrequency()
            this.getClose()
            this.getQuality()
            this.getRequest()
        },
        computed: {
            Task_arByTitle() {
                return this.task_ar.filter(item => item.client.name.indexOf(this.search_contact) !== -1)
            },
            Quality_arByTitle() {
                return this.quality_ar.filter(item => item.client_name.indexOf(this.search) !== -1)
            },
        },
        methods: {
            getTask() {
                axios
                .get('/manager/getTask')
                .then(response => {
                    this.task_ar = response.data
                    
                })
            },
            getFrequency() {
                axios
                .get('/manager/getFrequency')
                .then(response => {
                    this.frequency_ar = response.data
                })
            },
            getClose() {
                axios
                .get('/manager/getClose')
                .then(response => {
                    this.close_ar = response.data
                })
            },
            getQuality() {
                axios
                .get('/manager/getQuality')
                .then(response => {
                    console.log(response.data)
                    this.quality_ar = response.data
                })
            },
            getRequest() {
                axios
                .get('/manager/getRequest')
                .then(response => {
                    console.log(response.data)
                    this.request_ar = response.data
                })
            },
            filterRequest(param) {
                var postBody = {
                    param: param,
                }
                axios
                .post('/manager/getRequestFilter', {'data': JSON.stringify(postBody)})
                .then(response => {
                    this.request_ar = response.data
                })
            }
        }
    }
</script>