<template>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="">
                    <table>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Клиент</td>
                            <td>{{client.name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Проект</td>
                            <td>{{project.name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Контактное лицо</td>
                            <td>{{main_contact.first_name}} {{main_contact.last_name}} / Тел: {{main_contact.phone}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Специалист по внедрению</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Комментарий от директора</td>
                            <td><span v-html="comment_close"></span></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">История коментариев</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="overflow-y: auto;height: 200px;">
                    <template v-if="Comments.length > 0">
                        <div class="post" v-for="(item, index) in Comments">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">
                                <span class="username">
                                    <a href="#">{{item.user_name}} {{item.user_surname}}</a>
                                    <template v-if="item.autor == true">
                                        <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>
                                        <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>
                                    </template>
                                </span>
                                <template v-if="item.for_client == 1">
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>
                                </template>
                                <template v-else>
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>
                                </template>
                            </div>
                            <!-- /.user-block -->
                            <div :id="'comment_'+item.id">
                                <span v-html="item.text"></span>
                            </div>
                            <!--<ul class="list-inline">
                                <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            </ul>

                            <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
                        </div>
                    </template>
                    <template v-else>
                        <div class="post">
                            <p style="text-align: center">Коментарии отсутствуют</p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12">
            <div style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">
                <router-link :to="'/manager/project/edit/'+project.id">Информация о проекте</router-link>
            </div>
            <div class="wall_form" id="popup_message_form" style="margin-bottom: 20px;">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Результат</h3>
                    </div>
                    <div class="content">
                        <form>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" v-model="optionsRadios1" :value="{id: 1}">
                                <label for="optionsRadios1">
                                    <h4 style="color: #3c8dbc;">Недозвон</h4>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" v-model="optionsRadios1" :value="{id: 2}">
                                <label for="optionsRadios2">
                                    <h4 style="color: #3c8dbc;">Дали обратную связь</h4>
                                </label>
                            </div>
                            <div id="collapseTwo" v-if="optionsRadios1.id == 2">
                                <div class="box-body">
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td style="width: 40%; vertical-align: middle;">Можно закрыть проект?</td>
                                            <td style="width: 10%;">
                                                <input type="radio" name="closeProject" v-model="closeProject" id="yes" :value="{id: 1}">
                                                <label for="yes">
                                                    <h4 style="color: #3c8dbc;">Да</h4>
                                                </label>
                                            </td>
                                            <td>
                                                <input type="radio" name="closeProject" v-model="closeProject" id="no" :value="{id: 2}">
                                                <label for="no">
                                                    <h4 style="color: #3c8dbc;">Нет</h4>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"><b>Показатели</b></td>
                                        </tr>
                                        <tr v-for="(item, index) in close_question">
                                            <td>{{item.question}}</td>
                                            <td colspan="2"><input type="text" v-model="item.answer" class="form-control"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 style="color: #3c8dbc;">*Комментарий</h4>
                            </div>
                            <textarea name="comment" v-model="comment" cols="100" rows="10"></textarea>

                            <div class="form-group" style="margin-top: 10px;">
                                <input type="button" v-on:click="save()" value="Сохранить" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                client: {},
                project: {},
                user: {},
                main_contact: {},
                comment_close: null,
                Comments: [],
                optionsRadios1: {
                    id: null
                },
                close_question: [],
                comment: null,
                closeProject: {
                    id: null
                },
                Answer: [{
                    'q_id': null,
                    'answer': null
                }]
            }
        },
        mounted() {
            this.getProject()
        },
        methods: {
            getProject() {
                axios
                .get('/manager/getCloseProject/'+this.$route.params.id)
                .then(response => {
                    console.log(response.data)
                    this.client = response.data.client
                    this.project = response.data.project
                    this.user = response.data.user
                    this.main_contact = response.data.main_contact
                    this.comment_close = response.data.comment_close
                    this.Comments = response.data.comments
                    for (var i=0; i < response.data.close_question.length; i++) {
                        this.close_question.push({
                            'question': response.data.close_question[i].question,
                            'q_id': response.data.close_question[i].id,
                            'answer': null
                        })
                    }
                })
            },
            save() {
                if (this.optionsRadios1.id == null) {
                    alert('Укажите результат');
                    return
                }
                if (this.comment == null) {
                    alert('Укажите комментарий');
                    return
                }
                if (this.optionsRadios1.id == 1) {
                    var postBody = {
                        optionsRadios: this.optionsRadios1.id,
                        comment: this.comment
                    }
                }
                if (this.optionsRadios1.id == 2) {
                    var postBody = {
                        id: this.$route.params.id,
                        optionsRadios: this.optionsRadios1.id,
                        comment: this.comment,
                        closeProject: this.closeProject.id,
                        close: this.close_question
                    }
                }

                axios
                .post('/manager/close/edit/'+this.$route.params.id, {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/manager/calls')
                    };
                })

            }
        }
    }
</script>