<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li :class="getClass('contact')"><a v-on:click="onTabChanged('contact')" aria-expanded="false" data-toggle="tab" href="#contact">Договориться на контакт
                <span class="badge bg-light-blue">{{contactCount}}</span></a></li>
            <li :class="getClass('callback')"><a v-on:click="onTabChanged('callback')" href="#callback" data-toggle="tab" aria-expanded="false">Взять обратную связь
                <span class="badge bg-light-blue">{{callbackCount}}</span></a></li>
<!--            <li class=""><a href="#other" data-toggle="tab" aria-expanded="false">Другая причина</a></li>-->

        </ul>

        <div class="tab-content">
            <div :class="'tab-pane ' + getClass('contact')" id="contact">
                <SearchTable :url="'calls_contact'" :set-count="(c)=>this.contactCount = c"/>
            </div>
            <div :class="'tab-pane ' + getClass('callback')" id="callback">
                <SearchTable :url="'calls_callback'" :set-count="(c)=>this.callbackCount = c"/>
            </div>
<!--            <div class="tab-pane active" id="other">-->
<!--                <SearchTable :url="'calls_other'"/>-->
<!--            </div>-->
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    import SearchTable from "../SearchTable";

    export default {
        components: {SearchTable},
        data(){
            return {
                activeTab: 'contact',
                contactCount: 0,
                callbackCount: 0
            }
        },
        created(){
            let active = sessionStorage.getItem('calls.tab');
            this.activeTab = active ? active : 'contact';
        },
        methods: {
            onTabChanged(value){
                sessionStorage.setItem('calls.tab', value)
            },
            getClass(name){
                return name === this.activeTab ? 'active' : '';
            }
        }
    }
</script>