<template>
    <div class="col-md-12">
        <div class="box" style="padding: 10px;">
            <form novalidate class="form-horizontal" id="formNewClient" action="#" method="post" @submit.prevent="formSubmit">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputNameClient" class="col-sm-2 control-label">Наименование клиента</label>
                        <div class="col-sm-6">
                            <input v-model="name" type="text" class="form-control" name="name_client" id="inputNameClient">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNameClient" class="col-sm-2 control-label">Город</label>
                        <div class="col-sm-6">
                            <v-select :options="Cities" :reduce="c => c.id" v-model="city_id" label="name"></v-select>
<!--                            <select v-model="city"-->
<!--                                    name="client_city"-->
<!--                                    id=""-->
<!--                                    class="form-control"-->
<!--                                    style="width: 100%;" tabindex="-1" aria-hidden="true"-->
<!--                                    v-on:change="create()"-->
<!--                            >-->
<!--                                <template v-if="Cities_count != null">-->
<!--                                    <template v-for="(item, index) in Cities">-->
<!--                                        <option v-bind:value="{id: item.id}">{{item.name}}</option>-->
<!--                                    </template>-->
<!--                                </template>-->
<!--                                <template v-else>-->
<!--                                    <option>Города отсутсвуют</option>-->
<!--                                </template>-->
<!--                            </select>-->
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4">
                                <a v-on:click="showFilial()" class="btn btn-primary">Филиалы</a>
                            </div>
                        </div>
                    </div>
                    <div class="box" id="filial" v-if="showFilialBlock">
                        <div class="box-header">
                            <h3 class="box-title">Филиалы</h3>
                        </div>
                        <div class="box-body">
                            <form action="" id="form-filial">
                                <table class="table" id="tableContact">
                                    <thead>
                                    <tr>
                                        <th>Наименование</th>
                                        <th>Город</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="new_filial"></tr>
                                    <tr>
                                        <td width="40%">
                                            <input type="text" class="form-control" id="filial_name" name="filial_name">
                                            <label for="filial_name" id="filial_name_error" style="color: #ff340d; display: none;"></label>
                                        </td>
                                        <td width="40%">
                                            <select name="filial_city" id="filial_city" class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">

                                            </select>
                                        </td>
                                        <td width="40%">
                                            <a onclick="addFilial()" style="cursor: pointer;" class="btn btn-success">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Контакты</h3>
                        </div>
                        <table class="table" id="tableContact">
                            <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя*</th>
                                <th>Отчество</th>
                                <th>Должность*</th>
                                <th>Телефон*</th>
                                <th>Email</th>
                                <th colspan="2">Действия</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template v-if="Contacts_ar.length > 0">
                                <tr v-for="(item, index) in Contacts_ar">
                                    <template v-if="editIndex != index">
                                        <td>{{item.contact_surname}}</td>
                                        <td>{{item.contact_name}}</td>
                                        <td>{{item.contact_patronymic}}</td>
                                        <td>{{item.contact_post}}</td>
                                        <td>{{item.contact_phone}}</td>
                                        <td>{{item.contact_email}}</td>
                                        <td><a v-on:click="editContact(index)" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                                        <td><a v-on:click="delContact(index)" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
                                    </template>
                                    <template v-else>
                                        <td><input type="text" v-model="newC.contact_surname" class="form-control"></td>
                                        <td><input type="text" v-model="newC.contact_name" class="form-control"></td>
                                        <td><input type="text" v-model="newC.contact_patronymic" class="form-control"></td>
                                        <td>
                                            <select v-model="newC.contact_post" class="form-control contact_post" name="contact_post">
                                                <template v-for="(item, index) in Posts">
                                                    <option :key="item.id" :value="item.name">{{item.name}}</option>
                                                </template>
                                            </select>
                                        </td>
                                        <td><input type="text" v-model="newC.contact_phone" class="form-control"></td>
                                        <td><input type="text" v-model="newC.contact_email" class="form-control"></td>
                                        <td><a v-on:click="editSave(index)" class="btn btn-success"><i class="fa fa-check"></i></a></td>
                                        <td><a v-on:click="editCancel(index)" class="btn btn-danger"><i class="fa fa-ban"></i></a></td>
                                    </template>
                                </tr>
                            </template>
                            <template v-else>
                                <tr>
                                    <td colspan="7" style="text-align: center">Контакты еще не добавлены</td>
                                </tr>
                            </template>
                            <tr id="inputRow">
                                <td><input name="contact_surname" id="contact_surname" v-model="Contacts.contact_surname" type="text" class="form-control contact_surname" ></td>
                                <td>
                                    <input v-model="Contacts.contact_name" v-validate="'required|alpha'" :class="{'input': true, 'is-danger': errors.has('contact_name') }" name="contact_name" id="contact_name" type="text" class="form-control contact_name">
                                    <i v-show="errors.has('contact_name')" class="fa fa-warning"></i>
                                    <span v-show="errors.has('contact_name')" class="help is-danger">{{ errors.first('contact_name') }}</span>
                                </td>
                                <td><input v-model="Contacts.contact_patronymic" name="contact_patronymic" type="text" class="form-control contact_patronymic" ></td>
                                <td>
                                    <select v-validate="'required|alpha'"  v-model="Contacts.contact_post" :class="{'is-danger': errors.has('contact_post') }"  class="form-control contact_post" name="contact_post">
                                        <template v-for="(item, index) in Posts">
                                            <option :key="item.id" :value="item.name">{{item.name}}</option>
                                        </template>
                                    </select>
                                    <i v-show="errors.has('contact_post')" class="fa fa-warning"></i>
                                    <span v-show="errors.has('contact_post')" class="help is-danger">{{ errors.first('contact_post') }}</span>
                                </td>
                                <td>
                                    <input v-model="Contacts.contact_phone" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('contact_phone') }" name="contact_phone" id="contact_phone" type="text" class="form-control contact_phone" placeholder="7(999) 999-9999">
                                    <i v-show="errors.has('contact_phone')" class="fa fa-warning"></i>
                                    <span v-show="errors.has('contact_phone')" class="help is-danger">{{ errors.first('contact_phone') }}</span>
                                </td>
                                <td><input v-model="Contacts.contact_email" name="contact_email" type="email" class="form-control contact_email" placeholder="email@site.ru" ></td>
                                <td></td>
                                <td>
                                    <a v-on:click="validateBeforeSubmit()" class="btn btn-success">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="input-group">
                        <input type="submit" value="Сохранить" class="btn btn-primary">
                        <router-link to="/manager/projects/add" class="btn btn-default">Отмена</router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
    export default {
        props:['Select2'],
        data() {
            return {
                Cities: null,
                Posts: null,
                Cities_count: null,
                showFilialBlock: false,
                name: '',
                city: '',
                editFlag: false,
                city_id: '',
                Contacts_ar: [],
                newC: {},
                editIndex: null,
                Contacts: {
                    contact_name: '',
                    contact_phone: '',
                    contact_surname: null,
                    contact_email: '',
                    contact_patronymic: '',
                    contact_post: null,
                },
                Contacts_list_count: null,
            }
        },
        created() {
            this.getCitites(),
            this.getPosts()
        },
        methods: {
            getCitites() {
                axios
                .get('/manager/citys/getCities')
                .then(response => {
                    this.Cities = response.data;
                    this.Cities_count = response.data.length
                })
            },
            create() {
                this.city_id = this.city.id;
            },
            showFilial() {
                this.showFilialBlock = !this.showFilialBlock
            },
            delContact(index) {
                if (confirm('Вы действительно хотите удалить контакт?')){
                    this.Contacts_ar.splice(index, 1)
                }
            },
            editContact(index) {
                // console.log(this.Contacts_ar[index])
                this.newC = {...this.Contacts_ar[index]}
                // this.editFlag = true
                this.editIndex = index
            },
            editCancel(index) {
                this.newC = {}
                // console.log(this.Contacts_ar[index])
                // this.editFlag = false
                this.editIndex = null
            },
            editSave(index){
                this.Contacts_ar[index] = {...this.newC}
                this.editCancel(index)
            },
            getPosts() {
                axios
                .get('/manager/posts/getPosts')
                .then(response => {
                    this.Posts = response.data
                })
            },
            formSubmit() {
                if (this.name == '') {
                    alert('Укажите название проекта');
                    return
                }
                if (this.Contacts_ar.length == 0) {
                    alert('Контакты не заполнены');
                    return
                };
                if (this.city_id == '') {
                    alert("Выберите город");
                    return
                };
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    project_name: this.name,
                    contacts_ar: this.Contacts_ar,
                    city_id: this.city_id
                }
                axios
                .post('/manager/clients/add', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/manager/projects/add')
                    };
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        var Contacts_list = {
                            contact_name: this.Contacts.contact_name,
                            contact_phone: this.Contacts.contact_phone,
                            contact_surname: this.Contacts.contact_surname,
                            contact_email: this.Contacts.contact_email,
                            contact_patronymic: this.Contacts.contact_patronymic,
                            contact_post: this.Contacts.contact_post,
                        }
                        this.Contacts_ar.push(Contacts_list)
                        this.Contacts = {
                            contact_name: '',
                            contact_phone: '',
                            contact_surname: null,
                            contact_email: '',
                            contact_patronymic: '',
                            contact_post: null,
                        }
                        this.$validator.reset();
                        this.Contacts_list.contact_name = null;
                        return true;
                    }
                });
            }
        }
    }
</script>