<template>
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Статусы задач</h4>
                </div>
                <div class="box-body">
                    <!-- the events -->
                    <div id="external-events">
                        <div class="external-event bg-green ui-draggable ui-draggable-handle" style="position: relative;">Новая задача</div>
                        <div class="external-event bg-yellow ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена</div>
                        <div class="external-event bg-aqua ui-draggable ui-draggable-handle" style="position: relative;">Задача выполнена частично</div>
                        <div class="external-event bg-red ui-draggable ui-draggable-handle" style="position: relative;">Задача в клиентском отделе</div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <input type="button" id="add" class="btn btn-success" style="width: 100%;" v-on:click="showModal()" value="Добавить событие">
                </div>
                <!-- /.box-body -->
            </div>
            <Modal
                    v-show="isModalVisible"
                    @close="closeModal"
                    :date2="date"
                    :time2="time"
                    :curClient="curClient"
                    :curProject="curProject"
                    :curModule="curModule"
                    :curNumCont="curNumCont"
                    :curGroupTask="curGroupTask"
                    :Res="Res"
                    :time3="time3"
                    :comment="comment"
                    :curTask="curTask"
                    :myEvent="evn"
                    :implementer="implementer"
            />
            <Modal2
                    v-show="isModal2Visible"
            />
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">Внедренцы</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <div class="radio" v-for="item in implementers">
                            <label v-if="curUser == item.id">
                                <input type="radio" checked="true" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                            <label v-else>
                                <input type="radio" @click="getEvents(item.id)" name="optionsRadios">
                                {{ item.first_name }} {{ item.last_name }}
                            </label>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!--<a href="" class="btn btn-primary">Создать задачу</a>-->
            <!-- /. box -->
        </div>
        <div class="col-md-9">
            <full-calendar :config="config" :events="events" @day-click="dayClick"/>
            <!-- /. box -->
        </div>
        <ContextMenu :config="curevent" :date="date" :implementer="implementer"></ContextMenu>
        <!-- /.col -->
        <div id="tooltip"></div>
    </div>
</template>

<script>
    document.oncontextmenu = function (){return false};

    import moment from 'moment'
    import Modal from '../Modal.vue';
    import Modal2 from '../Modal2.vue';
    // import VueSocketio from 'vue-socket.io';

    import ContextMenu from '../ContextMenu.vue';

    export default {
        components: {
            Modal,
            ContextMenu,
            Modal2,
            // VueSocketio
        },
        data() {
            return {
                implementers: null,
                events: null,
                curevent: null,
                curUser: this.$route.params.id,
                isModalVisible: false,
                isModal2Visible: false,
                date: null,
                date3: null,
                time: null,
                time2: null,
                flag: false,
                implementer: null,
                clickDay: '',
                contextMenuWidth: null,
                contextMenuHeight: null,
                config: {
                    firstDay: 1,
                    locale: 'ru',
                    editable: true,
                    slotLabelFormat: "H:mm",
                    defaultDate: this.$route.params.date,
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaDay, agendaWeek, month'
                    },
                    slotDuration: '00:15:00',
                    height: 650,
                    allDaySlot: false,
                    monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
                    monthNamesShort: ['Янв.','Фев.','Март','Апр.','Май','Июнь','Июль','Авг.','Сент.','Окт.','Ноя.','Дек.'],
                    dayNames: ["Воскресенье","Понедельник","Вторник","Среда","Четверг","Пятница","Суббота"],
                    dayNamesShort: ["ВС","ПН","ВТ","СР","ЧТ","ПТ","СБ"],
                    buttonText: {
                        today: "Сегодня",
                        month: "Месяц",
                        week: "Неделя",
                        day: "День"
                    },
                    defaultView: 'agendaDay',
                    minTime: "09:00:00",
                    // dayClick: function(date, jsEvent, view) {
                    //     $('#add').trigger('click');
                    // }
                    eventRender: function(event, element, view)
                    {
                        var elemento = element;
                        var evento = event;
                        var vista = view;

                        this.curevent = event

                        element.on('contextmenu',{
                            elemento:elemento,
                            evento:evento,
                            vista:vista,
                            imp: this.implementer
                        } , this.showContextMenu);

                        // function HelloWorld(event){
                        //     console.log(t.flag);
                        //     // Убираем css класс selected-html-element у абсолютно всех элементов на странице с помощью селектора "*":
                        //     $('*').removeClass('selected-html-element');
                        //     // Удаляем предыдущие вызванное контекстное меню:
                        //     $('.context-menu').remove();
                        //
                        //     if(event.which == 3){
                        //         // Получаем элемент на котором был совершен клик:
                        //         var target = $(event.target);
                        //
                        //         // Добавляем класс selected-html-element что бы наглядно показать на чем именно мы кликнули (исключительно для тестирования):
                        //         target.addClass('selected-html-element');
                        //
                        //         // Создаем меню:
                        //         $('<div/>', {
                        //             class: 'context-menu' // Присваиваем блоку наш css класс контекстного меню:
                        //         })
                        //         .css({
                        //             left: event.pageX+'px', // Задаем позицию меню на X
                        //             top: event.pageY+'px' // Задаем позицию меню по Y
                        //         })
                        //         .appendTo('body') // Присоединяем наше меню к body документа:
                        //         .append( // Добавляем пункты меню:
                        //             $('<ul/>')
                        //                 .append('<li><a :onclick="t.changeImp()" href="javascript:void(0)">Сменить внедренца</a></li>')
                        //                 .append('<li><a href="javascript:void(0)">Изменить</a></li>')
                        //                 .append('<li><a href="javascript:void(0)">Удалить</a></li>')
                        //         )
                        //         .show('fast');
                        //     }
                        // }
                    }.bind(this),
                    eventMouseover: function(event, jsEvent, view) {
                        
                        var data_tooltip = 'Постановщик: '+event.extendedProps+', дата постановки: ';
                        $("#tooltip").text(event.extendedProps)
                                    .css({ 
                                        "top" : jsEvent.pageY + 5,
                                        "left" : jsEvent.pageX + 5
                                    })
                                    .show();
                    },
                    eventMouseout: function(event, jsEvent, view) {
                        $("#tooltip").hide()
                                    .text("")
                                    .css({
                                        "top" : 0,
                                        "left" : 0
                                    });
                    },
                    eventDrop: function(event, delta, revertFunc) {
                        console.log(event);
                        if (!confirm("Вы уверены что хотите перенести контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                start: event.start.format(),
                                end: event.end.format()
                            }
                            axios
                            .post('/manager/tasks/settask', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                console.log(response.data)
                            })
                        }
                    },
                    eventClick(event, jssEvent, view) {
                        document.getElementById("context-menu").classList.remove('active');
                    },
                    eventResize: function(event, delta, revertFunc) {
                        if (!confirm("Продлить контакт?")) {
                            revertFunc();
                        } else {
                            var postBody = {
                                id: event.id,
                                end: event.end.format()
                            }
                            axios
                            .post('/manager/tasks/edittask', {'data': JSON.stringify(postBody)})
                            .then(response => {
                                console.log(response.data)
                            })
                        }

                    }
                }
            }
        },
        // sockets:{
        //     connect: function(){
        //         console.log('socket connected')
        //     },
        //     customEmit: function(val){
        //         console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
        //     }
        // },
        created() {
            this.getImplementer()
            this.getCurEvents()
            // this.$socket.on('impEvent:add', function (data) {
            //     this.events = JSON.parse(data.events)
            // }.bind(this));
        },
        methods: {
            showContextMenu(event) {
                this.curevent = event.data
                this.date3 = this.$route.params.date
                var menu = document.getElementById("context-menu");
                if(!this.contextMenuWidth || !this.contextMenuHeight) {
                    menu.style.visibility = "hidden";
                    menu.style.display = "block";
                    this.contextMenuWidth = menu.offsetWidth;
                    this.contextMenuHeight = menu.offsetHeight;
                    menu.removeAttribute("style");
                }

                if((this.contextMenuWidth + event.pageX) >= window.innerWidth) {
                    menu.style.left = (event.pageX - this.contextMenuWidth) + "px";
                } else {
                    menu.style.left = event.pageX + "px";
                }

                if((this.contextMenuHeight + event.pageY) >= window.innerHeight) {
                    menu.style.top = (event.pageY - this.contextMenuHeight) + "px";
                } else {
                    menu.style.top = event.pageY + "px";
                }

                menu.classList.add('active');
            },
            showModal() {
                this.date = ''
                this.time = ''
                this.isModalVisible = true;
            },
            closeModal() {
                this.isModalVisible = false;
            },
            changeImp() {
                console.log('Ok');
            },
            dayClick(date, jsEvent, view) {
                document.getElementById("context-menu").classList.remove('active')
                var date_ar = date.format().split('T')
                this.date = date_ar[0]
                this.time = date_ar[1]
                this.time2 = date.add(1,'hours').format('HH:mm:ss')
                this.isModalVisible = true;
            },
            getCurEvents() {
                axios
                .get('/manager/tasks/gettasks/'+this.$route.params.id)
                .then(response => {
                    this.implementer = this.$route.params.id
                    this.events = response.data
                })
            },
            getImplementer() {
                axios
                .get('/manager/get-all-implementer')
                .then(response => {
                    //console.log(response.data)
                    this.implementers = response.data;
                })
            },
            getEvents(id) {
                this.implementer = id
                axios
                .get('/manager/tasks/gettasks/'+id)
                .then(response => {
                    this.events = response.data
                })
            }
        }
    }
</script>
<style>
    #tooltip {
        z-index: 9999;
        position: absolute;
        display: none;
        top:0px;
        left:0px;
        background-color: #000;
        padding: 5px 10px 5px 10px;
        color: white;
        opacity: 0.6;
        border-radius: 5px; 
    }
    .modal {
        overflow-y: auto !important;
    }
    .show-menu,
    .menu-item:hover > .menu {
        opacity: 1;
        -webkit-transform: translate(0, 0) scale(1);
        transform: translate(0, 0) scale(1);
        pointer-events: auto;
    }
    .context-menu {
        position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
        display: none; /* Изначально не показываем его */
        background-color: #fff; /* Цвет фона меню */
        border: 1px solid #333; /* Граница */

        /* Немного красивостей. Добавляем тень для нашего меню, что бы отобразить его слегка выше остальных элементов страницы: */
        -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Firefox */
        -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
        box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Параметры тени */
    }

    /* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
    .context-menu ul { list-style: none; margin: 0; padding: 0; }

    .context-menu ul li { margin: 0; padding: 0; background-color: #fff; display: block; }

    /* Стили для ссылок пунктов меню: */
    .context-menu ul li a { color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }

    .context-menu ul li a:hover { background-color: #eee; }
</style>