<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Добавление формы</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form>
                        <div class="form-group">
                            <label for="inputNameClient" class="col-sm-2 control-label">Клиент</label>
                            <div class="col-sm-12">
                                <select id="inputNameClient" class="form-control">
                                    <option v-for="(item, index) in clients" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputProject" class="col-sm-2 control-label">Проект</label>
                            <div class="col-sm-12">
                                <select id="inputProject" class="form-control">
                                    <option v-for="(item, index) in projects" :value="item.id">{{item.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputTask" class="col-sm-2 control-label">Название задачи</label>
                            <div class="col-sm-12">
                                <input type="text" id="inputTask" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputPayment" class="col-sm-2 control-label">Платно?</label>
                                <div class="col-sm-12">
                                    <input name="type" id="work" type="radio">
                                    <label for="work" style="margin-right: 20px;">
                                        <h4 style="color: #3c8dbc;">Да</h4>
                                    </label>
                                    <input name="type" id="close" type="radio">
                                    <label for="close">
                                        <h4 style="color: #3c8dbc;">Нет</h4>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="inputStatus" class="col-sm-2 control-label">Статус</label>
                                <div class="col-sm-12">
                                    <select id="inputStatus" class="form-control">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputFile" class="col-sm-12 control-label">Файл</label>
                            <div class="col-sm-12">
                                <div id="my-strictly-unique-vue-upload-multiple-image" style="display: flex; justify-content: center;">
                                    <vue-upload-multiple-image
                                            @upload-success="uploadImageSuccess"
                                            @before-remove="beforeRemove"
                                            @edit-image="editImage"
                                            @data-change="dataChange"
                                            :data-images="images"
                                    ></vue-upload-multiple-image>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputComent" class="col-sm-12 control-label">Коментарий</label>
                            <div class="col-sm-12">
                                <textarea id="inputComent" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="box-header with-border">
                    <input type="button" class="btn btn-success" value="Сохранить">
                    <router-link to="/manager/forms" class="btn btn-default">Отмена</router-link>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import VueUploadMultipleImage from 'vue-upload-multiple-image'
    export default {
        data() {
            return {
                clients: [],
                projects: [],
                images: []
            }
        },
        components: {
            VueUploadMultipleImage
        },
        methods: {
            uploadImageSuccess(formData, index, fileList) {
                console.log('data', formData, index, fileList)
                // Upload image api
                // axios.post('http://your-url-upload', { data: formData }).then(response => {
                //   console.log(response)
                // })
            },
            beforeRemove (index, done, fileList) {
                console.log('index', index, fileList)
                var r = confirm("remove image")
                if (r == true) {
                    done()
                } else {
                }
            },
            editImage (formData, index, fileList) {
                console.log('edit data', formData, index, fileList)
            },
            dataChange (data) {
                console.log(data)
            }
        }
    }
</script>
<style>
    #my-strictly-unique-vue-upload-multiple-image {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
