<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#raw" data-toggle="tab" aria-expanded="true">Очередь
                <span data-toggle="tooltip" v-if="form.length > 0" title="" class="badge bg-light-blue" data-original-title=""></span>
            </a></li>
            <li><a href="#pay" data-toggle="tab" aria-expanded="false">Ждут оплаты
                <span data-toggle="tooltip" v-if="pay.length > 0" title="" class="badge bg-light-blue" data-original-title="">{{pay.length}}</span>    
            </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="raw">
                <div class="pull-right" style="margin-bottom: 15px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="raw_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="raw_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="overflow: hidden;">
                    <table class="table table-hover" id="tableRawForms">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle;">Заказчик</th>
                            <th style="vertical-align: middle;">Проект</th>
                            <th style="vertical-align: middle;">Наименование работы</th>
                            <th style="vertical-align: middle;">Статус</th>
                            <th style="vertical-align: middle;">Внедренец</th>
                            <th style="vertical-align: middle;" colspan="1">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="6" style="text-align: center">
                                <i>Очередь пуста</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <div class="tab-pane" id="pay">
                <div class="pull-right" style="margin-bottom: 15px;">
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="raw_form_input" class="form-control pull-right" placeholder="Поиск">

                            <div class="input-group-btn">
                                <button onclick="raw_form_search();" type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box" style="overflow: hidden;">
                    <table class="table table-hover" id="tableRawForms">
                        <thead>
                        <tr>
                            <th style="vertical-align: middle;">Заказчик</th>
                            <th style="vertical-align: middle;">Проект</th>
                            <th style="vertical-align: middle;">Наименование работы</th>
                            <th style="vertical-align: middle;">Внедренец</th>
                            <th style="vertical-align: middle;" colspan="1">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="pay.length > 0" v-for="(item, index) in pay">
                            <td>{{item.client}}</td>
                            <td>{{item.project}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.observer}}</td>
                            <td>
                                <router-link :to="'/manager/forms/pay/'+item.id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </router-link>
                            </td>
                        </tr>
                        <tr v-else>
                            <td colspan="6" style="text-align: center">
                                <i>Очередь пуста</i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                form: [],
                pay: []
            }
        },
        created() {
            this.getPay()
        },
        methods: {
            getPay() {
                axios
                .get('/manager/getPay') 
                .then(response => {
                    console.log(response.data)
                    this.pay = response.data
                })
            }
        },
    }
</script>