<template>
    <ul class="sidebar-menu">
        <li class="header">Основное меню</li>

        <li>
            <router-link to="/manager">
                <i class="fa fa-dashboard"></i> <span>Панель управления</span>
            </router-link>
        </li>
        <li>
            <router-link to="/manager/projects">
                <i class="fa fa-folder"></i> <span>Мои проекты</span>
                <span v-if="Projects != null" class="pull-right-container">
                    <small class="label pull-right bg-red">{{Projects}}</small>
                </span>
            </router-link>
        </li>
        <li>
            <router-link to="/manager/calls">
                <i class="fa fa-phone"></i> <span>Клиенты на обзвон</span>
            </router-link>
        </li>
        <li>
            <router-link to="/manager/forms">
                <i class="fa fa-files-o"></i> <span>Формы</span>
            </router-link>
        </li>
        <li>
            <router-link :to="'/manager/calendar/'+FirstImp+'/'+curDate">
                <i class="fa fa-calendar"></i> <span>Календарь</span>
            </router-link>
        </li> 
        <li>
            <router-link to="/manager/mail">
                <i class="fa fa-envelope"></i> <span>Почта</span>
            </router-link>
        </li> 
    </ul>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null,
                FirstImp: null,
                curDate: null
            }
        },
        sockets:{
            connect: function(){
                console.log('socket connected')
                // this.$socket.emit('join', 'private-message123');
            },
            customEmit: function(val){
                console.log('this method fired by socket server. eg: io.emit("customEmit", data)')
            }
        },
        mounted: function() {
            Notification.requestPermission(function(permission){
                this.perm = permission;
                console.log('Результат запроса прав:', permission);
            }.bind(this));
            this.sockets.subscribe('raw:add', function (data) {
                console.log(data);
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Распределение проекта', {
                        body: 'Проект '+data.project+' назначен на пользователя '+data.user,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('changeImp:add', function (data) {
                console.log(data);
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Смена внедренца в проекте', {
                        body: 'Проект '+data.project+' назначен на пользователя '+data.user,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
            this.sockets.subscribe('private-ImpCloseProject:ImpCloseProject', function (data) {
                this.$notify('text')
                this.count = this.count+1
                if (this.perm == 'granted') {
                    sendNotification('Закрытие проекта', {
                        body: 'Пользователь '+data.user+' закрыл проект '+data.project,
                        icon: 'https://stage.88003010373.ru/logo.png',
                        dir: 'auto'
                    });
                };
            }.bind(this));
        },
        created() {
            this.getProjects();
            this.getFirstImp();
        },
        methods: {
            getProjects() {
                axios
                .get('/manager/project/projects-count')
                .then(response => {
                    this.Projects = response.data
                })
            },
            getFirstImp() {
                axios
                .get('/manager/get-first-imp')
                .then(response => {
                    this.FirstImp = response.data.id
                    var myDate = new Date()
                    var month = ('0' + (myDate.getMonth() + 1)).slice(-2)
                    var date = ('0' + myDate.getDate()).slice(-2)
                    var year = myDate.getFullYear()
                    var formattedDate = year + '-' + month + '-' + date
                    this.curDate = formattedDate
                })
            }
        }
    }
</script>