<template>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Проекты</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="activity">

                <div class="box">
                    <div class="box-header">
                        <a href="" style="padding-right: 15px;">Спящие</a>
                        <a href="" style="padding-right: 15px;">Активные</a>
                        <a href="" style="padding-right: 15px;">Сегодня</a>
                        <a href="" style="padding-right: 15px;">Горящие</a>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" v-model="search" name="table_search" v-on:keyup.enter="projects_search()" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" v-on:click="projects_search()" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <a :href="'/manager/projects/add'" class="btn btn-primary">Добавить проект</a>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <!--<th>Название клиники</th>-->
                                <th>Название проекта</th>
                                <th>Внедренец</th>
                                <th>Предыдущий контакт</th>
                                <th>Следующий контакт</th>
                                <th>Город</th>
                                <th>Готовность</th>
                                <th>Активность</th>
                                <th>Дата начала</th>
                                <th>Планируемая дата окончания</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <template v-if="loading">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center" colspan="11"><img src="/images/loader.gif" style="width: 70%;" alt=""></td>
                                    </tr>
                                </tbody>
                            </template>
                            <tbody v-else>
                                
                                <template v-if="Projects != ''">
                                    
                                    <template v-for="(item, index) in Projects">
                                        <tr v-on:dblclick="dclick(item.id)" v-if="item.close ==1" style="text-decoration: line-through">
                                            <!--<td style="vertical-align: middle;">{{ item.client_name }}</td>-->
                                            <td style="vertical-align: middle;">{{ item.name }}</td>
                                            <template v-if="item.raw == 1">
                                                <td>Проект еще не обработан</td>
                                            </template>
                                            <template v-else>
                                                <td>{{item.imp.first_name}} {{item.imp.last_name}}</td>
                                            </template>
                                            <template v-if="item.prev_contact"> 
                                                <td style="vertical-align: middle;">{{ item.prev_contact }}</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">История контактов отсутствует</td>
                                            </template>
                                            <template v-if="item.next_contact">
                                                <td style="vertical-align: middle;">{{ item.next_contact }}</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">История контактов отсутствует</td>
                                            </template>
                                            <td style="vertical-align: middle;">{{ item.city }}</td>
                                            <td style="vertical-align: middle;">{{ item.done }} %</td>
                                            <td style="vertical-align: middle;">{{ item.active }} %</td>
                                            <template v-if="item.raw == 1">
                                                <td style="vertical-align: middle;" colspan="2">Проект еще не обработан</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">{{ item.start_date }}</td>
                                                <td style="vertical-align: middle;">{{ item.finish_date }}</td>
                                            </template>
                                            <td style="vertical-align: middle;">
                                                <a :href="'project/edit/'+item.id" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr v-on:dblclick="dclick(item.id)" v-else>
                                            <!--<td style="vertical-align: middle;">{{ item.client_name }}</td>-->
                                            <td style="vertical-align: middle;">{{ item.name }}</td>
                                            <template v-if="item.raw == 1">
                                                <td>Проект еще не обработан</td>
                                            </template>
                                            <template v-else>
                                                <td>{{item.imp.first_name}} {{item.imp.last_name}}</td>
                                            </template>
                                            <template v-if="item.prev_contact">
                                                <td style="vertical-align: middle;">{{ item.prev_contact }}</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">История контактов отсутствует</td>
                                            </template>
                                            <template v-if="item.next_contact">
                                                <td style="vertical-align: middle;">{{ item.next_contact }}</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">История контактов отсутствует</td>
                                            </template>
                                            <td style="vertical-align: middle;">{{ item.city }}</td>
                                            <td style="vertical-align: middle;">{{ item.done }} %</td>
                                            <td style="vertical-align: middle;">{{ item.active }} %</td>
                                            <template v-if="item.raw == 1">
                                                <td style="vertical-align: middle;" colspan="2">Проект еще не обработан</td>
                                            </template>
                                            <template v-else>
                                                <td style="vertical-align: middle;">{{ item.start_date }}</td>
                                                <td style="vertical-align: middle;">{{ item.finish_date }}</td>
                                            </template>
                                            <td style="vertical-align: middle;">
                                                <a :href="'project/edit/'+item.id" class="btn btn-primary">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </template>
                                </template>
                                <template v-else>
                                    <tr>
                                        <td colspan="9" style="text-align: center;">Проекты не найдены</td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div style="width: 100%">
                    <ul class="pagination pagination-sm float: left !important;">
                        <template v-if="page == 1">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">«</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getProjects(page-1)" style="cursor: pointer;">«</a></li>
                        </template>
                        <template v-for="i in countPages">
                        <li><a v-on:click="getProjects(i)" style="cursor: pointer;">{{i}}</a></li>
                        </template>
                        <template v-if="page == countPages">
                        <li><a href="#" style="cursor: pointer; cursor: not-allowed;">»</a></li>
                        </template>
                        <template v-else>
                        <li><a v-on:click="getProjects(page+1)" style="cursor: pointer;">»</a></li>
                        </template>
                    </ul>
                    <select v-model="countP" class="form-control" @change="changePageCount()" style = "width: 10%;display: inline-block;padding-left: 0;margin: 20px 0;border-radius: 4px;float: right;">
                        <option :value="{num: 10}">10</option>
                        <option :value="{num: 20}">20</option>
                        <option :value="{num: 50}">50</option>
                        <option :value="{num: 0}">Все</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</template>
<script>
    export default {
        data() {
            return {
                Projects: null,
                search: '',
                loading: true,
                page: 1,
                countP: {
                    num: 10
                },
                currentPage: 1,
                countProj: 0,
                t: [],
                countPages: 0
            }
        },
        created() {
            this.getProjects(this.currentPage)
        },
        computed: {
            
        },
        methods: {
            projects_search() {
                console.log(this.search);
                this.loading = true

                var postBody = {
                    search: this.search
                }

                axios
                .post('/manager/searchProjects', {'data': JSON.stringify(postBody)})
                .then(response => {
                    
                    this.Projects = response.data.projects
                    console.log(this.Projects) 
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    //this.raw_count = response.data.raw.length;
                }).finally(() => (
                    this.loading = false
                ))
            },
            changePageCount() {
                this.page = 1
                this.loading = true
                axios
                .get('/manager/getProjects?page='+1+'&count='+this.countP.num)
                .then(response => {
                    console.log(response.data.count)
                    
                    this.Projects = response.data.projects;
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    
                    // this.projects_count = response.data.projects.length;
                    // this.Project_task = response.data.project_task;
                    // hideSpinnerAnimation();

                    axios
                    .get('/manager/getProjects?page='+1+'&count='+0)
                    .then(response => {
                        this.Projects_all = response.data.projects;
                    })
                    .finally(() => (
                        this.loading = false
                    ))
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            getProjects(page) {
                this.page = page
                axios
                .get('/manager/getProjects?page='+page+'&count='+this.countP.num)
                .then(response => {
                    console.log(response.data)
                    this.Projects = response.data.projects
                    this.countProj = response.data.count
                    this.countPages = response.data.count_pages
                    this.raw_count = response.data.raw.length;
                })
                .finally(() => (
                    this.loading = false
                ))
            },
            dclick(id) {
                this.$router.push('project/edit/'+id);
            },
        }
    }
</script>