<template>
    <form action="#" method="post" @submit.prevent="formSubmit">
        <input type="hidden" name="_token" :value="csrf">
        <div class="row"> 
            <!-- Left col -->
            <div class="col-md-6">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body padding">
                        <div class="form-group">
                            <div class="col-md-10">
                                <label for="projectName">Наименование клиента</label>
                                <!-- <select name="client" v-model="Client" v-on:change="changeContact()" id="clientList" class="form-control" tabindex="-1" aria-hidden="true">
                                    <template v-if="Clients_count != null">
                                        <option v-for="(item, index) in Clients" v-bind:value="{id: item.id}">{{ item.name }}</option>
                                    </template>
                                    <template v-else>
                                        <option>Клиенты отсутствуют</option>
                                    </template>
                                </select> -->
                                <v-select :options="Clients" label="value" v-model="Client" @input="changeContact()"></v-select>
                            </div>
                            <div class="col-md-2">
                                <a href="/manager/projects/clients/add" class="btn btn-success" style="margin-top: 25px;"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="projectName">Название проекта</label>
                                <input v-model="Project_name" type="text" class="form-control" name="projectName">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body padding">
                        <div class="row">
                            <div class="form-group" style="margin-top: 10px;">
                                <div class="col-md-10">
                                    <label for="optionsRadios1">
                                        <h4 style="color: #3c8dbc;">Клиент выслал комплект наших документов нам обратно?</h4>
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <input type="checkbox" v-on:click="changeSend()" name="optionsRadios" id="optionsRadios1">
                                </div>
                            </div>
                        </div>
                        <template v-if="send">
                            <div class="row">
                                <div class="form-group" style="margin-top: 10px;">
                                    <div class="col-md-2">
                                        <input type="radio" v-on:click="setPostOfRussia()" name="transComp" id="PostOfRussia" value="PostOfRussia">
                                    </div>
                                    <div class="col-md-10">
                                        <label for="PostOfRussia">
                                            <h4 style="color: #3c8dbc;">Почта России</h4>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group" style="margin-top: 10px;">
                                    <div class="col-md-2">
                                        <input type="radio" v-on:click="setOtherCompany()" name="transComp" id="otherCompany" value="otherCompany">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="otherCompany">
                                            <h4 style="color: #3c8dbc;">Другая компания</h4>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <template v-if="Send_company == 'OtherCompany'">
                                    <div class="form-group" style="margin-top: 10px;">
                                        <div class="col-md-12">
                                            <label>Название компании</label>
                                            <div class="form-group">
                                                <input v-model="SendDocs_company" type="text" class="form-control" name="companyName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label>Идентификатор письма</label>
                                        <div class="form-group">
                                            <input v-model="SendDocs_number" type="text" class="form-control" name="MessageId">
                                        </div>
                                    </div>
                                </template>
                                <template v-if="Send_company == 'PostOfRussia'">
                                    <div class="col-md-12">
                                        <label>Идентификатор письма</label>
                                        <div class="form-group">
                                            <input type="text" v-model="SendDocs_number" class="form-control" name="MessageId">
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Контакты</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped" id="tableContacts">
                    <tbody><tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Должность</th>
                        <th>Телефон</th>
                        <th>E-mail</th>
                        <th>Ответственный за внедрение</th>
                        <th>Отправлять отчет на почту</th>
                        <th colspan="2">Действия</th>
                    </tr>
                    <template v-if="Project_contacts.length > 0">
                        <tr v-for="(item, index) in Project_contacts">
                            <template v-if="editContactIndex != index">
                                <td>{{item.last_name}}</td>
                                <td>{{item.first_name}}</td>
                                <td>{{item.patronymic}}</td>
                                <td>{{item.post}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.email}}</td>
                                <!-- <td v-if="item.main == null">Нет</td><td v-else>Да</td>
                                <td v-if="item.mail_rep == null">Нет</td><td v-else>Да</td> -->
                                <td><input type="checkbox" v-model="item.main"></td>
                                <td><input type="checkbox" v-model="item.mail_rep"></td>
                                <td> <a v-on:click="editContact(index)" class="btn btn-success"><i class="fa fa-pencil"></i></a></td>
                                <td> <a v-on:click="del_cont(item.id, index)" class="btn btn-danger" id="saveContact2">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </template>
                            <template v-else>
                                <td><input type="text" v-model="editingContact.last_name" class="form-control"></td>
                                <td><input type="text" v-model="editingContact.first_name" class="form-control"></td>
                                <td><input type="text" v-model="editingContact.patronymic" class="form-control"></td>
                                <td>
                                    <select v-model="editingContact.post" class="form-control contact_post" name="contact_post">
                                        <template v-for="(item, index) in Posts">
                                            <option :key="item.id" :value="item.name">{{item.name}}</option>
                                        </template>
                                    </select>
                                </td>
                                <td><input type="text" v-model="editingContact.phone" class="form-control"></td>
                                <td><input type="text" v-model="editingContact.email" class="form-control"></td>
                                <td><input type="checkbox" v-model="editingContact.main"></td>
                                <td><input type="checkbox" v-model="editingContact.mail_rep"></td>
                                <td><a v-on:click="editContactSave(index)" class="btn btn-success"><i class="fa fa-check"></i></a></td>
                                <td><a v-on:click="editContactCancel(index)" class="btn btn-danger"><i class="fa fa-ban"></i></a></td>
                            </template>
                        </tr>
                    </template>
                    <template v-else>
                        <tr>
                            <td colspan="9" style="text-align: center">Контакты отсутствуют</td>
                        </tr>
                    </template>
                    <tr id="contact_row"></tr>
                    <tr>
                        <td><input id="contact_surname" type="text" class="form-control" v-model="newLastName"></td>
                        <td>
                            <input id="contact_name" name="contact_name" v-validate="'required|alpha'" :class="{'input': true, 'is-danger': errors.has('contact_name') }" type="text" class="form-control" v-model="newFirstName">
                            <i v-show="errors.has('contact_name')" class="fa fa-warning"></i>
                            <span v-show="errors.has('contact_name')" class="help is-danger">{{ errors.first('contact_name') }}</span>
                        </td>
                        <td><input id="contact_patronymic" type="text" class="form-control" v-model="newPatronymic"></td>
                        <td>
                            <select class="form-control" id="contact_post" name="contact_post" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('contact_post') }" v-model="newPost">
                                <option v-for="(item, index) in Posts" :value="item.id">{{item.name}}</option>
                            </select>
                            <i v-show="errors.has('contact_post')" class="fa fa-warning"></i>
                            <span v-show="errors.has('contact_post')" class="help is-danger">{{ errors.first('contact_post') }}</span>
                        </td>
                        <td>
                            <input name="contact_phone" id="contact_phone" v-validate="'required|numeric'" :class="{'input': true, 'is-danger': errors.has('contact_phone') }" type="text" class="form-control" v-model="newPhone">
                            <i v-show="errors.has('contact_phone')" class="fa fa-warning"></i>
                            <span v-show="errors.has('contact_phone')" class="help is-danger">{{ errors.first('contact_phone') }}</span>
                        </td>
                        <td><input id="contact_email" type="text" class="form-control" v-model="newEmail"></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a v-on:click="addPost()" class="btn btn-primary" id="saveContact2">
                                <i class="fa fa-check"></i>
                            </a>
                        </td>
                    </tr></tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="row">
            <!-- Left col -->
            <div class="col-md-6">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <table>
                        <tr>
                            <td>
                                <div class="box-header">
                                    <h3 class="box-title">
                                        Модули
                                    </h3>
                                </div>
                            </td>
                            <td>
                                <select class="form-control" id="modules" v-model="Module">
                                    <option v-for="(item, index) in Modules" v-bind:value="{id: item.id, name: item.name}">{{item.name}}</option>
                                </select>
                            </td>
                            <td style="padding-left: 10px;">
                                <input v-model="Module_count" type="number" min="0" name="modules_num" id="modules_num" placeholder="Кол-во" class="form-control" >
                            </td>
                            <td style="padding-left: 10px;">
                                <a v-on:click="addModule()" class="btn btn-primary">Добавить</a>
                            </td>
                        </tr>
                    </table>
                    <!-- /.box-header -->
                    <div class="box-body padding">
                        <table class="table table-bordered table-striped" style="width: 100%" id="tableModule">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Кол-во модулей</th>
                                <th>Кол-во контактов</th>
                                <th>с учетом запаса</th>
                                <th>Кол-во форм/отчетов</th>
                                <th colspan="2">Действия</th>
                            </tr>
                            </thead>
                            <tbody v-if="Modules_ar.length > 0">
                            <tr v-for="(item, index) in Modules_ar">
                                <td>{{item.name}}</td>
                                <td>{{item.count}}</td>
                                <td>{{item.norm_contacts}}</td>
                                <td>{{item.number_contacts}}</td>
                                <td>{{item.ps_form}}</td>
                                <td><a class="btn btn-primary" v-on:click="update_norm(index)"><i class="fa fa-pencil"></i></a></td>
                                <td><a class="btn btn-danger" v-on:click="del_norm(index)"><i class="fa fa-trash"></i></a></td>
                            </tr>
                            <template v-if="update_flag">
                                <tr>
                                    <td colspan="6">
                                        <table style="width: 100%">
                                            <tr>
                                                <td colspan="2">Редактирование норм модуля <b>{{Update_module.name}}</b></td>
                                            </tr>
                                            <tr>
                                                <td>Количество модулей</td>
                                                <td><input  type="text" class="form-control" v-model="Update_module.count"></td>
                                            </tr>
                                            <tr>
                                                <td>Кол-во контактов</td>
                                                <td><input type="text" class="form-control" v-model="Update_module.norm_contacts"></td>
                                            </tr>
                                            <tr>
                                                <td>с учетом запаса</td>
                                                <td><input type="text" class="form-control" v-model="Update_module.number_contacts"></td>
                                            </tr>
                                            <tr>
                                                <td>Кол-во форм/отчетов	</td>
                                                <td><input v-model="Update_module.ps_form" type="text" class="form-control" ></td>
                                            </tr>
                                            <tr>
                                                <td><a v-on:click="cansel_update_norm()" class="btn btn-success">Свернуть</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                            <tbody v-else>
                            <tr>
                                <td colspan="6" style="text-align: center">Модули отсутствуют</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.col -->

            <div class="col-md-6">
                <!-- MAP & BOX PANE -->
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Документы по проекту</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body padding">
                        <div class="alert alert-danger alert-dismissible" id="error" style="display: none;">
                            <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                            <h4><i class="icon fa fa-ban"></i> Ошибка!</h4>
                            <span id="error-text"></span>
                        </div>
                        <table class="table table-bordered table-striped" style="width: 100%" id="tableModule">
                            <thead>
                            <tr>
                                <th>Тип документа</th>
                                <th>Документ</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tbody v-if="Documents != null">
                                <template v-for="(item, index) in Documents">
                                    <tr>
                                        <td>{{item.type}}</td>
                                        <td>{{item.name}}</td>
                                        <td>
                                            <a class="btn btn-danger" v-on:click="del_doc(index)"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                            <tbody v-else>
                            <tr>
                                <td colspan="4">Документы не найдены</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    Чек - лист
                </h3>
            </div>

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="alert alert-danger alert-dismissible" id="error" style="display: none;">
                    <!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
                    <h4><i class="icon fa fa-ban"></i> Ошибка!</h4>
                    <span id="error-text"></span>
                </div>
                <table class="table table-bordered table-striped" id="tableModule">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Вопрос</th>
                        <th>Ответ</th>
                    </tr>
                    </thead>
                    <tbody v-if="Checklist != null">
                    <tr v-for="(item, index) in Checklist">
                        <td>{{index+1}}</td>
                        <td>{{item.question}}</td>
                        <td><input type="text" :id="item.id" v-model="item.answer" name="check_answer[]" class="form-control"></td>
                    </tr>
                    </tbody>
                    <tbody v-else>
                    <tr>
                        <td colspan="3">Вопросы не найдены</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>

        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-success">
            <a href="/manager/projects" class="btn btn-default">Отмена</a>
        </div>
        
        <div class="full-screen" v-if="loading">
            <img src="/images/gif-loader.gif" alt="">
        </div>
    </form>
</template>
<script>
    // import Select2 from 'v-select2-component';
    export default {
        props:['Select2'],
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                Clients: null,
                Clients_count: null,
                Modules: null,
                Documents: null,
                Checklist: null,
                Send_company: null,
                SendDocs_company: null,
                SendDocs_number: null,
                Module: {
                    id: null,
                    name: null,
                },
                Client: {
                    id: null
                },
                SendDocs: {
                    company: null,
                    number: null,
                },
                Project_contacts: [],
                Module_count: null,
                Modules_ar: [],
                update_flag: false,
                Update_module: null,
                Update_module_index: null,
                New_count: null,
                New_norm_contacts: null,
                New_number_contacts: null,
                New_ps_form: null,
                send: false,
                Project_name: null,
                Posts: [],
                newPost: null,
                newLastName: '',
                newFirstName: '',
                newPatronymic: '',
                newPhone: '',
                newEmail: '',
                newMainCont: false,
                newMailRep: false,
                Contacts_ar: [],
                editContactIndex: null,
                editingContact: null,
                loading: false,
            }
        },
        created() {
            this.getClients()
            this.getPosts()
            this.getModules()
            this.getDocuments()
            this.getCheckList()
        },
        methods: {
            // formSubmit() {
            //     axios
            //     .post('/manager/projects/add')
            //     .then(response => {

            //     })
            // },
            getPosts() {
                axios
                .get('/manager/posts/getPosts')
                .then(response => {
                    // console.log(response.data);
                    this.Posts = response.data
                    // this.Clients_count = response.data.length
                })
            },
            addPost() {
                // console.log(this.Client);
                if (this.Client.code == null) {
                    alert('Выберите клиента');
                    return
                };
                if (this.newFirstName == '') {
                    alert('Укажите имя');
                    return
                };
                if (this.newPost == null) {
                    alert('Укажите должность');
                    return
                };
                if (this.newPhone == '') {
                    alert('Укажите телефон');
                    return
                };
                if (this.newEmail == '') {
                    alert('Укажите email');
                    return
                };

                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    newPost: this.newPost,
                    newLastName: this.newLastName,
                    newFirstName: this.newFirstName,
                    newPatronymic: this.newPatronymic,
                    newPhone: this.newPhone,
                    newEmail: this.newEmail,
                    newMainCont: this.newMainCont,
                    newMailRep: this.newMailRep,
                    client: this.Client.code
                }

                axios
                .post('/manager/contact/add', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status = 'Ok') {
                        // this.changeContact()
                        this.Project_contacts.push(response.data.contact);
                        this.newPost = ''
                        this.newLastName = ''
                        this.newFirstName = ''
                        this.newPatronymic = ''
                        this.newPhone = ''
                        this.newEmail = ''
                        this.$validator.reset();
                    }
                })
            },
            del_cont(id,index) {
                console.log(id);
                if (confirm('Вы действительно хотите удалить контакт?')) {
                    var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                        id: id,
                    }

                    axios
                        .post('/manager/contact/del', {'data': JSON.stringify(postBody)})
                        .then(response => {
                            if (response.data.status == 'Ok'){
                                this.Project_contacts.splice(index, 1)
                            }
                            // this.changeContact()
                        })
                }
            },
            getClients() {
                axios
                .get('/manager/clients/getClients')
                .then(response => {
                    this.Clients = response.data
                    this.Clients_count = response.data.length
                })
            },
            getModules() {
                axios
                .get('/manager/modules/getModules')
                .then(response => {
                    this.Modules = response.data;
                })
            },
            getDocuments() {
                axios
                .get('/manager/documents/getDocuments')
                .then(response => {
                    this.Documents = response.data;
                })
            },
            getCheckList() {
                axios
                .get('/manager/checklist/getCheckList')
                .then(response => {
                    this.Checklist = response.data;
                })
            },
            addModule() {
                if (this.Module_count == null) {
                    alert('Укажите количество модулей');
                    return
                }
                if (this.Module.id == null) {
                    alert('Выберите модуль');
                    return
                }

                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    module_id: this.Module.id,
                }

                axios
                .post('/manager/modules/getNorm', {'data': JSON.stringify(postBody)})
                .then(response => {
                    var Module_list = {
                        name: this.Module.name,
                        count: this.Module_count,
                        norm_contacts: response.data.norm_contacts,
                        number_contacts: response.data.number_contacts,
                        ps_form: response.data.ps_form,
                        id: response.data.id
                    }
                    this.Modules_ar.push(Module_list);
                    this.Module = null
                    this.Module_count = null
                })
            },
            del_norm(id) {
                this.Modules_ar.splice(id, 1)
            },
            update_norm(id) {
                if (this.update_flag == false) {
                    this.update_flag = true;
                }
                this.Update_module = this.Modules_ar[id]
                this.Update_module_index = id
            },
            cansel_update_norm() {
                this.update_flag = false
            },
            save_update_norm(id) {

            },
            del_doc(id) {
                this.Documents.splice(id, 1)
            },
            changeSend() {
                this.send = !this.send
            },
            setPostOfRussia() {
                this.Send_company = 'PostOfRussia'
                this.SendDocs_company = 'PostOfRussia'
            },
            setOtherCompany() {
                this.Send_company = 'OtherCompany'
                this.SendDocs_company = ''
            },
            changeContact() {
                
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    client_id: this.Client.code
                }

                axios
                .post('/manager/clients/getClient', {'data': JSON.stringify(postBody)})
                .then(response => {
                    this.Project_contacts = response.data
                })
            },
            validateBeforeSubmit() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        var Contacts_list = {
                            first_name: this.Project_contacts.first_name,
                            phone: this.Project_contacts.phone,
                            last_name: this.Project_contacts.last_name,
                            email: this.Project_contacts.email,
                            patronymic: this.Project_contacts.patronymic,
                            post: this.Project_contacts.post,
                            main: this.Project_contacts.main,
                            mail_rep: this.Project_contacts.mail_rep,
                        }
                        this.Contacts_ar.push(Contacts_list)
                        // this.Contacts_list.first_name = null;
                        return true;
                    }
                });
            },
            formSubmit() {
                // console.log(this.Client);
                // return;
                if (this.Project_name == null) {
                    alert('Укажите название проекта');
                    return
                }
                if (this.SendDocs_company == null && this.SendDocs_number == null) {
                    alert('Укажите информацию о высланных документах');
                    return
                };
                if (this.send == false) {
                    alert('Укажите информацию о высланных документах');
                    return
                };
                if (this.Project_contacts.length == 0) {
                    alert('Укажите контакты');
                    return
                };
                if (this.Modules_ar.length == 0) {
                    alert('Выберите модули');
                    return
                };
                if (this.Documents.length == 0) {
                    alert('Укажите документы');
                    return
                };

                this.SendDocs.company = this.SendDocs_company
                this.SendDocs.number = this.SendDocs_number
                var postBody = {   // пример данных для отправки(позже они преобразуются в json)
                    project_name: this.Project_name,
                    send_docs: this.SendDocs,
                    project_contact: this.Project_contacts,
                    modules: this.Modules_ar,
                    documents: this.Documents,
                    checklist: this.Checklist,
                    client: this.Client.code
                }

                this.loading = true;
                axios
                .post('/manager/projects/create', {'data': JSON.stringify(postBody)})
                .then(response => {
                    if (response.data.status == 'Ok') {
                        this.$router.push('/manager/projects')
                        this.loading = false;
                    }
                })
            },
            editContactSave(index){
                var contact = this.editingContact
                var postBody = {
                    contact: contact,
                }

                axios
                    .post('/manager/contact/edit/'+contact.id, {'data': JSON.stringify(postBody)})
                    .then(response => {
                        if (response.data.status == 'Ok'){
                            // this.changeContact()
                            this.Project_contacts[index] = {...this.editingContact}
                            this.editContactCancel(index)
                        }
                    })
                // this.Project_contacts[index] = {...this.editingContact}
            },
            editContactCancel(index) {
                this.editingContact = {}
                this.editContactIndex = null
            },
            editContact(index){
                this.editingContact = {...this.Project_contacts[index]}
                this.editContactIndex = index
            }
        }
    }
</script>