<template>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">Общая информация</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="">
                    <table>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Клиент</td>
                            <td>{{client.name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Проект</td>
                            <td>{{project.name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Контактное лицо</td>
                            <td>{{main_contact.first_name}} {{main_contact.last_name}} / Тел: {{main_contact.phone}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Специалист по внедрению</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px; font-weight: bold;">Комментарий от директора</td>
                            <td>{{comment_close}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary" style="padding: 10px;">
                <div class="box-header with-border">
                    <h3 class="box-title">История коментариев</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" style="overflow-y: auto;height: 200px;">
                    <template v-if="Comments.length > 0">
                        <div class="post" v-for="(item, index) in Comments">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" :src="'/avatars/'+item.user_foto" alt="user image">
                                <span class="username">
                                    <a href="#">{{item.user_name}} {{item.user_surname}}</a>
                                    <template v-if="item.autor == true">
                                        <a onclick="" class="pull-right btn-box-tool"><i class="fa fa-pencil"></i></a>
                                        <a :href="'/implementer/comment/del/'+item.id" class="pull-right btn-box-tool"><i class="fa fa-trash"></i></a>
                                    </template>
                                </span>
                                <template v-if="item.for_client == 1">
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}} (Для клиента)</span>
                                </template>
                                <template v-else>
                                    <span class="description">Опубликовано - {{item.time}} {{item.date}}</span>
                                </template>
                            </div>
                            <!-- /.user-block -->
                            <div :id="'comment_'+item.id">
                                {{item.text}}
                            </div>
                            <!--<ul class="list-inline">
                                <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            </ul>

                            <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
                        </div>
                    </template>
                    <template v-else>
                        <div class="post">
                            <p style="text-align: center">Коментарии отсутствуют</p>
                        </div>
                    </template>
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div class="col-md-12">
            <div style="margin-bottom: 10px; font-weight: bold; text-decoration: underline;">
                <router-link :to="'/manager/project/edit/'+project.id">Информация о проекте</router-link>
            </div>
            <div class="wall_form" id="popup_message_form" style="margin-bottom: 20px;">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Результат</h3>
                    </div>
                    <div class="content">
                        <form @submit.prevent="save()">
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios1" v-model="optionsRadios1" :value="{id: 1}">
                                <label for="optionsRadios1">
                                    <h4 style="color: #3c8dbc;">Недозвон</h4>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="radio" name="optionsRadios" id="optionsRadios2" v-model="optionsRadios1" :value="{id: 2}">
                                <label for="optionsRadios2">
                                    <h4 style="color: #3c8dbc;">Дали обратную связь</h4>
                                </label>
                            </div>
                            <div id="collapseTwo" v-if="optionsRadios1.id == 2">
                                <div class="box-body">
                                    <table class="table table-bordered" width="100%">
                                        <tr>
                                            <td colspan="3"><b>Показатели</b></td>
                                        </tr>
                                        <tr v-for="(item, index) in request_question">
                                            <td>{{item.question}}</td>
                                            <td colspan="2"><input type="text" v-model="item.answer" class="form-control"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <h4 style="color: #3c8dbc;">*Комментарий</h4>
                            </div>
                            
                            <ckeditor :editor="editor" v-model="comment" :config="editorConfig"></ckeditor>

                            <div style="margin-top: 15px">
                                <input type="file" mane="audio" v-on:change="selectedFile($event)">
                            </div>

                            <div class="form-group" style="margin-top: 10px;">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-screen" v-if="loading_file">
            <img src="/images/gif-loader.gif" alt="">
        </div>
    </div>
</template>
<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        data() {
            return {
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                },
                client: {},
                project: {},
                user: {},
                main_contact: {},
                comment_close: null,
                Comments: [],
                optionsRadios1: {
                    id: null
                },
                loading_file: false,
                request_question: [],
                comment: '',
                closeProject: {
                    id: null
                },
                Answer: [{
                    'q_id': null,
                    'answer': null
                }],
                audio: null,
                file: null
            }
        },
        mounted() {
            this.getProject()
        },
        methods: {
            getProject() {
                axios
                .get('/manager/getRequestProject/'+this.$route.params.id)
                .then(response => {
                    console.log(response.data)
                    this.client = response.data.client
                    this.project = response.data.project
                    this.user = response.data.user
                    this.main_contact = response.data.main_contact
                    this.comment_close = response.data.comment_close
                    this.Comments = response.data.comments
                    for (var i=0; i < response.data.request_question.length; i++) {
                        this.request_question.push({
                            'question': response.data.request_question[i].question,
                            'q_id': response.data.request_question[i].id,
                            'answer': null
                        })
                    }
                })
            },
            selectedFile(event) {
                console.log(event);
                this.file = event.target.files[0]
            },
            save() {

                if (this.optionsRadios1.id == null) {
                    alert('Укажите результат');
                    return
                }
                if (this.comment == null) {
                    alert('Укажите комментарий');
                    return
                }
                if (this.optionsRadios1.id == 1) {
                    this.formData = new FormData();
                    this.formData.append('optionsRadios', this.optionsRadios1.id);
                    this.formData.append('comment', this.comment);
                }
                if (this.optionsRadios1.id == 2) {
                    this.formData = new FormData();
                    this.formData.append('id', this.$route.params.id);
                    this.formData.append('comment', this.comment);
                    this.formData.append('optionsRadios', this.optionsRadios1.id);
                    this.formData.append('closeProject', this.closeProject.id);
                    this.formData.append('request_q', JSON.stringify(this.request_question));
                    this.formData.append('file', this.file);
                }
                this.loading_file = true;

                axios
                .post('/manager/request/edit', this.formData, {headers: {'Content-Type': 'multipart/form-data'}})
                .then(response => {
                    // console.log(response.data);
                    if (response.data.status == true) {
                        this.$router.push('/manager/calls')
                    };
                })
                .finally(() => (
                    this.loading_file = false
                ))

            }
        }
    }
</script>
<style>
    .full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
</style>