<template>
    <div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">{{name}}</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div style="padding-bottom: 20px; display: block;" id="addCont">
                <a v-on:click="addForm()" class="btn btn-primary">{{addItemFlag ? 'Отмена' : 'Добавить'}}</a>
            </div>
            <div v-if="addItemFlag == true">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th v-for="col in columns">{{col.name}}</th>
                    </tr>
                    <tr>
                    <td v-for="col in columns" >
                        <template v-if="col.type === 'string'">
                            <input type="text" class="form-control" v-model="newItem[col.slug]" :placeholder="col.name">
                        </template>
                        <template v-if="col.type === 'ref'">
                            <select class="form-control" style="width: 100%" v-model="newItem[col.ref.relation]">
                                <option v-for="item in refsList[col.ref.name]" :value="item[col.ref.slug]">
                                    {{item[col.ref.title]}}
                                </option>
                            </select>
                        </template>
                        <template v-if="col.type === 'bool'">
                            <input type="checkbox" class="checkbox" v-model="newItem[col.slug]">
                        </template>
                    </td>
                    </tr>
                    </tbody>
                </table>
                <a v-on:click="addItem()" class="btn btn-primary" >Сохранить</a>
            </div>
            <div v-if="List.length != 0">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>№</th>
                            <th v-for="col in columns">{{col.name}}</th>
                            <th>Действия</th>
                        </tr>
                        <tr v-for="(item, index) in List">
                            <template v-if="editItemFlag == true && editableItem.id == item.id">
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td v-for="col in columns" style="vertical-align: middle;">
                                    <template v-if="col.type === 'string'">
                                        <input type="text" class="form-control" v-model="editableItem[col.slug]">
                                    </template>
                                    <template v-if="col.type === 'ref'">
                                        <select style="width: 100%" class="form-control" v-model="editableItem[col.ref.relation]">
                                            <option v-for="item in refsList[col.ref.name]" :value="item[col.ref.slug]">
                                                {{item[col.ref.title]}}
                                            </option>
                                        </select>
                                    </template>
                                    <template v-if="col.type === 'bool'">
                                        <input type="checkbox" class="checkbox" v-model="editableItem[col.slug]">
                                    </template>
                                </td>

                                <td style="vertical-align: middle;">
                                    <button class="btn btn-success" v-on:click="saveEditItem(index)"><i class="fa fa-save"></i></button>
                                    <button v-on:click="cancelEditItem()" class="btn btn-default"><i class="fa fa-undo"></i></button>
                                </td>
                            </template>
                            <template v-else>
                                <td style="vertical-align: middle;">{{index+1}}</td>
                                <td v-for="col in columns" style="vertical-align: middle;">
                                    <template v-if="col.type === 'string'">
                                        <span>{{ item[col.slug] }}</span>
                                    </template>
                                    <template v-if="col.type === 'ref'">
                                        <span>{{ item[col.slug][col.ref.title] }}</span>
                                    </template>
                                    <template v-if="col.type === 'bool'">
                                        <input type="checkbox" class="checkbox" v-model="item[col.slug]" disabled>
                                    </template>
                                </td>
                                <td style="vertical-align: middle;">
                                    <a :id="'edit_'+item.id" v-on:click="editItem(item.id, index)" class="btn btn-primary">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a v-on:click="delItem(item.id)" class="btn btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </template>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div v-else>
                <p style="text-align: center">Записи отсутствуют</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            name: '',
            columns: {},
            url: '',
            refs: {
                type: Array,
                default: function () {
                    return []
                }
            },
        },
        data() {
            return {
                List: {},
                newItem: {},
                editableItem: {},
                addItemFlag: false,
                editItemFlag : false,
                refsList: {}
            }
        },
        created(){
            this.getItems();
            this.getRefs();
        },
        methods: {
            getItems(){
                axios
                    .get('/'+this.url)
                    .then(response => {
                        this.List = response.data
                    })
            },
            getRefs(){
                var refsList = this.refsList;
                this.refs.forEach(function (r) {
                    axios
                        .get('/'+r)
                        .then(response => {
                            refsList[r] = response.data
                        })
                })
            },
            addItem() {
                if (this.newItem.name == '') {
                    alert('Укажите название');
                    return;
                }
                var postBody = {
                    item: this.newItem,
                };

                axios
                    .post('/'+this.url, this.newItem)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.newItem = {};
                            this.addItemFlag = false;
                            this.getItems();
                        }
                    })
            },
            editItem(id, index) {
                this.editItemFlag = true
                this.editableItem = {...this.List[index]}
            },
            delItem(id) {
                if (confirm('Вы действительно хотите удалить запись?')){
                    axios
                        .delete('/'+this.url+'/'+id)
                        .then(response => {
                            if (response.data.status == 'Ok') {
                                this.getItems();
                            }
                        })
                }
            },
            saveEditItem(index) {
                if (this.newItem.name == '') {
                    alert('Укажите название');
                    return;
                }

                axios
                    .put('/'+this.url+'/'+this.editableItem.id, this.editableItem)
                    .then(response => {
                        if (response.data.status == 'Ok') {
                            this.getItems();
                            this.editItemFlag = false
                        };
                    })
            },
            cancelEditItem() {
                this.editItemFlag = false
            },
            addForm() {
                this.addItemFlag = !this.addItemFlag
            },
        }
    }
</script>
