<template>

    <BaseReference
        :name="name"
        :columns="columns"
        :url="url"
        :refs="refs"
    />

</template>

<script>
    import BaseReference from "./BaseReference";
    export default {
        components: {BaseReference},
        data(){
            return {
                name: 'Лист ожидания',
                columns: [
                    {
                        name: 'Название',
                        slug: 'name',
                        type: 'string'
                    },
                    {
                        name: 'Тип',
                        slug: 'waiting_list_type',
                        ref: {
                            name: 'waiting_list_types',
                            title: 'name',
                            slug: 'id',
                            relation: 'waiting_list_type_id'
                        },
                        type: 'ref'
                    },
                    {
                        name: 'Связка с редмайном',
                        slug: 'has_redmine',
                        type: 'bool'
                    },
                    {
                        name: 'Примечания',
                        slug: 'has_info',
                        type: 'bool'
                    },
                ],
                url: 'waiting_lists',
                refs:['waiting_list_types']
            };
        }
    }
</script>

<style scoped>

</style>