<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Вход</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <form>
                                    <v-text-field
                                        v-validate="'required'"
                                        v-model="login"
                                        prepend-icon="person"
                                        :error-messages="errors.collect('login')"
                                        label="Логин"
                                        data-vv-name="login"
                                        required
                                    ></v-text-field>
                                    <v-text-field
                                        v-validate="'required'"
                                        v-model="password"
                                        type="password"
                                        prepend-icon="lock"
                                        :error-messages="errors.collect('password')"
                                        label="Пароль"
                                        data-vv-name="password"
                                        required
                                    ></v-text-field>

                                    <v-btn @click="submit" color="primary">Войти</v-btn>
                                </form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
export default {
    $_veeValidate: {
        validator: 'new'
    },

    data: () => ({
        login: '',
        password: '',
        dictionary: {
            attributes: {
                login: 'E-mail Address'
                // custom attributes
            },
            custom: {
                login: {
                    required: () => 'Логин не может быть пустым'
                    // custom messages
                },
                password: {
                    required: () => 'Пароль не может быть пустым'
                    // custom messages
                }
            }
        }
    }),

    mounted () {
        this.$validator.localize('ru', this.dictionary)
    },

    methods: {
        submit () {
            this.$validator.validateAll()
        },
        clear () {
            this.login = ''
            this.password = ''
            this.$validator.reset()
        }
    }
}
</script>